/*Identidade Visual do SIGA.doc para o Governo do Estado de São Paulo */

.menusp {
	background-color: #ececec!important;
}

.submenusp {
	background-color: #dadada!important;
	color: #383838!important;
}

.ambiente_class {
	font-size: small!important;
	color: #383838!important;
}

.login_body_color {
	background-color: #f5f5f5;
}

.body_color {
	background-color: #fff;
}

.box_login {
	background-color: rgb(190,213,206);
	border-radius:3px;border: 1px solid #dadce0;
}

p.gt-table-action-list a.link-tag {
	margin-top: 0.4em;
}

.div-width-min0 { 
    min-width: 0px !important;
} 
