<?xml version="1.0" encoding="UTF-8"?>
<suite name="Testes de Integração do SigaDoc">
	<test name="SigaDoc - Expediente">
		<classes>		
 			<class name="br.gov.jfrj.siga.integration.test.CriacaoDocumentoIT"/>
 			<class name="br.gov.jfrj.siga.integration.test.AcoesDocumentoIT"/>		
			<class name="br.gov.jfrj.siga.integration.test.AcoesDocumentoDigitalIT"/>	 	 				
		</classes>
	</test>		

	<test name="SigaDoc - Processo">
		<classes>
			<class name="br.gov.jfrj.siga.integration.test.ProcessoAdministrativoFisicoIT"/>
			<class name="br.gov.jfrj.siga.integration.test.ProcessoAdministrativoDigitalIT"/>
		</classes>
	</test>
		
<!-- 	<test name="SigaDoc - Workflow">
		<classes>
			<class name="br.gov.jfrj.siga.integration.test.WorkflowDigitalIT" />
		</classes>
	</test> -->
</suite>