#{extends 'main.html' /} #{set title:'Edição de Tópico de Informação' /}

<div class="gt-bd gt-cols clearfix">
	<div class="gt-content clearfix">
		<h2>
			<span id="codigoInf">${informacao?.sigla}</span>
		</h2>

		<div class="gt-form gt-content-box">
			<form id="frm" action="@{Application.gravar}">
				<input type="hidden" name="informacao.id" value="${informacao?.id}" />
				<input type="hidden" name="origem" value="${origem}" /> 
				*{
				<div class="gt-form-row gt-width-100">
					<label>Tópico pai:</label> #{selecao tipo:'pessoa',
					nome:'informacao.informacaoPai', value:informacao?.informacaoPai /}
					<span style="color: red">#{error 'informacao.informacaoPai'
						/}</span>
				</div>
				}*
				<div class="gt-form-row gt-width-100">
					<div class="gt-left-col gt-width-25" style="margin-right: 2em">
						<label>Tipo</label>#{select name:'informacao.tipo',
						items:tiposInformacao, labelProperty:'nome', valueProperty:'id',
						value:informacao.tipo?.id} #{/select}
					</div>
					#{if informacao.edicao?.id == null || 
						informacao.acessoPermitido(titular,lotaTitular, informacao.edicao?.id)}
					<div class="gt-left-col gt-width-25" style="padding-left: 2em">
						<label>Visualizacão</label>#{select name:'informacao.visualizacao',
						items:acessos, labelProperty:'nome', valueProperty:'id',
						value:informacao.visualizacao?.id} #{/select}

					</div>
					<div class="gt-left-col gt-width-25" style="padding-left: 2em">
						<label>Edição</label>#{select name:'informacao.edicao',
						items:acessos, labelProperty:'nome', valueProperty:'id',
						value:informacao.edicao?.id} #{/select}

					</div>
					#{/if}
					*{
					<div class="gt-left-col gt-width-25">
						<label>Data Início</label><input type="text" name="dtDocString"
							size="10" value="" id="frm_dtDocString"
							onblur="javascript:verifica_data(this, true);">
					</div>
					<div class="gt-left-col gt-width-25">
						<label>Data Fim</label><input type="text" name="dtDocString"
							size="10" value="" id="frm_dtDocString"
							onblur="javascript:verifica_data(this, true);">
					</div>
					}*

				</div>
				*{<div class="gt-form-row gt-width-100">
					<label>Responsável</label> #{selecao tipo:'pessoa',
					nome:'informacao.autor', value:informacao.autor /} <span
						style="color: red">#{error 'informacao.autor' /}</span>
				</div>
				<div class="gt-form-row gt-width-100">
					<label>Lotação Responsável</label> #{selecao tipo:'lotacao',
					nome:'informacao.lotacao', value:informacao.lotacao /} <span
						style="color: red">#{error 'informacao.lotacao' /}</span>
				</div>}*


				<div class="gt-form-row gt-width-100">
					<label>Título</label> <input type="text" name="titulo"
						value="${titulo}" class="gt-form-text" /><span style="color: red">#{error
						'titulo' /}</span>
				</div>

				<div class="gt-form-row gt-width-100">
					<label>Texto</label>
					<textarea name="conteudo" cols="80" rows="25"
						class="gt-form-textarea">${conteudo}</textarea>
					<span style="color: red">#{error 'conteudo' /}</span>
				</div>

				<div class="gt-form-row gt-width-100">
					<label>Classificação</label>
					#{if classificacao != null}
						<textarea name="classificacao" class="gt-form-text" readonly>${classificacao}</textarea> 
					#{/if}
					#{else}
						<p>Esse conhecimento ainda não possui uma classificação</p>
					#{/else}
					<span style="color: red">#{error 'classificacao' /}</span>
				</div>

				<div class="gt-form-row gt-width-100">
					<input type="submit" value="Gravar"
						class="gt-btn-medium gt-btn-left" style="cursor: pointer;"/>
					<p class="gt-cancel">
						ou <a href="@{Application.editar(informacao?.sigla)}">cancelar alterações</a> #{if informacao != null &&
						informacao.id != null && informacao.id != 0} ou <a
							href="@{Application.movimentacoes(informacao?.sigla)}">exibir
							movimentações</a> #{/if}
					</p>
				</div>
			</form>
		</div>
	</div>
	<div class="gt-sidebar">
		<!-- Sidebar Content -->
		<div class="gt-sidebar-content">
<script type="text/javascript">			
	function insertTextAtCursor(el, text) {
	    var val = el.value, endIndex, range;
	    if (typeof el.selectionStart != "undefined" && typeof el.selectionEnd != "undefined") {
	        endIndex = el.selectionEnd;
	        el.value = val.slice(0, endIndex) + text + val.slice(endIndex);
	        el.selectionStart = el.selectionEnd = endIndex + text.length;
	    } else if (typeof document.selection != "undefined" && typeof document.selection.createRange != "undefined") {
	        el.focus();
	        range = document.selection.createRange();
	        range.collapse(false);
	        range.text = text;
	        range.select();
	    }
	}
	
	function fileUpload(form, div_id) {
	    // Create the iframe...
	    var iframe = document.createElement("iframe");
	    iframe.setAttribute("id", "upload_iframe");
	    iframe.setAttribute("name", "upload_iframe");
	    iframe.setAttribute("width", "0");
	    iframe.setAttribute("height", "0");
	    iframe.setAttribute("border", "0");
	    iframe.setAttribute("style", "width: 0; height: 0; border: none;");
	 
	    // Add to document...
	    form.parentNode.appendChild(iframe);
	    window.frames['upload_iframe'].name = "upload_iframe";
	 
	    iframeId = document.getElementById("upload_iframe");
	 
	    // Add event...
	    var eventHandler = function () {
	 
	            if (iframeId.detachEvent) iframeId.detachEvent("onload", eventHandler);
	            else iframeId.removeEventListener("load", eventHandler, false);
	 
	            // Message from server...
	            if (iframeId.contentDocument) {
	                content = iframeId.contentDocument.body.innerHTML;
	            } else if (iframeId.contentWindow) {
	                content = iframeId.contentWindow.document.body.innerHTML;
	            } else if (iframeId.document) {
	                content = iframeId.document.body.innerHTML;
	            }
	 
	            document.getElementById(div_id).innerHTML = content;
	 
	            // Del the iframe...
	            setTimeout('iframeId.parentNode.removeChild(iframeId)', 250);
	        }
	 
	    if (iframeId.addEventListener) iframeId.addEventListener("load", eventHandler, true);
	    if (iframeId.attachEvent) iframeId.attachEvent("onload", eventHandler);
	 
	    // Set properties of form...
	    form.setAttribute("target", "upload_iframe");
	    //form.setAttribute("action", action_url);
	    //form.setAttribute("method", "post");
	    form.setAttribute("enctype", "multipart/form-data");
	    //form.setAttribute("encoding", "multipart/form-data");
	
	    // Submit the form...
	    form.submit();
	 
	    document.getElementById(div_id).innerHTML = "<br /><h6 style='background:#d8d8c0;padding:3px 10px;'>Carregando anexo...</h6>";
		$(document).ready(function(){
	    	$("#anexar-div").hide();
			$(".once").show();
		});
	}
	
	$(document).ready(function(){
		$("#anexar-div").hide();
		$("textarea[readonly]").css({"background-color":"transparent","border":"none","overflow":"auto","height":"50px","resize":"none"});
		$("#marcadores").click(function(){
			$("#cheatsheet").show();
		});
		$(".once").click(function(){
			$("#formAnexo").trigger("reset");
			$("#anexar-div").show();
			$(this).hide();
		});
		$("#anexar-cancel").click(function(){
			$("#anexar-div").hide();
			$(".once").show();
		});
	});
</script>
			<h3>Informações sobre o Preenchimento</h3>
			<p>O campo "Título" sempre será acessível, independente do controle
				de acesso selecionado.</p>
				
			*{<h3 style="padding-top: 1em">Anexar Novo Arquivo</h3>
			<a class="once" href="#"> 
				<img src="/siga/css/famfamfam/icons/attach.png" style="margin-right: 5px;">Anexar Arquivo</a>
			<div id="anexar-div" class="gt-form gt-content-box">
			<form id="formAnexo" action="@{Application.anexarGravar}?origem=editar" enctype="multipart/form-data" method="post">
				<input type="hidden" name="informacao.id" value="${informacao?.id}" />
				#{if false}
				<div class="gt-form-row gt-width-100">
					<label>Pessoa</label> #{selecao tipo:'pessoa', nome:'pessoa' /} <span
						style="color: red">#{error 'pessoa' /}</span>
				</div>
				<div class="gt-form-row gt-width-100">
					<label>Lotação</label> #{selecao tipo:'lotacao', nome:'lotacao' /}
					<span style="color: red">#{error 'lotacao' /}</span>
				</div>
				#{/if}
				<div class="gt-form-row gt-width-100">
					<label>Título da Imagem</label> <input type="text" name="titulo" value=""
						class="gt-form-text">#{error 'titulo' /}</span>
				</div>
				<div class="gt-form-row gt-width-100">
					<label>Arquivo</label> <input type="file" name="arquivo" value=""
						class="gt-form-text">#{error 'titulo' /}</span>
				</div>
				<div class="gt-form-row gt-width-100">
					<input type="button" value="Anexar"
						onClick="fileUpload(this.form,'ajax_arquivo'); return false;"
						class="gt-btn-small gt-btn-left" style="cursor: pointer;" />
					<p class="gt-cancel">
						ou  <a id="anexar-cancel" href="#">cancelar</a>
					</p>
				</div>
			</form>
			</div>}*
			
			<div id="ajax_arquivo">
				#{if informacao.contemArquivos}
					<h3 style="padding-top: 1em">Incluir Imagens ou Arquivos no Texto</h3>
					<p>Clique em uma imagem/arquivo abaixo para incluir uma
						referência no texto.</p>
					#{list items:informacao.movs, as:'m'} 
					#{if m.tipo.id == models.GcTipoMovimentacao.TIPO_MOVIMENTACAO_ANEXAR_ARQUIVO &&
						m.movCanceladora == null}
					<p>
						<img style="margin-bottom: -4px;" src="/siga/css/famfamfam/icons/${m.arq.icon}.png" />
						<a style="padding-right:5px;"
							href="javascript: var frm = document.getElementById('frm'); insertTextAtCursor(frm.conteudo, '#{if m.arq.image}{{${m.arq.id}|${m.arq.titulo}}}#{/if}#{else}[[${m.arq.id}|${m.arq.titulo}]]#{/else}');">${m.arq.titulo}</a>
						[ <img style="margin-bottom: -1px;width:9px;" src="/siga/css/famfamfam/icons/cross.png" /> 
						<span class="gt-table-action-list">
						<a href="javascript:if (confirm('Confirma a remoção deste anexo?')) 
									ReplaceInnerHTMLFromAjaxResponse('removerAnexo?sigla=${informacao?.sigla}&id=${m.arq.id}',
														null, document.getElementById('ajax_arquivo'));">${"remover".pad(1).raw()} </a></span> ]
					</p>
				#{/if} #{/list} #{/if}
			</div>
			<h3 style="padding-top: 1em">Opções de Formatação do Texto</h3>
			<p>
				O conteúdo do campo "Texto" pode receber *{<a
					href="http://www.wikicreole.org">}* marcações especiais*{</a>}*, clique <a
					id="marcadores" href="#">aqui</a> para
				visualizar as opções disponíveis.
			</p>
			<div id="cheatsheet" style="display: none;">
				<table class="side-bar-light-table">
					<tbody>
						<tr>
							<td>//itálico//</td>
							<td class="arrow">→</td>
							<td><em>itálico</em></td>
						</tr>
						<tr>
							<td>**negrito**</td>
							<td class="arrow">→</td>
							<td><strong>negrito</strong></td>
						</tr>

						<tr>
							<td>* Lista não numerada<br>* Segundo item<br>**
								Sub item</td>
							<td class="arrow">→</td>
							<td>• Lista não numerada<br>• Segundo item<br>..•
								Sub item</td>
						</tr>
						<tr>
							<td># Lista numerada<br># Segundo item<br>## Sub
								item</td>
							<td class="arrow">→</td>
							<td>1. Lista numerada<br>2. Segundo item<br>2.1
								Sub item</td>
						</tr>
						<tr>
							<td>#classificacao-conhecimento (HashTag)<br>
							Obs.: Não usar caracteres especiais ou espaço
							<br>
							<td class="arrow">→</td>
							<td><a href="#">#classificacao-conhecimento</a></td>
						</tr>

						<!-- 
					<tr>
						<td>Link para [[outro conhecimento]]</td>
						<td class="arrow">→</td>
						<td>Link to <a
							href="http://www.wikicreole.org/attach/CheatSheet/URL">wiki
								page</a>
						</td>
					</tr>
 -->
						<tr>
							<td>[[URL|nome do link]]</td>
							<td class="arrow">→</td>
							<td><a
								href="http://www.wikicreole.org/attach/CheatSheet/URL">nome
									do link</a></td>
						</tr>

						<tr>
							<td>== Título grande<br>=== Título médio<br>====
								Título pequeno</td>
							<td class="arrow">→</td>
							<td><span style="font-size: 120%; font-weight: bold;">
									Título grande</span><br> <span
								style="font-size: 110%; font-weight: bold;">Título médio</span><br>
								<span style="font-size: 100%; font-weight: bold;">Título
									pequeno</span></td>
						</tr>

						<tr>
							<td>Não<br> quebrar a linha!<br> <br>Use uma
								linha vazia</td>
							<td class="arrow">→</td>
							<td>Não quebrar a linha!<br> <br>Use uma linha
								vazia</td>
						</tr>
						<tr>
							<td>Quebra de linha\\forçada<br></td>
							<td class="arrow">→</td>
							<td>Quebra de linha<br>forçada</td>
						</tr>
						<tr>
							<td>Linha horizontal:<br>----</td>
							<td class="arrow">→</td>
							<td>Linha horizontal:
								<hr></td>
						</tr>
						<tr>
							<td>{{imagem.jpg|título}}</td>
							<td class="arrow">→</td>
							<td>Imagem com título</td>
						</tr>
						<tr>
							<td>|cabeçalho|cabeçalho|<br>|coluna|coluna|<br>|coluna|coluna|</td>
							<td class="arrow">→</td>
							<td>Tabela</td>
						</tr>
						<tr>
							<td>{{{<br>== [[não|formatar]]<br />}}}</td>
							<td class="arrow">→</td>
							<td>== [[não|formatar]]:</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
