#{if conhecimentos != null} #{list items:conhecimentos,as:'conhecimento'}
	#{set "url"}*{@{Application.editar(conhecimento[0], null, null, referer)}}*
		@{Application.editar(conhecimento[3], null, null, referer)}
	#{/set}
#{if cadastrante!=null}	 
	<a style="float: right;" title="Editar conhecimento"
		href="${url}" target="#{if popup}_blank#{/if}"><img
		src="/siga/css/famfamfam/icons/pencil.png"> </a>
#{/if}
	${conhecimento[2].raw()}
<!--  -->
#{/list} #{/if} #{else}
	#{set "url"}*{@{Application.editar(0, classificacao, titulo, referer)}}*
		@{Application.editar(null, classificacao, titulo, referer)}
	#{/set} 
	<a style="float: right;" title="Registrar um novo conhecimento"
		href="${url}" target="#{if popup}_blank#{/if}"><img src="/siga/css/famfamfam/icons/add.png"> </a>
	#{if msgvazio != null}
		<p>${msgvazio.replace("\$1", url).raw()}</p>
	#{/if}
	#{else}
	Nenhum conhecimento relacionado registrado. Clique <a href="${url}" target="#{if popup}_blank#{/if}">aqui</a>
	para registrar um novo conhecimento.
	#{/else}
#{/else}
