<a title="Registrar um novo conhecimento" style="float: right;"
	href="@{Application.editar}?classificacao=${classificacao}">
	<img src="/siga/css/famfamfam/icons/add.png">
</a>
<h3>Conhecimentos Relacionados</h3>
#{if conhecimentos != null} #{list items:conhecimentos,as:'conhecimento'}
<p>
	<b>*{<a href="@{Application.exibir}?id=${conhecimento[0]}">${conhecimento[1]}</a>}*
		<a href="@{Application.exibir}?sigla=${conhecimento[3]}">${conhecimento[1]}</a>
	:</b>
	${conhecimento[2]}
</p>
<!--  -->
#{/list} #{/if} #{else}
<p>
	Nenhum conhecimento relacionado registrado. Clique <a
		href="@{Application.editar}?classificacao=${classificacao}">aqui</a>
	para registrar um novo conhecimento.
</p>
#{/else}
