#{extends 'main.html' /} #{set title:'Informações' /}
#{ set 'moreHead'}
<script type="text/javascript"><!--
		$(document).ready(function(){
			//adiciona uma dica para o preenchimento - número do conhecimento
			$("#dicaNumero").hide();
			$("[id^='imgMinus-']").hide();
			$("[class^='status-']").hide();
			$("#filtronumero").focus(function (){
				$("#dicaNumero").show("fast");
			})
			.focusout(function(){
				$("#dicaNumero").hide("fast");
			});	

			$("[id^='imgMinus-'],[id^='imgPlus-']").mouseover(function(){
				$(this).css({"cursor": "pointer","opacity":"0.7","filter":"alpha(opacity=70)"});
			}).mouseout(function(){
				$(this).css({"cursor": "default","opacity":"1","filter":"alpha(opacity=100)"});
			});
			$("[id^='imgMinus-']").click(function(){	
				var idImg = $(this).attr("id");
				var id = idImg.split("-")[1];
				//$(this).parent().siblings("td[rowspan]").andSelf().attr("rowspan",1);
				$(this).hide("fast");
				$("#imgPlus-" + id).show("fast");
				$(".status-" + id).hide("fast");	
			});		
			$("[id^='imgPlus-']").click(function(){	
				var idImg = $(this).attr("id");
				var id = idImg.split("-")[1];
				//var valRowSpan = $(this).siblings().eq(0).val();
				//$(this).parent().siblings("td[rowspan]").andSelf().attr("rowspan",valRowSpan);
				$(this).hide("fast");
				$("#imgMinus-" + id).show("fast");
				$(".status-" + id).show("fast");	
			});	
			//$("[class^='status-']").css({"border-top":"none"});	
		});
--></script>
#{/set}#{set count: 0 /}
<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>Pesquisa de Conhecimentos</h2>
		#{if lista.size != 0} 
		<div class="gt-content-box gt-for-table">
			<table class="gt-table">
				<thead>
					<tr>
						<th rowspan="3" align="left">Número</th>
						<th colspan="3">Conhecimento</th>
						<th colspan="4">Situação</th>
						<th rowspan="3">Tipo</th>
						<th rowspan="3">Título</th>
						<th rowspan="3"></th>
					</tr>
					<tr>
						<th rowspan="2" style="width:9%;">Data Criação</th>
						<th colspan="2" style="text-align: center !important;">Autor</th>
						<th rowspan="2">Data</th>
						<th colspan="2" style="text-align: center !important;">Responsável</th>
						<th rowspan="2" style="text-align: center !important;">Situação</th>
					</tr>
					<tr>
						<th align="center">Lotação</th>
						<th align="center">Pessoa</th>
						<th align="center">Lotação</th>
						<th align="center">Pessoa</th>
					</tr>
				</thead>

				<tbody>
					#{set count: estatistica - lista.size() /} #{set k: 1 /}
					#{list items:lista, as:'i'} #{set cmarcas = i.marcas.size()/} 
					#{set m0 = cmarcas > 0 ? i.marcas.first() : null /}
					<tr class="even">
						<td width="11.5%" align="left"><a
							href="@{Application.exibir(i.sigla)}">${i.sigla}</a></td>
						<td width="9%" align="left">${i.dtIniString}</td>
						<td width="4%" align="left"><span
							title="${i.lotacao.descricao}">${i.lotacao.sigla}</span>
						</td>
						<td width="4%" align="left"><span
							title="${i.autor.descricao} - ${i.autor.sigla}">${i.autor.nomeAbreviado}</span>
						</td>

						<td width="5%" align="left">${m0?.dtIniMarcaDDMMYYYY}</td>
						<td width="4%" align="left"><span
							title="${m0?.dpLotacaoIni?.descricao}">${m0?.dpLotacaoIni?.sigla}</span>
						</td>
						<td width="4%" align="left"><span
							title="${m0?.dpPessoaIni?.descricao}">${m0?.dpPessoaIni?.sigla}</span>
						</td>
						<td width="10.5%" align="center">${m0?.cpMarcador?.descrMarcador}</td>

						<td width="6%">${i.tipo.nome}</td>

						<td><a
							href="@{Application.exibir(i.sigla)}">${i.arq.titulo}</a>
						</td>
						<td width="2%">
								<input type="hidden" value="${cmarcas}"/>
								<img style="width: 15px;" id="imgPlus-${k}"  src="/siga/css/famfamfam/icons/plus_toggle.png" alt="mais" title="Ver Detalhes" />
								<img style="width: 15px;" id="imgMinus-${k}" src="/siga/css/famfamfam/icons/minus_toggle.png" alt="menos" title="Ocultar Detalhes"/>
						</td>
					</tr>
					#{set fprimeiro = true /} #{list items:i.marcas, as:'m'}
					#{if !fprimeiro}
						<tr class="status-${k}">
							#{if m.dtFimMarca == null || m.dtFimMarca?.format('dd/MM/yy') > new Date().format('dd/MM/yy')}
							<td style="border-top:none"></td>
							<td style="border-top:none"></td>
							<td style="border-top:none"></td>
							<td style="border-top:none"></td>
							<td width="5%" align="left">${m.dtIniMarcaDDMMYYYY}</td>
							<td width="4%" align="left"><span
								title="${m.dpLotacaoIni?.descricao}">${m.dpLotacaoIni?.sigla}</span>
							</td>
							<td width="4%" align="left"><span
								title="${m.dpPessoaIni?.descricao}">${m.dpPessoaIni?.sigla}</span>
							</td>
							<td width="10.5%" align="center">${m.cpMarcador.descrMarcador}</td>
							#{/if}
						</tr>
					#{/if} 
					#{set fprimeiro = false /}#{/list}  #{set k: k++ /} 
					#{/list}
				</tbody>
			</table>
		</div>
		#{/if}
		#{elseif filtro?.pesquisa}
			<p class="gt-notice-box">A pesquisa não retornou resultados.</p>
		#{/elseif}
		#{if count > 0} 
			<br />	
			<h6 style="background:#d8d8c0;padding:3px 10px;">${count} Conhecimento${count.pluralize()} fo${count.pluralize('i','ram')} Cancelado${count.pluralize()}, por isso não const${count.pluralize('a','am')} no resultado acima.</h6>
		#{/if} #{set count: 0 /}
		<!-- </table></div> -->
		<br>
		<div class="gt-content-box gt-for-table">

			<form id="listar" name="listar"
				onsubmit="javascript: return limpaCampos()" method="GET"
				class="form100">
				<input type="hidden" name="filtro.pesquisa" value="true" />
				<table class="gt-form-table">
					<colgroup>
						<col style="width: 11em;">
						<col>
					</colgroup>
					<input type="hidden" name="popup" value="">
					<input type="hidden" name="propriedade" value="">
					<input type="hidden" name="postback" value="1" id="postback">
					<input type="hidden" name="apenasRefresh" value="0"
						id="apenasRefresh">
					<input type="hidden" name="p.offset" value="0" id="p_offset">
					<tbody>
						<tr class="header">
							<td align="center" valign="top" colspan="4">Dados do Conhecimento</td>
						</tr>
						<tr>
							<td>Situação:</td>
							<td>#{select name:'filtro.situacao', items:marcadores,
								labelProperty:'descrMarcador', valueProperty:'idMarcador',
								value:filtro?.situacao?.idMarcador} #{option null}Todas#{/option}
								#{/select} *{&nbsp;&nbsp;&nbsp;&nbsp;Pessoa/Lotação:
								#{pessoaLotaSelecao nomeSelPessoa:'marcado',
								nomeSelLotacao:'lotaMarcado', value:informacao?.autor /}</td>}*
						</tr>
						<tr>
							<td>Órgão:</td>
							<td>#{select name:'filtro.orgaoUsu', items:orgaosusuarios,
								labelProperty:'descricao', valueProperty:'id',
								value:filtro?.orgaoUsu?.id} #{option null}Todas#{/option} #{/select}</td>
						</tr>
						<tr id="trTipo" style="display: ">
							<td>Tipo:</td>
							<td>#{select name:'filtro.tipo', items:tiposinformacao,
								labelProperty:'nome', valueProperty:'id',
								value:filtro?.tipo?.id} #{option null}Todas#{/option} #{/select}</td>
						</tr>
						<tr>
							<td>Ano de Emissão:</td>
							<td>#{select name:'filtro.ano', items:anos,
								labelProperty:'toString()', valueProperty:'toString()',
								value:filtro?.ano} #{option null}Todos#{/option} #{/select}
								&nbsp;&nbsp;&nbsp;&nbsp;Número: <input type="text"
								name="filtro.numero" size="7" maxlength="6" value="${filtro.numero}"
								id="filtronumero">
								<span id="dicaNumero" style="font-size:smaller;">Ex: JFRJ-GC-2013/<b style="background:#cccccc;">00152</b></span>
							</td>
						</tr>
						<tr>
							<td>Data de Criação:</td>
							<td>de&nbsp;&nbsp; <input type="text" name="filtro.dtCriacaoIni"
								value="${filtro.dtCriacaoIni}" id="dtIniString"
								onblur="javascript:verifica_data(this,0);">
								&nbsp;&nbsp;até &nbsp;&nbsp;<input type="text" name="filtro.dtCriacaoFim"
								value="${filtro.dtCriacaoFim}" id="dtFimString"
								onblur="javascript:verifica_data(this,0);"></td>
						</tr>
						<tr>
							<td>Autor:</td>
							*{<td>#{pessoaLotaSelecao nomeSelPessoa:'autor',
								nomeSelLotacao:'lotaAutor', value:informacao?.autor /}</td>}*
							<td>#{pessoaLotaSelecao nomeSelPessoa:'filtro.autor',
								nomeSelLotacao:'filtro.lotacao',
								valuePessoa:filtro.autor,
								valueLotacao:filtro.lotacao /}</td>
						</tr>
						*{<tr>
							<td>Cadastrante:</td>
							<td>#{pessoaLotaSelecao nomeSelPessoa:'cadastrante',
								nomeSelLotacao:'lotaCadastrante', value:informacao?.autor /}</td>
						</tr>}*
						<tr>
							<td>Data da Situação:</td>
							<td>de&nbsp;&nbsp; <input type="text" name="filtro.dtIni"
								value="${filtro.dtIni}" id="dtIniString"
								onblur="javascript:verifica_data(this,0);">
								&nbsp;&nbsp;até &nbsp;&nbsp;<input type="text" name="filtro.dtFim"
								value="${filtro.dtFim}" id="dtFimString"
								onblur="javascript:verifica_data(this,0);"></td>
						</tr>
						<tr>
							<td>Responsável:</td>
							*{<td>#{pessoaLotaSelecao nomeSelPessoa:'responsavel',
								nomeSelLotacao:'lotaResponsavel', value:informacao?.autor /}</td>}*
							<td>#{pessoaLotaSelecao nomeSelPessoa:'filtro.responsavel',
								nomeSelLotacao:'filtro.lotaResponsavel',
								valuePessoa:filtro.responsavel,
								valueLotacao:filtro.lotaResponsavel /}</td>
						</tr>

						<!-- A lista de par -->
						<tr>
							<td>Classificação:</td>
							<td>#{selecao tipo:'tag', nome:'filtro.tag', value:filtro.tag /}</td>
						</tr>
						<tr>
							<td class="tdLabel"><label for="descrDocumento"
								class="label">Título:</label>
							</td>
							<td><input type="text" name="filtro.titulo" size="80"
								value="${filtro.titulo}" id="titulo"></td>
						</tr>
						<tr>
							<td class="tdLabel"><label class="label" for="fullText">Conteúdo:</label>
							</td>
							<td><input type="text" id="conteudo" value="${filtro.conteudo}" size="80"
								name="filtro.conteudo"></td>
						</tr>
						<tr>
							<td colspan="2"><input type="submit"
								onclick="javascript:  if (isCarregando()) return false; carrega();"
								class="gt-btn-medium gt-btn-left" style="cursor: pointer;" value="Buscar">
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	*{<br /> <input type="button" value="Novo"
		onclick="javascript: window.location='@{Application.editar(0)}';"
		class="gt-btn-medium gt-btn-right" />
	}*
</div>


