#{extends 'Application/exibir_base.html' /} #{set
title:'Movimentações'/}
#{set 'moreHead'}
<script type="text/javascript">
	$(document).ready(function(){
        $("html, body").stop().animate({
        	"scrollTop":$("#ancora_mov").offset().top
        }, 900);
        event.preventDefault();
	});
</script>
#{/set}

<div class="gt-bd" style="padding-bottom: 0px;">
	<div class="gt-content">
		<h3 id="ancora_mov">Movimentações</h3>
	</div>

	<div class="gt-content-box gt-for-table" style="margin-bottom: 25px;">
		<table class="gt-table mov">
			<thead>
				<tr>
					<th align="left" rowspan="2">Data</th>
					<th rowspan="2">Evento</th>
					<th colspan="2" align="left">Cadastrante</th>
					<th colspan="2" align="left">Responsável</th>
					<th rowspan="2">Descrição</th>
				</tr>
				<tr>
					<th align="left">Lotação</th>
					<th align="left">Pessoa</th>
					<th align="left">Lotação</th>
					<th align="left">Pessoa</th>
				</tr>
			</thead>
			<tbody>
				#{list items:informacao.movs, as:'m'}	
					#{if m.tipo.id == 13}
						#{set descricao: m.arq?.titulo + " (" + m.arq?.mimeType + ")"  /}
						#{if m.movCanceladora} #{set classe: 'disabled' /} #{/if}
						#{else} #{set classe: '' /} #{/else}
					#{/if}
					#{elseif m.tipo.id == 12 && m.movRef != null}
						#{if m.movRef.tipo.id == 13}
							#{set descricao: m.movRef.tipo.nome + ": " + m.movRef.arq?.titulo + " (" + m.movRef.arq?.mimeType + ")"  /} 
						#{/if}
						#{else} #{set descricao: m.movRef.tipo.nome /}#{/else}
						#{set classe: 'disabled' /}
					#{/elseif}
					#{else}
						#{set descricao: '' /} #{set classe: '' /} 		
					#{/else}
					
				<tr class="juntada ${classe}">
					<td align="left">${m.hisDtIni.format('dd/MM/yyyy HH:mm:ss')}</td>
					<td>${m.tipo.nome}</td>
					<td align="left"><span
						title="${m.hisIdcIni.dpPessoa.lotacao.descricao}">${m.hisIdcIni.dpPessoa.lotacao.sigla}</span>
					</td>
					<td align="left"><span
						title="${m.hisIdcIni.dpPessoa.descricao}">${m.hisIdcIni.dpPessoa.nomeAbreviado}</span>
					</td>

					<td align="left"><span title="${m.lotacao?.descricao}">${m.lotacao?.sigla}</span>
					</td>
					<td align="left"><span title="${m.pessoa?.descricao}">${m.pessoa?.nomeAbreviado}</span>
					</td>
					<td>
						${descricao?.raw()}					
					</td>
				</tr>
				#{/list}
			</tbody>
		</table>
	</div>

</div>