#{extends 'Application/exibir_base.html' /} #{set
title:'Movimentações'/}

<div class="gt-bd" style="padding-bottom: 0px;">
	<div class="gt-content">
		<h3 id="ancora_mov">Movimentações</h3>
	</div>

	<div class="gt-content-box gt-for-table" style="margin-bottom: 25px;">
		<table class="gt-table mov">
			<thead>
				<tr>
					<th align="left" rowspan="2">Data</th>
					<th rowspan="2">Evento</th>
					<th colspan="2" align="left">Cadastrante</th>
					<th colspan="2" align="left">Titular</th>
					<th colspan="2" align="left">Atendente</th>
					<th rowspan="2">Descrição</th>
				</tr>
				<tr>
					<th align="left">Lotação</th>
					<th align="left">Pessoa</th>
					<th align="left">Lotação</th>
					<th align="left">Pessoa</th>
					<th align="left">Lotação</th>
					<th align="left">Pessoa</th>
				</tr>
			</thead>
			<tbody>
				#{list items:informacao.movs, as:'m'}	
					#{if m.tipo.id == 13}
							#{set descricao: m.arq?.titulo  /}
					#{/if}
					#{elseif m.tipo.id == 12 && m.movRef != null}
						#{if m.movRef.tipo.id == 13}
							#{set descricao: m.movRef.tipo.nome + ": " + m.movRef.arq?.titulo /} 
						#{/if}
						#{elseif m.movRef.tipo.id == 4 || m.movRef.tipo.id == 6}
							#{set pessoa: m.movRef.pessoaAtendente?.nomeAbreviado ?: "" /}
							#{set lotacao: m.movRef.lotacaoAtendente?.sigla ?: "" /}
							#{set descricao: m.movRef.tipo.nome + ": " + lotacao + pessoa /}
						#{/elseif}
						#{else} #{set descricao: m.movRef.tipo.nome /}#{/else}
					#{/elseif}
					#{else}
						#{set descricao: '' /} 
					#{/else}
					
					#{if m.movCanceladora != null || m.tipo.id == 12} 
						#{set classe: 'disabled' /}
					#{/if}
					#{else} #{set classe: '' /} #{/else}
				<tr class="juntada ${classe}">
					<td align="left">${m.hisDtIni.format('dd/MM/yyyy HH:mm:ss')}</td>
					#{if informacao.podeDesfazer(titular, m)}
						<td>${m.tipo.nome} 
						[ <img style="margin-bottom: -2px;width:11px;" src="/siga/css/famfamfam/icons/cross.png" /> 
						<span class="gt-table-action-list">
						<a href="javascript:if (confirm('Deseja desfazer essa movimentação?')) 
									location.href = '@{Application.desfazer(informacao.sigla, m.id)}';">desfazer</a></span> &nbsp;]
					#{/if}
					#{else} <td>${m.tipo.nome}</td> #{/else}
					<td align="left">												
						<span title="${m.hisIdcIni.dpPessoa.lotacao.descricao}">${m.hisIdcIni.dpPessoa.lotacao.sigla}</span>
					</td>
					<td align="left"><span
						title="${m.hisIdcIni.dpPessoa.descricao}">${m.hisIdcIni.dpPessoa.nomeAbreviado}</span>
					</td>
					<td align="left"><span title="${m.lotacaoTitular?.descricao}">${m.lotacaoTitular?.sigla}</span></td>
					<td align="left"><span title="${m.pessoaTitular?.descricao}">${m.pessoaTitular?.nomeAbreviado}</span></td>					
					<td align="left"><span title="${m.lotacaoAtendente?.descricao}">${m.lotacaoAtendente?.sigla}</span></td>
					<td align="left"><span title="${m.pessoaAtendente?.descricao}">${m.pessoaAtendente?.nomeAbreviado}</span></td>
					<td>
						${descricao?.raw()}					
					</td>
				</tr>
				#{/list}
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("body").css({"overflow-x":"hidden"});
        $("html, body").stop().animate({
        	"scrollTop":$("#ancora_mov").offset().top
        }, 900);
        //event.preventDefault();
	});
</script>
