#{extends 'Application/exibir_base.html' /} #{set
title:'Movimentações'/}
#{set 'moreHead'}
<script type="text/javascript">
	$(document).ready(function(){
		var cont = 0;
		var regex = /\S/;
		//Cria estilo para a imagens dentro de tabela
		$(".gt-content-box td > img").css({"width":"200px","display": "block"});
		//Cria estilo para a imagens 
		$(".gt-content-box > p > img").css({"border":"1px silver solid","width":"30%","padding":"0.2em"});
		$(".gt-content-box > p > img:even").css({"float":"right","margin":"5px 0 5px 10px"});
		$(".gt-content-box > p > img:odd").css({"float":"left","margin":"5px 10px 5px 0"});
		$(".gt-content-box").css({"overflow":"hidden"});
		/*Identifica uma galeria de imagens (pelo menos duas imagens colocadas lado a lado (irmãs))*/
		$(".gt-content-box > p").each(function(){	
			$(this).has("img").contents().filter(function(){
				return (this.nodeType === 3 && regex.test(this.nodeValue));
			}).wrap("<span></span>");
			$(this).children("img").each(function(){
				if($(this).next().is("img") || $(this).prev().is("img")){
					cont++;
					$(this).addClass("imgg");							
				}
			});
			/*Se o número de imagens lado a lado for ímpar e diferente de 1 , 
			ou múltiplo de 3, segue esse padrão de montagem do layout*/
			if(cont != 0) {
				if ((cont%3 == 0) || ((cont%2 != 0) && (cont != 1))){
					$(this).children(".imgg").css({"float":"none","margin":"5px"}).wrapAll("<div class='bloco-img-impar'></div>");
					cont = 0;
					$(this).children(".bloco-img-impar").css({"display":"inline-block"}).after("<span style='display:block'></span>");	
				}
				/*Todas as demais (número par que não seja múltiplo de 3)*/
				else{
					$(this).find(".imgg").css({"float":"none","margin":"10px"});
					for(var i = 0;cont > i; i+=2){
						$(this).find(".imgg").slice(i,i+2).wrapAll("<div class='bloco-img-par'></div>");
					}		
					cont = 0;	
					$(".bloco-img-par").css({"padding-left":"15%","display":"inline"});
					$(this).children(".bloco-img-par").wrap("<div style='clear:both'></div>");						
				}
			}		
		});

		
        $("html, body").stop().animate({
        	"scrollTop":$("#ancora_mov").offset().top
        }, 900);
        //event.preventDefault();
	});
</script>
#{/set}

<div class="gt-bd" style="padding-bottom: 0px;">
	<div class="gt-content">
		<h3 id="ancora_mov">Movimentações</h3>
	</div>

	<div class="gt-content-box gt-for-table" style="margin-bottom: 25px;">
		<table class="gt-table mov">
			<thead>
				<tr>
					<th align="left" rowspan="2">Data</th>
					<th rowspan="2">Evento</th>
					<th colspan="2" align="left">Cadastrante</th>
					<th colspan="2" align="left">Titular</th>
					<th colspan="2" align="left">Atendente</th>
					<th rowspan="2">Descrição</th>
				</tr>
				<tr>
					<th align="left">Lotação</th>
					<th align="left">Pessoa</th>
					<th align="left">Lotação</th>
					<th align="left">Pessoa</th>
					<th align="left">Lotação</th>
					<th align="left">Pessoa</th>
				</tr>
			</thead>
			<tbody>
				#{list items:informacao.movs, as:'m'}	
					#{if m.tipo.id == 13}
							#{set descricao: m.arq?.titulo  /}
					#{/if}
					#{elseif m.tipo.id == 12 && m.movRef != null}
						#{if m.movRef.tipo.id == 13}
							#{set descricao: m.movRef.tipo.nome + ": " + m.movRef.arq?.titulo /} 
						#{/if}
						#{else} #{set descricao: m.movRef.tipo.nome /}#{/else}
					#{/elseif}
					#{else}
						#{set descricao: '' /} 
					#{/else}
					
					#{if m.movCanceladora != null || m.tipo.id == 12} 
						#{set classe: 'disabled' /}
					#{/if}
					#{else} #{set classe: '' /} #{/else}
				<tr class="juntada ${classe}">
					<td align="left">${m.hisDtIni.format('dd/MM/yyyy HH:mm:ss')}</td>
					<td>${m.tipo.nome}</td>
					<td align="left">
						<span title="${m.hisIdcIni.dpPessoa.lotacao.descricao}">${m.hisIdcIni.dpPessoa.pessoaAtual.lotacao.sigla}</span>
					</td>
					<td align="left"><span
						title="${m.hisIdcIni.dpPessoa.descricao}">${m.hisIdcIni.dpPessoa.nomeAbreviado}</span>
					</td>
					<td align="left"><span title="${m.lotacaoTitular?.descricao}">${m.lotacaoTitular?.sigla}</span></td>
					<td align="left"><span title="${m.pessoaTitular?.descricao}">${m.pessoaTitular?.nomeAbreviado}</span></td>					
					<td align="left"><span title="${m.lotacaoAtendente?.descricao}">${m.lotacaoAtendente?.sigla}</span></td>
					<td align="left"><span title="${m.pessoaAtendente?.descricao}">${m.pessoaAtendente?.nomeAbreviado}</span></td>
					<td>
						${descricao?.raw()}					
					</td>
				</tr>
				#{/list}
			</tbody>
		</table>
	</div>
</div>
