#{extends 'main.html' /} #{set title:'Notificar sobre Tópico de
Informação' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>
			<span id="codigoInf">Notificar - ${informacao?.sigla}</span>
		</h2>

		<div class="gt-form gt-content-box">
			<form action="@{Application.notificarGravar}">
				<input type="hidden" name="informacao.id" value="${informacao?.id}" />
				<p>Escolha quem será notificado sobre esse conhecimento</p>
				<br />
				<div class="gt-form-row gt-width-100">
					<label>Tomar Ciência</label>#{pessoaLotaSelecao nomeSelPessoa:'pessoa',
					nomeSelLotacao:'lotacao',
					valuePessoa:pessoa,
					valueLotacao:lotacao /}
				</div>
				<span style="display: none;" id="spanEmail">
					<input type='text' name='email' size="70" /> Obs.: Ao informar v&aacute;rios, separar por espa&ccedil;o.
				</span>
				<script>
				$("#pessoalotacao").append('<option value=3>E-mail</option>');
				$("#spanEmail").insertAfter("#spanLotacaolotacao");
				$("#pessoalotacao").change(function(){
					if ($("#pessoalotacao").val() == '1'){
						$('#spanEmail').hide();
					} else if (select.value == '2'){
						$('#spanEmail').hide();
					} else {
						$('#spanPessoapessoa').hide();
						$('#spanLotacaolotacao').hide();
						$('#spanEmail').show();
						$('#lotacao').val("");
						$('#lotacao_sigla').val("");
						$('#lotacao_descricao').val("");
						$('#lotacaoSpan').text("");
					}
					});
				</script>
				
				<siga:selecao tema='simple' titulo="Perfil:"
											propriedade="perfil" modulo="siga"/>
				
				<br />
				<div class="gt-form-row gt-width-100">
					<input type="submit" value="Notificar"
						class="gt-btn-medium gt-btn-left" style="cursor: pointer;"/>
					<p class="gt-cancel">
						ou <a href="@{Application.exibir(informacao.sigla)}">voltar</a>
					</p>
				</div>
			</form>
		</div>
	</div>
</div>