#{extends 'main.html' /} #{set title:'Solicitar Revisão de Tópico de
Informação' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>
			<span id="codigoInf">Solicitar Revisão - ${informacao?.sigla}</span>
		</h2>

		<div class="gt-form gt-content-box">
			<form action="@{Application.solicitarRevisaoGravar}">
				<input type="hidden" name="informacao.id" value="${informacao?.id}" />
				<div class="gt-form-row gt-width-100">
					<label>Pessoa</label> #{selecao tipo:'pessoa', nome:'pessoa' /} <span
						style="color: red">#{error 'pessoa' /}</span>
				</div>
				<div class="gt-form-row gt-width-100">
					<label>Lotação</label> #{selecao tipo:'lotacao', nome:'lotacao' /}
					<span style="color: red">#{error 'lotacao' /}</span>
				</div>
				<div class="gt-form-row gt-width-100">
					<input type="submit" value="Solicitar"
						class="gt-btn-medium gt-btn-left" />
					<p class="gt-cancel">
						ou <a href="javascript: history.back();">voltar</a>
					</p>
				</div>
			</form>
		</div>
	</div>
</div>