#{extends 'main.html' /} #{set title:'Informações' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<div class="gt-left-col">
			<h2>Conhecimentos Mais Recentes</h2>
			<div class="gt-content-box gt-for-table">
				<table class="gt-table gt-user-table">
					<tbody>
						#{list items:lista, as:'i'}
						<tr>
							<td style="width: 70%;"><h4>
									<a href="@{Application.exibir(i.id)}">${i?.arq?.titulo}</a>
								</h4>
								<p>${i?.conteudoHTML.raw()}</p>
							</td>
							<td style="width: 30%;">
								<!-- Categories Sub Table -->
								<table border="0" class="gt-table-categories">
									<tbody>
										<tr>
											<th>Autor:</th>
											<td>${i.autor.primeiroNomeEIniciais}</td>
										</tr>
										<tr>
											<th>Lotação:</th>
											<td>${i.lotacao.sigla}</td>
										</tr>
										<tr>
											<th>Data:</th>
											<td>${i.dtIniString}</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						#{/list}
					</tbody>
				</table>
			</div>
			
			<br/>

			<h2>Conhecimentos Mais Acessados</h2>
			<div class="gt-content-box gt-for-table">
				<table class="gt-table gt-user-table">
					<tbody>
						#{list items:lista, as:'i'}
						<tr>
							<td style="width: 70%;"><h4>
									<a href="@{Application.exibir(i.id)}">${i?.arq?.titulo}</a>
								</h4>
								<p>${i.conteudoHTML.raw()}</p>
							</td>
							<td style="width: 30%;">
								<!-- Categories Sub Table -->
								<table border="0" class="gt-table-categories">
									<tbody>
										<tr>
											<th>Autor:</th>
											<td>${i.autor.primeiroNomeEIniciais}</td>
										</tr>
										<tr>
											<th>Lotação:</th>
											<td>${i.lotacao.sigla}</td>
										</tr>
										<tr>
											<th>Data:</th>
											<td>${i.dtIniString}</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						#{/list}
					</tbody>
				</table>
			</div>

		</div>
		<div class="gt-right-col">
			<h2>Principais Autores</h2>
			<div class="gt-content-box gt-for-table">
				<table class="gt-table gt-user-table">
					<tbody>
						#{list items:lista, as:'i'}
						<tr>
							<td style="width: 70%;"><h4>
									<a href="@{Application.exibir(i.id)}">${i?.arq?.titulo}</a>
								</h4>
								<p>${i?.conteudoHTML.raw()}</p>
							</td>
							<td style="width: 30%;">
								<!-- Categories Sub Table -->
								<table border="0" class="gt-table-categories">
									<tbody>
										<tr>
											<th>Autor:</th>
											<td>${i.autor.primeiroNomeEIniciais}</td>
										</tr>
										<tr>
											<th>Lotação:</th>
											<td>${i.lotacao.sigla}</td>
										</tr>
										<tr>
											<th>Data:</th>
											<td>${i.dtIniString}</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						#{/list}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>