#{extends 'main.html' /} #{set title:'Informações' /} #{set 'moreHead'}

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load('visualization', '1', {
		packages : [ 'corechart', 'gauge' ]
	});
</script>
<script type="text/javascript">
function drawGraphs() {
	drawEvolution();
}

function drawEvolution() {
	// Some raw data (not necessarily accurate)
	var data = google.visualization.arrayToDataTable([${evolucao.raw()}]);

	// Create and draw the visualization.
	var ac = new google.visualization.ComboChart(document
			.getElementById('evolution'));
	ac.draw(data, {
		seriesType : "bars",
		legend : {position: 'top', alignment : 'center'},
		isStacked : true,
		width : "100%",
		height : "100%"
	});
}

	google.setOnLoadCallback(drawGraphs);
</script>

#{/set}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<div class="gt-left-col">
			<h2>Conhecimentos Mais Recentes</h2>
			#{if listaMaisRecentes != null}
			<div class="gt-content-box gt-for-table">
				<table border="0" class="gt-table gt-user-table">
					<thead>
						<tr>
							<th width="40%">Título</th>
							<th width="20%">Data</th>
							<th width="25%">Autor</th>
							<th width="15%">Lotação</th>	
						</tr>
					</thead>
					<tbody>
						#{list items:listaMaisRecentes,as:'i'}
						<tr class="gt-table-categories gt-td">
							<td width="40%"><h4 class="gt-categories-link"><a href="@{Application.exibir(i.sigla)}">${i?.arq?.titulo}</h4></a></td>
							<td width="20%">${i.dtIniString}</td>
							<td width="25%">${i.autor.primeiroNomeEIniciais}</td>
							<td width="15%">${i.lotacao.sigla}</td>
						</tr>
						#{/list}
					</tbody>
				</table>
			
				*{<table class="gt-table gt-user-table">
					<tbody>
						#{list items:listaMaisRecentes,as:'i'}
						<tr>
							<td style="width: 70%;">
								<a href="@{Application.exibir(i.sigla)}">${i?.arq?.titulo}</a> 
								 <a href="@{Application.exibir(i.id)}">${i?.arq?.titulo}</a>
								</h4>
								<p>${i?.conteudoHTML.raw()}</p> 
								
							</td>
							<td style="width: 30%;">
								<!-- Categories Sub Table -->
								<table border="0" class="gt-table-categories">
									<tbody>
										<tr>
											<th>Autor:</th>
											<td>${i.autor.primeiroNomeEIniciais}</td>
										</tr>
										<tr>
											<th>Lotação:</th>
											<td>${i.lotacao.sigla}</td>
										</tr>
										<tr>
											<th>Data:</th>
											<td>${i.dtIniString}</td>
										</tr>
									</tbody>
								</table></td>
						</tr>
						#{/list}
					</tbody>
				</table>}*
				
			</div>
			#{/if} #{else}
			<p>Nenhum conhecimento recente.</p>
			#{/else} <br />

			<!--  -->
			<h2>Conhecimentos Mais Acessados</h2>
			#{if listaMaisVisitados != null}
			<div class="gt-content-box gt-for-table">
				<table class="gt-table gt-user-table">
					<tbody>
						#{list items:listaMaisVisitados,as:'i'}
						<tr><td class="gt-userGC-column">
							<table>
								<tbody>
									<tr>
										<td colspan=2 style="width: 77%;">
											<h4>
												<a href="@{Application.exibir(i.sigla)}">${i?.arq?.titulo}</a>
											</h4>
											<!--<p>${i?.conteudoHTML.raw()}</p> -->
										</td>						
										<td class="gt-th gt-categories-th">Data:</td>
										<td class="gt-categories-td">${i.dtIniString}</td>
									</tr>
									<tr class="gt-table-categories">
										<th class="gt-categories-th" style="width: 8%;">Autor:</th>
										<td>${i.autor.primeiroNomeEIniciais}</td>
										<th>Lotação:</th>
										<td>${i.lotacao.sigla}</td>
									</tr>
								</tbody>
							</table>
						</td></tr>
						#{/list}
					</tbody>
				</table>
			</div>
			#{/if} #{else}
			<p>Nenhum conhecimento visitado.</p>
			#{/else}


		</div>
		<div class="gt-right-col">
			<h2>Principais Autores</h2>
			#{if listaPrincipaisAutores != null}
			<div class="gt-content-box gt-for-table">
				<table class="gt-table gt-user-table">
					<tbody>
						#{list items:listaPrincipaisAutores,as:'p'}
						<tr>
							<td style="width: 70%;">${p.descricao}</td>
							<td style="width: 30%;">${p.lotacao.sigla}</td>
						</tr>
						#{/list}
					</tbody>
				</table>
			</div>
			#{/if} #{else}
			<p>Nenhum autor.</p>
			#{/else} <br />
			<h2>Principais Lotações</h2>
			#{if listaPrincipaisLotacoes != null}
			<div class="gt-content-box gt-for-table">
				<table class="gt-table gt-user-table">
					<tbody>
						#{list items:listaPrincipaisLotacoes,as:'l'}
						<tr>
							<td style="width: 70%;">${l.descricao}</td>
							<td style="width: 30%;">${l.sigla}</td>
						</tr>
						#{/list}
					</tbody>
				</table>
			</div>
			#{/if} #{else}
			<p>Nenhum autor.</p>
			#{/else} *{ <br />
			<h2>Principais Classificações</h2>
			#{if listaPrincipaisTags != null}
			<div class="gt-content-box gt-for-table">
				<table class="gt-table gt-user-table">
					<tbody>
						#{list items:listaPrincipaisTags,as:'t'}
						<tr>
							<td style="width: 30%;">${t.categoria}</td>
							<td style="width: 70%;">${t.titulo}</td>
						</tr>
						#{/list}
					</tbody>
				</table>
			</div>
			#{/if} #{else}
			<p>Nenhum autor.</p>
			#{/else} }* <br />
			<h2>Principais Classificações</h2>
			<div class="gt-content-box gt-tag-cloud">
				#{list items:cloud.tags(),as:'tag'}
					<a href="${tag.getLink()}" style="font-size: ${tag.getWeight()}%;">${tag.getName()}</a> 
				#{/list}
			</div>

			<br />
			<h2>Evolução</h2>
			<div id="evolution" class="gt-content-box gt-tag-cloud"></div>
			*{ <br />
			<h2>Mês Passado</h2>
			<div id="lastmonth" class="gt-content-box gt-tag-cloud"></div>

			<br />
			<h2>Mês Corrente</h2>
			<div id="thismonth" class="gt-content-box gt-tag-cloud"></div>
			}*
		</div>
	</div>
</div>