target/
.idea/
.metadata/
*.iml
.settings/
.classpath/
.DS_Store/
.project/
.DS_Store
/tmp
/test-output
/.settings
.project
.factorypath
.classpath
.tern-project
build.bat
siga-play-module\bin/
siga-play-module/bin/
siga-rel/build/
siga-wf/bin/META-INF/MANIFEST.MF
siga-wf/bin/
siga/WebContent/WEB-INF/classes/.gitignore
siga/WebContent/WEB-INF/classes/
sigaex/WebContent/WEB-INF/classes/
sigaex/test-output/
sigapp/bin/
sigapp/precompiled/
sigagc/bin/
sigagc/precompiled/
sigapp/precompiled/
sigasr/tmp/
sigawf/WebContent/WEB-INF/classes/
siga-base/build/
siga-cd-base/bin/
siga-cd/bin/
siga-ext/bin/
siga-ldap/build/
siga-libs/build/
siga-sinc-lib/bin/
sigagc/eclipse/classes/
sigapp/eclipse/classes/
sigasr/eclipse/classes/
sigasr/precompiled/
sigasr/lib
sigasr/modules
ImportarXml/bin/br/gov/jfrj/importar/
*.class
ImportarXml/bin/
*.bak
*.log
sigaex/WebContent/WEB-INF/lib/fop/fop.jar.old
sigaex/WebContent/WEB-INF/lib/fop/xmlgraphics-commons-1.3.1.jar.old
sigari/bin/
sigari/precompiled/templates/app/views/Application/anexar.html
sigari/precompiled/

sigasr/sigasr-start.launch
sigasr/lib
sigasr/modules
sigasr/eclipse

sigagc/sigagc-start.launch
sigagc/lib
sigagc/modules
sigagc/eclipse

sigapp/sigapp-start.launch
sigapp/lib
sigapp/modules
sigapp/eclipse

sigari/lib/
sigari/modules/
sigari/eclipse/sigari-start.launch.template
*.rej
siga-dump/bin/pom.xml
sigagc/desktop.ini
sigaex/.externalToolBuilders/org.eclipse.wst.validation.validationbuilder.launch
sigaex/.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator (1).launch
sigaex/.externalToolBuilders/org.eclipse.wst.common.project.facet.core.builder.launch
siga/.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator.launch
siga-libs/.externalToolBuilders/org.eclipse.wst.validation.validationbuilder (1).launch
sigasr/desktop.ini

siga-uteis-play-module/
sigatp/.tern-project
sigaex/.tern-project
sigasr/.tern-project
*.orig
*rebel.xml

# Sphinx documentation
docs/_build/
resultado.txt
