<html>
<body>
	<p>
		Informamos que a solicitação <b>${movimentacao.solicitacao?.codigo}</b> 
		recebeu a seguinte movimentação em ${movimentacao.dtIniMovDDMMYYYYHHMM}:
	</p>
	<blockquote>
		<p>Tipo de movimentação: ${movimentacao.tipoMov.nome}</p>
		<p>Atendente: ${movimentacao.atendente != null ? movimentacao.atendente?.descricaoIniciaisMaiusculas.raw() + ", " : ""}
					${movimentacao.lotaCadastrante?.siglaLotacao}</p>
		<p>Solicitante: ${sol.solicitante?.descricaoIniciaisMaiusculas.raw()}, ${sol.lotaSolicitante?.siglaLotacao} </p>
		<p>${sol.descrSolicitacao}</p>
	</blockquote>
	#{if movimentacao.tipoMov.idTipoMov == models.SrTipoMovimentacao.TIPO_MOVIMENTACAO_FECHAMENTO}
	<p>
		#{if sol.atendente != null}
			#{set descricao : sol.atendente?.descricaoIniciaisMaiusculas.raw() /}
		#{/if}
		#{else}#{set descricao : sol.lotaAtendente?.descricao.raw() /} #{/else}	
		Este email foi enviado porque <b>${descricao}</b> é atendente atual da solicitação <b>${sol.codigo}</b>, 
		que gerou a solicitação acima através da ação <b>Escalonar</b>.  	
	</p>
	#{/if}
	<p>
		Para acessar a solicitação, clique <a href="@@{Application.exibir(movimentacao.solicitacao?.solicitacaoAtual?.idSolicitacao)}">aqui</a>.
	</p>
</body>
</html>