<html>
<body>
	<p>
		Informamos que foi <b>cancelado</b>, em
		${movimentacao.movCanceladora.dtIniMovDDMMYYYYHHMM}, o <b>movimentação</b> abaixo,
		dado na solicitação <b>${sol.codigo}</b>
	</p>
	<blockquote>
		<p>${movimentacao.descrMovimentacao}</p>
		<p>Movimentação realizada por
			${movimentacao.cadastrante.descricaoIniciaisMaiusculas}
			(${movimentacao.lotaCadastrante.siglaLotacao})</p>
		<p>
			<b>Cancelado</b> por
			${movimentacao.movCanceladora.cadastrante.descricaoIniciaisMaiusculas}
			(${movimentacao.movCanceladora.lotaCadastrante.siglaLotacao})
		</p>
	</blockquote>
	<p>
		Para acessar a solicitação, clique <a
			href="@@{Application.exibir(sol.idSolicitacao)}">aqui</a>.
	</p>
</body>
</html>