          <div class="angucomplete-holder dropdown" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
            <input ng-model="searchStr"
              ng-disabled="disableInput"
              type="text"
              placeholder="{{placeholder}}"
              ng-focus="onFocusHandler()"
              class="{{inputClass}}"
              ng-focus="resetHideResults()"
              ng-blur="hideResults($event)"
              autocapitalize="off"
              autocorrect="off"
              autocomplete="off"
              ng-change="inputChangeHandler(searchStr)" id="dropdownSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
            <div ng-class="{'angucomplete-dropdown': true, 'dropdown-menu': true, 'show': showDropdown}" ng-show="showDropdown" aria-labelledby="dropdownSearch" id="dropdownSearchList">
              <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
              <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
              <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
                <div ng-if="imageField" class="angucomplete-image-holder">
                  <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
                  <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
                </div>
                <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
                <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
                <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
                <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
              </div>
              <div class="angucomplete-row" ng-click="selectResult({title: searchStr, originalObject: { name: searchStr, custom: true }})" ng-mouseenter="hoverRow(results.length)" ng-class="{'angucomplete-selected-row': results.length == currentIndex}">
                <div style="display: none" class="angucomplete-title">Criar novo(a) para '{{ searchStr }}'</div>
              </div>
            </div>
          </div>
