<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Siga Identity Provider</display-name>
	<description>Este projeto e o centralizador do processo de autenticacao do siga</description>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>
	
	<listener>
		<listener-class>org.picketlink.identity.federation.web.listeners.IDPHttpSessionListener</listener-class>
	</listener>

	<session-config>
		<session-timeout>150</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>/hosted/index.jsp</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Area restrita</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>sigausuario</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>js</web-resource-name>
			<url-pattern>/javascript/*</url-pattern>
		</web-resource-collection>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Siga IDP</realm-name>
		<form-login-config>
			<form-login-page>/paginas/login.jsp</form-login-page>
			<form-error-page>/paginas/loginInvalido.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>sigausuario</role-name>
	</security-role>
	<security-role>
		<role-name>sigaadministrador</role-name>
	</security-role>
	<security-role>
		<role-name>sigadesenvolvimento</role-name>
	</security-role>
	<security-role>
		<role-name>superusuario</role-name>
	</security-role>
	<servlet>
		<description></description>
		<display-name>IDPServlet</display-name>
		<servlet-name>IDPServlet</servlet-name>
		<servlet-class>br.gov.jfrj.siga.picketlink.servlet.IDPServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IDPServlet</servlet-name>
		<url-pattern>/IDPServlet</url-pattern>
	</servlet-mapping>
	
</web-app>