<div>
	<hr/>
	<div class="gt-content">
		<label>Itens de Configuração</label>
		<!-- content bomex -->
		<div class="gt-content-box dataTables_div">
			<table id="itemConfiguracao_table" border="0" class="gt-table-nowrap display">
				<thead>
					<tr>
						<th >ID</th>
						<th>Sigla</th>
						<th>Titulo</th>
						<th>Descrição</th>
						<th>Itens Similares</th>
						<th></th>
					</tr>
				</thead>
				
				<tbody>
					#{list items:_itemConfiguracaoSet, as:'item'}
					<tr>
						<td>${item?.id }</td>
						<td>${item?.sigla}</td>
						<td>${item?.tituloItemConfiguracao}</td>
						<td>${item?.descricao }</td>
						<td>${item?.descricaoSimilaridade }</td>
						<td><a class="itemConfiguracao_remove"><img src="/siga/css/famfamfam/icons/delete.png" style="visibility: inline; cursor: pointer" /></a></td>
					</tr>
					#{/list}
				</tbody>
			</table>
		</div>
		<div class="gt-table-buttons">
			<a href="javascript: configuracaoItemAcaoService.modalAbrir('itemConfiguracao')" class="gt-btn-small gt-btn-left">Incluir</a>
		</div>
	</div>
	
	<hr/>
	<div class="gt-form-row">
		<label>Ações</label>
		<!-- content bomex -->
		<div class="gt-content-box dataTables_div">
			<table id="acao_table" border="0" class="gt-table display">
				<thead>
					<tr>
						<th>ID</th>
						<th>Sigla</th>
						<th>Título</th>
						<th></th>
					</tr>
				</thead>
				
				<tbody>
					#{list _acoesSet, as:'acao'}
					<tr>
						<td>${acao?.id }</td>
						<td>${acao?.sigla}</td>
						<td>${acao?.tituloAcao }</td>
						<td><a class="acao_remove"><img src="/siga/css/famfamfam/icons/delete.png" style="visibility: inline; cursor: pointer" /></a></td>
					</tr>
					#{/list}
				</tbody>
			</table>
		</div>
		<div class="gt-table-buttons">
			<a href="javascript: configuracaoItemAcaoService.modalAbrir('acao')" class="gt-btn-small gt-btn-left">Incluir</a>
		</div>
	</div>
</div>

#{modal nome:'itemConfiguracao', titulo:'Adicionar Item de Configuração'}
	<script>
	//Edson: esta funcao evita que o usuario de ok sem a busca por ajax ter terminado
	function bloqueiaItemOk(){
		$("#modalItemOk").attr("disabled", "disabled");
	}
	function bloqueiaItemOkSeVazio(){
		if ($("#itemConfiguracao").val() && $("#itemConfiguracao_sigla").val() && $("#itemConfiguracaoSpan").text())
			$("#modalItemOk").removeAttr('disabled');
		else 
			$("#modalItemOk").attr("disabled", "disabled");
	}
	</script>
	<div id="dialogItemConfiguracao">
		<div class="gt-content">
			<div class="gt-form gt-content-box">
				<div class="gt-form-row">
					<div class="gt-form-row">
						<label>Item de Configuração</label> #{selecao tipo:'item',
							nome:'itemConfiguracao',
							value:itemConfiguracao?.atual, onblur:'bloqueiaItemOk();', onchange:'bloqueiaItemOkSeVazio();' /}
						<span style="display:none;color: red" id="designacao.itemConfiguracao">Item de Configuração não informado.</span>
					</div>
					<div class="gt-form-row">
						<button id="modalItemOk" onclick="javascript: configuracaoItemAcaoService.inserirItemConfiguracao()" class="gt-btn-medium gt-btn-left" disabled>Ok</button>
						<a href="javascript: configuracaoItemAcaoService.modalFechar('itemConfiguracao')" class="gt-btn-medium gt-btn-left">Cancelar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
#{/modal}

#{modal nome:'acao', titulo:'Adicionar Ação'}
	<script>
	//Edson: esta funcao evita que o usuario de ok sem a busca por ajax ter terminado
	function bloqueiaAcaoOk() {
		$("#modalAcaoOk").attr("disabled", "disabled");
	}
	function bloqueiaAcaoOkSeVazio() {
		if ($("#acao").val() && $("#acao_sigla").val() && $("#acaoSpan").text())
			$("#modalAcaoOk").removeAttr('disabled');
		else 
			$("#modalAcaoOk").attr("disabled", "disabled");
	}
	</script>
	<div id="dialogAcao">
		<div class="gt-content">
			<div class="gt-form gt-content-box">
				<div class="gt-form-row">
					<div class="gt-form-row">
						<label>Ação</label> #{selecao tipo:'acao',
							nome:'acao', value:acao?.atual, onblur:'bloqueiaAcaoOk();', onchange:'bloqueiaAcaoOkSeVazio();' /}
						<span style="display:none;color: red" id="designacao.acao">Ação não informada.</span>
					</div>
					<div class="gt-form-row">
						<button id="modalAcaoOk" onclick="javascript: configuracaoItemAcaoService.inserirAcao()" class="gt-btn-medium gt-btn-left" disabled>Ok</button>
						<a href="javascript: configuracaoItemAcaoService.modalFechar('acao')" class="gt-btn-medium gt-btn-left">Cancelar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
#{/modal}

<script>
	jQuery( document ).ready(function($) {
		// Delete Item Configuração
		$('#itemConfiguracao_table tbody').on('click', 'a.itemConfiguracao_remove', function () {
			configuracaoItemAcaoService.itemConfiguracaoTable.api().row($(this).closest('tr')).remove().draw(false);
		});
	 	// Delete Ação
	    $('#acao_table tbody').on( 'click', 'a.acao_remove', function () {
	    	configuracaoItemAcaoService.acaoTable.api().row($(this).closest('tr')).remove().draw(false);
	    } );
	
	});

	/**
	 *  Item configuracao service
	 **/
	var configuracaoItemAcaoService = {};
	configuracaoItemAcaoService.configurarItemConfiguracaoDataTable = function() {
		this.itemConfiguracaoTable = $('#itemConfiguracao_table').dataTable({
			"language": {
				"emptyTable":     "Não existem resultados",
			    "info":           "Mostrando de _START_ a _END_ do total de _TOTAL_ registros",
			    "infoEmpty":      "Mostrando de 0 a 0 do total de 0 registros",
			    "infoFiltered":   "(filtrando do total de _MAX_ registros)",
			    "infoPostFix":    "",
			    "thousands":      ".",
			    "lengthMenu":     "Mostrar _MENU_ registros",
			    "loadingRecords": "Carregando...",
			    "processing":     "Processando...",
			    "search":         "Filtrar:",
			    "zeroRecords":    "Nenhum registro encontrado",
			    "paginate": {
			        "first":      "Primeiro",
			        "last":       "Último",
			        "next":       "Próximo",
			        "previous":   "Anterior"
			    },
			    "aria": {
			        "sortAscending":  ": clique para ordenação crescente",
			        "sortDescending": ": clique para ordenação decrescente"
			    }
			},
			"columnDefs": [{ "targets": [0], "visible": false, "searchable": false},
			               { "width": "80px", "targets": 1 },
			               { "width": "100px", targets: [2,3]},
			               { "width": "320px", targets: [4]},
			               { "width": "5px", targets: [5]}],
			"iDisplayLength": 3,
			"aLengthMenu": [3, 10, 25, 50, 100]
		});
	}
	configuracaoItemAcaoService.inserirItemConfiguracao = function() {
		var idSelecionado = $("#itemConfiguracao").val();
		
		if (idSelecionado == undefined || idSelecionado == '') {
			alert("Por favor, selecione um item de configuração antes de continuar, ou clique em Cancelar.");
			return;
		}
		if(configuracaoItemAcaoService.podeAdicionarItem(idSelecionado)) {
			var row = [	$("#itemConfiguracao").val(),
			           	$("#itemConfiguracao_sigla").val(),
			           	$("#itemConfiguracao_descricao").val(),
			           	$("#itemConfiguracao_descricao").val(),
			           	"",
			           	"<a class=\"itemConfiguracao_remove\"><img src=\"/siga/css/famfamfam/icons/delete.png\" style=\"visibility: inline; cursor: pointer\" /></a>"];
			
			this.itemConfiguracaoTable.api().row.add(row).draw();
	        			
			// limpando campos do componente de busca
			$("#itemConfiguracao").val('');
			$("#itemConfiguracao_descricao").val('');
			$("#itemConfiguracao_sigla").val('');
			$("#itemConfiguracaoSpan").html('');
			
			configuracaoItemAcaoService.modalFechar('itemConfiguracao');
		} 
		else alert('O item selecionado já foi adicionado');
	}
	configuracaoItemAcaoService.podeAdicionarItem = function(idConfiguracao) {
		var itensAdicionados = configuracaoItemAcaoService.getItensArray();
		for(var i = 0; i < itensAdicionados.length; i++) {
			var itemConfiguracao = itensAdicionados[i];
			
			if(itemConfiguracao != null && idConfiguracao == itemConfiguracao.idItemConfiguracao) 
				return false;
		}
		return true;
	}
	configuracaoItemAcaoService.podeAdicionarAcao = function(idAcao) {
		var acoesAdicionadas = configuracaoItemAcaoService.getAcoesArray();
		for(var i = 0; i < acoesAdicionadas.length; i++) {
			var acao = acoesAdicionadas[i];
			
			if(acao != null && idAcao == acao.idAcao) 
				return false;
		}
		return true;
	}
	configuracaoItemAcaoService.configurarAcaoDataTable = function() {
		this.acaoTable = $('#acao_table').dataTable( {
			"language": {
				"emptyTable":     "Não existem resultados",
			    "info":           "Mostrando de _START_ a _END_ do total de _TOTAL_ registros",
			    "infoEmpty":      "Mostrando de 0 a 0 do total de 0 registros",
			    "infoFiltered":   "(filtrando do total de _MAX_ registros)",
			    "infoPostFix":    "",
			    "thousands":      ".",
			    "lengthMenu":     "Mostrar _MENU_ registros",
			    "loadingRecords": "Carregando...",
			    "processing":     "Processando...",
			    "search":         "Filtrar:",
			    "zeroRecords":    "Nenhum registro encontrado",
			    "paginate": {
			        "first":      "Primeiro",
			        "last":       "Último",
			        "next":       "Próximo",
			        "previous":   "Anterior"
			    },
			    "aria": {
			        "sortAscending":  ": clique para ordenação crescente",
			        "sortDescending": ": clique para ordenação decrescente"
			    }
			},
			"columnDefs": [{"targets": [0], "visible": false, "searchable": false},
			               { "width": "5px", "targets": 3 }],
			"iDisplayLength": 3,
			"aLengthMenu": [3, 10, 25, 50, 100]
	    } );
	}
	configuracaoItemAcaoService.inserirAcao = function() {
		var idSelecionado = $("#acao").val();
		
		if (idSelecionado == undefined || idSelecionado == '') {
			alert("Por favor, selecione uma ação antes de continuar, ou clique em Cancelar.");
			return;
		}
		if(configuracaoItemAcaoService.podeAdicionarAcao(idSelecionado)) {
			var row = [	$("#acao").val(),
	        			$("#acao_sigla").val(),
	        			$("#acao_descricao").val(),
	        			"<a class=\"acao_remove\"><img src=\"/siga/css/famfamfam/icons/delete.png\" style=\"visibility: inline; cursor: pointer\" /></a>"];
			
			this.acaoTable.api().row.add(row).draw();
			
			// limpando campos do componente de busca
			$("#acao").val('');
			$("#acao_descricao").val('');
			$("#acao_sigla").val('');
			$("#acaoSpan").html('');
			
			configuracaoItemAcaoService.modalFechar('acao');
		}
		else alert('A ação selecionada já foi adicionada');
	}
    
	configuracaoItemAcaoService.modalAbrir = function(componentId) {
		$("#" + componentId + "_dialog").dialog('open');
	}
	
	configuracaoItemAcaoService.modalFechar = function(componentId) {
		$("#" + componentId + "_dialog").dialog('close');
	}
	
	configuracaoItemAcaoService.getItemAcaoAsString = function(objectName) {
		var params = '',
			hasItem = false,
			hasAcao = false;
		
		// Percorre lista de Itens de Configuração
		this.itemConfiguracaoTable.api().rows().indexes().each(function (i) {
			var rowValues = configuracaoItemAcaoService.itemConfiguracaoTable.api().row(i).data();
			
			// Atualiza a string serializada
			if (rowValues) {
	        	params += '&' + objectName + '.itemConfiguracaoSet[' + i + '].idItemConfiguracao=' + rowValues[0];
	        	hasValue = true;
			}
		});

		if (!hasItem)
			params += '&' + objectName + '.itemConfiguracaoSet=';
		
		// Percorre lista de Ações
		this.acaoTable.api().rows().indexes().each(function (i) {
			var rowValues = configuracaoItemAcaoService.acaoTable.api().row(i).data();
			
			// Atualiza a string serializada
			if (rowValues) {
				params += '&' + objectName + '.acoesSet[' + i + '].idAcao=' + rowValues[0];
				hasAcao = true;
			}
		});

		if (!hasAcao)
			params += '&' + objectName + '.acoesSet=';
		
		return params;
	}

	configuracaoItemAcaoService.getItensArray = function() {
		var itens = [];
		
		this.itemConfiguracaoTable.api().rows().indexes().each(function (i) {
			var rowValues = configuracaoItemAcaoService.itemConfiguracaoTable.api().row(i).data();
			if (rowValues) {
	        	itens.push({
	        		idItemConfiguracao : rowValues[0]
	        	});
			}
		});

		if(itens.length == 0) {
			itens.push(null);
		}
		return itens;
	}

	configuracaoItemAcaoService.getAcoesArray = function() {
		var acoes = [];
		
		this.acaoTable.api().rows().indexes().each(function (i) {
			var rowValues = configuracaoItemAcaoService.acaoTable.api().row(i).data();
			if (rowValues) {
				acoes.push({
					idAcao : rowValues[0]
				});
			}
		});
		if(acoes.length == 0) {
			acoes.push(null);
		}
		return acoes;
	}
	
	configuracaoItemAcaoService.atualizaDadosTabelaItemAcao = function(jSon) {
		var tableItem = $('#itemConfiguracao_table'), tableAcao = $('#acao_table');
		
		if (jSon) {
			this.limparDadosTabelaItemAcao();
			
			if (jSon.listaItemConfiguracaoVO) {
				// cria a lista de Itens de Configuração, e adiciona na tela
				for (i = 0; i < jSon.listaItemConfiguracaoVO.length; i++) {
					var item = jSon.listaItemConfiguracaoVO[i],
						rowItem = [item.id ? item.id : '', 
						           item.siglaItemConfiguracao ? item.siglaItemConfiguracao : '',
						           item.tituloItemConfiguracao ? item.tituloItemConfiguracao : '',
						           item.descrItemConfiguracao ? item.descrItemConfiguracao : '', 
						           item.descricaoSimilaridade ? item.descricaoSimilaridade : '',
						           "<a class=\"itemConfiguracao_remove\"><img src=\"/siga/css/famfamfam/icons/delete.png\" style=\"visibility: inline; cursor: pointer\" /></a>"];

					var tr = TableHelper.criarTd(rowItem);
					tableItem.append(tr);
				}
			}
			
			if (jSon.listaAcaoVO) {
				// cria a lista de ações, e adiciona na tela
				for (i = 0; i < jSon.listaAcaoVO.length; i++) {
					var acao = jSon.listaAcaoVO[i],
						rowAcao = [acao.id ? acao.id : '',
								   acao.sigla ? acao.sigla : '',
						           acao.tituloAcao ? acao.tituloAcao : '',
						           "<a class=\"acao_remove\"><img src=\"/siga/css/famfamfam/icons/delete.png\" style=\"visibility: inline; cursor: pointer\" /></a>"];

					var tr = TableHelper.criarTd(rowAcao);
					tableAcao.append(tr);
				}
			}
		}
		this.configurarItemConfiguracaoDataTable();
		this.configurarAcaoDataTable();
	}

	// Limpa os dados das tabelas.
	configuracaoItemAcaoService.limparDadosTabelaItemAcao = function() {
		if(this.itemConfiguracaoTable) {
			this.itemConfiguracaoTable.fnDestroy();
			this.itemConfiguracaoTable.find('tbody tr').remove();
			this.itemConfiguracaoTable = null;
		}
		if(this.acaoTable) {
			this.acaoTable.fnDestroy();
			this.acaoTable.find('tbody tr').remove();
			this.acaoTable = null;
		}
	}
	
	configuracaoItemAcaoService.iniciarDataTables = function() {
		configuracaoItemAcaoService.limparDadosTabelaItemAcao();
		configuracaoItemAcaoService.configurarAcaoDataTable();
		configuracaoItemAcaoService.configurarItemConfiguracaoDataTable();
	}
</script>