<script src="/sigasr/public/javascripts/moment.js"></script>

<p>
	<img src="/siga/css/famfamfam/icons/clock_play.png" width="15px;"
		style="vertical-align: bottom;"><b> ${_descricao}: </b><span
		id="${_descricao}"></span>
</p>

<script type="text/javascript">
	moment.locale('pt-br');

	$(document).ready(function() {
		moveRelogio${_descricao}(0);
	})
	
	function moveRelogio${_descricao}(andamento) { 
	   	$('#${_descricao}').html(intervaloPercorrido${_descricao}(andamento));
		
	   	#{if _contarTempo == true}
	   		setTimeout(function() {
	   			moveRelogio${_descricao}(andamento + 1000);
	   		}, 1000);
	   	#{/if}
	}; 

	function intervaloPercorrido${_descricao}(tempoPercorrido) {
		var tempoString = new String(),
			duration = moment.duration(tempoPercorrido),
			anos = duration.years(),
			dias = duration.days(),
			horas = duration.hours(),
			minutos = duration.minutes();

		if(anos == 0 && dias == 0 && horas == 0 && minutos == 0){
			tempoString = 'Neste instante';
		}
		else {
			if(anos > 0) {
				tempoString += anos + ' anos(s) ';
			}
			if(dias > 0) {
				tempoString += dias + ' dia(s) ';
			}
			if(horas > 0) {
				tempoString += horas + ' hora(s) ';
			}
			if(minutos > 0) {
				tempoString += minutos + ' minuto(s)';
			}
		}
		return tempoString;
	}
</script>