<div class="gt-sidebar">
	<div class="gt-sidebar-content tempo">
		<h3>
			<img src="/siga/css/famfamfam/icons/clock_play.png" width="15px;"
				style="vertical-align: bottom;"> Atendimento: <span
				id="andamento"></span>
		</h3>
		<h3 style="margin-left: 25px;">
			Total: <span id="total"></span>
		</h3>
	</div>
</div>

<script type="text/javascript">
	moment.locale('pt-br');

	$(document).ready(function() {
		moveRelogio(0);
	})
	
	function moveRelogio(andamento) { 
	   	$('#andamento').html(intervaloPercorrido(andamento));
		$('#total').html(intervaloPercorrido(${_tempoPercorrido} + andamento));
		
	   	#{if _contarTempo == true}
	   		setTimeout(function() {
	   			moveRelogio(andamento + 1000);
	   		}, 1000);
	   	#{/if}
	}; 

	function intervaloPercorrido(tempoPercorrido) {
		var tempoString = new String(),
			duration = moment.duration(tempoPercorrido),
			anos = duration.years(),
			dias = duration.days(),
			horas = duration.hours(),
			minutos = duration.minutes();

		if(anos == 0 && dias == 0 && horas == 0 && minutos == 0){
			tempoString = 'Neste instante';
		}
		else {
			if(anos > 0) {
				tempoString += anos + ' anos(s) ';
			}
			if(dias > 0) {
				tempoString += dias + ' dia(s) ';
			}
			if(horas > 0) {
				tempoString += horas + ' hora(s) ';
			}
			if(minutos > 0) {
				tempoString += minutos + ' minuto(s)';
			}
		}
		return tempoString;
	}
</script>