<div class="gt-sidebar">
	<div class="gt-sidebar-content tempo">
		<h3>
			<img src="/siga/css/famfamfam/icons/clock_play.png" width="15px;"
				style="vertical-align: bottom;"> Atendimento: <span
				id="andamento"></span>
		</h3>
		<h3 style="margin-left: 25px;">
			Total: <span id="total"></span>
		</h3>
	</div>
</div>

<script type="text/javascript">
	moveRelogio(0);

	var andamento = 0;	
	function moveRelogio(mili) { 
		andamento = andamento + mili;
	   	var dtTempoPercorrido = new Date(${_tempoPercorrido})
	   		dtTotal = new Date((${_tempoPercorrido} + andamento));

	   	moment.locale('pt-br');
	   	$('#total').html(getTempoTotal(dtTempoPercorrido));
		$('#andamento').html(getTempoAndamento(dtTempoPercorrido, andamento));
		
	   	#{if _contarTempo == true}
	   		setTimeout("moveRelogio(1000)",1000);
	   	#{/if}
	}; 

	function getTempoAndamento(dtTempoPercorrido, andamento) {
		#{if _contarTempo == true}
	   		return moment().subtract('millisecond', andamento).fromNow();
	   	#{/if}
		#{else}
		   	return moment(dtTempoPercorrido).fromNow();
		#{/else}
	}

	function getTempoTotal(dtTempoPercorrido) {
		return moment(dtTempoPercorrido).fromNow();
	}
</script>