#{set nomeclean : _nome.cut('.') /}
#{if _id != null}
	#{set nomeclean : _id /}
#{/if}

<input type="text" name="${_nome}" id="${nomeclean}" value="${_value}" onchange="${_onchange}" class="${_class}">

<script>
	$(function() {
		$("#${nomeclean}").datepicker({
		    showOn: "button",
		    buttonImage: "/siga/css/famfamfam/icons/calendar.png",
		    buttonImageOnly: true,
		    dateFormat: 'dd/mm/yy',
		    monthNames: ["Janeiro", "Fevereiro", "Mar\u00E7o", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
		    monthNamesShort : ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
		    dayNames: ["Segunda", "Ter\u00E7a", "Quarta", "Quinta", "Sexta", "S\u00E1bado", "Domingo"],
		    dayNamesShort: ["Seg", "Ter", "Qua", "Qui", "Sex", "Sab", "Dom"],
		    dayNamesMin: ["Seg", "Ter", "Qua", "Qui", "Sex", "Sab", "Dom"]
		});
		$("#${nomeclean}").mask("99/99/9999");
	});
</script>