<div class="gt-content">
	<!-- content bomex -->
	<div class="gt-content-box dataTables_div">
		#{if _modoExibicao == 'designacao'}
		<div class="gt-form-row dataTables_length">
			<label>#{checkbox name:'mostrarDesativado',
				value:mostrarDesativado/} <b>Incluir Inativas</b>
			</label>
		</div>
		#{/if}

		<table id="designacoes_table" border="0" class="gt-table display">
			<thead>
				<tr>
					<th style="color: #333">
						<button class="gt-btn-medium gt-btn-left bt-expandir">
							<span id="iconeBotaoExpandirTodos">+</span>
						</button>
					</th>
					<th></th>
					<th>ID Orgão</th>
					<th>Orgão</th>
					<th>ID Local</th>
					<th>Local</th>
					<th>Tipo Solicitante</th>
					<th>ID Solicitante</th>
					<th>Descr. Solicitante</th>
					<th>Solicitante</th>
					<th>Item Configuração</th>
					<th>Ação</th>
					<th>Sigla Ação</th>
					<th>Descrição</th>
					<th>ID Atendente</th>
					<th>Descr. Atendente</th>
					<th>Atendente</th>
					<th>ID Pré-Atendente</th>
					<th>Descr. Pré-Atendente</th>
					<th>Pré</th>
					<th>ID Pós-Atendente</th>
					<th>Descr. Pós-Atendente</th>
					<th>Pós</th>
					<th>ID Pesq. Satisfação</th>
					<th>Descr. Pesq. Satisfação</th>
					<th>JSon - Designação</th>
					<th>ID Designação</th>
					<th>Herdado</th>
					<th>Utilizar Herdado</th>
					<th>Listas Serializadas</th>
					<th></th>
					<th>ativo</th>
				</tr>
			</thead>

			<tbody>
				#{list items:_designacoes, as:'design'}
				<tr data-json-id="${design.id}" data-json="${design.toVO().toJson()}" onclick="designacaoService.editar($(this).data('json'), 'Alterar designacao')" 
					style="cursor: pointer;">
					<td class="details-control"></td>
					<td class="checkbox-hidden"
						style="width: 25px !important; padding-left: 5px; padding-right: 5px;">
						<input type="checkbox" checked="${design.utilizarItemHerdado}"
						id="check${design.id}" />
					</td>
					<td>${design.orgaoUsuario?.id}</td>
					<td>${design.orgaoUsuario?.acronimoOrgaoUsu}</td>
					<td>${design.complexo?.idComplexo}</td>
					<td>${design.complexo?.nomeComplexo}</td>
					<td>${design.tipoSolicitante }</td>
					<td>${design.solicitante?.id }</td>
					<td>${design.solicitante?.descricao }</td>
					<td>${design.solicitante?.sigla}</td>
					<td>${design.descrItemConfiguracaoAtual }</td>
					<td>${design.descrAcaoAtual }</td>
					<td>${design.descrAcaoAtual }</td>
					<td>${design.descrConfiguracao}</td>
					<td>${design.atendente?.lotacaoAtual?.id }</td>
					<td>${design.atendente?.lotacaoAtual?.nomeLotacao }</td>
					<td>${design.atendente?.lotacaoAtual?.siglaLotacao }</td>
					<td>${design.preAtendente?.lotacaoAtual?.id }</td>
					<td>${design.preAtendente?.lotacaoAtual?.nomeLotacao }</td>
					<td>${design.preAtendente?.lotacaoAtual?.siglaLotacao }</td>
					<td>${design.posAtendente?.lotacaoAtual?.id}</td>
					<td>${design.posAtendente?.lotacaoAtual?.nomeLotacao }</td>
					<td>${design.posAtendente?.lotacaoAtual?.siglaLotacao }</td>
					<td>${design.pesquisaSatisfacao?.id}</td>
					<td>${design.pesquisaSatisfacao?.descrPesquisa}</td>
					<td>${design.getSrConfiguracaoJson()}</td>
					<td>${design.idConfiguracao}</td>
					<th>${design.isHerdado}</th>
					<th>${design.utilizarItemHerdado}</th>
					<td></td>
					<td class="acoes"> 
						#{desativarReativar id:design.id, 
											onReativar:'designacaoService.reativar',
											onDesativar :'designacaoService.desativar',
											isAtivo:design.isAtivo() }
						#{/desativarReativar}
						<a class="once gt-btn-ativar" onclick="duplicarDesignacao(event)" title="Duplicar">
							<img src="/siga/css/famfamfam/icons/application_double.png" style="margin-right: 5px;"> 
						</a>
					</td>
					<td>${design.isAtivo()}</td>
				</tr>
				#{/list}
			</tbody>
		</table>

	</div>
	<!-- /content box -->
	<div class="gt-table-buttons">
		<a onclick="designacaoService.cadastrar('Incluir Designação')" class="gt-btn-medium gt-btn-left">Incluir</a>
		<a href="javascript: carregarDesignacoes()" class="gt-btn-medium gt-btn-left">Carregar</a>
	</div>
</div>

#{modal nome:'designacao', titulo:'Cadastrar Designacao'}
<div id="divEditarDesignacaoItem">#{include
	'Application/editarDesignacaoItem.html' /}</div>
#{/modal} #{modal nome:'erroAoSalvar', titulo:'Problemas ao Salvar',
altura:'200', largura:'450'}
<div id="divProblemaAoSalvar" class="gt-form gt-content-box"
	style="text-align: justify;">
	<label style="padding-top: 5px;">Pelo menos um dos campos
		"Atendente", "Pré-Atendente" ou "Pós-Atendente" precisa
		necessáriamente ser a mesma lotação que foi selecionada na tela de
		equipe. Por favor verifique e tente novamente.</label>
</div>
<div class="gt-form-row" style="margin-left: 297px;">
	<a href="javascript: fecharModalErroAoSalvar()"
		class="gt-btn-medium gt-btn-left">OK</a>
</div>
#{/modal}

<script type="text/javascript">
	var parametroTela = '${_modoExibicao}';

	var colunasDesignacao = {};
	colunasDesignacao.acaoExpandir=					0 ;
	colunasDesignacao.id = 							1 ;
	colunasDesignacao.idOrgao=						2 ;
	colunasDesignacao.orgao=							3 ;
	colunasDesignacao.idLocal =						4 ;
	colunasDesignacao.local=							5 ;
	colunasDesignacao.tipoSolicitante = 				6 ;
	colunasDesignacao.idSolicitante = 				7 ;
	colunasDesignacao.descricaoSolicitante = 			8 ;
	colunasDesignacao.solicitante=					9 ;
	colunasDesignacao.itemConfiguracao=				10;
	colunasDesignacao.acao=							11;
	colunasDesignacao.siglaAcao = 					12;
	colunasDesignacao.descrConfiguracao = 			13;
	colunasDesignacao.idAtendente = 					14;
	colunasDesignacao.descricaoAtendente = 			15;
	colunasDesignacao.atendente=						16;
	colunasDesignacao.idPreAtendente = 				17;
	colunasDesignacao.descricaoPreAtendente = 		18;
	colunasDesignacao.pre=							19;
	colunasDesignacao.idPosAtendente = 				20;
	colunasDesignacao.descricaoPosAtendente = 		21;
	colunasDesignacao.pos=							22;
	colunasDesignacao.idPesquisaSatisfacao = 			23;
	colunasDesignacao.descricaoPesquisaSatisfacao = 	24;
	colunasDesignacao.jSonDesignacao= 				25;
	colunasDesignacao.idDesignacao= 					26;
	colunasDesignacao.herdado= 						27;
	colunasDesignacao.utilizarHerdado= 				28;
	colunasDesignacao.listasSerializadas= 			29;
	colunasDesignacao.reativarDesativar=				30;
	colunasDesignacao.ativo=							31;
	
	jQuery( document ).ready(function($) {
		/* Table initialization */
		opts.designacoesDataTable = $('#designacoes_table')
			.on('draw.dt', function() {
					if(opts.designacoesDataTable) {
						var btn = $('.bt-expandir'),
							expandir = btn.hasClass('expandido');

						$('#designacoes_table').mostrarDetalhes(detalhesDesignacao, opts.designacoesDataTable);
						$('#designacoes_table').expandirContrairLinhas(expandir);
					}
				})
			.dataTable({
			"language": {
				"emptyTable":     "Não existem resultados",
			    "info":           "Mostrando de _START_ a _END_ do total de _TOTAL_ registros",
			    "infoEmpty":      "Mostrando de 0 a 0 do total de 0 registros",
			    "infoFiltered":   "(filtrando do total de _MAX_ registros)",
			    "infoPostFix":    "",
			    "thousands":      ".",
			    "lengthMenu":     "Mostrar _MENU_ registros",
			    "loadingRecords": "Carregando...",
			    "processing":     "Processando...",
			    "search":         "Filtrar:",
			    "zeroRecords":    "Nenhum registro encontrado",
			    "paginate": {
			        "first":      "Primeiro",
			        "last":       "Último",
			        "next":       "Próximo",
			        "previous":   "Anterior"
			    },
			    "aria": {
			        "sortAscending":  ": clique para ordenação crescente",
			        "sortDescending": ": clique para ordenação decrescente"
			    }
			},
			"columnDefs": [{

				"targets": [colunasDesignacao.id, 
							colunasDesignacao.idOrgao, 
							colunasDesignacao.idLocal, 
							colunasDesignacao.tipoSolicitante, 
							colunasDesignacao.idSolicitante, 
							colunasDesignacao.descricaoSolicitante, 
							colunasDesignacao.itemConfiguracao,
							colunasDesignacao.acao,
							colunasDesignacao.siglaAcao, 
							colunasDesignacao.idAtendente, 
							colunasDesignacao.descricaoAtendente, 
							colunasDesignacao.idPreAtendente, 
							colunasDesignacao.descricaoPreAtendente, 
							colunasDesignacao.idPosAtendente, 
							colunasDesignacao.descricaoPosAtendente, 
							colunasDesignacao.idPesquisaSatisfacao, 
							colunasDesignacao.descricaoPesquisaSatisfacao, 
							colunasDesignacao.jSonDesignacao,  
							colunasDesignacao.idDesignacao, 
							colunasDesignacao.herdado, 
							colunasDesignacao.utilizarHerdado, 
							colunasDesignacao.listasSerializadas,
							colunasDesignacao.ativo],
				"visible": false,
				"searchable": false
			},
			{
				"targets": [0],
				"sortable": false,
				"searchable" : false
			}],
			"fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
				$('td:eq('+colunasDesignacao.acaoExpandir+')', nRow).addClass('details-control');
			},
			"iDisplayLength": 100
		});

		$('#designacoes_table').mostrarDetalhes(detalhesDesignacao, opts.designacoesDataTable);
		
		opts.dataTable = opts.designacoesDataTable;
	});

	var mostrarDesativados = window.QueryString ? QueryString.mostrarDesativados : false,
		opts = {
			 urlDesativar : '@{Application.desativarDesignacao()}?',
			 urlReativar : '@{Application.reativarDesignacao()}?',
			 urlGravar : '@{Application.gravarDesignacao()}?',
			 dialogCadastro : jQuery('#designacao_dialog'),
			 tabelaRegistros : jQuery('#designacoes_table'),
			 objectName : 'designacao',
			 formCadastro : jQuery('#formDesignacao'),
			 mostrarDesativados : mostrarDesativados,
			 colunas : colunasDesignacao.acao
		};	

	function detalhesDesignacao(d) {
		var designacao = typeof d[colunasDesignacao.jSonDesignacao] == 'string' ? JSON.parse(d[colunasDesignacao.jSonDesignacao]) : d[colunasDesignacao.jSonDesignacao],
			tr = $('<tr class="detail">'),
			td = $('<td colspan="10">'),
			table  = $('<table>'),
			trDescricao = $('<tr>'),
			tdDescricao = $('<td>'),
			trItens = $('<tr>'),
			trAcoes = $('<tr>'),
			descricao = designacao.descrConfiguracao != undefined ? designacao.descrConfiguracao : '';

		detalheLista("<b>Itens de configuração:</b>", designacao.listaItemConfiguracaoVO, trItens);
		detalheLista("<b>Ações:</b>", designacao.listaAcaoVO, trAcoes);

		tdDescricao.html('<b>Descrição:</b> ' + descricao);
		trDescricao.append(tdDescricao);

		table.append(trDescricao);
		table.append(trItens);
		table.append(trAcoes);
		
		td.append(table);
		tr.append(td);
		return tr;
	}

	function detalheLista(label, listaItemConfiguracaoVO, tr) {
		var tdTituloItens = $('<td colspan="2">' + label + '</td>'),
		    tdDadosItens = $('<td colspan="5">'),
		    table = $('<table>');

	    for(var i = 0; i < listaItemConfiguracaoVO.length; i++) {
		    var itemConfiguracao = listaItemConfiguracaoVO[i],
		    	trItem = $('<tr>'),
		    	tdCodigo = $('<td>'),
		    	tdDescricao = $('<td>');
		
			tdCodigo.html(itemConfiguracao.sigla);
			tdDescricao.html('Descricao ' + itemConfiguracao.titulo);
								  
			trItem.append(tdCodigo);
			trItem.append(tdDescricao);
								  
			table.append(trItem);
		}
		
		tdDadosItens.append(table);
		
		tr.append(tdTituloItens);
		tr.append(tdDadosItens);
		
	}
	function atualizarItensBooleanos(itemArray) {
		//ajusta os valores booleanos das colunas 33, 35, 36, 37, 38 e 39
		itemArray[33] = transformStringToBoolean(itemArray[33]);
		itemArray[35] = transformStringToBoolean(itemArray[35]);
		itemArray[36] = transformStringToBoolean(itemArray[36]);
		itemArray[37] = transformStringToBoolean(itemArray[37]);
		itemArray[38] = transformStringToBoolean(itemArray[38]);
		itemArray[39] = transformStringToBoolean(itemArray[39]);
	};
	
	function transformStringToBoolean(value) {
		if (value.constructor.name == 'String')
			return value == 'true';
		else
			return value;
	}
	
	function atualizarListasDesignacaoEdicao(itemArray) {
		var designacaoJson;
		
		try{
			designacaoJson = JSON.parse(itemArray[colunasDesignacao.jSonDesignacao]);
		} catch(e){
			designacaoJson = itemArray[colunasDesignacao.jSonDesignacao];
		}
		
		if (designacaoJson) {
			if (designacaoJson.listaItemConfiguracaoVO) {
				// cria a lista de Itens de Configuração, e adiciona na tela
				for (i = 0; i < designacaoJson.listaItemConfiguracaoVO.length; i++) {
					var item = designacaoJson.listaItemConfiguracaoVO[i],
						rowItem = [item.id, 
						           item.siglaItemConfiguracao,
						           item.tituloItemConfiguracao,
						           item.descrItemConfiguracao, 
						           item.descricaoSimilaridade,
						           "<a class=\"itemConfiguracao_remove\"><img src=\"/siga/css/famfamfam/icons/delete.png\" style=\"visibility: inline; cursor: pointer\" /></a>"];
					
					// Adiciona na tabela de Itens de Configuração
					itemConfiguracaoTable.api().row.add(rowItem).draw();
				}
			}
			
			if (designacaoJson.listaAcaoVO) {
				// cria a lista de ações, e adiciona na tela
				for (i = 0; i < designacaoJson.listaAcaoVO.length; i++) {
					var acao = designacaoJson.listaAcaoVO[i],
						rowAcao = [acao.id,
								   acao.sigla,
						           acao.titulo,
						           "<a class=\"acao_remove\"><img src=\"/siga/css/famfamfam/icons/delete.png\" style=\"visibility: inline; cursor: pointer\" /></a>"];
					
					// Adiciona na tabela de Ações
					acaoTable.api().row.add(rowAcao).draw();
				}
			}
		}
	}
	
	// Limpa os dados da tela.
	function limparDadosDesignacaoModal() {
		itemConfiguracaoTable.api().clear().draw();
		acaoTable.api().clear().draw();
	}
	
	// Alimenta os campos do Popup antes de abrir ao usuário.
	function atualizarDesignacaoModal(itemArray) {
		limparDadosDesignacaoModal();
		atualizarListasDesignacaoEdicao(itemArray);
	};

	
	function validarCamposTela() {
		var idEquipeLotacao = $("#equipelotacao").val(),
			idEquipe = $("#idEquipe").val(),
			idAtendente = $("#atendente").val(),
			idPreAtendente = $("#preAtendente").val(),
			idPosAtendente = $("#posAtendente").val();
		
		if (parametroTela == 'equipe' && idEquipe != '') {
			if (idEquipeLotacao != idAtendente) {
				document.getElementById("atendente_sigla").disabled = true;
				document.getElementById("atendenteButton").disabled = true;
			}
			
			if (idEquipeLotacao != idPreAtendente) {
				document.getElementById("preAtendente_sigla").disabled = true;
				document.getElementById("preAtendenteButton").disabled = true;
			}
			
			if (idEquipeLotacao != idPosAtendente) {
				document.getElementById("posAtendente_sigla").disabled = true;
				document.getElementById("posAtendenteButton").disabled = true;
			}
		}
	}
	
	function findSelectedIndexByValue(comboBox, value) {
		for (var i = 0; i < comboBox.options.length; i++) {
			if (comboBox.options[i].value == value)
				return i;
		}
		
		return 0;
	};
	

	function designacaoModalFechar() {
		isEditing = false;
		$("#designacao_dialog").dialog("close");
		limparDadosDesignacaoModal();
	};
	
	function gravarDesignacao() {
		if (!jQuery("#formDesignacao").valid())
			return;
		
		// recupera as comboboxes
		var jOrgaoUsuarioCbb = document.getElementsByName("orgaoUsuario")[0],
			jOrgaoUsuario = jOrgaoUsuarioCbb.options[jOrgaoUsuarioCbb.selectedIndex],
			jComplexoCbb = document.getElementsByName("complexo")[0],
			jComplexo = jComplexoCbb.options[jComplexoCbb.selectedIndex],
			jPesquisaSatisfacaoCbb = document.getElementsByName("pesquisaSatisfacao")[0],
			jPesquisaSatisfacao = jPesquisaSatisfacaoCbb.options[jPesquisaSatisfacaoCbb.selectedIndex],
			jPessoaLotaFuncCargoCbb = $("#dpPessoalotacaofuncaoConfiancacargocpGrupo")[0],
			jPessoaLotaFuncCargo = jPessoaLotaFuncCargoCbb.options[jPessoaLotaFuncCargoCbb.selectedIndex];
		
		var idDesignacao = $("#idConfiguracao").val() != undefined ? $("#idConfiguracao").val() : '',
			rowSelecionada = opts.designacoesDataTable.api().row('.selected'),
			tdDesignacao = $(rowSelecionada.node()),
			itemSelecionado = rowSelecionada.data(),
			ativo = itemSelecionado ? itemSelecionado[colunasDesignacao.ativo] : true;
		
		var row = [ 
		            // esta primeira coluna é um comboBox que só é renderizado quando há herança de designação 
		            '',
		            '',
		            jOrgaoUsuario.value,
          			jOrgaoUsuario.text, 
          			jComplexo.value,
          			jComplexo.text,
          			jPessoaLotaFuncCargo.value,
          			getIdFieldSolicitante(jPessoaLotaFuncCargo.value).val(),
          			getDescricaoFieldSolicitante(jPessoaLotaFuncCargo.value).val(),
          			getSiglaFieldSolicitante(jPessoaLotaFuncCargo.value).val(),
          			getDescricaoItemConfiguracao(),
          			//$("#acao").val(), // Lista de item de configuração
          			getDescricaoAcao(),
		            //$("#acao_descricao").val(), // Lista de ação
		            getDescricaoAcao(),
          			//$("#acao_sigla").val(), // Lista de ação
		            $("#descrConfiguracao").val(),
          			$("#atendente").val(),
          			$("#atendente_descricao").val(),
          			$("#atendente_sigla").val(),
          			$("#preAtendente").val(),
          			$("#preAtendente_descricao").val(),
          			$("#preAtendente_sigla").val(),
          			$("#posAtendente").val(),
          			$("#posAtendente_descricao").val(),
          			$("#posAtendente_sigla").val(),
          			jPesquisaSatisfacao.value,
          			jPesquisaSatisfacao.text,
          			atualizaDesignacaoJson(),
          			$("#idConfiguracao").val(),
          			// estas duas colunas só devem ser 'true' quando uma designação é herdada (informação vem do java apenas) 
          			'false',
          			'false',
          			// Atualiza as informações das listas da designação
          			getListasAsString(),
					tdDesignacao.find('td.acoes').html(),
          			ativo
		];
		
		// Realiza validação específica caso seja aberto a partir da tela de equipe
		if (parametroTela == 'equipe') {
			var idEquipeLotacao = $("#equipelotacao").val(),
				idAtendente = $("#atendente").val(),
				idPreAtendente = $("#preAtendente").val(),
				idPosAtendente = $("#posAtendente").val();
			
			// só continua caso tenha selecionado um atendente, pré ou pós
			// igual ao da lotação selecionada.
			if (idEquipeLotacao != idAtendente
					&& idEquipeLotacao != idPreAtendente
					&& idEquipeLotacao != idPosAtendente) {
				$("#erroAoSalvar_dialog").dialog("open");
				unblock();
				return;
			}
		}

		$.ajax({
        	type: "POST",
        	url: "@{Application.gravarDesignacao()}",
        	data: serializeDesignacao(row),
        	dataType: "text",
        	success: function(id) {
        		row[colunasDesignacao.idDesignacao] = id;
        		
        		if (isEditing) {
					opts.designacoesDataTable.api().row('.selected').data(row);
				}
				else {
					var desativarButton = '<a class="once" onclick="desativarDesignacao(event, '+id+')" title="Desativar"><img src="/siga/css/famfamfam/icons/delete.png" style="margin-right: 5px;"></a>';
					var duplicarButton = '<a class="once" onclick="duplicarDesignacao(event)" title="Duplicar"><img src="/siga/css/famfamfam/icons/application_double.png" style="margin-right: 5px;"></a>';
					row[colunasDesignacao.reativarDesativar] = desativarButton + " " + duplicarButton;
					opts.designacoesDataTable.api().row.add(row).draw();
				}
        		
        		designacaoModalFechar();

				var a = tdDesignacao.find('td.acoes a');
        		a.unbind('click');
        		a.bind('click', function(event) {
            		if(ativo) {
                		desativarDesignacao(event, id);
               		} else {
                		reativarDesignacao(event, id);
               		}
           		});

        		unblock();
        	},
        	error: function(error) {
        		unblock();
        		var fieldsError = error.responseText.split(";");
        		// limpa as mensagens de erros
        		resetAllErrorMessage();
        		
        		// Mostra a mensagem de campos obrigatórios
        		document.getElementById("erroCamposObrigatorios").style.display="inherit";
        		
        		for (var i = 0; i < fieldsError.length; i++) {
        			var fieldName = fieldsError[i];
        			var fooElement = document.getElementById(fieldName);
        			
        			if (fooElement != undefined)
        				fooElement.style.display = "inline";
        		}

        		unblock();
        	}
       	});
	};
	
	function fecharModalErroAoSalvar() {
		$("#erroAoSalvar_dialog").dialog("close");
	}

	function getDescricaoItemConfiguracao() {
		var amount = itemConfiguracaoTable.fnGetData().length,
			descricao = '';
		
		if (amount > 0) {
			descricao = itemConfiguracaoTable.api().row(0).data()[2];
			
			if (amount > 1)
				descricao = descricao + " ...";
		}
		
		return descricao;
	}
	
	function getDescricaoAcao() {
		var amount = acaoTable.fnGetData().length,
			descricao = '';
	
		if (amount > 0) {
			descricao = acaoTable.api().row(0).data()[2];
			
			if (amount > 1)
				descricao = descricao + " ...";
		}
		
		return descricao;
	}
	
	//Limpa as mensagens de campos obrigatórios.
	function resetAllErrorMessage() {
		document.getElementById("erroCamposObrigatorios").style.display="none";
		document.getElementById("designacao.descrConfiguracao").style.display="none";
		document.getElementById("designacao.itemConfiguracao").style.display="none";
		document.getElementById("designacao.acao").style.display="none";
		document.getElementById("designacao.atendente").style.display="none";
		document.getElementById("designacao.preAtendente").style.display="none";
		document.getElementById("designacao.posAtendente").style.display="none";
		document.getElementById("designacao.equipeQualidade").style.display="none";
	}
	
	function atualizaDesignacaoJson() {
		var listaItemConfiguracaoVO = [],
			listaAcaoVO = [];
    	
    	// Percorre lista de Itens de Configuração
		itemConfiguracaoTable.api().rows().indexes().each(function (i) {
			var rowValues = itemConfiguracaoTable.api().row(i).data();
			
			// valida o item selecionado
			if (rowValues) {
				listaItemConfiguracaoVO.push({
					"id":rowValues[0], 
					"sigla": rowValues[1], 
					"titulo": rowValues[2], 
					"descricao": rowValues[3], 
					"descricaoSimilaridade": rowValues[4]
				});
			}
		});
		
		// Percorre lista de Ações
 		acaoTable.api().rows().indexes().each(function (i) {
 			var rowValues = acaoTable.api().row(i).data();
 			
 			// valida o item selecionado
			if (rowValues) {
				listaAcaoVO.push({
	 				"id": rowValues[0],
	 				"sigla": rowValues[1],
	 				"titulo": rowValues[2]
	 			});
			}
 		});
		
 		var designacaoJson = {
 			"listaItemConfiguracaoVO": listaItemConfiguracaoVO,
 			"listaAcaoVO": listaAcaoVO
 		};
		
 		return designacaoJson;
	}
	
	function getListasAsString() {
		var params = '';
	
		// Percorre lista de Itens de Configuração
		itemConfiguracaoTable.api().rows().indexes().each(function (i) {
			var rowValues = itemConfiguracaoTable.api().row(i).data();
			
			// Atualiza a string serializada
			if (rowValues)
	        	params += '&designacao.itemConfiguracaoSet[' + i + '].idItemConfiguracao=' + rowValues[0];
		});
		
		// Percorre lista de Ações
		acaoTable.api().rows().indexes().each(function (i) {
			var rowValues = acaoTable.api().row(i).data();
			
			// Atualiza a string serializada
			if (rowValues)
				params += '&designacao.acoesSet[' + i + '].idAcao=' + rowValues[0];
		});
		
		return params;
    };
	
	function getIdFieldSolicitante(tipo) {
		if (tipo == 1)
			return $("#dpPessoa");
		else if (tipo == 2)
			return $("#lotacao");
		else if (tipo == 3)
			return $("#funcaoConfianca");
		else if (tipo == 4)
			return $("#cargo");
		else 
			return $("#cpGrupo");
	};
	
	function getDescricaoFieldSolicitante(tipo) {
		if (tipo == 1)
			return $("#dpPessoa_descricao");
		else if (tipo == 2)
			return $("#lotacao_descricao");
		else if (tipo == 3)
			return $("#funcaoConfianca_descricao");
		else if (tipo == 4)
			return $("#cargo_descricao");
		else 
			return $("#cpGrupo_descricao");
	};
	
	function getSiglaFieldSolicitante(tipo) {
		if (tipo == 1)
			return $("#dpPessoa_sigla");
		else if (tipo == 2)
			return $("#lotacao_sigla");
		else if (tipo == 3)
			return $("#funcaoConfianca_sigla");
		else if (tipo == 4)
			return $("#cargo_sigla");
		else 
			return $("#cpGrupo_sigla");
	};
	
	function getSpanFieldSolicitante(tipo) {
		if (tipo == 1)
			return $("#dpPessoaSpan");
		else if (tipo == 2)
			return $("#lotacaoSpan");
		else if (tipo == 3)
			return $("#funcaoConfiancaSpan");
		else if (tipo == 4)
			return $("#cargoSpan");
		else
			return $("#cpGrupoSpan");
	};
	
	function serializeDesignacao(rowValues) {
    	var params = '';
    		
		// valida o item selecionado
		if (rowValues) {
			params += '&designacao.descrConfiguracao=' + rowValues[colunasDesignacao.descrConfiguracao];
			params += '&designacao.orgaoUsuario=' + rowValues[colunasDesignacao.idOrgao];
			params += '&designacao.complexo=' + rowValues[colunasDesignacao.idLocal];
            params += '&designacao.atendente=' + rowValues[colunasDesignacao.idAtendente];
            params += '&designacao.preAtendente=' + rowValues[colunasDesignacao.idPreAtendente];
            params += '&designacao.posAtendente=' + rowValues[colunasDesignacao.idPosAtendente];
            params += '&designacao.equipeQualidade=' + rowValues[colunasDesignacao.idEqQualidade];
			params += '&designacao.pesquisaSatisfacao=' + rowValues[colunasDesignacao.idPesquisaSatisfacao];
			
			if (rowValues[colunasDesignacao.idDesignacao] != '' && rowValues[colunasDesignacao.idDesignacao] != undefined)
				params += '&designacao.idConfiguracao=' + rowValues[colunasDesignacao.idDesignacao];
			
			// atualiza o solicitante
			params += getDadosSolicitante(rowValues, i);
			
			// Item de configuração herdado
			if (rowValues[colunasDesignacao.herdado] == "true") {
				var isTrue = document.getElementById("check"+rowValues[colunasDesignacao.idDesignacao]).checked;
				
				params += '&designacao.utilizarItemHerdado=' + isTrue;
				params += '&designacao.isHerdado=' + rowValues[colunasDesignacao.herdado];
			} 

			// lista da designacao
			params += rowValues[colunasDesignacao.listasSerializadas];
		}
   		
   		return params;
    }
    
    function getDadosSolicitante(rowValues, i) {
    	var params = '';
			if (rowValues[colunasDesignacao.tipoSolicitante] == 1){
              	params += '&designacao.dpPessoa=' + rowValues[colunasDesignacao.idSolicitante];
              	params += '&designacao.lotacao=';
              	params += '&designacao.funcaoConfianca=';
              	params += '&designacao.cargo=';
              	params += '&designacao.cpGrupo=';
			
			// caso seja lotação
			} else if (rowValues[colunasDesignacao.tipoSolicitante] == 2){
				params += '&designacao.lotacao=' + rowValues[colunasDesignacao.idSolicitante];
				params += '&designacao.dpPessoa=';
              	params += '&designacao.funcaoConfianca=';
              	params += '&designacao.cargo=';
              	params += '&designacao.cpGrupo=';

			// caso seja função
			} else if (rowValues[colunasDesignacao.tipoSolicitante] == 3){
				params += '&designacao.funcaoConfianca=' + rowValues[colunasDesignacao.idSolicitante];
				params += '&designacao.dpPessoa=';
              	params += '&designacao.lotacao=';
              	params += '&designacao.cargo=';
              	params += '&designacao.cpGrupo=';
			
			// caso seja cargo
			} else if (rowValues[colunasDesignacao.tipoSolicitante] == 4){
				params += '&designacao.cargo=' + rowValues[colunasDesignacao.idSolicitante];
				params += '&designacao.dpPessoa=';
              	params += '&designacao.funcaoConfianca=';
              	params += '&designacao.lotacao=';
              	params += '&designacao.cpGrupo=';

			// caso seja grupo
			} else if (rowValues[colunasDesignacao.tipoSolicitante] == 5){
				params += '&designacao.cpGrupo=' + rowValues[colunasDesignacao.idSolicitante];
				params += '&designacao.dpPessoa=';
      			params += '&designacao.funcaoConfianca=';
      			params += '&designacao.lotacao=';
      			params += '&designacao.cargo=';
			}
    	
    	return params;
    }

	// Define a "classe" designacaoService
	function DesignacaoService(opts) {
		// super(opts)
		BaseService.call(this, opts);
	}
	// designacaoService extends BaseService
	DesignacaoService.prototype = Object.create(BaseService.prototype);

	var designacaoService = new DesignacaoService(opts);
	// Sobescreve o metodo cadastrar para limpar a tela
	designacaoService.cadastrar = function(title) {
		BaseService.prototype.cadastrar.call(this, title);
	}

	designacaoService.getId = function(designacao) {
		if (designacao)
			return designacao.idConfiguracao;
		else
			return;
	}
	
	designacaoService.getRow = function(designacao) {
		return ['',
		        designacao.orgaoUsuario != null ? designacao.orgaoUsuario.descricao : '', 
				designacao.complexo != null ? designacao.complexo.descricao : '',
				designacao.solicitante,
				designacao.descrConfiguracao,
				designacao.atendente != null ? designacao.atendente.sigla : '',
				designacao.preAtendente != null ? designacao.preAtendente.sigla : '',
				designacao.posAtendente != null ? designacao.posAtendente.sigla : '',
				'COLUNA_ACOES',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				'',
				''];
	}
	
	designacaoService.onRowClick = function(designacao) {
		designacaoService.editar(designacao, 'Alterar designacao');
	}
	/**
	 * Customiza o metodo editar
	 */
	designacaoService.editar = function(obj, title) {
		BaseService.prototype.editar.call(this, obj, title); // super.editar();
	}
	
	designacaoService.gravar = function() {
		if (!isValidForm())
			return false;
		
		var service = this,
		obj = this.getObjetoParaGravar(),
		url = this.opts.urlGravar,
		wrapper = {},
		success = function(objSalvo) {
			if(service.onGravar) {
				service.onGravar(obj, JSON.parse(objSalvo));
			}
			opts.dialogCadastro.dialog("close");
		}
		wrapper[this.opts.objectName] = obj;
		var params = jQuery.param(wrapper) + "&" + getListasAsString();
		
		$.ajax({
	    	type: "POST",
	    	url: url,
	    	data: params,
	    	dataType: "text",
	    	success: success,
	    	error: this.errorHandler
	   	});
	}

	function carregarDesignacoes() {
        var id = 921;
        
    	$.ajax({
        	type: "GET",
        	url: "@{Application.buscarDesignacoesItem()}?id=" + id,
        	dataType: "text",
        	success: function(lista) {
        		var listaJSon = JSON.parse(lista);
        		designacaoService.populateFromJSonList(listaJSon, opts.designacoesDataTable);
        	},
        	error: function(error) {
            	console.log("Falha!");
        	}
       	});
    }

	designacaoService.populateFromJSonList = function(listaJSon, dataTable) {
		for (var i = 0; i < listaJSon.length; i++) {
			var design = listaJSon[i];
 			var duplicarButton = '<a class="once gt-btn-ativar" onclick="duplicarDesignacao(event)" title="Duplicar"><img src="/siga/css/famfamfam/icons/application_double.png" style="margin-right: 5px;"></a>';

			if(designacaoService.onGravar) {
				var tr = designacaoService.onGravar(undefined, design),
					acoes = tr.find('td.acoes');

				if (design.isHerdado == 'true' || design.isHerdado == true)
					$('td', tr).addClass('configuracaoHerdada');
				else
					acoes = acoes.append(duplicarButton);	
			}
		}
	}

	function duplicarDesignacao(event) {
		var tr = $(event.currentTarget).parent().parent();
		event.stopPropagation();
		designacaoService.editar(tr.data('json'), 'Duplicar Designação');
		resetId();
	}

	function resetId() {
		$("#idConfiguracao").val('');
	}
	
</script>