<div class="gt-content">
	<!-- content bomex -->
	<div class="gt-content-box dataTables_div">
		#{if _modoExibicao == 'designacao'}
		<div class="gt-form-row dataTables_length">
			<label>#{checkbox name:'mostrarDesativado',
				value:mostrarDesativado/} <b>Incluir Inativas</b>
			</label>
		</div>
		#{/if}

		<table id="designacoes_table" border="0" class="gt-table display">
			<thead>
				<tr>
					<th style="color: #333">
						<button class="gt-btn-medium gt-btn-left bt-expandir">
							<span id="iconeBotaoExpandirTodos">+</span>
						</button>
					</th>
					<th></th>
					<th>Orgão</th>
					<th>Local</th>
					<th>Solicitante</th>
					<th>Descrição</th>
					<th>Atendente</th>
					<th>Pré</th>
					<th>Pós</th>
					<th>JSon - Designação</th>
					<th>Herdado</th>
					<th>Utilizar Herdado</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				#{list items:_designacoes, as:'design'}
				<tr data-json-id="${design.id}" data-json="${design.toVO().toJson()}" onclick="designacaoService.editar($(this).data('json'), 'Alterar designacao')" 
					style="cursor: pointer;">
					<td class="details-control"></td>
					<td class="checkbox-hidden"
						style="width: 25px !important; padding-left: 5px; padding-right: 5px;">
						<input type="checkbox" checked="${design.utilizarItemHerdado}"
						id="check${design.id}" />
					</td>
					<td>${design.orgaoUsuario?.acronimoOrgaoUsu}</td>
					<td>${design.complexo?.nomeComplexo}</td>
					<td>${design.solicitante?.sigla}</td>
					<td>${design.descrConfiguracao}</td>
					<td>${design.atendente?.lotacaoAtual?.siglaLotacao }</td>
					<td>${design.preAtendente?.lotacaoAtual?.siglaLotacao }</td>
					<td>${design.posAtendente?.lotacaoAtual?.siglaLotacao }</td>
					<td>${design.getSrConfiguracaoJson()}</td>
					<th>${design.isHerdado}</th>
					<th>${design.utilizarItemHerdado}</th>
					<td class="acoes"> 
						#{desativarReativar id:design.id, 
											onReativar:'designacaoService.reativar',
											onDesativar :'designacaoService.desativar',
											isAtivo:design.isAtivo() }
						#{/desativarReativar}
						<a class="once gt-btn-ativar" onclick="duplicarDesignacao(event)" title="Duplicar">
							<img src="/siga/css/famfamfam/icons/application_double.png" style="margin-right: 5px;"> 
						</a>
					</td>
				</tr>
				#{/list}
			</tbody>
		</table>

	</div>
	<!-- /content box -->
	<div class="gt-table-buttons">
		<a onclick="designacaoService.cadastrar('Incluir Designação')" class="gt-btn-medium gt-btn-left">Incluir</a>
		<a href="javascript: carregarDesignacoes()" class="gt-btn-medium gt-btn-left">Carregar</a>
	</div>
</div>

#{modal nome:'designacao', titulo:'Cadastrar Designacao'}
<div id="divEditarDesignacaoItem">#{include
	'Application/editarDesignacaoItem.html' /}</div>
#{/modal} #{modal nome:'erroAoSalvar', titulo:'Problemas ao Salvar',
altura:'200', largura:'450'}
<div id="divProblemaAoSalvar" class="gt-form gt-content-box"
	style="text-align: justify;">
	<label style="padding-top: 5px;">Pelo menos um dos campos
		"Atendente", "Pré-Atendente" ou "Pós-Atendente" precisa
		necessáriamente ser a mesma lotação que foi selecionada na tela de
		equipe. Por favor verifique e tente novamente.</label>
</div>
<div class="gt-form-row" style="margin-left: 297px;">
	<a href="javascript: fecharModalErroAoSalvar()"
		class="gt-btn-medium gt-btn-left">OK</a>
</div>
#{/modal}

<script type="text/javascript">
	var parametroTela = '${_modoExibicao}';

	var colunasDesignacao = {};
	colunasDesignacao.acaoExpandir=					0 ;
	colunasDesignacao.checkBoxHeranca = 			1 ;
	colunasDesignacao.orgao=						2 ;
	colunasDesignacao.local=						3 ;
	colunasDesignacao.solicitante=					4 ;
	colunasDesignacao.descrConfiguracao = 			5 ;
	colunasDesignacao.atendente=					6 ;
	colunasDesignacao.pre=							7 ;
	colunasDesignacao.pos=							8 ;
	colunasDesignacao.jSonDesignacao= 				9 ;
	colunasDesignacao.herdado= 						10;
	colunasDesignacao.utilizarHerdado= 				11;
	colunasDesignacao.reativarDesativar=			12;
	
	jQuery( document ).ready(function($) {
		/* Table initialization */
		opts.designacoesDataTable = $('#designacoes_table')
			.on('draw.dt', function() {
					if(opts.designacoesDataTable) {
						var btn = $('.bt-expandir'),
							expandir = btn.hasClass('expandido');

						$('#designacoes_table').mostrarDetalhes(detalhesDesignacao, opts.designacoesDataTable);
						$('#designacoes_table').expandirContrairLinhas(expandir);
					}
				})
			.dataTable({
			"language": {
				"emptyTable":     "Não existem resultados",
			    "info":           "Mostrando de _START_ a _END_ do total de _TOTAL_ registros",
			    "infoEmpty":      "Mostrando de 0 a 0 do total de 0 registros",
			    "infoFiltered":   "(filtrando do total de _MAX_ registros)",
			    "infoPostFix":    "",
			    "thousands":      ".",
			    "lengthMenu":     "Mostrar _MENU_ registros",
			    "loadingRecords": "Carregando...",
			    "processing":     "Processando...",
			    "search":         "Filtrar:",
			    "zeroRecords":    "Nenhum registro encontrado",
			    "paginate": {
			        "first":      "Primeiro",
			        "last":       "Último",
			        "next":       "Próximo",
			        "previous":   "Anterior"
			    },
			    "aria": {
			        "sortAscending":  ": clique para ordenação crescente",
			        "sortDescending": ": clique para ordenação decrescente"
			    }
			},
			"columnDefs": [{

				"targets": [colunasDesignacao.checkBoxHeranca, 
							colunasDesignacao.jSonDesignacao,  
							colunasDesignacao.herdado, 
							colunasDesignacao.utilizarHerdado],
				"visible": false,
				"searchable": false
			},
			{
				"targets": [0],
				"sortable": false,
				"searchable" : false
			}],
			"fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
				$('td:eq('+colunasDesignacao.acaoExpandir+')', nRow).addClass('details-control');
			},
			"iDisplayLength": 100
		});

		$('#designacoes_table').mostrarDetalhes(detalhesDesignacao, opts.designacoesDataTable);
		
		opts.dataTable = opts.designacoesDataTable;
	});

	var mostrarDesativados = window.QueryString ? QueryString.mostrarDesativados : false,
		opts = {
			 urlDesativar : '@{Application.desativarDesignacao()}?',
			 urlReativar : '@{Application.reativarDesignacao()}?',
			 urlGravar : '@{Application.gravarDesignacao()}?',
			 dialogCadastro : jQuery('#designacao_dialog'),
			 tabelaRegistros : jQuery('#designacoes_table'),
			 objectName : 'designacao',
			 formCadastro : jQuery('#formDesignacao'),
			 mostrarDesativados : mostrarDesativados,
			 colunas : colunasDesignacao.reativarDesativar
		};	

	function detalhesDesignacao(d) {
		var designacao = typeof d[colunasDesignacao.jSonDesignacao] == 'string' ? JSON.parse(d[colunasDesignacao.jSonDesignacao]) : d[colunasDesignacao.jSonDesignacao],
			tr = $('<tr class="detail">'),
			td = $('<td colspan="10">'),
			table  = $('<table>'),
			trDescricao = $('<tr>'),
			tdDescricao = $('<td>'),
			trItens = $('<tr>'),
			trAcoes = $('<tr>'),
			descricao = designacao.descrConfiguracao != undefined ? designacao.descrConfiguracao : '';

		detalheLista("<b>Itens de configuração:</b>", designacao.listaItemConfiguracaoVO, trItens);
		detalheLista("<b>Ações:</b>", designacao.listaAcaoVO, trAcoes);

		tdDescricao.html('<b>Descrição:</b> ' + descricao);
		trDescricao.append(tdDescricao);

		table.append(trDescricao);
		table.append(trItens);
		table.append(trAcoes);
		
		td.append(table);
		tr.append(td);
		return tr;
	}

	function detalheLista(label, listaItemConfiguracaoVO, tr) {
		var tdTituloItens = $('<td colspan="2">' + label + '</td>'),
		    tdDadosItens = $('<td colspan="5">'),
		    table = $('<table>');

	    for(var i = 0; i < listaItemConfiguracaoVO.length; i++) {
		    var itemConfiguracao = listaItemConfiguracaoVO[i],
		    	trItem = $('<tr>'),
		    	tdCodigo = $('<td>'),
		    	tdDescricao = $('<td>');
		
			tdCodigo.html(itemConfiguracao.sigla);
			tdDescricao.html('Descricao ' + itemConfiguracao.titulo);
								  
			trItem.append(tdCodigo);
			trItem.append(tdDescricao);
								  
			table.append(trItem);
		}
		
		tdDadosItens.append(table);
		
		tr.append(tdTituloItens);
		tr.append(tdDadosItens);
		
	}
	
	function atualizarListasDesignacaoEdicao(designacaoJson) {
		// limpar a lista
		limparDadosDesignacaoModal();
		
		if (designacaoJson) {
			if (designacaoJson.listaItemConfiguracaoVO) {
				// cria a lista de Itens de Configuração, e adiciona na tela
				for (i = 0; i < designacaoJson.listaItemConfiguracaoVO.length; i++) {
					var item = designacaoJson.listaItemConfiguracaoVO[i],
						rowItem = [item.id, 
						           item.siglaItemConfiguracao,
						           item.tituloItemConfiguracao,
						           item.descrItemConfiguracao, 
						           item.descricaoSimilaridade,
						           "<a class=\"itemConfiguracao_remove\"><img src=\"/siga/css/famfamfam/icons/delete.png\" style=\"visibility: inline; cursor: pointer\" /></a>"];
					
					// Adiciona na tabela de Itens de Configuração
					itemConfiguracaoTable.api().row.add(rowItem).draw();
				}
			}
			
			if (designacaoJson.listaAcaoVO) {
				// cria a lista de ações, e adiciona na tela
				for (i = 0; i < designacaoJson.listaAcaoVO.length; i++) {
					var acao = designacaoJson.listaAcaoVO[i],
						rowAcao = [acao.id,
								   acao.sigla,
						           acao.titulo,
						           "<a class=\"acao_remove\"><img src=\"/siga/css/famfamfam/icons/delete.png\" style=\"visibility: inline; cursor: pointer\" /></a>"];
					
					// Adiciona na tabela de Ações
					acaoTable.api().row.add(rowAcao).draw();
				}
			}
		}
	}
	
	// Limpa os dados da tela.
	function limparDadosDesignacaoModal() {
		itemConfiguracaoTable.api().clear().draw();
		acaoTable.api().clear().draw();
	}
	
	function designacaoModalFechar() {
		isEditing = false;
		$("#designacao_dialog").dialog("close");
		limparDadosDesignacaoModal();
	};
	
	function fecharModalErroAoSalvar() {
		$("#erroAoSalvar_dialog").dialog("close");
	}

	function getListasAsString() {
		var params = '';
	
		// Percorre lista de Itens de Configuração
		itemConfiguracaoTable.api().rows().indexes().each(function (i) {
			var rowValues = itemConfiguracaoTable.api().row(i).data();
			
			// Atualiza a string serializada
			if (rowValues)
	        	params += '&designacao.itemConfiguracaoSet[' + i + '].idItemConfiguracao=' + rowValues[0];
		});
		
		// Percorre lista de Ações
		acaoTable.api().rows().indexes().each(function (i) {
			var rowValues = acaoTable.api().row(i).data();
			
			// Atualiza a string serializada
			if (rowValues)
				params += '&designacao.acoesSet[' + i + '].idAcao=' + rowValues[0];
		});
		
		return params;
    };
	
	// Define a "classe" designacaoService
	function DesignacaoService(opts) {
		// super(opts)
		BaseService.call(this, opts);
	}
	// designacaoService extends BaseService
	DesignacaoService.prototype = Object.create(BaseService.prototype);

	var designacaoService = new DesignacaoService(opts);
	// Sobescreve o metodo cadastrar para limpar a tela
	designacaoService.cadastrar = function(title) {
		BaseService.prototype.cadastrar.call(this, title);

		// atualiza as listas
		atualizarListasDesignacaoEdicao();
	}

	designacaoService.getId = function(designacao) {
		if (designacao)
			return designacao.idConfiguracao;
		else
			return;
	}
	
	designacaoService.getRow = function(designacao) {
		return ['',
				'',
				designacao.orgaoUsuario != null ? designacao.orgaoUsuario.descricao : '',
				designacao.complexo != null ? designacao.complexo.descricao : '',
				designacao.solicitante,
				designacao.descrConfiguracao,
				designacao.atendente != null ? designacao.atendente.sigla : '',
				designacao.preAtendente != null ? designacao.preAtendente.sigla : '',
				designacao.posAtendente != null ? designacao.posAtendente.sigla : '',
				designacao,
				designacao.isHerdado,
				designacao.utilizarItemHerdado,
				'COLUNA_ACOES'];
	}
	
	designacaoService.onRowClick = function(designacao) {
		designacaoService.editar(designacao, 'Alterar designacao');
	}
	/**
	 * Customiza o metodo editar
	 */
	designacaoService.editar = function(obj, title) {
		BaseService.prototype.editar.call(this, obj, title); // super.editar();

		// atualiza as listas
		atualizarListasDesignacaoEdicao(obj);
	}

	designacaoService.duplicarButton = '<a class="once gt-btn-ativar" onclick="duplicarDesignacao(event)" title="Duplicar"><img src="/siga/css/famfamfam/icons/application_double.png" style="margin-right: 5px;"></a>';
	
	designacaoService.gravar = function() {
		if (!isValidForm())
			return false;
		
		var service = this,
		obj = this.getObjetoParaGravar(),
		url = this.opts.urlGravar,
		wrapper = {},
		success = function(objSalvo) {
			if(service.onGravar) {
				var designacao = JSON.parse(objSalvo),
					tr = service.onGravar(obj, designacao);
				afterGravarDesignacao(tr, designacao);  
			}
			opts.dialogCadastro.dialog("close");
		}
		wrapper[this.opts.objectName] = obj;
		var params = jQuery.param(wrapper) + "&" + getListasAsString();
		
		$.ajax({
	    	type: "POST",
	    	url: url,
	    	data: params,
	    	dataType: "text",
	    	success: success,
	    	error: this.errorHandler
	   	});
	}

	function carregarDesignacoes() {
        var id = 921;
        
    	$.ajax({
        	type: "GET",
        	url: "@{Application.buscarDesignacoesItem()}?id=" + id,
        	dataType: "text",
        	success: function(lista) {
        		var listaJSon = JSON.parse(lista);
        		designacaoService.populateFromJSonList(listaJSon, opts.designacoesDataTable);
        	},
        	error: function(error) {
            	console.log("Falha!");
        	}
       	});
    }

	designacaoService.populateFromJSonList = function(listaJSon, dataTable) {
		for (var i = 0; i < listaJSon.length; i++) {
			var design = listaJSon[i]; 			

			if(designacaoService.onGravar) {
				var tr = designacaoService.onGravar(undefined, design);
				afterGravarDesignacao(tr, design);
			}
		}
	}

	function afterGravarDesignacao(tr, designacao) {
		var acoes = tr.find('td.acoes');

		// tratamentos de herança e botão duplicar
		if (designacao.isHerdado == 'true' || designacao.isHerdado == true)
			$('td', tr).addClass('configuracaoHerdada');
		else
			acoes = acoes.append(designacaoService.duplicarButton);
	}

	function duplicarDesignacao(event) {
		var tr = $(event.currentTarget).parent().parent();
		event.stopPropagation();
		designacaoService.editar(tr.data('json'), 'Duplicar Designação');
		resetId();
	}

	function resetId() {
		$("#idConfiguracao").val('');
	}
	
</script>