<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="/sigasr/public/javascripts/detalhe-tabela.js"></script>

<script type="text/javascript">
		var parametroTela = '${_modoExibicao}';

		var colunas = {};
		colunas.acaoExpandir=					0 ;
		colunas.id = 							1 ;
		colunas.idOrgao=						2 ;
		colunas.orgao=							3 ;
		colunas.idLocal =						4 ;
		colunas.local=							5 ;
		colunas.tipoSolicitante = 				6 ;
		colunas.idSolicitante = 				7 ;
		colunas.descricaoSolicitante = 			8 ;
		colunas.solicitante=					9 ;
		colunas.itemConfiguracao=				10;
		colunas.acao=							11;
		colunas.siglaAcao = 					12;
		colunas.idAtendente = 					13;
		colunas.descricaoAtendente = 			14;
		colunas.atendente=						15;
		colunas.idPreAtendente = 				16;
		colunas.descricaoPreAtendente = 		17;
		colunas.pre=							18;
		colunas.idPosAtendente = 				19;
		colunas.descricaoPosAtendente = 		20;
		colunas.pos=							21;
		colunas.idEqQualidade = 				22;
		colunas.descricaoEqQualidade = 			23;
		colunas.siglaEqQualidade = 				24;
		colunas.idPesquisaSatisfacao = 			25;
		colunas.descricaoPesquisaSatisfacao = 	26;
		colunas.slaPreAtendimento = 			27;
		colunas.idUndMedPre=					28;
		colunas.slaAtendimento = 				29;
		colunas.idUnMedAt	=					30;
		colunas.slaPosAtendimento = 			31;
		colunas.idUnMedPos= 					32;
		colunas.margemSeguranca = 				33;
		colunas.divulgarSLA = 					34;
		colunas.obsSLA =						35;
		colunas.notificaGestor	=				36;
		colunas.notificaSolicitante=			37;
		colunas.notificaCadastrante=			38;
		colunas.notificaInterlocutor=			39;
		colunas.notificaAtendente=				40;
		colunas.jSonDesignacao= 				41;
		colunas.listasPrioridadeHtml= 			42;
		colunas.idDesignacao= 					43;
		colunas.herdado= 						44;
		colunas.utilizarHerdado= 				45;
		colunas.listasSerializadas= 			46;
		colunas.reativarDesativar=				47;
		colunas.ativo=							48;

	
	//removendo a referencia de '$' para o jQuery
	$.noConflict();

	var designacoesTable = null;
	jQuery( document ).ready(function( $ ) {
		/* Table initialization */
		designacoesTable = $('#designacoes_table')
			.on('draw.dt', function() {
					if(designacoesTable) {
						var btn = $('.bt-expandir'),
							expandir = btn.hasClass('expandido');

						$('#designacoes_table').mostrarDetalhes(detalhesDesignacao, designacoesTable);
						$('#designacoes_table').expandirContrairLinhas(expandir);
					}
				})
			.dataTable({
			"language": {
				"emptyTable":     "Não existem resultados",
			    "info":           "Mostrando de _START_ a _END_ do total de _TOTAL_ registros",
			    "infoEmpty":      "Mostrando de 0 a 0 do total de 0 registros",
			    "infoFiltered":   "(filtrando do total de _MAX_ registros)",
			    "infoPostFix":    "",
			    "thousands":      ".",
			    "lengthMenu":     "Mostrar _MENU_ registros",
			    "loadingRecords": "Carregando...",
			    "processing":     "Processando...",
			    "search":         "Filtrar:",
			    "zeroRecords":    "Nenhum registro encontrado",
			    "paginate": {
			        "first":      "Primeiro",
			        "last":       "Último",
			        "next":       "Próximo",
			        "previous":   "Anterior"
			    },
			    "aria": {
			        "sortAscending":  ": clique para ordenação crescente",
			        "sortDescending": ": clique para ordenação decrescente"
			    }
			},
			"columnDefs": [{

				"targets": [colunas.id, 
							colunas.idOrgao, 
							colunas.idLocal, 
							colunas.tipoSolicitante, 
							colunas.idSolicitante, 
							colunas.descricaoSolicitante, 
							colunas.siglaAcao, 
							colunas.idAtendente, 
							colunas.descricaoAtendente, 
							colunas.idPreAtendente, 
							colunas.descricaoPreAtendente, 
							colunas.idPosAtendente, 
							colunas.descricaoPosAtendente, 
							colunas.idEqQualidade, 
							colunas.descricaoEqQualidade, 
							colunas.siglaEqQualidade, 
							colunas.idPesquisaSatisfacao, 
							colunas.descricaoPesquisaSatisfacao, 
							colunas.slaPreAtendimento, 
							colunas.idUndMedPre, 
							colunas.slaAtendimento, 
							colunas.idUnMedAt, 
							colunas.slaPosAtendimento, 
							colunas.idUnMedPos, 
							colunas.margemSeguranca, 
							colunas.divulgarSLA, 
							colunas.obsSLA, 
							colunas.notificaGestor, 
							colunas.notificaSolicitante, 
							colunas.notificaCadastrante, 
							colunas.notificaInterlocutor, 
							colunas.notificaAtendente, 
							colunas.jSonDesignacao, 
							colunas.listasPrioridadeHtml, 
							colunas.idDesignacao, 
							colunas.herdado, 
							colunas.utilizarHerdado, 
							colunas.listasSerializadas,
							colunas.ativo],
				"visible": false,
				"searchable": false
			},
			{
				"targets": [0],
				"sortable": false
				"searchable" : false
			}],
			"fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
				if (aData[posIsHerdado] == 'true') {
					$('td', nRow).addClass('item-desativado');
					$('td:eq(0)', nRow).removeClass('checkbox-hidden');
					if (document.getElementById("check"+aData[posIdDesignacao]))
						document.getElementById("check"+aData[posIdDesignacao]).checked = aData[posListaPrioSerial] == 'true';
				}
			},
			"iDisplayLength": 100
		});

		$('#designacoes_table').mostrarDetalhes(detalhesDesignacao, designacoesTable);
		
		$('#designacoes_table tbody').on('click', 'tr', function () {
			var itemSelecionado = designacoesTable.api().row(this).data();
			
			if (itemSelecionado != undefined) {
				if (!$(this).hasClass('selected') ) {
		            designacoesTable.$('tr.selected').removeClass('selected');
		            $(this).addClass('selected');
		        }

				// só abre o modal caso seja click em alguma designação 'não-herdada'
				if (itemSelecionado[ colunas.herdado] == 'false') {
					atualizarDesignacaoModal(itemSelecionado);
					designacaoModalAbrir(true);
				}
			}
		});
	});
	

	function detalhesDesignacao(d) {
		var designacao = typeof d[colunas.jSonDesignacao] == 'string' ? JSON.parse(d[colunas.jSonDesignacao]) : d[colunas.jSonDesignacao],
				tr = $('<tr class="detail">'),
				td = $('<td colspan="10">');
				table  = $('<table>'),
				trItens = $('<tr>'),
				trAcoes = $('<tr>');

		detalheLista("Itens de configuração:", designacao.listaItemConfiguracaoVO, trItens);
		detalheLista("Ações:", designacao.listaAcaoVO, trAcoes);

		table.append(trItens);
		table.append(trAcoes);
		
		td.append(table);
		tr.append(td);
		return tr;
	}

	function detalheLista(label, listaItemConfiguracaoVO, tr) {
		var tdTituloItens = $('<td colspan="2">' + label + '</td>'),
		    tdDadosItens = $('<td colspan="5">'),
		    table = $('<table>');

	    for(var i = 0; i < listaItemConfiguracaoVO.length; i++) {
		    var itemConfiguracao = listaItemConfiguracaoVO[i],
		    	trItem = $('<tr>'),
		    	tdCodigo = $('<td>'),
		    	tdDescricao = $('<td>');
		
				tdCodigo.html(itemConfiguracao.sigla);
				tdDescricao.html('Descricao ' + itemConfiguracao.titulo);
									  
				trItem.append(tdCodigo);
				trItem.append(tdDescricao);
									  
				table.append(trItem);
		}
		
		tdDadosItens.append(table);
		
		tr.append(tdTituloItens);
		tr.append(tdDadosItens);
		
	}
	function atualizarItensBooleanos(itemArray) {
		//ajusta os valores booleanos das colunas 33, 35, 36, 37, 38 e 39
		itemArray[33] = transformStringToBoolean(itemArray[33]);
		itemArray[35] = transformStringToBoolean(itemArray[35]);
		itemArray[36] = transformStringToBoolean(itemArray[36]);
		itemArray[37] = transformStringToBoolean(itemArray[37]);
		itemArray[38] = transformStringToBoolean(itemArray[38]);
		itemArray[39] = transformStringToBoolean(itemArray[39]);
	};
	
	function transformStringToBoolean(value) {
		if (value.constructor.name == 'String')
			return value == 'true';
		else
			return value;
	}
	
	function atualizarListasDesignacaoEdicao(itemArray) {
		var designacaoJson;
		
		// transforma o valor String em objeto, caso necessário
		// Edson: comentando, pois nao funciona no IE
		try{

			designacaoJson = JSON.parse(itemArray[colunas.jSonDesignacao]);
		} catch(e){

			designacaoJson = itemArray[colunas.jSonDesignacao];
		}
		
		if (designacaoJson) {
			
			if (designacaoJson.listaVO) {
				// cria os itens da lista de prioridade, e adiciona na tela
				for (i = 0; i < designacaoJson.listaVO.length; i++) {
					var lista = designacaoJson.listaVO[i];
					
					$("#listasDesignacao")[0].incluirItem(lista.idLista, lista.nomeLista, lista.idListaConfiguracao);
				}
			}
			
			if (designacaoJson.listaItemConfiguracaoVO) {
				// cria a lista de Itens de Configuração, e adiciona na tela
				for (i = 0; i < designacaoJson.listaItemConfiguracaoVO.length; i++) {
					var item = designacaoJson.listaItemConfiguracaoVO[i],
						rowItem = [item.id, 
						           item.sigla,
						           item.titulo,
						           item.descricao, 
						           item.descricaoSimilaridade,
						           "<a class=\"itemConfiguracao_remove\"><img src=\"/siga/css/famfamfam/icons/delete.png\" style=\"visibility: inline; cursor: pointer\" /></a>"];
					
					// Adiciona na tabela de Itens de Configuração
					itemConfiguracaoTable.api().row.add(rowItem).draw();
				}
			}
			
			if (designacaoJson.listaAcaoVO) {
				// cria a lista de ações, e adiciona na tela
				for (i = 0; i < designacaoJson.listaAcaoVO.length; i++) {
					var acao = designacaoJson.listaAcaoVO[i],
						rowAcao = [acao.id,
						           acao.sigla,
						           acao.titulo,
						           "<a class=\"acao_remove\"><img src=\"/siga/css/famfamfam/icons/delete.png\" style=\"visibility: inline; cursor: pointer\" /></a>"];
					
					// Adiciona na tabela de Ações
					acaoTable.api().row.add(rowAcao).draw();
				}
			}
		}
	}
	
	// Limpa os dados da tela.
	function limparDadosDesignacaoModal() {


		unblock();


		// recupera as comboboxes
		var jOrgaoUsuarioCbb = document.getElementsByName("orgaoUsuario")[0],
		jComplexoCbb = document.getElementsByName("complexo")[0],
		jPesquisaSatisfacaoCbb = document.getElementsByName("pesquisaSatisfacao")[0],
		jUnMedPreAtendimentoCbb = document.getElementsByName("unidadeMedidaPreAtendimento")[0],
		jUnMedAtendimentoCbb = document.getElementsByName("unidadeMedidaAtendimento")[0],
		jUnMedPosAtendimentoCbb = document.getElementsByName("unidadeMedidaPosAtendimento")[0],
		jPessoaLotaFuncCargoCbb = $("#dpPessoalotacaofuncaoConfiancacargocpGrupo")[0];
		
		// resetando os valores das combos
		jOrgaoUsuarioCbb.selectedIndex = 0;
		jComplexoCbb.selectedIndex = 0;
		jPesquisaSatisfacaoCbb.selectedIndex = 0;
		jUnMedPreAtendimentoCbb.selectedIndex = 0;
		jUnMedAtendimentoCbb.selectedIndex = 0;
		jUnMedPosAtendimentoCbb.selectedIndex = 0;
		jPessoaLotaFuncCargoCbb.selectedIndex = 0;
		
		// limpando campos do componente pessoaLotaFuncCargoSelecao
		$("#dpPessoa").val('');
		$("#dpPessoa_descricao").val('');
		$("#dpPessoa_sigla").val('');
		$("#dpPessoaSpan").html('');
		$("#lotacao").val('');
		$("#lotacao_descricao").val('');
		$("#lotacao_sigla").val('');
		$("#lotacaoSpan").html('');
		$("#funcaoConfianca").val('');
		$("#funcaoConfianca_descricao").val('');
		$("#funcaoConfianca_sigla").val('');
		$("#funcaoConfiancaSpan").html('');
		$("#cargo").val('');
		$("#cargo_descricao").val('');
		$("#cargo_sigla").val('');
		$("#cargoSpan").html('');
		$("#cpGrupo").val('');
		$("#cpGrupo_descricao").val('');
		$("#cpGrupo_sigla").val('');
		$("#cpGrupoSpan").html('');
			
		// limpando os valores dos demais campos
		$("#acao").val('');
		$("#acao_descricao").val('');
		$("#acao_sigla").val('');
		$("#acaoSpan").html('');
		$("#atendente").val('');
		$("#atendente_descricao").val('');
		$("#atendente_sigla").val('');
		$("#atendenteSpan").html('');
		$("#preAtendente").val('');
		$("#preAtendente_descricao").val('');
		$("#preAtendente_sigla").val('');
		$("#preAtendenteSpan").html('');
		$("#posAtendente").val('');
		$("#posAtendente_descricao").val('');
		$("#posAtendente_sigla").val('');
		$("#posAtendenteSpan").html('');
		$("#equipeQualidade").val('');
		$("#equipeQualidade_descricao").val('');
		$("#equipeQualidade_sigla").val('');
		$("#equipeQualidadeSpan").html('');
		$("#slaPreAtendimentoQuantidade").val('');
		$("#slaAtendimentoQuantidade").val('');
		$("#slaPosAtendimentoQuantidade").val('');
		$("#margemSeguranca").val('');
		$("#checkdivulgarSLA")[0].checked = false;
		$("#observacaoSLA").val('');
		$("#checknotificarGestor")[0].checked = false;
		$("#checknotificarSolicitante")[0].checked = false;
		$("#checknotificarCadastrante")[0].checked = false;
		$("#checknotificarInterlocutor")[0].checked = false;
		$("#checknotificarAtendente")[0].checked = false;
		$("#idConfiguracao").val('');
		
		itemConfiguracaoTable.api().clear().draw();
		acaoTable.api().clear().draw();
		removerItensListaPrioridade();
		
		// limpa as mensagens de erros
		resetAllErrorMessage();

		// atualiza a visibilidade dos campos
		if (parametroTela == 'equipe') {
			document.getElementById("atendente_sigla").disabled = false;
			document.getElementById("atendenteButton").disabled = false;
			document.getElementById("preAtendente_sigla").disabled = false;
			document.getElementById("preAtendenteButton").disabled = false;
			document.getElementById("posAtendente_sigla").disabled = false;
			document.getElementById("posAtendenteButton").disabled = false;
		}
	}
	
	// Alimenta os campos do Popup antes de abrir ao usuário.
	function atualizarDesignacaoModal(itemArray) {
		limparDadosDesignacaoModal();
		// ajusta os valores das colunas antes de abrir a tela
		atualizarItensBooleanos(itemArray);
		
		// recupera as comboboxes
		var jOrgaoUsuarioCbb = document.getElementsByName("orgaoUsuario")[0],
		jComplexoCbb = document.getElementsByName("complexo")[0],
		jPesquisaSatisfacaoCbb = document.getElementsByName("pesquisaSatisfacao")[0],
		jUnMedPreAtendimentoCbb = document.getElementsByName("unidadeMedidaPreAtendimento")[0],
		jUnMedAtendimentoCbb = document.getElementsByName("unidadeMedidaAtendimento")[0],
		jUnMedPosAtendimentoCbb = document.getElementsByName("unidadeMedidaPosAtendimento")[0],
		jPessoaLotaFuncCargoCbb = $("#dpPessoalotacaofuncaoConfiancacargocpGrupo")[0];
		
		// atualiza os valores das combos
		jOrgaoUsuarioCbb.selectedIndex = findSelectedIndexByValue(jOrgaoUsuarioCbb, itemArray[colunas.idOrgao]);
		jComplexoCbb.selectedIndex = findSelectedIndexByValue(jComplexoCbb, itemArray[colunas.idLocal]);
		jPessoaLotaFuncCargoCbb.selectedIndex = findSelectedIndexByValue(jPessoaLotaFuncCargoCbb, itemArray[colunas.tipoSolicitante]);
		jPesquisaSatisfacaoCbb.selectedIndex = findSelectedIndexByValue(jPesquisaSatisfacaoCbb, itemArray[colunas.idPesquisaSatisfacao]);
		jUnMedPreAtendimentoCbb.selectedIndex = findSelectedIndexByValue(jUnMedPreAtendimentoCbb, itemArray[colunas.idUndMedPre]);
		jUnMedAtendimentoCbb.selectedIndex = findSelectedIndexByValue(jUnMedAtendimentoCbb, itemArray[colunas.idUnMedAt]);
		jUnMedPosAtendimentoCbb.selectedIndex = findSelectedIndexByValue(jUnMedPosAtendimentoCbb, itemArray[colunas.idUnMedPos]);
		
		// atualiza os valores dos demais campos
		$("#acao").val(itemArray[colunas.itemConfiguracao]);
		$("#acao_descricao").val(itemArray[colunas.acao]);
		$("#acao_sigla").val(itemArray[colunas.siglaAcao]);
		$("#acaoSpan").html(itemArray[colunas.acao]);
		$("#atendente").val(itemArray[colunas.idAtendente]);
		$("#atendente_descricao").val(itemArray[colunas.descricaoAtendente]);
		$("#atendente_sigla").val(itemArray[colunas.atendente]);
		$("#atendenteSpan").html(itemArray[colunas.descricaoAtendente]);
		$("#preAtendente").val(itemArray[colunas.idPreAtendente]);
		$("#preAtendente_descricao").val(itemArray[colunas.descricaoPreAtendente]);
		$("#preAtendente_sigla").val(itemArray[colunas.pre]);
		$("#preAtendenteSpan").html(itemArray[colunas.descricaoPreAtendente]);
		$("#posAtendente").val(itemArray[colunas.idPosAtendente]);
		$("#posAtendente_descricao").val(itemArray[colunas.descricaoPosAtendente]);
		$("#posAtendente_sigla").val(itemArray[colunas.pos]);
		$("#posAtendenteSpan").html(itemArray[colunas.descricaoPosAtendente]);
		$("#equipeQualidade").val(itemArray[colunas.idEqQualidade]);
		$("#equipeQualidade_descricao").val(itemArray[colunas.descricaoEqQualidade]);
		$("#equipeQualidade_sigla").val(itemArray[colunas.descricaoEqQualidade]);
		$("#equipeQualidadeSpan").html(itemArray[colunas.descricaoEqQualidade]);
		$("#slaPreAtendimentoQuantidade").val(itemArray[colunas.slaPreAtendimento]);
		$("#slaAtendimentoQuantidade").val(itemArray[colunas.slaAtendimento]);
		$("#slaPosAtendimentoQuantidade").val(itemArray[colunas.slaPosAtendimento]);
		$("#margemSeguranca").val(itemArray[colunas.margemSeguranca]);
		$("#checkdivulgarSLA")[0].checked = itemArray[colunas.divulgarSLA];
		$("#observacaoSLA").val(itemArray[colunas.obsSLA]);
		$("#checknotificarGestor")[0].checked = itemArray[colunas.notificaGestor];
		$("#checknotificarSolicitante")[0].checked = itemArray[colunas.notificaSolicitante];
		$("#checknotificarCadastrante")[0].checked = itemArray[colunas.notificaCadastrante];
		$("#checknotificarInterlocutor")[0].checked = itemArray[colunas.notificaInterlocutor];
		$("#checknotificarAtendente")[0].checked = itemArray[colunas.notificaAtendente];
		$("#idConfiguracao").val(itemArray[colunas.idDesignacao]);
		
		atualizarListasDesignacaoEdicao(itemArray);
		
		// atualiza os valores do componente pessoaLotaFuncCargoSelecao
		getIdFieldSolicitante(itemArray[colunas.tipoSolicitante]).val(itemArray[colunas.idSolicitante]);
		getDescricaoFieldSolicitante(itemArray[colunas.tipoSolicitante]).val(itemArray[colunas.descricaoSolicitante]);
        getSiglaFieldSolicitante(itemArray[colunas.tipoSolicitante]).val(itemArray[colunas.solicitante]);
        getSpanFieldSolicitante(itemArray[colunas.tipoSolicitante]).html(itemArray[colunas.descricaoSolicitante]);
        
        $("#dpPessoalotacaofuncaoConfiancacargocpGrupo")[0].onchange();

		validarCamposTela();

	};

	
	function validarCamposTela() {
		var idEquipeLotacao = $("#equipelotacao").val(),
			idEquipe = $("#idEquipe").val(),
			idAtendente = $("#atendente").val(),
			idPreAtendente = $("#preAtendente").val(),
			idPosAtendente = $("#posAtendente").val();
		
		if (parametroTela == 'equipe' && idEquipe != '') {
			if (idEquipeLotacao != idAtendente) {
				document.getElementById("atendente_sigla").disabled = true;
				document.getElementById("atendenteButton").disabled = true;
			}
			
			if (idEquipeLotacao != idPreAtendente) {
				document.getElementById("preAtendente_sigla").disabled = true;
				document.getElementById("preAtendenteButton").disabled = true;
			}
			
			if (idEquipeLotacao != idPosAtendente) {
				document.getElementById("posAtendente_sigla").disabled = true;
				document.getElementById("posAtendenteButton").disabled = true;
			}
		}
	}
	
	function findSelectedIndexByValue(comboBox, value) {
		for (var i = 0; i < comboBox.options.length; i++) {
			if (comboBox.options[i].value == value)
				return i;
		}
		
		return 0;
	};
	
	function inserirDesignacao() {
		limparDadosDesignacaoModal();
		designacaoModalAbrir(false);
	}
	
	function designacaoModalAbrir(isEdicao) {
		isEditing = isEdicao;
		
		if (isEdicao)
			$("#designacao_dialog").dialog('option', 'title', 'Alterar Designação');
		else
			$("#designacao_dialog").dialog('option', 'title', 'Incluir Designação');
		
		$("#designacao_dialog").dialog('open');
	}
	
	$("#designacao_dialog").dialog({
	    autoOpen: false,
	    height: 'auto',
	    width: 'auto',
	    modal: true,
	    resizable: false
	});
	
	function designacaoModalFechar() {
		isEditing = false;
		$("#designacao_dialog").dialog("close");
		limparDadosDesignacaoModal();
	};
	
	function gravarDesignacao() {
		// recupera as comboboxes
		var jOrgaoUsuarioCbb = document.getElementsByName("orgaoUsuario")[0],
			jOrgaoUsuario = jOrgaoUsuarioCbb.options[jOrgaoUsuarioCbb.selectedIndex],
			jComplexoCbb = document.getElementsByName("complexo")[0],
			jComplexo = jComplexoCbb.options[jComplexoCbb.selectedIndex],
			jPesquisaSatisfacaoCbb = document.getElementsByName("pesquisaSatisfacao")[0],
			jPesquisaSatisfacao = jPesquisaSatisfacaoCbb.options[jPesquisaSatisfacaoCbb.selectedIndex],
			jUnMedPreAtendimentoCbb = document.getElementsByName("unidadeMedidaPreAtendimento")[0],
			jUnMedPreAtendimento = jUnMedPreAtendimentoCbb.options[jUnMedPreAtendimentoCbb.selectedIndex],
			jUnMedAtendimentoCbb = document.getElementsByName("unidadeMedidaAtendimento")[0],
			jUnMedAtendimento = jUnMedAtendimentoCbb.options[jUnMedAtendimentoCbb.selectedIndex]
			jUnMedPosAtendimentoCbb = document.getElementsByName("unidadeMedidaPosAtendimento")[0],
			jUnMedPosAtendimento = jUnMedPosAtendimentoCbb.options[jUnMedPosAtendimentoCbb.selectedIndex],
			jPessoaLotaFuncCargoCbb = $("#dpPessoalotacaofuncaoConfiancacargocpGrupo")[0],
			jPessoaLotaFuncCargo = jPessoaLotaFuncCargoCbb.options[jPessoaLotaFuncCargoCbb.selectedIndex];
		
		
		
		var idDesignacao = $("#idConfiguracao").val() != undefined ? $("#idConfiguracao").val() : '',
			rowSelecionada = designacoesTable.api().row('.selected'),
			tdDesignacao = $(rowSelecionada.node()),
			itemSelecionado = rowSelecionada.data(),
			ativo = itemSelecionado ? itemSelecionado[colunas.ativo] : true;
		
		var row = [ 

		            // esta primeira coluna é um comboBox que só é renderizado quando há herança de designação 
		            '',
		            
		            jOrgaoUsuario.value,
          			jOrgaoUsuario.text, 
          			jComplexo.value,
          			jComplexo.text,
          			jPessoaLotaFuncCargo.value,
          			getIdFieldSolicitante(jPessoaLotaFuncCargo.value).val(),
          			getDescricaoFieldSolicitante(jPessoaLotaFuncCargo.value).val(),
          			getSiglaFieldSolicitante(jPessoaLotaFuncCargo.value).val(),
          			getDescricaoItemConfiguracao(),
          			//$("#acao").val(), // Lista de item de configuração
          			getDescricaoAcao(),
		            //$("#acao_descricao").val(), // Lista de ação
		            getDescricaoAcao(),
          			//$("#acao_sigla").val(), // Lista de ação
          			$("#atendente").val(),
          			$("#atendente_descricao").val(),
          			$("#atendente_sigla").val(),
          			$("#preAtendente").val(),
          			$("#preAtendente_descricao").val(),
          			$("#preAtendente_sigla").val(),
          			$("#posAtendente").val(),
          			$("#posAtendente_descricao").val(),
          			$("#posAtendente_sigla").val(),
          			$("#equipeQualidade").val(),
          			$("#equipeQualidade_descricao").val(),
          			$("#equipeQualidade_sigla").val(),
          			jPesquisaSatisfacao.value,
          			jPesquisaSatisfacao.text,
          			$("#slaPreAtendimentoQuantidade").val(),
          			jUnMedPreAtendimento.value,
          			$("#slaAtendimentoQuantidade").val(),
          			jUnMedAtendimento.value,
          			$("#slaPosAtendimentoQuantidade").val(),
          			jUnMedPosAtendimento.value,
          			$("#margemSeguranca").val(),
          			$("#checkdivulgarSLA")[0].checked,
          			$("#observacaoSLA").val(),
          			$("#checknotificarGestor")[0].checked,
          			$("#checknotificarSolicitante")[0].checked,
          			$("#checknotificarCadastrante")[0].checked,
          			$("#checknotificarInterlocutor")[0].checked,
          			$("#checknotificarAtendente")[0].checked,
          			atualizaDesignacaoJson(),
          			$("#listasDesignacao").find("li"),
          			$("#idConfiguracao").val(),
          			
          			// estas duas colunas só devem ser 'true' quando uma designação é herdada (informação vem do java apenas) 
          			'false',
          			'false',
          			
          			// Atualiza as informações das listas da designação
          			getListasAsString()
					tdDesignacao.find('td.acoes').html(),
          			ativo
		];
		
		// Realiza validação específica caso seja aberto a partir da tela de equipe
		if (parametroTela == 'equipe') {
			var idEquipeLotacao = $("#equipelotacao").val(),
				idAtendente = $("#atendente").val(),
				idPreAtendente = $("#preAtendente").val(),
				idPosAtendente = $("#posAtendente").val();
			
			// só continua caso tenha selecionado um atendente, pré ou pós
			// igual ao da lotação selecionada.
			if (idEquipeLotacao != idAtendente
					&& idEquipeLotacao != idPreAtendente
					&& idEquipeLotacao != idPosAtendente) {
				$("#erroAoSalvar_dialog").dialog("open");
				return;
			}
		}

		$.ajax({
        	type: "POST",
        	url: "@{Application.gravarDesignacao()}",
        	data: serializeDesignacao(row),
        	dataType: "text",
        	success: function(id) {
			
        		row[colunas.idDesignacao] = id;
        		
        		if (isEditing) {
					designacoesTable.api().row('.selected').data(row);
				}
				else {
					designacoesTable.api().row.add(row).draw();
				}
        		
        		designacaoModalFechar();

				var a = tdDesignacao.find('td.acoes a');
        		a.unbind('click');
        		a.bind('click', function(event) {
            		if(ativo) {
                		desativarDesignacao(event, id);
               		} else {
                		reativarDesignacao(event, id);
               		}
           		});
        	},
        	error: function(error) {
        		unblock();
        		var fieldsError = error.responseText.split(";");
        		// limpa as mensagens de erros
        		resetAllErrorMessage();
        		
        		// Mostra a mensagem de campos obrigatórios
        		document.getElementById("erroCamposObrigatorios").style.display="inherit";
        		
        		for (var i = 0; i < fieldsError.length; i++) {
        			var fieldName = fieldsError[i];
        			var fooElement = document.getElementById(fieldName);
        			
        			if (fooElement != undefined)
        				fooElement.style.display = "inline";
        		}
        	}
       	});
	};
	
	function fecharModalErroAoSalvar() {
		$("#erroAoSalvar_dialog").dialog("close");
	}

	function getDescricaoItemConfiguracao() {
		var amount = itemConfiguracaoTable.fnGetData().length,
			descricao = '';
		
		if (amount > 0) {
			descricao = itemConfiguracaoTable.api().row(0).data()[2];
			
			if (amount > 1)
				descricao = descricao + " ...";
		}
		
		return descricao;
	}
	
	function getDescricaoAcao() {
		var amount = acaoTable.fnGetData().length,
			descricao = '';
	
		if (amount > 0) {
			descricao = acaoTable.api().row(0).data()[2];
			
			if (amount > 1)
				descricao = descricao + " ...";
		}
		
		return descricao;
	}
	
	//Limpa as mensagens de campos obrigatórios.
	function resetAllErrorMessage() {
		document.getElementById("erroCamposObrigatorios").style.display="none";
		document.getElementById("designacao.itemConfiguracao").style.display="none";
		document.getElementById("designacao.acao").style.display="none";
		document.getElementById("designacao.atendente").style.display="none";
		document.getElementById("designacao.preAtendente").style.display="none";
		document.getElementById("designacao.posAtendente").style.display="none";
		document.getElementById("designacao.equipeQualidade").style.display="none";
	}
	
	function atualizaDesignacaoJson() {
		var listaVO = [],
			listaItemConfiguracaoVO = [],
			listaAcaoVO = [];
    	
		// Percorre listas de prioridade
    	$("#listasDesignacao").find("li").each(function(i){
            var jDivs=$(this).find("span");
            listaVO.push({
            	"idLista": jDivs[1].id,
            	"idListaConfiguracao": "",
            	"nomeLista": jDivs[1].innerText
            });
        });
    	
    	// Percorre lista de Itens de Configuração
		itemConfiguracaoTable.api().rows().indexes().each(function (i) {
			var rowValues = itemConfiguracaoTable.api().row(i).data();
			
			// valida o item selecionado
			if (rowValues) {
				listaItemConfiguracaoVO.push({
					"id":rowValues[0], 
					"sigla": rowValues[1], 
					"titulo": rowValues[2], 
					"descricao": rowValues[3], 
					"descricaoSimilaridade": rowValues[4]
				});
			}
		});
		
		// Percorre lista de Ações
 		acaoTable.api().rows().indexes().each(function (i) {
 			var rowValues = acaoTable.api().row(i).data();
 			
 			// valida o item selecionado
			if (rowValues) {
				listaAcaoVO.push({
	 				"id": rowValues[0],
	 				"sigla": rowValues[1],
	 				"titulo": rowValues[2]
	 			});
			}
 		});
		
 		var designacaoJson = {
 			"listaItemConfiguracaoVO": listaItemConfiguracaoVO,
 			"listaVO": listaVO, 
 			"listaAcaoVO": listaAcaoVO
 		};
		
 		return designacaoJson;
	}
	
	function getListasAsString() {
		var params = '';
	
		// Percorre listas de prioridade
		$("#listasDesignacao").find("li").each(function(i){
	        var jDivs=$(this).find("span");
	        
	        // Atualiza a string serializada
	        params += '&designacao.listaConfiguracaoSet[' + i + '].idLista=' + jDivs[1].id;
	    });
		
		// Percorre lista de Itens de Configuração
		itemConfiguracaoTable.api().rows().indexes().each(function (i) {
			var rowValues = itemConfiguracaoTable.api().row(i).data();
			
			// Atualiza a string serializada
			if (rowValues)
	        	params += '&designacao.itemConfiguracaoSet[' + i + '].idItemConfiguracao=' + rowValues[0];
		});
		
		// Percorre lista de Ações
		acaoTable.api().rows().indexes().each(function (i) {
			var rowValues = acaoTable.api().row(i).data();
			
			// Atualiza a string serializada
			if (rowValues)
				params += '&designacao.acoesSet[' + i + '].idAcao=' + rowValues[0];
		});
		
		return params;
    };
    
    function removerItensListaPrioridade() {
    	$("#listasDesignacao").find("li").each(function(i){
            this.remove();
            $("#listasDesignacao")[0]["index"]--;
        });
    };
	
	function getIdFieldSolicitante(tipo) {
		if (tipo == 1)
			return $("#dpPessoa");
		else if (tipo == 2)
			return $("#lotacao");
		else if (tipo == 3)
			return $("#funcaoConfianca");
		else if (tipo == 4)

			return $("#cargo");
		else 
			return $("#cpGrupo");
	};
	
	function getDescricaoFieldSolicitante(tipo) {
		if (tipo == 1)
			return $("#dpPessoa_descricao");
		else if (tipo == 2)
			return $("#lotacao_descricao");
		else if (tipo == 3)
			return $("#funcaoConfianca_descricao");
		else if (tipo == 4)

			return $("#cargo_descricao");
		else 
			return $("#cpGrupo_descricao");
	};
	
	function getSiglaFieldSolicitante(tipo) {
		if (tipo == 1)
			return $("#dpPessoa_sigla");
		else if (tipo == 2)
			return $("#lotacao_sigla");
		else if (tipo == 3)
			return $("#funcaoConfianca_sigla");
		else if (tipo == 4)

			return $("#cargo_sigla");
		else 
			return $("#cpGrupo_sigla");
	};
	
	function getSpanFieldSolicitante(tipo) {
		if (tipo == 1)
			return $("#dpPessoaSpan");
		else if (tipo == 2)
			return $("#lotacaoSpan");
		else if (tipo == 3)
			return $("#funcaoConfiancaSpan");
		else if (tipo == 4)
			return $("#cargoSpan");
		else
			return $("#cpGrupoSpan");

	};
	
	function serializeDesignacao(rowValues) {
    	var params = '';
    		
		// valida o item selecionado
		if (rowValues) {
			
			
			
			//if (rowValues[colunas.idOrgao] != '' && rowValues[colunas.idOrgao] > 0)
				params += '&designacao.orgaoUsuario=' + rowValues[colunas.idOrgao];
			
			//if (rowValues[colunas.idLocal] != '' && rowValues[colunas.idLocal] > 0)
				params += '&designacao.complexo=' + rowValues[colunas.idLocal];
			
			//if (rowValues[colunas.idAtendente] != '')
	            params += '&designacao.atendente=' + rowValues[colunas.idAtendente];
			
			//if (rowValues[colunas.idPreAtendente] != '')
	            params += '&designacao.preAtendente=' + rowValues[colunas.idPreAtendente];
			
			//if (rowValues[colunas.idPosAtendente] != '')
	            params += '&designacao.posAtendente=' + rowValues[colunas.idPosAtendente];
			
			//if (rowValues[colunas.idEqQualidade] != '')
	            params += '&designacao.equipeQualidade=' + rowValues[colunas.idEqQualidade];
			
			//if (rowValues[colunas.idPesquisaSatisfacao] != '' && rowValues[colunas.idPesquisaSatisfacao] > 0)
				params += '&designacao.pesquisaSatisfacao=' + rowValues[colunas.idPesquisaSatisfacao];
			
			if (rowValues[colunas.slaPreAtendimento] != '')
				params += '&designacao.slaPreAtendimentoQuantidade=' + rowValues[colunas.slaPreAtendimento];
			
			if (rowValues[colunas.idUndMedPre] != '' && rowValues[colunas.idUndMedPre] > 0)
				params += '&designacao.unidadeMedidaPreAtendimento=' + rowValues[colunas.idUndMedPre];
			
			if (rowValues[colunas.slaAtendimento] != '')
				params += '&designacao.slaAtendimentoQuantidade=' + rowValues[colunas.slaAtendimento];
			
			if (rowValues[colunas.idUnMedAt] != '' && rowValues[colunas.idUnMedAt] > 0)
				params += '&designacao.unidadeMedidaAtendimento=' + rowValues[colunas.idUnMedAt];
			
			if (rowValues[colunas.slaPosAtendimento] != '')
				params += '&designacao.slaPosAtendimentoQuantidade=' + rowValues[colunas.slaPosAtendimento];
			
			if (rowValues[colunas.idUnMedPos] != '' && rowValues[colunas.idUnMedPos] > 0)
				params += '&designacao.unidadeMedidaPosAtendimento=' + rowValues[colunas.idUnMedPos];
			
			if (rowValues[colunas.margemSeguranca] != '')
				params += '&designacao.margemSeguranca=' + rowValues[colunas.margemSeguranca];
			
			if (rowValues[colunas.obsSLA] != '')
				params += '&designacao.observacaoSLA=' + rowValues[colunas.obsSLA];
			
			if (rowValues[colunas.idDesignacao] != '' && rowValues[colunas.idDesignacao] != undefined)
				params += '&designacao.idConfiguracao=' + rowValues[colunas.idDesignacao];
			
			// atualiza o solicitante
			params += getDadosSolicitante(rowValues, i);
			
			// Valores Booleanos
			params += '&designacao.divulgarSLA=' + rowValues[colunas.divulgarSLA];
			params += '&designacao.notificarGestor=' + rowValues[colunas.notificaGestor];
			params += '&designacao.notificarSolicitante=' + rowValues[colunas.notificaSolicitante];
			params += '&designacao.notificarCadastrante=' + rowValues[colunas.notificaCadastrante];
			params += '&designacao.notificarInterlocutor=' + rowValues[colunas.notificaInterlocutor];
			params += '&designacao.notificarAtendente=' + rowValues[colunas.notificaAtendente];
			
			// Item de configuração herdado
			if (rowValues[colunas.herdado] == "true") {
				var isTrue = document.getElementById("check"+rowValues[colunas.idDesignacao]).checked;
				
				params += '&designacao.utilizarItemHerdado=' + isTrue;
				params += '&designacao.isHerdado=' + rowValues[colunas.herdado];
			} 
			
			// lista da designacao
			params += rowValues[colunas.listasSerializadas];
		}
   		
   		return params;
    }
    
    function getDadosSolicitante(rowValues, i) {
    	var params = '';
    	
    	
		
		
			if (rowValues[colunas.tipoSolicitante] == 1){
              	params += '&designacao.dpPessoa=' + rowValues[6];
              	params += '&designacao.lotacao=';
              	params += '&designacao.funcaoConfianca=';
              	params += '&designacao.cargo=';
              	params += '&designacao.cpGrupo=';

			
			// caso seja lotação
			} else if (rowValues[colunas.tipoSolicitante] == 2){
				params += '&designacao.lotacao=' + rowValues[6];
				params += '&designacao.dpPessoa=';
              	params += '&designacao.funcaoConfianca=';
              	params += '&designacao.cargo=';
              	params += '&designacao.cpGrupo=';

			
			// caso seja função
			} else if (rowValues[colunas.tipoSolicitante] == 3){
				params += '&designacao.funcaoConfianca=' + rowValues[6];
				params += '&designacao.dpPessoa=';
              	params += '&designacao.lotacao=';
              	params += '&designacao.cargo=';
              	params += '&designacao.cpGrupo=';

			
			// caso seja cargo
			} else if (rowValues[colunas.tipoSolicitante] == 4){
				params += '&designacao.cargo=' + rowValues[6];
				params += '&designacao.dpPessoa=';
              	params += '&designacao.funcaoConfianca=';
              	params += '&designacao.lotacao=';
              	params += '&designacao.cpGrupo=';

			// caso seja grupo
			} else if (rowValues[colunas.tipoSolicitante] == 5){
				params += '&designacao.cpGrupo=' + rowValues[6];
				params += '&designacao.dpPessoa=';
      			params += '&designacao.funcaoConfianca=';
      			params += '&designacao.lotacao=';
      			params += '&designacao.cargo=';
			}
    	//}
    	
    	return params;
    }


	function desativarDesignacao(event, idOriginal) {
		var tr = $(event.currentTarget).parent().parent();
		event.stopPropagation();
		var mostrarDesativados = window.QueryString ? QueryString.mostrarDesativados : false;
		
		$.ajax({
        	type: "POST",
        	url: '@{Application.desativarDesignacao()}?' + queryDesativarReativar(idOriginal, mostrarDesativados),
        	data: '',
        	dataType: "text",
        	success: function(id) {
        		var itemSelecionado = designacoesTable.api().row(tr).data();
        		itemSelecionado[colunas.idDesignacao] = id;
        		itemSelecionado[colunas.ativo] = false;
        		
        		designacoesTable.api().row(tr).data(itemSelecionado);
        		
            	if(!mostrarDesativados) {
            		tr.remove();
               	} else {
                   	var td = tr.find('td.acoes'),
                   		a = $('<a class="once" title="Reativar"/>'),
                   		img = $('<img src="/siga/css/famfamfam/icons/tick.png" style="margin-right: 5px;">');
                   		
                   		a.bind('click', function(event) {
                   			reativarDesignacao(event, id);
                     	});
                   		td.html('');
                   		a.append(img);
                     	td.append(a);
               	}
        	},
        	error: function(error) {
        		var fieldsError = error.responseText.split(";");
        		// limpa as mensagens de erros
        		resetAllErrorMessage();
        		
        		// Mostra a mensagem de campos obrigatórios
        		document.getElementById("erroCamposObrigatorios").style.display="inherit";
        		
        		for (var i = 0; i < fieldsError.length; i++) {
        			var fieldName = fieldsError[i];
        			var fooElement = document.getElementById(fieldName);
        			
        			if (fooElement != undefined)
        				fooElement.style.display = "inline";
        		}
        	}
       	});
	}

	function reativarDesignacao(event, idOriginal) {
		var tr = $(event.currentTarget).parent().parent();
		event.stopPropagation();
		var mostrarDesativados = window.QueryString ? QueryString.mostrarDesativados : false;

		$.ajax({
        	type: "POST",
        	url: '@{Application.reativarDesignacao()}?' + queryDesativarReativar(idOriginal, mostrarDesativados),
        	data: '',
        	dataType: "text",
        	success: function(id) {
        		var itemSelecionado = designacoesTable.api().row(tr).data();
        		itemSelecionado[colunas.idDesignacao] = id;
        		itemSelecionado[colunas.ativo] = true;
        		
        		designacoesTable.api().row(tr).data(itemSelecionado);
        		
            	if(!mostrarDesativados) {
            		tr.remove();
               	} else {
                   	var td = tr.find('td.acoes'),
                   		a = $('<a class="once" title="Desativar"/>'),
                   		img = $('<img src="/siga/css/famfamfam/icons/delete.png" style="margin-right: 5px;">');
               		
                   		a.bind('click', function(event) {
                   			desativarDesignacao(event, id);
                     	});
                   		td.html('');
                   		a.append(img);
                     	td.append(a);
               	}
        	},
        	error: function(error) {
        		var fieldsError = error.responseText.split(";");
        		// limpa as mensagens de erros
        		resetAllErrorMessage();
        		
        		// Mostra a mensagem de campos obrigatórios
        		document.getElementById("erroCamposObrigatorios").style.display="inherit";
        		
        		for (var i = 0; i < fieldsError.length; i++) {
        			var fieldName = fieldsError[i];
        			var fooElement = document.getElementById(fieldName);
        			
        			if (fooElement != undefined)
        				fooElement.style.display = "inline";
        		}
        	}
       	});
	}
	
</script>

<div class="gt-content">
	<h2>Designações</h2>
	<!-- content bomex -->
	<div class="gt-content-box dataTables_div">
		#{if _modoExibicao == 'designacao'}
			<div class="gt-form-row dataTables_length">
				<label>#{checkbox name:'mostrarDesativado', value:mostrarDesativado/} <b>Incluir Inativas</b></label>
			</div>
		#{/if}
		
		<table id="designacoes_table" border="0" class="gt-table display">
			<thead>
				<tr>
					<th style="color: #333">
						<button class="gt-btn-medium gt-btn-left bt-expandir">
							<span id="iconeBotaoExpandirTodos">+</span>
						</button>
					</th>
					<th></th>
					<th>ID Orgão</th>
					<th>Orgão</th>
					<th>ID Local</th>
					<th>Local</th>
					<th>Tipo Solicitante</th>
					<th>ID Solicitante</th>
					<th>Descr. Solicitante</th>
					<th>Solicitante</th>
					<th>Item Configuração</th>
					<th>Ação</th>
					<th>Sigla Ação</th>
					<th>ID Atendente</th>
					<th>Descr. Atendente</th>
					<th>Atendente</th>
					<th>ID Pré-Atendente</th>
					<th>Descr. Pré-Atendente</th>
					<th>Pré</th>
					<th>ID Pós-Atendente</th>
					<th>Descr. Pós-Atendente</th>
					<th>Pós</th>
					<th>ID Eq. Qualidade</th>
					<th>Descr. Eq. Qualidade</th>
					<th>Sigla Eq. Qualidade</th>
					<th>ID Pesq. Satisfação</th>
					<th>Descr. Pesq. Satisfação</th>
					<th>SLA Pré-Atendimento</th>
					<th>ID Un. Med. Pré</th>
					<th>SLA Atendimento</th>
					<th>ID Un. Med. At.</th>
					<th>SLA Pós-Atendimento</th>
					<th>ID Un. Med. Pós</th>
					<th>Margem Segurança</th>
					<th>Divulgar SLA</th>
					<th>Obs. SLA</th>
					<th>Notifica Gestor</th>
					<th>Notifica Solicitante</th>
					<th>Notifica Cadastrante</th>
					<th>Notifica Interlocutor</th>
					<th>Notifica Atendente</th>
					<th>JSon - Designação</th>
					<th>Listas Prioridade (html)</th>
					<th>ID Designação</th>
					<th>Herdado</th>
					<th>Utilizar Herdado</th>
					<th>Listas Serializadas</th>
					<th>Ações</th>
					<th>ativo</th>
				</tr>
			</thead>
			
			<tbody>
				#{list items:_designacoes, as:'design'}
				<tr>
					<td class="details-control"></td>
					<td class="checkbox-hidden" style="width: 25px !important; padding-left: 5px; padding-right: 5px;">
						<input type="checkbox" checked="${design.utilizarItemHerdado}" id="check${design.id}"/>
					</td>
					<td>${design.orgaoUsuario?.id}</td>
					<td>${design.orgaoUsuario?.acronimoOrgaoUsu}</td>
					<td>${design.complexo?.idComplexo}</td>
					<td>${design.complexo?.nomeComplexo}</td>
					<td>${design.tipoSolicitante }</td>
					<td>${design.solicitante?.id }</td>
					<td>${design.solicitante?.descricao }</td>
					<td>${design.solicitante?.sigla}</td>
					<td>${design.descrItemConfiguracaoAtual }</td>
					<td>${design.descrAcaoAtual }</td>
					<td>${design.descrAcaoAtual }</td>
					<td>${design.atendente?.lotacaoAtual?.id }</td>
					<td>${design.atendente?.lotacaoAtual?.nomeLotacao }</td>
					<td>${design.atendente?.lotacaoAtual?.siglaLotacao }</td>
					<td>${design.preAtendente?.lotacaoAtual?.id }</td>
					<td>${design.preAtendente?.lotacaoAtual?.nomeLotacao }</td>
					<td>${design.preAtendente?.lotacaoAtual?.siglaLotacao }</td>
					<td>${design.posAtendente?.lotacaoAtual?.id}</td>
					<td>${design.posAtendente?.lotacaoAtual?.nomeLotacao }</td>
					<td>${design.posAtendente?.lotacaoAtual?.siglaLotacao }</td>
					<td>${design.equipeQualidade?.id }</td>
					<td>${design.equipeQualidade?.descricao }</td>
					<td>${design.equipeQualidade?.sigla}</td>
					<td>${design.pesquisaSatisfacao?.id}</td>
					<td>${design.pesquisaSatisfacao?.descrPesquisa}</td>
					<td>${design.slaPreAtendimentoQuantidade }</td>
					<td>${design.unidadeMedidaPreAtendimento?.idUnidadeMedida }</td>
					<td>${design.slaAtendimentoQuantidade }</td>
					<td>${design.unidadeMedidaAtendimento?.idUnidadeMedida }</td>
					<td>${design.slaPosAtendimentoQuantidade }</td>
					<td>${design.unidadeMedidaPosAtendimento?.idUnidadeMedida }</td>
					<td>${design.margemSeguranca }</td>
					<td>${design.divulgarSLA }</td>
					<td>${design.observacaoSLA }</td>
					<td>${design.notificarGestor }</td>
					<td>${design.notificarSolicitante}</td>
					<td>${design.notificarCadastrante}</td>
					<td>${design.notificarInterlocutor}</td>
					<td>${design.notificarAtendente}</td>
					<td>${design.getSrConfiguracaoJson()}</td>
					<td></td>
					<td>${design.idConfiguracao}</td>
					<th>${design.isHerdado}</th>
					<th>${design.utilizarItemHerdado}</th>
					<td></td>
					<td class="acoes"> 
						#{desativarReativar id:design.id, 
											onReativar:'reativarDesignacao',
											onDesativar :'desativarDesignacao',
											isAtivo:design.isAtivo() }
						#{/desativarReativar}
					</td>
					<td>${design.isAtivo()}</td>
				</tr>
				#{/list}
			</tbody>
		</table>
		
	</div>
	<!-- /content box -->
	<div class="gt-table-buttons">
		<a href="javascript: inserirDesignacao()" class="gt-btn-medium gt-btn-left">Incluir</a>
	</div>
</div>

#{modal nome:'designacao', titulo:'Cadastrar Designacao'}
	<div id="divEditarDesignacaoItem">#{include
				'Application/editarDesignacaoItem.html' /}</div>
#{/modal}

#{modal nome:'erroAoSalvar', titulo:'Problemas ao Salvar', altura:'200', largura:'450'}
	<div id="divProblemaAoSalvar" class="gt-form gt-content-box" style="text-align: justify;">
		<label style="padding-top: 5px;">Pelo menos um dos campos "Atendente", "Pré-Atendente" ou "Pós-Atendente" precisa necessáriamente ser a mesma lotação que foi selecionada na tela de equipe. Por favor verifique e tente novamente.</label>
	</div>
	<div class="gt-form-row" style="margin-left: 297px;">
		<a href="javascript: fecharModalErroAoSalvar()" class="gt-btn-medium gt-btn-left">OK</a>
	</div>
#{/modal}