#{ifnot _nivel}
#{set _nivel:0 /}
#{/ifnot}

<span style="padding-left: ${_nivel*10}pt;">
#{if _visualizando == _solicitacao}
<b><i>
#{/if}
#{else} 
	<a style="color: #365b6d;" href="@{Application.exibir(_solicitacao.idSolicitacao)}"
	style="text-decoration: none"> 
#{/else}
${_solicitacao.codigo}
#{if _visualizando == _solicitacao} 
</i></b>
#{/if}
#{else} 
</a>
#{/else}
- ${_solicitacao.marcadoresEmHtml}
</span>
<br/>
#{list items:_solicitacao.solicitacaoFilhaSet, as:'solFilha'}
#{listaArvore solicitacao:solFilha, visualizando:_visualizando, nivel:_nivel+1 /}
#{/list}