%{ if (_solicitacoes == null){ _solicitacoes = new ArrayList();
_solicitacoes.add(_solicitacao); } }%
<div class="gt-content-box">
	<table border="0" class="gt-table gt-user-table">
		<tbody>
			#{list items:_solicitacoes, as:'sol'}
			<tr>
				<td style="width: 70%">
					<h4>
						#{if _clicavel}<a href="@{Application.exibir(sol.idSolicitacao)}">
							#{/if}#{ifnot _ocultarCodigo}${sol.codigo} -#{/ifnot}
							${sol.itemConfiguracao?.descricao}, ${sol.servico?.descricao}
							#{if _clicavel} </a>#{/if}
					</h4>
					<p>${sol.descrSolicitacao}</p>
					<p>
						<i>${sol.solicitante.descricaoIniciaisMaiusculas},
							${sol.lotaSolicitante.siglaLotacao}#{if
							sol.local}&nbsp;(${sol.local})#{/if}, <i>Tel.: 2510-8793</i>
				</td>
				<td style="padding-left: 60px">
					<!-- Categories Sub Table -->
					<table border="0" class="gt-table-categories">
						<tr>
							<th>Aberto:</th>
							<td>${sol.dtRegString}</td>
						</tr>
						#{if (sol.GUT > 80)} #{set priorColor:'color: red' /} #{/if}
						#{elseif (sol.GUT > 60)} #{set priorColor:'color: orange' /} #{/elseif}
						#{else} #{set priorColor:'' /} #{/else}
						<tr >
							<th style="color: ${priorColor}">Prioridade:</th> 
							<td width="60%" style="${priorColor}" >${sol.GUTPercent}</td>
						</tr>
						<tr>
							<th>Situação:</th>
							<td>${sol.situacao}</td>
							</td>
						</tr>
						#{if sol.arquivo}
						<tr>
							<th>Anexo:</th>
							<td>#{arquivo arquivo:sol.arquivo /}</td>
							</td>
						</tr>
						#{/if}
						#{if sol.solicitacaoPai}
						<tr>
							<th>Solicitação mãe:</th>
							<td><a href="@{Application.exibir(sol.solicitacaoPai.idSolicitacao)}">${sol.solicitacaoPai.codigo}</a></td>
							</td>
						</tr>
						#{/if}
						#{if sol.solicitacaoFilhaSet}
						<tr>
							<th>Solicitações filhas:</th>
							<td>#{list items:sol.solicitacaoFilhaSet, as:'filha'}<a href="@{Application.exibir(filha.idSolicitacao)}">${filha.numSequenciaString}</a>&nbsp;#{/list}</td>
							</td>
						</tr>
						#{/if}
					</table></td>
			</tr>
			#{/list}
		</tbody>
	</table>
</div>
