%{ if (_solicitacoes == null){ _solicitacoes = new ArrayList();
_solicitacoes.add(_solicitacao); } }%
<div class="gt-content-box">
	<table border="0" class="gt-table gt-user-table">
		<tbody>
			#{list items:_solicitacoes, as:'sol'}
			<tr>
				<td style="width: 70%">
					<h4>
						#{if _clicavel}<a href="@{Application.exibir(sol.idSolicitacao)}">
							#{/if}#{ifnot _ocultarCodigo}${sol.codigo} -#{/ifnot}
							${sol.itemConfiguracao?.descricao}, ${sol.servico?.descricao}
							#{if _clicavel} </a>#{/if}
					</h4>
					<p>${sol.descrSolicitacao}</p>
					<p>
						<i>${sol.solicitante.descricaoIniciaisMaiusculas},
							${sol.lotaSolicitante.siglaLotacao}#{if
							sol.local}&nbsp;(${sol.local})#{/if}, Tel.: 2510-8793</i>
						<br/>
						#{if _ocultarCodigo && sol.solicitante != sol.cadastrante}
						<i>Cadastrado por ${sol.cadastrante.descricaoIniciaisMaiusculas},
							${sol.lotaCadastrante.siglaLotacao}</i>
						#{/if}
					</p>
					<p class="gt-table-action-list">
						#{if _criarFilha}<a class="once"
							href="@{Application.criarFilha(sol.idSolicitacao)}"
							title="Criar solicitação filha"> <img
							src="http://localhost:8080/siga/css/famfamfam/icons/arrow_divide.png"
							style="margin-right: 5px;"> </a> &nbsp;&nbsp;&nbsp;#{/if} #{if
							_editar} <a class="once"
							href="@{Application.editar(sol.idSolicitacao)}"
							title="Editar solicitação"> <img
							src="http://localhost:8080/siga/css/famfamfam/icons/pencil.png"
							style="margin-right: 5px;"> </a> &nbsp;&nbsp;&nbsp; #{/if}
					</p>
				</td>
				<td style="padding-left: 60px">
					<!-- Categories Sub Table -->
					<table border="0" class="gt-table-categories">
						<tr>
							<th>Aberto:</th>
							<td>${sol.dtRegString}</td>
						</tr>
						<tr>
							<th>Situação:</th>
							<td>${sol.situacao}</td>
							</td>
						</tr>
						#{if (sol.GUT > 80)} #{set priorColor:'color: red' /} #{/if}
						#{elseif (sol.GUT > 60)} #{set priorColor:'color: orange' /} #{/elseif}
						#{else} #{set priorColor:'' /} #{/else}
						<tr >
							<th style="color: ${priorColor}">Prioridade:</th> 
							<td width="60%" style="${priorColor}" >${sol.GUTPercent}
							#{if _ocultarCodigo} &nbsp;&nbsp;${sol.GUTString}#{/if}
							</td>
						</tr>
						#{if sol.arquivo}
						<tr>
							<th>Anexo:</th>
							<td>#{arquivo arquivo:sol.arquivo /}</td>
							</td>
						</tr>
						#{/if}
					</table></td>
			</tr>
			#{/list}
		</tbody>
	</table>
</div>
