#{set _base:'http://localhost:8080'/}
#{if _disabled == "true"}
	#{set 'selecaoDisabled'}
		disabled="disabled" 
	#{/set}
#{/if}
<span id="${_idAjax}" depende=";tipo${_nome};"> <!--ajax:${_idAjax}-->

	<script type="text/javascript">

	%{
		String _nomeClean = _nome.replaceAll("\\.","");
	}%
	
//O $tipo foi deixado aqui porque o seleção do Siga precisa enxergar este método
self.retorna_${_tipo}${_nomeClean} = function(id, sigla, descricao) {
    try {
		newwindow_${_nomeClean}.close();
    } catch (E) {
    } finally {
    }
	document.getElementById('${_nomeClean}').value = id;
	try {
		document.getElementById('${_nomeClean}_descricao').value = descricao;
		document.getElementById('${_nomeClean}Span').innerHTML = descricao;
	} catch (E) {
	}

	document.getElementById('${_nomeClean}_sigla').value = sigla;
	document.getElementById('req${_nomeClean}').value = "sim";
	document.getElementById('alterouSel').value='${_nome}';

	${_onchange};
}

self.newwindow_${_nomeClean} = '';
self.popitup_${_nomeClean} = function(sigla) {
	var url = '@@{Application.index()}${_tipo}/buscar?sigla=' + sigla + '&popup=true&nome=${_nomeClean}&'+'${_params.raw()}';
	
	if (!newwindow_${_nomeClean}.closed && newwindow_${_nomeClean}.location) {
		newwindow_${_nomeClean}.location.href = url;
	} else {

		#{if _grande == true}
		var popW = screen.width*0.75;
		var popH = screen.height*0.75;
		#{/if}
		#{else}
		var popW = 600;
		var popH = 400;
		#{/else}	
	
		var winleft = (screen.width - popW) / 2;
		var winUp = (screen.height - popH) / 2;	
		winProp = 'width='+popW+',height='+popH+',left='+winleft+',top='+winUp+',scrollbars=yes,resizable'
		newwindow_${_nomeClean}=window.open(url,'${_nomeClean}',winProp);
	}
	newwindow_${_nomeClean}.opener = self;
	if (window.focus) {
		newwindow_${_nomeClean}.focus()
	}
	return false;
}

self.resposta_ajax_${_nomeClean} = function(response, d1, d2, d3) {
	var sigla = document.getElementById('${_nomeClean}_sigla').value;
    var data = response.split(';');
    if (data[0] == '1')
	    return retorna_${_tipo}${_nomeClean}(data[1], data[2], data[3]);
    retorna_${_tipo}${_nomeClean}('', '', '');
	return popitup_${_nomeClean}(sigla);
}

self.ajax_${_nomeClean} = function() {
	var sigla = document.getElementById('${_nomeClean}_sigla').value;
	if (sigla == '') {
		return retorna_${_tipo}${_nomeClean}('', '', '');
	}
	var url = '@@{Application.index()}${_tipo}/selecionar?sigla=' + sigla + '&nome=${_nomeClean}&'+'${_params.raw()}';

	PassAjaxResponseToFunction(url, 'resposta_ajax_${_nomeClean}', false);
}

</script> <input type="hidden" name="${_nome}"
	value="${_value?.id}" id="${_nomeClean}" /> <input type="hidden"
	value="${_value?.descricao}" id="${_nomeClean}_descricao" /> <input
	type="hidden" name="${_nomeClean}_buscar" value=""
	id="${_nomeClean}_buscar" /> <input type="hidden"
	name="req${_nomeClean}" value="" id="req${_nomeClean}" /> <input
	type="hidden" name="alterouSel" value="" id="alterouSel" /> <input
	type="text" size="25"
	value="${_value?.sigla}" id="${_nomeClean}_sigla"
	onblur="javascript: ajax_${_nomeClean}();"
	onkeypress="return handleEnter(this, event)" ${selecaoDisabled} /> <input type="button"
	id="${_nomeClean}Button" value="..."
	onclick="javascript: popitup_${_nomeClean}('');" theme="simple" ${selecaoDisabled} >
	<span id="${_nomeClean}Span">${_value?.descricao}</span> <!--  idAjax="${_idAjax}" -->
	<!--/ajax:${_idAjax}--> </span>
