<style>
	.bt-expandir {
		background: none !important;
		cursor: pointer;
	}
	
	.bt-expandir.expandido {
		background: none !important;
	}
	
	.hide-sort-arrow.sorting_asc, .hide-sort-arrow.sorting_desc {
	background: none !important;
	}
	
	td.details-control {
		background: none !important;
		cursor: pointer;
	}
	
	tr.shown td.details-control {
		background: none !important;
	}
</style>

<div class="gt-content-box gt-for-table dataTables_div">
	<table id="solicitacoes_table" border="0" class="gt-table-nowrap display" data-json="${_solicitacaoListaVO.toJson()}">
	</table>
</div>


<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="/sigasr/public/javascripts/detalhe-tabela.js"></script>

<script type="text/javascript">
	var jSon = $("#solicitacoes_table").data("json"),
		objetoTabela = preparaDadosTabela(jSon);

	$(document).ready(function() {
		/* Table initialization */
		var table = new SigaTable('#solicitacoes_table')
			.configurar("fnRowCallback", solicitacoesRowCallback)
			.configurar("aoColumns", objetoTabela.estrutura)
			.configurar("data", objetoTabela.dados)
			.configurar("iDisplayLength", 25)
			.criar()
			.detalhes(format);
	});

	function solicitacoesRowCallback( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
		$('td:eq(' + objetoTabela.colunaAcaoExpandir + ')', nRow).addClass('details-control');
	}

	function preparaDadosTabela(jSon) {
		var objetoTabela = new Object();
		objetoTabela.colunaAcaoExpandir = -1,
		objetoTabela.estrutura = [];
		objetoTabela.dados = [];

		if (jSon) {
			if (jSon.colunaAcaoExpandir)
				objetoTabela.colunaAcaoExpandir = jSon.colunaAcaoExpandir;

			if (jSon.itens)
				objetoTabela.dados = jSon.itens;
			
			if (jSon.colunas)
				for (var i = 0; i < jSon.colunas.length; i++) {
					var coluna = jSon.colunas[i],
						estruturaColuna = { 
							"sTitle" : coluna.titulo, 
							"mDataProp" : coluna.nome,
							"sClass": coluna.classe,
							"bVisible": coluna.exibir};
					 
					objetoTabela.estrutura.push(estruturaColuna);
				}
		}

		return objetoTabela;
	}

	/* Função de formatação para células de detalhes */
	function format( d ) {
		var tr = $('<tr class="detail">'),
			// 'd' é o objeto contendo os dados da linha
			detailHTML = '<td colspan="6"><table class="datatable" cellpadding="5" cellspacing="0" border="0" style="margin-left:60px;">'+
				'<tr>'+
					'<td style="min-width: 157px;"><b>Teor:</b></td>'+
						'<td>' + d[2] + '</td>'+
			        '</tr>'+
			        '<tr>'+
		            	'<td><b>Solicitante:</b></td>'+
		            	'<td>' + d[3] + '</td>'+
		        	'</tr>'+
		        	'<tr>'+
		        		'<td><b>Prioridade:</b></td>'+
		        		'<td>' + d[7] + '</td>'+
		    		'</tr>'+
		        	'<tr>'+
		        		'<td><b>Situação:</b></td>'+
		        		'<td style="padding: 8px 5px 8px 10px !important">' + d[5] + '</td>'+
		        		'<td style="padding: 0px !important"><b>desde</b></td>'+
		        		'<td style="padding: 8px 4px !important;">' + d[8] + '</td>'+
					'</tr>'+
			        '<tr>'+
		            	'<td><b>Última Movimentação:</b></td>'+
		            	'<td>' + d[6] + '</td>'+
		    		'</tr>'+    			
			    '</table><td>';
	
	    return tr.append(detailHTML);
	}
</script>
