<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>sigawf</display-name>
	
	<!-- habilita replicacao dos dados da sessao do usuario no cluster -->
	<!--distributable/-->
	
	<jsp-config>
		<taglib>
			<taglib-uri>/core</taglib-uri>
			<taglib-location>/META-INF/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/fmt</taglib-uri>
			<taglib-location>/META-INF/fmt.tld</taglib-location>
		</taglib>		
		<taglib>
			<taglib-uri>/tags</taglib-uri>
			<taglib-location>/META-INF/tags.tld</taglib-location>
		</taglib>
	</jsp-config>
	
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>inbox.action</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>WorkFlowFilter</filter-name>
		<filter-class>
			br.gov.jfrj.siga.wf.util.WfThreadFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>WorkFlowFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>WorkFlowFilter</filter-name>
		<url-pattern>/loadPhoto</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>WorkFlowFilter</filter-name>
		<url-pattern>/upload</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>WorkFlowFilter</filter-name>
		<url-pattern>/servicos/*</url-pattern>
	</filter-mapping>

	<!-- Inicio de WebWork -->
	<filter>
		<filter-name>WebWork</filter-name>
		<filter-class>
			com.opensymphony.webwork.dispatcher.FilterDispatcher
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>WebWork</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ResponseHeaderFilterNoCache</filter-name>
		<filter-class>
			br.gov.jfrj.siga.libs.util.ResponseHeaderFilter
		</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>no-cache</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>ResponseHeaderFilter</filter-name>
		<filter-class>
			br.gov.jfrj.siga.libs.util.ResponseHeaderFilter
		</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>max-age=3600</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>ResponseHeaderFilterNoCache</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ResponseHeaderFilter</filter-name>
		<url-pattern>/imagens/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ResponseHeaderFilter</filter-name>
		<url-pattern>/recursos/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ResponseHeaderFilter</filter-name>
		<url-pattern>/sigalibs/*</url-pattern>
	</filter-mapping>

	<!-- Inicio de WorkFlow -->
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>
			br.gov.jfrj.siga.wf.servlet.UploadServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loadPhoto</servlet-name>
		<servlet-class>
			br.gov.jfrj.siga.wf.servlet.SingleImageServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadPhoto</servlet-name>
		<url-pattern>/loadPhoto</url-pattern>
	</servlet-mapping>

	<!-- Inicio de WebServer -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<listener>
		<listener-class>br.gov.jfrj.siga.libs.util.MenuServletContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>br.gov.jfrj.siga.libs.util.BouncyCastleServletContextListener</listener-class>
	</listener>

	<servlet>
		<display-name>CXF Servlet</display-name>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>
			br.gov.jfrj.siga.wf.servlet.WfWsServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/servicos/*</url-pattern>
	</servlet-mapping>

	<!-- Fim de WebServer -->
	
	<!-- ***************************************  -->
	<!--  Configuracao para login com formulario  -->
	<!-- ***************************************  -->
	<!--  Nao alterar comentario _$(iniLogForm)$_ -->
	
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Paginas do Sistema</web-resource-name>
			<url-pattern>/principal.action</url-pattern>
			<url-pattern>/substituicao/*</url-pattern>
			<url-pattern>/configuracao/*</url-pattern>
			<url-pattern>/administracao/*</url-pattern>
			<url-pattern>/expediente/*</url-pattern>
			<url-pattern>/modelo/*</url-pattern>
			<url-pattern>/gi/*</url-pattern>
			<url-pattern>/administracao.action</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Area do Administrador</web-resource-name>
			<url-pattern>/despacho/tipodespacho/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>sigaadministrador</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Area do Desenvolvedor</web-resource-name>
			<url-pattern>/manutencao/desenvolvimento/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>sigadesenvolvimento</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Páginas Restritas</web-resource-name>
			<url-pattern>/paginas/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>superusuario</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config> 
		<auth-method>FORM</auth-method>
		<form-login-config>
		<form-login-page>/paginas/entradas/login.jsp</form-login-page>
		<form-error-page>/sigalibs/loginInvalido.jsp</form-error-page>
		</form-login-config> 
	</login-config>
	
	<security-role>
		<role-name>sigausuario</role-name>
	</security-role>
	<security-role>
		<role-name>sigaadministrador</role-name>
	</security-role>
	<security-role>
		<role-name>sigadesenvolvimento</role-name>
	</security-role>
	<security-role>
		<role-name>superusuario</role-name>
	</security-role>
	
	<error-page>
		<error-code>403</error-code>
		<location>/sigalibs/erro403.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/sigalibs/erroGeral.jsp</location>
	</error-page>
		
	<!-- _$(fimLogForm)$_Nao alterar comentario  -->
	<!-- *************************************** -->
	<!--   Fim da configuracao com formulario    -->
	<!-- *************************************** -->


	<!-- ***************************************  -->
	<!--  Configuracao para login com certificado -->
	<!-- ***************************************  -->
	<!--  Nao alterar comentario _$(iniLogCert)$_ 
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>certclient-geral</web-resource-name>
			<url-pattern>/principal.action</url-pattern>
			<url-pattern>/substituicao/*</url-pattern>
			<url-pattern>/configuracao/*</url-pattern>
			<url-pattern>/administracao/*</url-pattern>
			<url-pattern>/expediente/*</url-pattern>
			<url-pattern>/modelo/*</url-pattern>
			<url-pattern>/gi/*</url-pattern>
			<url-pattern>/administracao.action</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>certclient-admin</web-resource-name>
			<url-pattern>/despacho/tipodespacho/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>sigaadministrador</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>certclient-desenv</web-resource-name>
			<url-pattern>/manutencao/desenvolvimento/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>sigadesenvolvimento</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>CLIENT-CERT</auth-method>
		<realm-name>Autenticação com Certificado Cliente</realm-name>
	</login-config>
	
	<security-role>
		<role-name>sigausuario</role-name>
	</security-role>
	<security-role>
		<role-name>sigaadministrador</role-name>
	</security-role>
	<security-role>
		<role-name>sigadesenvolvimento</role-name>
	</security-role>

	<security-role>
		<role-name>superusuario</role-name>
	</security-role>
	
	<error-page>
		<error-code>400</error-code>
		<location>/sigalibs/erro400.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/sigalibs/erro401.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/sigalibs/erroGeral.jsp</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/sigalibs/erro403.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/sigalibs/erroGeral.jsp</location>
	</error-page>

	     _$(fimLogCert)$_ Nao alterar comentario  -->
	<!-- ***************************************  -->
	<!--  Fim da configuracao com certificado     -->
	<!-- ***************************************  -->

</web-app>
