 <script language="javascript">
	function show${_name.replace('.', '')}(checked, divName){
		var div = document.getElementById(divName);
		if (div) {
			if (checked)
				div.style.display = 'inline';
			else 
				div.style.display = 'none';
		}
	}
	
	function change${_name.replace('.', '')}(){
		if (document.getElementById('check${_name}').checked)
			document.getElementById('${_name}').value='true';
		else document.getElementById('${_name}').value='false';
	}

</script>
<input type="hidden" name="${_name}" id="${_name}" value="${_value ? 'true':'false'}" />
<input id="check${_name}" ${_disabled ? disabled="disabled" : "" } type="checkbox" value="true" ${_value ? 'checked':''} onchange="javascript:change${_name.replace('.', '')}(); show${_name.replace('.', '')}(this.checked, '${_depende}');" />
 