%{
	String _nomeSelLotacaoClean = _nomeSelLotacao.replaceAll("\\.","");
}%
#{if _disabled == "true"}
	#{set 'lotacaoSelecaoDisabled'}
		disabled="disabled" 
	#{/set}
#{/if}

<span id="spanLotacao${_nomeSelLotacaoClean}">#{selecao
	tipo:'lotacao', nome:_nomeSelLotacao, value:_valueLotacao, disabled:_disabled /}</span>
<script language="javascript">
		document.getElementById('spanLotacao${_nomeSelLotacaoClean}').style.display = 'none';
		document.getElementById('spanLotacao${_nomeSelLotacaoClean}').style.display = 'inline';
		document.getElementById('${_nomeSelLotacaoClean}').value='';
		document.getElementById('${_nomeSelLotacaoClean}_sigla').value='';
		document.getElementById('${_nomeSelLotacaoClean}_descricao').value='';
		document.getElementById('${_nomeSelLotacaoClean}Span').innerHTML='';
</script>