
%{
	String _nomeSelPessoaClean = _nomeSelPessoa.replaceAll("\\.","");
	String _nomeSelLotacaoClean = _nomeSelLotacao.replaceAll("\\.","");
}%
#{if _disabled == "true"}
	#{set 'pessoaLotaSelecaoDisabled'}
		disabled="disabled" 
	#{/set}
#{/if}

<select id="${_nomeSelPessoaClean}${_nomeSelLotacaoClean}" onchange="" ${pessoaLotaSelecaoDisabled} >
  <option value="1">Pessoa</option>
  <option value="2">Lotação</option>
</select>
<span id="spanPessoa${_nomeSelPessoaClean}">#{selecao tipo:'pessoa', nome:_nomeSelPessoa, value:_valuePessoa, disabled:_disabled /}</span>
<span id="spanLotacao${_nomeSelLotacaoClean}">#{selecao tipo:'lotacao', nome:_nomeSelLotacao, value:_valueLotacao, disabled:_disabled /}</span>
<script language="javascript">
var select = document.getElementById('${_nomeSelPessoaClean}${_nomeSelLotacaoClean}');
if (document.getElementById('${_nomeSelPessoaClean}').value)
	select.value = 1;
else select.value= 2;
// O onchange tem de ser definido da forma abaixo porque, quando esta tag está dentro de um código
// carregado por ajax, não funciona o tratamento do modo tradicional (onchange="", etc)
// http://stackoverflow.com/questions/8893786/uncaught-referenceerror-x-is-not-defined
select.onchange = function(){
	var select = document.getElementById('${_nomeSelPessoaClean}${_nomeSelLotacaoClean}');

	if (select.value == '1'){
		document.getElementById('spanLotacao${_nomeSelLotacaoClean}').style.display = 'none';
		document.getElementById('spanPessoa${_nomeSelPessoaClean}').style.display = 'inline';
		document.getElementById('${_nomeSelLotacaoClean}').value='';
		document.getElementById('${_nomeSelLotacaoClean}_sigla').value='';
		document.getElementById('${_nomeSelLotacaoClean}_descricao').value='';
		document.getElementById('${_nomeSelLotacaoClean}Span').innerHTML='';
	} else if (select.value == '2'){
		document.getElementById('spanPessoa${_nomeSelPessoaClean}').style.display = 'none';
		document.getElementById('spanLotacao${_nomeSelLotacaoClean}').style.display = 'inline';
		document.getElementById('${_nomeSelPessoaClean}').value='';
		document.getElementById('${_nomeSelPessoaClean}_sigla').value='';
		document.getElementById('${_nomeSelPessoaClean}_descricao').value='';
		document.getElementById('${_nomeSelPessoaClean}Span').innerHTML='';
	}
}
select.onchange();
</script>