#{if _disabled == "true"}
	#{set 'selecaoDisabled'}
		disabled="disabled" 
	#{/set}
#{/if}
#{set nomeclean : _nome.cut('.') /}
<span id="${_idAjax}" depende=";tipo${_nome};"> <!--ajax:${_idAjax}-->

	<script type="text/javascript">
	
//O $tipo foi deixado aqui porque o seleção do Siga precisa enxergar este método
self.retorna_${_tipo}${nomeclean} = function(id, sigla, descricao) {
    try {
		newwindow_${nomeclean}.close();
    } catch (E) {
    } finally {
    }
	document.getElementById('${nomeclean}').value = id;
	try {
		document.getElementById('${nomeclean}_descricao').value = descricao;
		document.getElementById('${nomeclean}Span').innerHTML = descricao;
	} catch (E) {
	}

	document.getElementById('${nomeclean}_sigla').value = sigla;
	document.getElementById('req${nomeclean}').value = "sim";
	document.getElementById('alterouSel').value='${_nome}';

	${_onchange};
}

self.newwindow_${nomeclean} = '';
self.popitup_${nomeclean} = function(sigla) {
	sigla = encodeURIComponent(sigla);
	var base = '@@{Application.index()}'.replace(/.*\/\/[\d|\w|\.|-]*(:[0-9]*)*/g, ""); //Retorna apenas o contexto da aplicação p. ex. ao inves de http://localhost:8080/sigagc, vai retornar apenas /sigagc
	var url = base+'${_tipo}/buscar?sigla=' + sigla + '&popup=true&nome=${nomeclean}&'+'${_params?.raw()}';

	if (url.indexOf("sigagc/app/lotacao/buscar") != -1){
		url = "/siga/lotacao/buscar.action?propriedade=lotacaofiltrolotaResponsavel&sigla="+sigla;
	}else if(url.indexOf("sigagc/app/pessoa/buscar") != -1){
		url = "/siga/pessoa/buscar.action?propriedade=pessoafiltroresponsavel&sigla="+sigla;
	}
	//var url = '@@{Application.index()}${_tipo}/buscar?sigla=' + sigla + '&popup=true&nome=${nomeclean}&'+'${_params?.raw()}';
	
	if (!newwindow_${nomeclean}.closed && newwindow_${nomeclean}.location) {
		newwindow_${nomeclean}.location.href = url;
	} else {

		#{if _grande == true}
		var popW = screen.width*0.75;
		var popH = screen.height*0.75;
		#{/if}
		#{else}
		var popW = 600;
		var popH = 400;
		#{/else}	
	
		var winleft = (screen.width - popW) / 2;
		var winUp = (screen.height - popH) / 2;	
		winProp = 'width='+popW+',height='+popH+',left='+winleft+',top='+winUp+',scrollbars=yes,resizable'
		newwindow_${nomeclean}=window.open(url,'${nomeclean}',winProp);
	}
	newwindow_${nomeclean}.opener = self;
	if (window.focus) {
		newwindow_${nomeclean}.focus()
	}
	return false;
}

self.resposta_ajax_${nomeclean} = function(response, d1, d2, d3) {
	var sigla = document.getElementById('${nomeclean}_sigla').value;
    var data = response.split(';');
    if (data[0] == '1')
	    return retorna_${_tipo}${nomeclean}(data[1], data[2], data[3]);
    retorna_${_tipo}${nomeclean}('', '', '');
	return popitup_${nomeclean}(sigla);
}

self.ajax_${nomeclean} = function() {
	var sigla = document.getElementById('${nomeclean}_sigla').value;
	if (sigla == '') {
		return retorna_${_tipo}${nomeclean}('', '', '');
	}
	sigla = encodeURIComponent(sigla);
	var base = '@@{Application.index()}'.replace(/.*\/\/[\d|\w|\.|-]*(:[0-9]*)*/g, ""); //Retorna apenas o contexto da aplicação p. ex. ao inves de http://localhost:8080/sigagc, vai retornar apenas /sigagc
	var url = base+'${_tipo}/selecionar?sigla=' + sigla + '&nome=${nomeclean}&'+'${_params?.raw()}';
	
	if (url.indexOf("/app/lotacao") != -1){
		var params = {
			propriedade: "lotacaofiltrolotaResponsavel",
			sigla: sigla
		}

		Siga.ajax("/siga/lotacao/selecionar.action", params, "GET", function(response){
		    var data = response.split(';');
		    if (data[0] == '1')
			    return retorna_${_tipo}${nomeclean}(data[1], data[2], data[3]);
		    retorna_${_tipo}${nomeclean}('', '', '');
			return popitup_${nomeclean}(sigla);
		});	
		
	}else if (url.indexOf("/app/pessoa") != -1){
		var params = {
			propriedade: "pessoafiltroresponsavel",
			sigla: sigla
		}
			
		Siga.ajax("/siga/pessoa/selecionar.action", params, "GET", function(response){
		    var data = response.split(';');
		    if (data[0] == '1')
			    return retorna_${_tipo}${nomeclean}(data[1], data[2], data[3]);
		    retorna_${_tipo}${nomeclean}('', '', '');
			return popitup_${nomeclean}(sigla);
		});	
	}else{
		PassAjaxResponseToFunction(url, 'resposta_ajax_${nomeclean}', false);
	}
}

</script>
	<input type="hidden" name="${_nome}" value="${_value?.id}" id="${nomeclean}" /> 
	<input type="hidden" value="${_value?.descricao}" id="${nomeclean}_descricao" /> 
	<input type="hidden" name="${nomeclean}_buscar" value="" id="${nomeclean}_buscar" /> 
	<input type="hidden" name="req${nomeclean}" value="" id="req${nomeclean}" /> 
	<input type="hidden" name="alterouSel" value="" id="alterouSel" /> 
	<input type="text" size="25" name="${nomeclean}_sigla" value="${_value?.sigla}" id="${nomeclean}_sigla" onblur="javascript: ajax_${nomeclean}();" onkeypress="return handleEnter(this, event)" ${selecaoDisabled} /> 
	<input type="button" id="${nomeclean}Button" value="..." onclick="javascript: popitup_${nomeclean}('');" theme="simple" ${selecaoDisabled} >
	<span id="${nomeclean}Span">${_value?.descricao}</span> 
	<!--  idAjax="${_idAjax}" -->
	<!--/ajax:${_idAjax}--> </span>
