/*
Template:	GT-502
File:		override.css - Use this file to override any template styles
To override a style, just copy and paste the style from gt-styles.css into this file.
You can then use !important to override the style.

If you add styles to this template, be sure to include it in your template files.
*/