target/
.settings/
.classpath
*.log
.project
precompiled
/console.txt
/junit
/.settings
/tmp
/lib
/eclipse
/modules
/log
/bin
/test-result
/resultado.txt
/test/resultado.txt
/target
*.out
/target/
/target/
