<!DOCTYPE html>
<html>
<body>
	<table>		
		<tbody>			
			<tr>				
				<td style='height: 80px; background-color: #f6f5f6; padding: 10px 20px;'>
					<img style='padding: 10px 0px; text-align: center;' src='https://www.documentos.spsempapel.sp.gov.br/siga/imagens/logo-sem-papel-cor.png' alt='SP Sem Papel' width='108' height='50' />				
				</td>			
			</tr>			
			<tr>				
				<td style='background-color: #bbb; padding: 0 20px;'>					
					<h3 style='height: 20px;'>Governo do Estado de S&atilde;o Paulo</h3>				
				</td>			
			</tr>			
			<tr>				
				<td style='padding: 10px 20px;'>					
					<div>
						<p style='color: #808080;'>Prezado usu&aacute;rio(a) <b>${nomeUsuario}</b>,</p>						
						<p style='color: #808080;'>Voc&ecirc; est&aacute; cadastrado no Programa SP Sem Papel, sua credencial de acesso permitir&aacute; a visualiza&ccedil;&atilde;o e assinatura de documentos de seu interesse, com &oacute;rg&atilde;os e entidades no &acirc;mbito do Governo do Estado de S&atilde;o Paulo.</p>					
						<p style='color: #808080;'>Usu&aacute;rio: <b>${cpfUsuario}</b></p>						
						<p style='color: #808080;'>Senha: <b>${senhaUsuario}</b></p>	
						<p style='color: #808080;'>Sua senha &eacute; de uso pessoal e intransfer&iacute;vel, configurando-se como sua assinatura eletr&ocirc;nica. Cabendo-lhe a responsabilidade pelo uso indevido de sua senha.</p>					
						<p style='color: #808080;'>Para acessar o Programa SP Sem Papel siga as instru&ccedil;&otilde;es abaixo:</p>								
						<ol style='color: #808080;border: 1px solid rgba(0, 0, 0, .1);border-radius: 5px;'>
							<li>	
								<p style='color: #808080;'>Acesse   
									<a style='color: #808080;' href='https://www.spsempapel.sp.gov.br/' title='Portal Programa SP Sem Papel' target="_blank"><b>www.spsempapel.sp.gov.br</b></a> e clique em login
									<img src='https://www.documentos.spsempapel.sp.gov.br/siga/imagens/spsempapel-login-passo1.jpg'
										style='border-radius: 10px;width: 95%;max-width:954px;' alt='Portal SP Sem Papel' title='Portal SP Sem Papel'>	
								</p>
							</li>
							<li>
								<p style='color: #808080;'>Na tela seguinte, informe seu CPF e clique em pr&oacute;ximo.</p>	
								<p style='color: #808080;'>
									<img src='https://www.documentos.spsempapel.sp.gov.br/siga/imagens/spsempapel-login-passo2.jpg'
										style='border-radius: 10px;width: 95%;max-width:589px;' alt='Portal SP Sem Papel - Login - Informe seu CPF' title='Portal SP Sem Papel - Login - Informe seu CPF'>
								</p>
							</li>
							<li>
								<p style='color: #808080;'>Informe sua senha, conforme imagem abaixo.</p>	
								<p style='color: #808080;'>
									<img src='https://www.documentos.spsempapel.sp.gov.br/siga/imagens/spsempapel-login-passo3.jpg'
										style='border-radius: 10px;width: 95%;max-width:544px;' alt='Portal SP Sem Papel - Login - Informe sua senha' title='Portal SP Sem Papel - Login - Informe sua senha'>
								</p>
							</li>
							<li>
								<p style='color: #808080;'>Ap&oacute;s se logar, clique no menu principal em Servi&ccedil;os &gt; Documentos Digitais.</p>
								<p style='color: #808080;'>
									<img src='https://www.documentos.spsempapel.sp.gov.br/siga/imagens/spsempapel-login-passo4.jpg'
										style='border-radius: 10px;width: 95%;max-width:943px;' alt='Portal SP Sem Papel - Acesso a Documentos Digitais' title='Portal SP Sem Papel - Acesso a Documentos Digitais'>
								</p>
							</li>
						</ol>						
					</div>				
				</td>			
			</tr>			
			<tr>				
				<td style='height: 18px; padding: 0 20px; background-color: #eaecee;'>					
					<p><span style='color: #aaa;'><b>Aten&ccedil;&atilde;o:</b> esta &eacute; uma mensagem autom&aacute;tica. Por favor n&atilde;o responda&nbsp;</span>					
					</p>				
				</td>			
			</tr>	 	
		</tbody>	
	</table>
</body>
</html>