<!DOCTYPE html>
<html>
<body>
	<table>		
		<tbody>			
			<tr>				
				<td style='height: 80px; background-color: #f6f5f6; padding: 10px 20px;'>
					<img style='padding: 10px 0px; text-align: center;' src='${url}/siga/imagens/logo-sem-papel-cor.png' alt='SP Sem Papel' width='108' height='50' />				
				</td>			
			</tr>			
			<tr>				
				<td style='background-color: #bbb; padding: 0 20px;'>					
					<h3 style='height: 20px;'>Governo do Estado de S&atilde;o Paulo</h3>				
				</td>			
			</tr>			
			<tr>				
				<td style='padding: 10px 20px;'>					
					<div>
						<p style='color: #808080;'>Prezado usu&aacute;rio(a) <b>${nomeUsuario}</b>,</p>						
						<p style='color: #808080;'>Seu cadastro no Programa SP Sem Papel, foi aprovado. Sua credencial de acesso permitir&aacute; a 
						solicita&ccedil;&atilde;o e envio de servi&ccedil;os, visualiza&ccedil;&atilde;o e assinatura de documentos de seu interesse,
						com &oacute;rg&atilde;os e entidades no &acirc;mbito do Governo do Estado de S&atilde;o Paulo de acordo com o servi&ccedil;o autorizado.</p>
						<p style='color: #808080;'>Seus dados para acesso s&atilde;o:</p>
						<p style='color: #808080;'>Usu&aacute;rio: <b>${cpfUsuario}</b></p>
						<p style='color: #808080;'>Senha: <b>${senhaUsuario}</b></p>
						<p style='color: #808080;'>Sua senha &eacute; de uso pessoal e intransfer&iacute;vel, configurando-se como sua assinatura eletr&ocirc;nica. Cabendo-lhe a responsabilidade pelo uso indevido de sua senha.</p>
						<p style='color: #808080;'>Para acessar o Programa SP Sem Papel e conferir as orienta&ccedil;&otilde;es de uso acesse:</p>
						<a style='color: #808080;' href='https://www.spsempapel.sp.gov.br/agentes-externos-a-administracao-estadual/' title='Portal Programa SP Sem Papel' target="_blank">
						<b>https://www.spsempapel.sp.gov.br/agentes-externos-a-administracao-estadual/</b></a>
					</div>				
				</td>			
			</tr>			
			<tr>				
				<td style='height: 18px; padding: 0 20px; background-color: #eaecee;'>					
					<p><span style='color: #aaa;'><b>Aten&ccedil;&atilde;o:</b> esta &eacute; uma mensagem autom&aacute;tica. Por favor n&atilde;o responda&nbsp;</span>					
					</p>				
				</td>			
			</tr>	 	
		</tbody>	
	</table>
</body>
</html>