<!DOCTYPE html>

${_cabecalho_pre_head.raw()}

<style>
.ui-widget-header {
	border: 1px solid #365b6d;
	background: #365b6d;
}
</style>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="/sigasr/public/stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
${moreHead?.raw()}

#{if params['popup'] != 'true'}
	${_cabecalho_pre_menu.raw()}
	#{include "Application/menu.html" /}
#{/if}

${_cabecalho_pos.raw()}

#{doLayout /}

${_rodape.raw()}

</html>

<script>
var requesting=false;
function block(){
	if (requesting)
		return false;
	requesting=true;
	return true;
}
function unblock(){
	requesting=false;
}
</script>
