<!DOCTYPE html>

${_cabecalho_pre_head.raw()}
<script language="JavaScript"
	src="/siga/javascript/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="/siga/javascript/jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.min.css"
	type="text/css" media="screen, projection">
<style>
.ui-widget-header {
	border: 1px solid #365b6d;
	background: #365b6d;
}
</style>
${moreHead?.raw()}

#{if params['popup'] != 'true'}
	${_cabecalho_pre_menu.raw()}
	#{include "Application/menu.html" /}
#{/if}

${_cabecalho_pos.raw()}

#{doLayout /}

${_rodape.raw()}

</html>

