<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">sigapmp</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@mclaren:1521:sigapmp</property>
        <property name="hibernate.connection.username">sigapmp</property>
        <property name="hibernate.default_schema">sigapmp</property>

        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <mapping class="models.Foruns" />
        <mapping class="models.Locais" />
        <mapping class="models.Agendamentos" />
        <mapping class="models.UsuarioForum" />
        <mapping class="models.Peritos" />

    </session-factory>
</hibernate-configuration>
