.dataTables_div {
    padding-top: 10px;`
    min-width: 400px;
}

.dataTables_length {	
    padding-left: 5px;
}

.dataTables_filter {
    padding-right: 5px !important;
}

.dataTables_info {
    padding-left: 5px;
}

.container {
	position: relative;
    width: 100%;
    height: 57px;
}

.container-small {
	height: 27px !important;
}

.title-table {
	position: absolute;
    left: 0px;
    width: 98%;
}

.button-table {
	position: absolute;
    right: 0px;
    bottom: 5px;
    width: 20px;
    margin-right: 5px;
}

div.left {
	position: absolute;
	left: 0px;
	width: 50%
}

div.right {
	position: absolute;
	right: 0px;
	width: 50%;
}

.div-modal-table {
	margin-bottom: 5px;
}

td.details-control {
    background: none !important;
    cursor: pointer;
}
tr.shown td.details-control {
    background: none !important;
}

td.padding-table {
	padding-left: 3px !important;
	padding-right: 5px !important;
}

.boxes .box 
{
    margin-left: 2%;
    margin-bottom: 2%;
    width: 50%;
    padding: 5%;
}

.box-left {
	padding-right: 20px;
}

.box-wrapper
{
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.item-desativado {
    color: gray !important;
}

.checkbox-hidden {
	visibility: hidden;
}

.bt-expandir {
    background: none !important;
    height: 25px;
    width: 30px;
    cursor: pointer;
}
		
.bt-expandir.expandido {
    background: none !important;
}

.details-control {
	width: 2%  !important;
}

.bt-expandir-tabela {
	color: #333;
	text-align: center;
	width: 30px !important;
}

.error {
   color: red !important;
}

.gt-btn-small, .gt-btn-medium, .gt-btn-large, .gt-btn-ativar {
	cursor: pointer;
}

.configuracao-herdada td {
	color: gray !important;
}

.checkbox-hidden {
	visibility: hidden;
}

.solicitacao-codigo {
	font-size: 13px;
	font-weight: bold; 
	border-bottom: 1px solid #ccc !important; 
	padding: 7px 10px;
	/*width: 100% !important;*/
}

.solicitacao-dados {
	font-size: 9pt;
	padding: 7px 10px !important; 
	border-bottom: 1px solid #ccc !important; 
	text-align:justify;
}

.solicitacao-remover {
	color: #333;
	font-weight: bold;
	padding: 7px 10px !important;
}

td.solicitacao-prioridade {
	cursor:move;
}

td.movimentacao-descricao p {
	margin-bottom: 3px;
}

#sortable table { height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
		
/** CSS do numero **/
.numero-solicitacao a {
	color: black;
}
.PRIORIDADE-IMEDIATO .numero-solicitacao a {
	color: red !important;
	font-weight: bold;
}
.PRIORIDADE-ALTO .numero-solicitacao a {
	color: #E0E000 !important;
	font-weight: bold;
}
.PRIORIDADE-MEDIO .numero-solicitacao a {
	color: blue !important;
	font-weight: bold;
}
.PRIORIDADE-BAIXO .numero-solicitacao a {
	color: green !important;
	font-weight: bold;
}
.PRIORIDADE-PLANEJADO .numero-solicitacao a {
	color: gray !important;
	font-weight: bold;
}

.legenda-prioridade {
	margin-top: 10px;
}

/** CSS da leganda **/
.legenda-prioridade span{
	display: inline-block;
}
.legenda-prioridade .cor {
	height: 15px;
	width: 15px;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.legenda-prioridade div {
	display: inline-block;
}
.legenda-prioridade .descricao {
	display: block;
    margin-left: 20px;
    margin-right: 15px;
    margin-top: -18px;
}
.legenda-prioridade .PRIORIDADE-IMEDIATO .cor {
	background-color: red;
}
.legenda-prioridade .PRIORIDADE-ALTO .cor {
	background-color: #E0E000;
}
.legenda-prioridade .PRIORIDADE-MEDIO .cor {
	background-color: blue;
}
.legenda-prioridade .PRIORIDADE-BAIXO .cor {
	background-color: green;
}
.legenda-prioridade .PRIORIDADE-PLANEJADO .cor {
	background-color: gray;
}

.siga-multiple-select {
	padding: 0px 5px 5px 5px;
	text-align: right;
}

.ui-multiselect {
	font-family: Helvetica, sans-serif; 
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
	color: #333333;
}

div > ul > li {
	list-style-type: none !important;
	margin-left: 1em !important;
	margin-bottom: 2px !important;
}

ul.acordo {
    list-style-type: none;
}

ul.acordo > li {
	margin-top: 5pt;
}
p.acordo {
	margin-top: 5pt;
}
.crono > .valor {
	display:none;
}