<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
    </head>
	<body style="font-family: Arial, Helvetica, sans-serif; color: #212529;">
		<div id="header">
			<div
				style='height: 80px; background-color: #f6f5f6; margin: 0px; padding: 20px;'>
				<img style='text-align: center;'
					src='${url}/${logo}'
					alt='SIGA' width='80' />
			</div>
			<div style='background-color: #dadada;'>
				<h3 style="height: 20px; margin: 0px; padding: 10px;">${titulo}</h3>
			</div>
		</div>
		<div id="content" style="margin-top: 30px; padding: 20px;">
			<div>
				<p> 
					Prezado usuário(a), <b>${nomeDestinatario} - ${siglaDestinatario}</b>. Você foi marcado como, cossignatário, do documento <b>(${siglaDoc})</b>, pelo usuário <b>(${nomeCadastrante} - ${siglaCadastrante}).</b> 
				</p>
				<br /> 
			</div>
			<div style="margin-top: 20px;"> 
				<p>Para visualizar o documento, <a href="${url}/sigaex/app/expediente/doc/exibir?sigla=${siglaDoc}">clique aqui.</a></p>
			</div>
		</div>

		<div id="footer" style='background-color: #dadada; padding: 5px;'>
			<p><span style='color: #555;'><b>Atenção</b>: Esta é uma mensagem automática. Por favor não responda.</span></p>
		</div>
	</body>
</html> 