<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>SIGA - Gestão Documental</display-name>

	<!-- 
		<jsp-config> <taglib>
		<taglib-uri>http://jsptags.com/tags/navigation/pager</taglib-uri>
		<taglib-location>/WEB-INF/jsp/pager-taglib.tld</taglib-location>
		</taglib> <taglib>
		<taglib-uri>http://localhost/modelostag</taglib-uri>
		<taglib-location>/WEB-INF/tld/modelos.tld</taglib-location> </taglib>

		</jsp-config>
	-->
	<jsp-config>
	<taglib>  
		<taglib-uri>http://cheditor.com</taglib-uri>  
		<taglib-location>tld/ckeditor.tld</taglib-location>  
	</taglib>  
	</jsp-config>
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	
	    <servlet>
        <servlet-name>AudioCaptcha</servlet-name>
        <servlet-class>nl.captcha.servlet.AudioCaptchaServlet</servlet-class>
    </servlet>

	<servlet>
		<servlet-name>SimpleCaptcha</servlet-name>
		<servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
        <init-param>
            <param-name>captcha-width</param-name>
            <param-value>250</param-value>
        </init-param>
        <init-param>
            <param-name>captcha-height</param-name>
            <param-value>75</param-value>
        </init-param>
	</servlet>
	
    <servlet>
		<servlet-name>StickyCaptcha</servlet-name>
		<servlet-class>nl.captcha.servlet.StickyCaptchaServlet</servlet-class>

        <init-param>
            <!-- Optional; defaults to 200. -->
            <param-name>captcha-width</param-name>
            <param-value>250</param-value>
        </init-param>
        <init-param>
            <!-- Optional; defaults to 50. -->
            <param-name>captcha-height</param-name>
            <param-value>75</param-value>
        </init-param>
        <init-param>
            <!-- Time To Live, in ms. Optional; Defaults to 600000ms. -->
            <param-name>ttl</param-name>
            <param-value>100000</param-value>
        </init-param>
    </servlet>

	<servlet-mapping>
		<servlet-name>AudioCaptcha</servlet-name>
		<url-pattern>/autenticar.audiocaptcha.wav</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SimpleCaptcha</servlet-name>
		<url-pattern>/autenticar.simplecaptcha.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StickyCaptcha</servlet-name>
		<url-pattern>/autenticar.stickycaptcha.png</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>ExFilter</filter-name>
		<filter-class>br.gov.jfrj.siga.hibernate.ExThreadFilter</filter-class>
	</filter>

	<filter>
		<filter-name>SigaLogFilter</filter-name>
		<filter-class>br.gov.jfrj.siga.ex.util.LogThreadFilter</filter-class>
	</filter>

	<filter>
		<filter-name>SalvamentoAutomaticoFilter</filter-name>
		<filter-class>
			br.gov.jfrj.webwork.action.SalvamentoAutomaticoThreadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SigaLogFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ExFilter</filter-name>
		<url-pattern>*.pdf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ExFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ExFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ExFilter</filter-name>
		<url-pattern>/dwr/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ExFilter</filter-name>
		<url-pattern>/anexo/*</url-pattern>
	</filter-mapping>
 	<filter-mapping>
		<filter-name>ExFilter</filter-name>
		<url-pattern>/servicos/*</url-pattern>
	</filter-mapping>  
	<filter-mapping>
		<filter-name>SalvamentoAutomaticoFilter</filter-name>
		<url-pattern>/expediente/doc/gravar_ajax.action</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>webwork</filter-name>
		<filter-class>com.opensymphony.webwork.dispatcher.FilterDispatcher</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>webwork</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ResponseHeaderFilterNoCache</filter-name>
		<filter-class>br.gov.jfrj.siga.libs.util.ResponseHeaderFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>no-cache</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>ResponseHeaderFilter</filter-name>
		<filter-class>br.gov.jfrj.siga.libs.util.ResponseHeaderFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>max-age=3600</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ResponseHeaderFilterNoCache</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ResponseHeaderFilter</filter-name>
		<url-pattern>/imagens/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ResponseHeaderFilter</filter-name>
		<url-pattern>/recursos/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ResponseHeaderFilter</filter-name>
		<url-pattern>/sigalibs/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>br.gov.jfrj.siga.libs.util.MenuServletContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>br.gov.jfrj.siga.libs.util.BouncyCastleServletContextListener</listener-class>
	</listener>

	<!-- Standard Action Servlet Configuration  -->
	<servlet>
		<servlet-name>dwr</servlet-name>
		<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
	</servlet>

	<!-- Inicio de WebServer -->
	
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>br.gov.jfrj.siga.servlets.ExWsServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/servicos/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>itextpdf</servlet-name>
		<servlet-class>br.gov.jfrj.itextpdf.Documento</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>dochtml</servlet-name>
		<servlet-class>br.gov.jfrj.itextpdf.DocumentoHtml</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>anexo</servlet-name>
		<servlet-class>br.gov.jfrj.siga.servlets.Anexo</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>




<!-- Sistema de gravação de assinatura da CertSign	
    <servlet>
        <servlet-name>gravarAssinatura</servlet-name>
        <servlet-class>br.gov.jfrj.siga.util.GravarAssinatura</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>gravarAssinatura</servlet-name>
        <url-pattern>/gravarAssinatura</url-pattern>
    </servlet-mapping>
-->
	

	<servlet-mapping>
		<servlet-name>dwr</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>itextpdf</servlet-name>
		<url-pattern>*.pdf</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>dochtml</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>anexo</servlet-name>
		<url-pattern>/anexo/*</url-pattern>
	</servlet-mapping>

	<!-- The Usual Welcome File List -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- ***************************************  -->
	<!--  Configuracao para login com formulario  -->
	<!-- ***************************************  -->
	<!--  Nao alterar comentario _$(iniLogForm)$_ -->  
			
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Paginas do Sistema</web-resource-name>
			<url-pattern>/principal.action</url-pattern>
			<url-pattern>/substituicao/*</url-pattern>
			<url-pattern>/configuracao/*</url-pattern>
			<url-pattern>/administracao/*</url-pattern>
			<url-pattern>/expediente/*</url-pattern>
			<url-pattern>/modelo/*</url-pattern>
			<url-pattern>/despacho/*</url-pattern>
			<url-pattern>/administracao.action</url-pattern>
			<url-pattern>/anexo/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/paginas/entradas/login.jsp</form-login-page>
			<form-error-page>/sigalibs/loginInvalido.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<security-role>
		<role-name>sigausuario</role-name>
	</security-role>
	
	<error-page>
		<error-code>403</error-code>
		<location>/sigalibs/erro403.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/sigalibs/erroGeral.jsp</location>
	</error-page>
	
	
	<!-- _$(fimLogForm)$_Nao alterar comentario  -->
	<!-- *************************************** -->
	<!--   Fim da configuracao com formulario   -->
	<!-- *************************************** -->

	<!-- ***************************************  -->
	<!--  Configuracao para login com certificado -->
	<!-- ***************************************  -->
	<!--  Não alterar comentario _$(iniLogCert)$_ 
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>certclient-geral</web-resource-name>
			<url-pattern>/principal.action</url-pattern>
			<url-pattern>/substituicao/*</url-pattern>
			<url-pattern>/configuracao/*</url-pattern>
			<url-pattern>/administracao/*</url-pattern>
			<url-pattern>/expediente/*</url-pattern>
			<url-pattern>/modelo/*</url-pattern>
			<url-pattern>/administracao.action</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>certclient-admin</web-resource-name>
			<url-pattern>/despacho/tipodespacho/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>sigaadministrador</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>certclient-desenv</web-resource-name>
			<url-pattern>/manutencao/desenvolvimento/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>sigadesenvolvimento</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>CLIENT-CERT</auth-method>
		<realm-name>Autenticação com Certificado Cliente</realm-name>
	</login-config>
		
	<security-role>
		<role-name>sigausuario</role-name>
	</security-role>
	<security-role>
		<role-name>sigaadministrador</role-name>
	</security-role>
	<security-role>
		<role-name>sigadesenvolvimento</role-name>
	</security-role>
	<security-role>
		<role-name>superusuario</role-name>
	</security-role>
		
	<error-page>
		<error-code>400</error-code>
		<location>/sigalibs/erro400.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/sigalibs/erro401.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/sigalibs/erro403.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/sigalibs/erroGeral.jsp</location>
	</error-page>
	
	     _$(fimLogCert)$_ Nao alterar comentario  -->
	<!-- ***************************************  -->
	<!--  Fim da configuracao com certificado     -->
	<!-- ***************************************  -->

</web-app>
