.dataTables_div {
    padding-top: 10px;
}

.dataTables_length {	
    padding-left: 5px;
}

.dataTables_filter {
    padding-right: 5px !important;
}

.dataTables_info {
    padding-left: 5px;
}

.container {
	position: relative;
    width: 100%;
    height: 57px;
}

.container-small {
	height: 27px !important;
}

.title-table {
	position: absolute;
    left: 0px;
    width: 98%;
}

.button-table {
	position: absolute;
    right: 0px;
    bottom: 5px;
    width: 20px;
    margin-right: 5px;
}

div.left {
	position: absolute;
	left: 0px;
	width: 50%
}

div.right {
	position: absolute;
	right: 0px;
	width: 50%;
}

.div-modal-table {
	margin-bottom: 5px;
}

td.details-control {
    background: none !important;
    cursor: pointer;
}
tr.shown td.details-control {
    background: none !important;
}

td.padding-table {
	padding-left: 3px !important;
	padding-right: 5px !important;
}

.boxes .box 
{
    margin-left: 2%;
    margin-bottom: 2%;
    width: 50%;
    padding: 5%;
}

.box-left {
	padding-right: 20px;
}

.box-wrapper
{
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.item-desativado {
    color: gray !important;
}

.checkbox-hidden {
	visibility: hidden;
}

.bt-expandir {
    background: none !important;
    height: 25px;
    width: 30px;
    cursor: pointer;
}
		
.bt-expandir.expandido {
    background: none !important;
}

.details-control {
	width: 2%  !important;
}

.bt-expandir-tabela {
	color: #333;
	text-align: center;
	width: 30px !important;
}

.error {
   color: red !important;
}

.gt-btn-small, .gt-btn-medium, .gt-btn-large, .gt-btn-ativar {
	cursor: pointer;
}

.configuracao-herdada td {
	color: gray !important;
}

.checkbox-hidden {
	visibility: hidden;
}

.solicitacao-codigo {
	font-size: 13px;
	font-weight: bold; 
	border-bottom: 1px solid #ccc !important; 
	padding: 7px 10px;
}

.solicitacao-dados {
	font-size: 9pt;
	padding: 7px 0px; 
	border-bottom: 1px solid #ccc !important; 
	text-align:justify;
}

.solicitacao-remover {
	color: #333;
	font-weight: bold;
	padding: 7px 10px;
}