<?xml version="1.0" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4">


	<display-name>Play! (%APPLICATION_NAME%)</display-name>

	<context-param>
		<param-name>play.id</param-name>
		<param-value>war</param-value>
	</context-param>

	<listener>
		<listener-class>play.server.ServletWrapper</listener-class>
	</listener>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	
	<servlet>
		<servlet-name>play</servlet-name>
		<servlet-class>play.server.ServletWrapper</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>play</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Páginas Restritas</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>sigausuario</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Recursos Publicos</web-resource-name>
			<url-pattern>/public/*</url-pattern>
			<url-pattern>/errors/*</url-pattern>
			<url-pattern>/corporativo/dadosrh</url-pattern >
		</web-resource-collection>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>SigaGC</realm-name>
		<form-login-config>
			<form-login-page>/paginas/login.jsp</form-login-page>
			<form-error-page>/paginas/loginInvalido.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<role-name>sigausuario</role-name>
	</security-role>
	<security-role>
		<role-name>sigaadministrador</role-name>
	</security-role>
	<security-role>
		<role-name>sigadesenvolvimento</role-name>
	</security-role>
	<security-role>
		<role-name>superusuario</role-name>
	</security-role>
	
<!--   <security-constraint>
    <web-resource-collection>
      <web-resource-name>Paginas do Sistema</web-resource-name>
	  
	  <url-pattern>/solicitacao/*</url-pattern>
      <url-pattern>/acao/*</url-pattern>
      <url-pattern>/associacao/*</url-pattern>
      <url-pattern>/designacao/*</url-pattern>
      <url-pattern>/item/*</url-pattern>
      <url-pattern>/tipo_atributo/*</url-pattern>
      
    </web-resource-collection> -->
  
</web-app>