<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!-- chamadas são públicas: não necessárias as entradas de login-config para certificado -->

	<display-name>sigacd</display-name>
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>
	
	<servlet>
		<display-name>testes</display-name>
		<servlet-name>testes</servlet-name>
		<servlet-class>br.gov.jfrj.siga.cd.servlet.CdTestesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>testes</servlet-name>
		<url-pattern>/app/testes/*</url-pattern>
	</servlet-mapping>

	<servlet>
      <servlet-name>CDService</servlet-name>
      <servlet-class>br.gov.jfrj.siga.cd.service.impl.CdServiceImpl</servlet-class>
  </servlet>

	<servlet-mapping>
		<servlet-name>CDService</servlet-name>
		<url-pattern>/servicos/CdService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>testes</servlet-name>
		<url-pattern>/testes/CdTestesServlet</url-pattern>
	</servlet-mapping>

</web-app>
