#{extends 'main.html' /} 

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">

		<div id="caption" class="gt-error-page-hd">
			<h2>Não Foi Possível Completar a Operação</h2>
		</div>

		<div class="gt-content-box">
			<table width="100%">
				<tbody>
					<tr>
						<td align="center" valign="middle">
							<table class="form" width="50%">
								<tbody>
									<tr>
										<td style="text-align: center; padding-top: 10px;"><h3>${message}</h3>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td style="text-align: center; padding: 0;">
							<div style="display: none; padding: 8pt;" align="left" id="stack">
								
								<pre style="font-size: 8pt;">${stackTrace}</pre>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="padding-top: 10px;">
			<input type="button" id="show_stack" value="Mais detalhes"
				class="gt-btn-large gt-btn-right"
				onclick="javascript: document.getElementById('caption').setAttribute('class',''); document.getElementById('stack').style.display=''; document.getElementById('show_stack').style.display='none';">
		</div>
	</div>
</div>
