<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Sistema Integrado de Gestão Administrativa</display-name>

	<!-- Inicio de WebServer -->
	<context-param>
		<param-name>br.com.caelum.vraptor.provider</param-name>
		<param-value>br.com.caelum.vraptor.ioc.guice.GuiceProvider</param-value>
	</context-param>

	<context-param>
		<param-name>br.com.caelum.vraptor.encoding</param-name>
		<param-value>UTF-8</param-value>
	</context-param>

	<context-param>
		<param-name>br.com.caelum.vraptor.packages</param-name>
		<param-value>  
        	br.gov.jfrj.siga.vraptor,
        	br.com.caelum.vraptor.util.jpa
   		</param-value>
	</context-param>

	<jsp-config>
		<taglib>
			<taglib-uri>http://localhost/customtag</taglib-uri>
			<taglib-location>/WEB-INF/tags/tags.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://localhost/functiontag</taglib-uri>
			<taglib-location>/WEB-INF/tags/func.tld</taglib-location>
		</taglib>
		<jsp-property-group>
			<description>Property group for common configuration for all the
				JSP's
			</description>
			<url-pattern>*.jsp</url-pattern>
			<url-pattern>*.html</url-pattern>
			<el-ignored>false</el-ignored>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>

	

	<!-- The Usual Welcome File List -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>AuthJwtFormFilter</filter-name>
		<filter-class>br.gov.jfrj.siga.idp.jwt.AuthJwtFormFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthJwtFormFilter</filter-name>
		<url-pattern>/paginas/*</url-pattern>
		<url-pattern>/app/*</url-pattern>
		<url-pattern>*.action</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<filter>
		<filter-name>RequestLoggerFilter</filter-name>
		<filter-class>br.gov.jfrj.siga.base.log.RequestLoggerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RequestLoggerFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ResponseHeaderFilterEx</filter-name>
		<filter-class>br.gov.jfrj.siga.jee.ResponseHeaderFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>no-cache, no-store, private, must-revalidate, max-age=0, no-transform</param-value>
		</init-param>
		<init-param>
			<param-name>Pragma</param-name>
			<param-value>no-cache</param-value>
		</init-param>
		<init-param>
			<param-name>X-Frame-Options</param-name>
			<param-value>SAMEORIGIN</param-value>
		</init-param>
		<init-param>
			<param-name>X-Content-Type-Options</param-name>
			<param-value>nosniff</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ResponseHeaderFilterEx</filter-name>
		<url-pattern>/app/*</url-pattern>
		<url-pattern>/public/app/*</url-pattern>
		<url-pattern>/servicos/*</url-pattern>
		<url-pattern>/paginas/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ResponseHeaderFilter</filter-name>
		<filter-class>br.gov.jfrj.siga.jee.ResponseHeaderFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>public, max-age=3600</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ResponseHeaderFilter</filter-name>
		<url-pattern>/imagens/*</url-pattern>
		<url-pattern>/recursos/*</url-pattern>
		<url-pattern>/botstrap/*</url-pattern>
		<url-pattern>/css/*</url-pattern>
		<url-pattern>/javascript/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>SigaFilter</filter-name>
		<filter-class>br.gov.jfrj.siga.util.SigaThreadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SigaFilter</filter-name>
		<url-pattern>/servicos/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>vraptor</filter-name>
		<filter-class>br.com.caelum.vraptor.VRaptor</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>vraptor</filter-name>
		<url-pattern>/app/*</url-pattern>
		<url-pattern>/public/app/*</url-pattern>
		<url-pattern>/permalink/*</url-pattern>
		<url-pattern>*.action</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<servlet>
		<servlet-name>SigaApiV1Servlet</servlet-name>
		<servlet-class>br.gov.jfrj.siga.api.v1.SigaApiV1Servlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SigaApiV1Servlet</servlet-name>
		<url-pattern>/api/v1/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GiService</servlet-name>
		<servlet-class>br.gov.jfrj.siga.gi.service.impl.GiServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GiService</servlet-name>
		<url-pattern>/servicos/GiService</url-pattern>
	</servlet-mapping>
 	
	<servlet>
		<servlet-name>ErrorHandler</servlet-name>
		<servlet-class>br.gov.jfrj.siga.jee.SigaErrorHandlerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ErrorHandler</servlet-name>
		<url-pattern>/ErrorHandler</url-pattern>
	</servlet-mapping>

 	<error-page>
		<error-code>404</error-code>
		<location>/ErrorHandler</location>
 	</error-page>
 
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/ErrorHandler</location>
	</error-page>
</web-app>
