<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Sistema Integrado de Gestão Administrativa</display-name>
	
	<!-- habilita replicacao dos dados da sessao do usuario no cluster -->
	<!--distributable/-->
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<!-- The Usual Welcome File List -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
   <servlet>
              <description>Inicializacao do SIGA</description>
              <display-name>SigaInitServlet</display-name>
              <servlet-name>SigaInitServlet</servlet-name>
              <servlet-class>br.gov.jfrj.siga.servlet.SigaInitServlet</servlet-class>
              <load-on-startup>1</load-on-startup>
      </servlet>
	
	<servlet>
		<display-name>CXF Servlet</display-name>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>
			br.gov.jfrj.siga.gi.servlet.GiWsServlet
		</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/servicos/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>HibernateFilter</filter-name>
		<filter-class>br.gov.jfrj.siga.util.HibernateThreadFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>HibernateFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>webwork</filter-name>
		<filter-class>com.opensymphony.webwork.dispatcher.FilterDispatcher</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>webwork</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ResponseHeaderFilter</filter-name>
		<filter-class>br.gov.jfrj.siga.libs.util.ResponseHeaderFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>max-age=3600</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>ResponseHeaderFilter</filter-name>
		<url-pattern>/imagens/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ResponseHeaderFilter</filter-name>
		<url-pattern>/recursos/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ResponseHeaderFilter</filter-name>
		<url-pattern>/sigalibs/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>br.gov.jfrj.siga.libs.util.MenuServletContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>br.gov.jfrj.siga.libs.util.BouncyCastleServletContextListener</listener-class>
	</listener>
	

	<!-- ***************************************  -->
	<!--  Configuracao para login com formulario  -->
	<!-- ***************************************  -->
	<!--  Nao alterar comentario _$(iniLogForm)$_ -->

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Paginas do Sistema</web-resource-name>
			<url-pattern>/principal.action</url-pattern>
			<url-pattern>/substituicao/*</url-pattern>
			<url-pattern>/configuracao/*</url-pattern>
			<url-pattern>/administracao/*</url-pattern>
			<url-pattern>/expediente/*</url-pattern>
			<url-pattern>/modelo/*</url-pattern>
			<url-pattern>/generico/*</url-pattern>
			<url-pattern>/gi/*</url-pattern>
			<url-pattern>/administracao.action</url-pattern>
			<url-pattern>/redirect.action</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Area do Administrador</web-resource-name>
			<url-pattern>/despacho/tipodespacho/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>sigaadministrador</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Area do Desenvolvedor</web-resource-name>
			<url-pattern>/manutencao/desenvolvimento/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>sigadesenvolvimento</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Páginas Restritas</web-resource-name>
			<url-pattern>/paginas/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>superusuario</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config> 
		<auth-method>FORM</auth-method>
		<form-login-config>
		<form-login-page>/paginas/entradas/login.jsp</form-login-page>
		<form-error-page>/sigalibs/loginInvalido.jsp</form-error-page>
		</form-login-config> 
	</login-config>
		
	<security-role>
		<role-name>sigausuario</role-name>
	</security-role>
	<security-role>
		<role-name>sigaadministrador</role-name>
	</security-role>
	<security-role>
		<role-name>sigadesenvolvimento</role-name>
	</security-role>

	<security-role>
		<role-name>superusuario</role-name>
	</security-role>

	<error-page>
		<error-code>403</error-code>
		<location>/sigalibs/erro403.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/sigalibs/erroGeral.jsp</location>
	</error-page>

	<!--     _$(fimLogForm)$_Nao alterar comentario  -->
	<!-- *************************************** -->
	<!--   Fim da configuracao com formulario    -->
	<!-- *************************************** -->

	<!-- ***************************************  -->
	<!--  Configuracao para login com certificado -->
	<!-- ***************************************  -->
	<!--  Nao alterar comentario _$(iniLogCert)$_ 
	
	<security-constraint>
		<web-resource-collection>
		<web-resource-name>certclient-geral</web-resource-name>
		 <url-pattern>/principal.action</url-pattern>
			<url-pattern>/substituicao/*</url-pattern>
			<url-pattern>/configuracao/*</url-pattern>
			<url-pattern>/administracao/*</url-pattern>
			<url-pattern>/expediente/*</url-pattern>
			<url-pattern>/modelo/*</url-pattern>
			<url-pattern>/gi/*</url-pattern>
			<url-pattern>/administracao.action</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>certclient-admin</web-resource-name>
			<url-pattern>/despacho/tipodespacho/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>sigaadministrador</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>certclient-desenv</web-resource-name>
			<url-pattern>/manutencao/desenvolvimento/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>sigadesenvolvimento</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>certclient-restrito</web-resource-name>
			<url-pattern>/paginas/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>superusuario</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>CLIENT-CERT</auth-method>
		<realm-name>Autenticação com Certificado Cliente</realm-name>
	</login-config>
	<security-role>
		<role-name>sigausuario</role-name>
	</security-role>
	<security-role>
		<role-name>sigaadministrador</role-name>
	</security-role>
	<security-role>
		<role-name>sigadesenvolvimento</role-name>
	</security-role>

	<security-role>
		<role-name>superusuario</role-name>
	</security-role>
	
	<error-page>
		<error-code>400</error-code>
		<location>/sigalibs/erro400.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/sigalibs/erro401.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/sigalibs/erro403.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/sigalibs/erroGeral.jsp</location>
	</error-page>
	
	 _$(fimLogCert)$_ Nao alterar comentario  -->
	<!-- ***************************************  -->
	<!--  Fim da configuracao com certificado     -->
	<!-- ***************************************  -->

</web-app>
