#{extends 'main.html' /}
#{set title:'Agendar Ajax' /}
<title>Agendar Ajax</title>
<script type="text/javascript" src="public/javascripts/jquery-1.9.1.js" ></script>
<script type="text/javascript" src="public/javascripts/jquery-ui.js" ></script>
<script type="text/javascript" language="Javascript1.1" >

function funcData(){
	var dt = document.getElementById('datepicker').value;
	if(dt=="--"){
		document.getElementById('datepicker').value="";
	}else{
		if(dt!=""){
			document.getElementById('datepicker').value = dt.substr(6,4)+"-"+dt.substr(3,2)+"-"+dt.substr(0,2);
		}
	}
}

function mudouSala(){
	// isso roda
	auxCodLocal = "frm_cod_local= " 
	auxCodLocal = auxCodLocal + frm_inclui_agendamento.frm_cod_local.value;
	$.ajax({
			url: "calendario_vetor?"+auxCodLocal,
			type: "get",	
			success: function(response){calendario_resposta(response)} ,
			error: "" ,
			async: true  
			}).done();
	auxCodLocal = "";	
}
function calendario_resposta(param){
	// vem parametro numa string com as ocorrencias do arraylist separadas por vírgulas
	var i=0;
 	var diasLotados = new Array(31);
 	param = param.substr(5,param.length - 13);
 	diasLotados = param.split(",");
 	for(i=0; i<31 ; i++){
 	 	if(diasLotados[i]!=null){
 	 		diasLotados[i] = diasLotados[i].replace(" 00:00:00.0","")
 	 		diasLotados[i] = diasLotados[i].replace(" ","");
 	 	}else{
 	 	 	i=31;
 	 	}
 	}
	$(function () {
		$.datepicker.setDefaults({monthNames: [ "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto",  "Setembro", "Outubro", "Novembro", "Dezembro" ] ,
	        					  dayNamesMin: [ "Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab" ],
	        					  dateFormat: "dd-mm-yy",
	        					  duration: "slow",
	        					  prevText: "Mês anterior",
	        					  nextText: "Próximo mês",
	        					  //buttonImage: "public/images/favicon.png",
	        					  showOn: "button",
	        					  buttonText: "...",
	        					  minDate: new Date(),
	        					  beforeShowDay: function(date){ if($.inArray($.datepicker.formatDate("yy-mm-dd" , date ) , diasLotados )>=0 || date.getDay()==0 || date.getDay()==6){ return [ false , '' , 'Sem horário livre' ];} else {return [ true , '' , '' ];}
	        					  }  	  
	  	});
		$( "#datepicker" ).datepicker();
	 } );
}

function mudou_data(){
	auxLocaleData = "frm_cod_local= "+ frm_inclui_agendamento.frm_cod_local.value; 
	auxLocaleData = auxLocaleData + "&frm_data_ag= "+ frm_inclui_agendamento.frm_data_ag.value;
	$.ajax({
			url: "horario_vetor?"+auxLocaleData ,
			type: "get" ,	
			success: function(response){document.getElementById('horario01').innerHTML=response;} ,
			error: "" ,
			async: true  
			}).done();
	auxLocaleData = "";
}

</script>
<form name="frm_inclui_agendamento" method="post" action="agendamento_insert" >
<br>
 <div style="position: absolute;left:05%;">
	<h1 class="ui-accordion-header">Passo um</h1>
	<select class="ui-widget" name="frm_cod_local" onchange="mudouSala()">
		<option value="">Escolha a sala</option>
		#{list items:listSalas, as:'sala'}
		<option value="${sala.cod_local}">${sala.local}</option>
		#{/list}
	</select>
 </div>
 
 <div style="position:absolute;left:30%;">
	<h1 class="ui-accordion-header">Passo dois</h1>
	<input type="text" id="datepicker"  name="frm_data_ag" readonly="readonly"  maxlength="10" onchange="mudou_data()" />
 </div>

<h1 class="ui-accordion-header" style="position:absolute;left:65%;">Passo três</h1>
<br> <br>
 <div id="passo03" style="position: absolute;left:65%;">
 	<input type="hidden" name="frm_hora_ag">
	<div id="horario01">
	</div>	
 </div>
 
 <input type="hidden" name="matricula" value="">
 <br><br><br><br><br><br><br><br><br>
 <div style="position:absolute;left:10%;right:10%;">
  <font class="ui-state-default" size="3px" style="position:absolute;left:1%;right:60%;">Número processo: </font><input class="ui-widget" name="processo"  type="text" style="position:absolute;left:45%;right:20%;" size="25" maxlength="15" /><br>
  <br>
  <font class="ui-state-default" size="3px" style="position:absolute;left:1%;right:60%;">Nome periciado: </font><input class="ui-widget" name="periciado" type="text" style="position:absolute;left:45%;right:20%;" size="50" maxlength="50" /><br>
  <br>
  <font class="ui-state-default" size="3px" style="position:absolute;left:1%;right:60%;">Perito juízo: </font><input class="ui-widget" name="perito_juizo" type="text" style="position:absolute;left:45%;right:20%;" size="50" maxlength="50" /><br>
  <br>
  <font class="ui-state-default" size="3px" style="position:absolute;left:1%;right:60%;">Perito parte: </font><input class="ui-widget" name="perito_parte" type="text" style="position:absolute;left:45%;right:20%;" size="50" maxlength="50" /><br>
  <br>
  <font class="ui-state-default" size="3px" style="position:absolute;left:1%;right:60%;">Órgão julgador: </font><input class="ui-widget" name="orgao" type="text" style="position:absolute;left:45%;right:20%;" size="50" maxlength="15" /><br>
  <br>
  <input class="ui-button" style="position: absolute; left:1%" type="submit" value="Agendar" onclick="funcData()" />
	<br><br><br>
	<a style="position:absolute;left:1%;" class="ui-state-hover" href="/sigapp/">Voltar</a>  
 </div>
 
</form>