#{extends 'main.html' /}
#{set title:'Agendamento Cancelar' /}
<title>Cancelar</title>
<br>
<h4 class="ui-widget" style="position:absolute;left:5%; color:red;">${resultado}</h4>
<br>
<form name="frm_agendamento_deleta01" method="get" action="agendamento_excluir" enctype="multipart/form-data">
 <input type="hidden" name="frm_data_ag" value=${dtt} />
 <input class="ui-button" style="position:absolute;left:35%;" type="submit" value="Retornar a tela anterior" />
</form>
<br><br><br>
<a class="ui-state-hover" style="position:absolute;left:5%;" href="/sigapp/">Voltar</a>