#{set title:'Agendamento Print' /}
<title>Agendamento Print</title>
<script language="javascript">
	alert('Quando terminar tecle BACKSPACE para retornar.');
</script>
<center><img src="/siga/imagens/brasao.gif"><br>
PODER JUDICIÁRIO<br>
Justiça Federal do Rio de Janeiro
</center>
<div style="font-family:arial,calibri;">
<center><h4>Relatório de agendamento SigaPP</h4></center>
Rio de Janeiro, <input id="data01" type="text" style="border: thin solid white;" readonly="readonly" />
<br><b>Processo:</b>${frm_processo_ag} <br>
    <b>Periciado:</b>${listAgendamentos[0].periciado}

<script language="javascript">
	//var dat = new Date('dec 15 2014');
	var dat = new Date();
	var mes = dat.getMonth()+1;
	var dia = dat.getDate();
	var ano = dat.getFullYear();	
	document.getElementById('data01').value=dia+"/"+mes+"/"+ ano;
</script>

<table border="2" cellspacing="0" cellpadding="4">
<tr>
<th>DATA</th><th>HORA</th><th>SALA</th><th>ÓRGÃO</th><th>PERITO JUÍZO</th><th>PERITO PARTE</th>
</tr>
#{list items:listAgendamentos , as:'ag'}
<tr>
	<td>${ag.data_ag.toString().substring(8,10)}/${ag.data_ag.toString().substring(5,7)}/${ag.data_ag.toString().substring(0,4)} </td>
	<td>${ag.hora_ag.substring(0,2)}:${ag.hora_ag.substring(2,4)} </td>
	<td>${ag.localFk.local} &nbsp</td>
	<td>${ag.orgao} &nbsp</td>
	<!-- <td>${ag.perito_juizo} &nbsp</td> -->
	<td>
	#{if ag.perito_juizo==null} Sem perito do ju&iacute;zo #{/if}
	#{if ag.perito_juizo!=null}
		#{if ag.perito_juizo.trim()==""} Sem perito do ju&iacute;zo. #{/if} 
	 		#{list items:listPeritos , as:'prt'}
				#{if ag.perito_juizo.trim()==prt.cpf_perito.trim()} ${prt.nome_perito} #{/if}
	 		#{/list}
	#{/if}
	</td>
	<td>${ag.perito_parte} &nbsp</td>
</tr>
#{/list}
</table>
</div>