#{extends 'main.html' /}
#{set title:'Agendadas Hoje' /}
<title>Agendadas Hoje</title>
 <center class="ui-tabs">Perícias marcadas para hoje:#{if listAgendamentos!=null} ${listAgendamentos.data_ag.toString().substring(9,11)}-${listAgendamentos.data_ag.toString().substring(6,8)}-${listAgendamentos.data_ag.toString().substring(1,5)} #{/if}</center>
 <form action="agendadas_hoje_print" method="get" style="position:relative;left:10%;">
    <input type="hidden" name="frm_data_ag" #{if listAgendamentos==null} value="" #{/if}  #{if listAgendamentos!=null} value="${listAgendamentos.data_ag.toString().substring(9,11)}-${listAgendamentos.data_ag.toString().substring(6,8)}-${listAgendamentos.data_ag.toString().substring(1,5)}" #{/if} >
 	<input type="submit" value=" imprime ">
 </form>
 <table class="ui-tabs"  align="center" style="font-size:100%;">
 <tr bgcolor="Silver">
  <th>&nbsp Hora &nbsp </th>
  <th>&nbsp Periciado &nbsp </th>
  <th>&nbsp Juizado &nbsp</th>
  <th>&nbsp Processo &nbsp</th>
  <th>&nbsp Perito Juízo &nbsp</th>
  <th>&nbsp Sala &nbsp</th>
 </tr>
	 
#{list items:listAgendamentos , as:'ag'}
	#{if !b} <tr class="ui-button-icon-only" bgcolor="#dddddd"> #{/if}
	#{if b} <tr class="ui-button-icon-only" > #{/if}
	#{set b: !b /}
	<td>&nbsp ${ag.hora_ag.substring(0,2)}:${ag.hora_ag.substring(2,4)}</td>
	<td>&nbsp ${ag.periciado}</td>
	<td>&nbsp ${ag.orgao}</td>
	<td>&nbsp ${ag.processo}</td>
	<td>
	#{if ag.perito_juizo==null} Sem perito do ju&iacute;zo #{/if}
	#{if ag.perito_juizo!=null}
		#{if ag.perito_juizo.trim()==""} Sem perito do ju&iacute;zo. #{/if} 
	 		#{list items:listPeritos , as:'prt'}
				#{if ag.perito_juizo.trim()==prt.cpf_perito.trim()} ${prt.nome_perito} #{/if}
	 		#{/list}
	#{/if}
	</td>
	<td>&nbsp ${ag.localFk.local}</td>
	
	</tr>
#{/list}
 </table>
   <a style="position:absolute;left:5%;" class="ui-state-hover" href="/sigapp/">Voltar</a>