<!DOCTYPE html>
<meta charset="UTF-8">
#{set title:'Agendadas Hoje Print' /}
<title>Imprime agendadas hoje</title>
<script language="javascript">
	alert('Quando terminar tecle BACKSPACE para retornar.');
</script>
<center><img src="/siga/imagens/brasao.gif"><br>
PODER JUDICIÁRIO<br>
Justiça Federal do Rio de Janeiro
</center>
<div style="font-family:arial,calibri;">
	<center><h4>AGENDAMENTOS DE HOJE - SigaPP</h4></center>
<div style="position:absolute;left:10%;">
	DATA:#{if listAgendamentos != null } ${listAgendamentos.data_ag.toString().substring(9,11)}/${listAgendamentos.data_ag.toString().substring(6,8)}/${listAgendamentos.data_ag.toString().substring(1,5)} #{/if}
</div>
<br><br>
<div style="position:absolute;left:10%;">
 <table border="1" cellspacing="0" cellpadding="4">
 <tr>
 <th>HORA</th><th>SALA</th><th>PERICIADO</th><th>ÓRGÃO</th><th>PERITO JUÍZO</th><th>PERITO PARTE</th>
 </tr>
 #{list items:listAgendamentos , as:'ag'}
 <tr>
	<td>${ag.hora_ag.substring(0,2)}:${ag.hora_ag.substring(2,4)} </td>
	<td>${ag.localFk.local} &nbsp</td>
	<td>${ag.periciado}</td>
	<td>${ag.orgao} &nbsp</td>
	<td>
	#{if ag.perito_juizo==null} Sem perito do ju&iacute;zo #{/if}
	#{if ag.perito_juizo!=null}
		#{if ag.perito_juizo.trim()==""} Sem perito do ju&iacute;zo. #{/if} 
	 		#{list items:listPeritos , as:'prt'}
				#{if ag.perito_juizo.trim()==prt.cpf_perito.trim()} ${prt.nome_perito} #{/if}
	 		#{/list}
	#{/if}
	 &nbsp</td>
	<td>${ag.perito_parte} &nbsp</td>
 </tr>
 #{/list}
 </table>
</div>
</div>