#{extends 'main.html' /}
#{set title:'Incluir Forum' /}
<script language="javascript" type="text/javascript">
 function chamada(novaURL){
	 $(window.document.location).attr('href',novaURL);
 }
</script>

<form class= name="" action="@{forum_insert()}" onsubmit="" method="POST" enctype="multipart/form-data" ><br>
<font style="position: absolute;left:5%;right:77%;" class="ui-state-default" size="3px">Código do Forum:</font><input  name="cod_forum" type="text" style="position:absolute;left:25%;" class="ui-widget" size="5" maxlength="2" /> <!-- int --><br>
  <br>
  <font style="position: absolute;left:5%;right:77%;" class="ui-state-default" size="3px" >Descrição:</font> <input  name="descricao" type="text" style="position:absolute;left:25%;" class="ui-widget" size="50" maxlength="50" /> <!-- String --><br>
  <br>
  <font style="position: absolute;left:5%;right:77%" class="ui-state-default" size="3px">Mural:</font><input name="mural" type="text" style="position:absolute;left:25%;" class="ui-widget" size="100" maxlength="1000" /> <!-- String  -->
  <br><br>         
  <div style="position:absolute;left:5%;right:77%;">
   <input class="ui-button" type="submit" value="Grava" /><input  type="button" class="ui-button" value="Lista" onclick="chamada('@{foruns_listar()}');" /><br>
  </div>
</form>
<a style="position:absolute;left:5%;top:60%;" class="ui-state-hover" href="/sigapp/">Voltar</a>
<div id="div_msg" class="ui-widget"></div>