#{extends 'main.html' /}
#{set title:'Home Page SigaPP' /}
<div class="ui-widget" style="position: absolute;left:2%;right:2%">
Horários:<br>
#{list items:lstLocais, as:'av'}
	${av.local} ${av.dias} ${av.hora_ini} ${av.hora_fim} ${av.endereco} <br> <br>
#{/list}
<br><br><br>
<div id="div_mural">
#{list items:vetorForuns, as:'texto'}
	${texto}	
	<br>
#{/list}

</div>
 <br>
 <br>
<table border="2px" cellspacing="1px" cellpadding="2px" style="font-size:100%;" >
	<tr><th>
	ATENÇÃO: 
	A fim de evitar que os periciandos aguardem excessivamente por atendimento no espaço de espera das salas de perícia nas dependências do Foro , é importante que o horário para seu comparecimento à perícia, constante do mandado de intimação, seja igual ao horário efetivamente agendado no sistema SigaPP. 
	Veja mais informações no Ofício Circular  <a href="http://portalintranet/documentos/grupo_172/oficios_circulares/2012/rjocd201200063a.pdf">RJ-OCD-2012/00063</a>. 
	</th></tr>
</table>
</div> 