#{extends 'main.html' /}
#{set title:'Incluir Perito' /}
<!DOCTYPE html>
<meta charset="ISO-8859-1">
<title>Incluir Perito</title>
<form  action="@{perito_insert()}"  method="post" enctype="multipart/form-data"><br>
 <font style="position: absolute;left:5%;right:77%;" class="ui-state-default" size="3px">CPF do Perito:</font><input type="text" name="cpf_perito" style="position:absolute;left:25%;" class="ui-widget"" size="11" maxlength="11" > <font style="position:absolute;left:50%;"" class="ui-state-default" size="3px">(digite sem pontos ou tra&ccedil;os)</font>
 <br><br>
 <font style="position: absolute;left:5%;right:77%;" class="ui-state-default" size="3px" >Nome:</font><input type="text" name="nome_perito" style="position:absolute;left:25%;" class="ui-widget" size="40" maxlength="200"><br><br>
 <div style="position:absolute;left:5%;right:77%;">
  <input class="ui-button" type="Submit" value="Incluir Perito" >
 </div>
</form>
<a style="position:absolute;left:5%;top:60%;" class="ui-state-hover" href="/sigapp/">Voltar</a>
<div id="div_msg" class="ui-widget"></div>