#{extends 'main.html' /}
#{set title:'Lista Salas' /}
<script language="JavaScript" type="text/javascript">
function formata(){
	var aux = document.getElementById('cod_local01').value.toUpperCase();
	document.getElementById('cod_local01').value = aux;
}
</script>
<br>
<table class="ui-tabs"  align="center" style="font-size: 100%;">
<tr  bgcolor="silver">
<th>&nbsp Código &nbsp</th>
<th>&nbsp Sala &nbsp</th>
<th>&nbsp Forum &nbsp</th>
<th>&nbsp Dias &nbsp</th>
<th>&nbsp Abre as &nbsp</th>
<th>&nbsp Fecha as &nbsp</th>
<th>&nbsp Endereço &nbsp</th>
<th></th>
</tr>
	#{list items:listLocais, as:'locais'}
		#{if !b} <tr class="ui-button-icon-only" bgcolor="#dddddd"><td>&nbsp ${locais.cod_local} #{/if}
		#{if b} <tr class="ui-button-icon-only" > <td>&nbsp ${locais.cod_local} #{/if}
		#{set b: !b /}
		</td>
		<td>&nbsp ${locais.local}</td>
		<td>&nbsp ${locais.forumFk.descricao_forum}</td>
		<td>&nbsp ${locais.dias}</td>
		<td>&nbsp ${locais.hora_ini}</td>
		<td>&nbsp ${locais.hora_fim}</td>
		<td>&nbsp ${locais.endereco}</td>
		<td>&nbsp <form name="sala_deleta01" action="@{sala_delete()}" method="post">&nbsp <img  src="/siga/css/famfamfam/icons/delete.png">&nbsp <input type="hidden" name="cod_sala" value="${locais.cod_local}" /> <input type="submit"  value="Exclui" /></form></td>
	</tr>
	#{/list}
</table>
<br>
<form  style="border-style: groove; border-color: silver;" name="restringe_foruns" action="@{salas_listar()}" method="get" onsubmit="formata()" >
<br>
<font class="ui-state-default" size="3px" style="position:absolute;left:5%;right:79%;"> Código: </font><input id="cod_local01" type="text" name="cod_local" class="ui-widget" style="position:absolute;left:25%;" maxlength="3" size="3" /><br>
<br>
<font class="ui-state-default" size="3px" style="position:absolute;left:5%;right:79%;"> Sala: </font><input type="text" name="sala" class="ui-widget" style="position:absolute;left:25%;" maxlength="50" size="50" /><br>
<br>
<font class="ui-state-default" size="3px%" style="position:absolute;left:5%;right:79%"> Descrição Forum: </font><input type="text" name="desc_forum" class="ui-widget" style="position:absolute;left:25%;" maxlength="50" size="50" /><br>
<br>
<input type="submit" class="ui-button" style="position:absolute;left:5%;" value="Busca" onclick="" /> 
</form>
<br><br>
<a class="ui-state-hover" style="position:absolute;left:5%;" href="/sigapp/">Voltar</a>