#{extends 'main.html' /}
#{set title:'Usuario Atualiza' /}
<title>Usuario Atualiza</title>

<form  name="frmAtualizaUsuario" method="get" action="usuario_atualiza">
 <br>
 <div class="ui-state-default" style="position: absolute;left:5%;right:77%;">Matrícula:</div> <input type="text" name="objUsuario.matricula_usu" style="position:absolute;left:25%;" #{if objUsuario!=null} value="${objUsuario.matricula_usu}" #{/if} readonly="readonly" />
 <br><br>
 <div class="ui-state-default" style="position: absolute;left:5%;right:77%;">Nome: </div><input type="text" name="objUsuario.nome_usu" style="position:absolute;left:25%;" #{if objUsuario!=null} value="${objUsuario.nome_usu}" #{/if} readonly="readonly" />
 <br><br>
 <div class="ui-state-default" style="position: absolute;left:5%;right:77%;">Forum: </div> <!-- <input type="text" name="paramCodForum" style="position:absolute;left:25%;" #{if paramCodForum!=null} value="${paramCodForum}" #{/if} /> -->
 <select class="ui-state-default" style="position:absolute;left:25%;" name="paramCodForum" >
 <option value="${paramCodForum}" selected="selected">${descricaoForum}</option>
 	#{list items:outrosForuns , as:'outros'}
 	<option value="${outros.cod_forum}">${outros.descricao_forum}</option>
 	#{/list}
 </select>
 <br><br>
 <input class="ui-button" style="position: absolute;left:5%;" type="submit" value="Atualiza Forum do Usuário" />
 <br><br><br>
 <h4 class="ui-widget" style="position:absolute;left:5%; color:red;">${mensagem}</h4>	 
</form>
<a style="position:absolute;left:5%;top:50%;" class="ui-state-hover" href="/sigapp/">Voltar</a>