<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- Define custom levels before using them for filtering below. -->
    <CustomLevels>
        <CustomLevel name="BLAME" intLevel="450"/>
    </CustomLevels>

    <Appenders>
        <RollingFile name="file"
                     fileName="sigaex-user-request-track.log"
                     filePattern="sigaex-user-request-track-%d{MM-dd-yy-HH-mm-ss}-%i.log">
            <PatternLayout pattern="%-5p %d %C{1} %m [%MDC]%n" />
            <SizeBasedTriggeringPolicy size="10 MB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <AsyncLogger name="br.gov.jfrj.siga.ex.interceptor.UserRequestInterceptor" level="BLAME"/>

        <AsyncRoot level="BLAME">
            <AppenderRef ref="file" />
        </AsyncRoot>
    </Loggers>

</Configuration>