<?xml version="1.0" encoding="UTF-8"?>
<suite name="Testes de Integração do SigaDoc">
	<test name="SigaDoc - Explorer">
		<classes>
		    <parameter name="Operating_System" value="VISTA"/>
        	<parameter name="Browser_Name" value="internet explorer"/>
        	<parameter name="Browser_Version" value="10.0"/>		
 			<class name="br.gov.jfrj.siga.integration.test.CriacaoDocumentoIT"/>
<!--  			<class name="br.gov.jfrj.siga.integration.test.AcoesDocumentoIT"/>		
			<class name="br.gov.jfrj.siga.integration.test.AcoesDocumentoDigitalIT"/>
			<class name="br.gov.jfrj.siga.integration.test.ProcessoAdministrativoFisicoIT"/>
			<class name="br.gov.jfrj.siga.integration.test.ProcessoAdministrativoDigitalIT"/> -->
			<!-- <class name="br.gov.jfrj.siga.integration.test.WorkflowDigitalIT"/> -->	 	 				
		</classes>
	</test>		
<!-- 	<test name="SigaDoc - Chrome">
		<classes>
		    <parameter name="Operating_System" value="VISTA"/>
        	<parameter name="Browser_Name" value="chrome"/>
        	<parameter name="Browser_Version" value="40.0"/>		
 			<class name="br.gov.jfrj.siga.integration.test.CriacaoDocumentoIT"/>
 			<class name="br.gov.jfrj.siga.integration.test.AcoesDocumentoIT"/>		
			<class name="br.gov.jfrj.siga.integration.test.AcoesDocumentoDigitalIT"/>
			<class name="br.gov.jfrj.siga.integration.test.ProcessoAdministrativoFisicoIT"/>
			<class name="br.gov.jfrj.siga.integration.test.ProcessoAdministrativoDigitalIT"/>
			<class name="br.gov.jfrj.siga.integration.test.WorkflowDigitalIT"/>	 	 				
		</classes>
	</test>
	
	<test name="SigaDoc - FireFox">
		<classes>
		    <parameter name="Operating_System" value="VISTA"/>
        	<parameter name="Browser_Name" value="firefox"/>
        	<parameter name="Browser_Version" value="34.0"/>		
 			<class name="br.gov.jfrj.siga.integration.test.CriacaoDocumentoIT"/>
 			<class name="br.gov.jfrj.siga.integration.test.AcoesDocumentoIT"/>		
			<class name="br.gov.jfrj.siga.integration.test.AcoesDocumentoDigitalIT"/>
			<class name="br.gov.jfrj.siga.integration.test.ProcessoAdministrativoFisicoIT"/>
			<class name="br.gov.jfrj.siga.integration.test.ProcessoAdministrativoDigitalIT"/>
			<class name="br.gov.jfrj.siga.integration.test.WorkflowDigitalIT"/>	 	 				
		</classes>
	</test> -->
	
</suite>