#{extends 'main.html' /} #{set popup='true' /}
<script language="javascript">
function sbmt(nivel){
	document.getElementById('alterou').value=nivel;
	frm.submit();
}
</script>
<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<div class="gt-content-box gt-for-table">
			<form action="@{Application.buscarSrItemConfiguracao}" id="frm">
				<input type="hidden" name="alterou" id="alterou" />
				<table class="gt-form-table">
					<tr class="header">
						<td align="center" valign="top" colspan="4">Dados do item</td>
					</tr>
					<tr>
						<td>Categoria:</td>
						<td>
							<table>
								<tr>
									<td>#{select name:'categoria1.idItemConfiguracao',
										items:opcoesNivel1, labelProperty:'descrItemConfiguracao',
										value:categoria1.idItemConfiguracao, onchange:'javascript:
										sbmt(1);'} #{option 0}Todos#{/option} #{/select}</td>
								</tr>
								#{if opcoesNivel2}
								<tr>
									<td>#{select name:'categoria2.idItemConfiguracao',
										items:opcoesNivel2, labelProperty:'descrItemConfiguracao',
										value:categoria2.idItemConfiguracao,
										onchange:'javascript:sbmt(2);'} #{option 0}Todos#{/option}
										#{/select}</td>
								</tr>
								#{/if} #{if opcoesNivel3}
								<tr>
									<td>#{select name:'categoria3.idItemConfiguracao',
										items:opcoesNivel3, labelProperty:'descrItemConfiguracao',
										value:categoria3.idItemConfiguracao,
										onchange:'javascript:sbmt(3);'} #{option 0}Todos#{/option}
										#{/select}</td>
								</tr>
								#{/if}
							</table>
						</td>
					</tr>
					<tr>
						<td>Descrição</td>
						<td><table>
								<tr>
									<td><input type="text" name="filtro.descrItemConfiguracao"
										value="${filtro?.descrItemConfiguracao}" /> <input
										type="hidden" name="nome" value="${nome}" />
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td><input type="submit" class="gt-btn-small gt-btn-left"
							value="Pesquisar" /></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
<div class="gt-content-box">
	<table class="gt-table">
		<tr>
			<th>Código
			</td>
			<th>Descrição
			</td>
		</tr>
		#{list items:itens, as:'item'}
		<tr>
			<td><a
				href="javascript:opener.retorna_${tipo}${nome}('${item.id}','${item.sigla}','${item.descricao}');window.close()">${item.sigla}</a>
			</td>
			<td>${item.descricao}</td>
		</tr>
		#{/list}
	</table>
</div>