#{extends 'main.html' /}
#{set popup='true' /}
<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<div class="gt-content-box gt-for-table">
			<form action="@{Application.buscarSrServico}">
				<table class="gt-form-table">
					<tr class="header">
						<td align="center" valign="top" colspan="4">Dados do serviço</td>
					</tr>
					<tr>
						<td>Categoria</td>
						<td>#{select name:'categoria.idServico', items:opcoesNivel1,
							labelProperty:'descrServico', value:categoria.idServico} #{option
							0}Todos#{/option} #{/select}</td>
					</tr>
					<tr>
						<td>Descrição</td>
						<td><input type="text" name="filtro.descrServico"
							value="${filtro?.descrServico}" />  <input type="hidden" name="nome"
							value="${nome}" />
						</td>
					</tr>
					<tr>
						<td><input type="submit" class="gt-btn-small gt-btn-left" value="Pesquisar" /></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
<div class="gt-content-box">
	<table class="gt-table">
		<tr>
			<th>Código
			</td>
			<th>Descrição
			</td>
		</tr>
		#{list items:itens, as:'servico'}
		<tr>
			<td><a href="javascript:opener.retorna_${tipo}${nome}('${servico.id}','${servico.sigla}','${servico.descricao}');window.close()">${servico.sigla}</a>
			</td>
			<td>${servico.descricao}</td>
		</tr>
		#{/list}
	</table>
</div>