#{extends 'main.html' /} #{set title:'Exibição a lista de prioridades' /}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
	$( "#sortable" ).sortable();
	$( "#sortable" ).disableSelection();
	});
</script>

	<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
	<h2> ${lista.nomeLista}</h2>
		<p class="gt-table-action-list">
			#{if editar} <a class="once"
				href="@{Application.editarLista(lista.idLista)}"> <img
				src="/siga/css/famfamfam/icons/pencil.png"
				style="margin-right: 5px;">Editar</a>&nbsp;&nbsp;&nbsp; #{/if}
		</p>
 	<div class="gt-content-box gt-for-table">
	<table id="sortable" border="0" class="gt-table-nowrap">
			<col width="5%" />
			<col width="5%" />
			<col width="15%" />
    		<col width="20%" />
    		<col width="10%" />
    		<col width="10%" />
    		<col width="15%" />
    		<col width="15%" />
    		<thead>
				<tr class="gt-celula-nowrap">
					<th style="color: #333; font-weight: bold; padding: 7px 10px;"></th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Prior</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Código</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Teor</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Solicitante</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Aberto</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Situação</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Última Movimentação</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Exc</th>
				</tr>
			</thead>
			<tbody>
			#{list items:sols, as:'sols'}
			<form action="@{Application.desassociarLista()}" enctype="multipart/form-data">	
			<tr id="${sols.idSolicitacao}">
			<td class="gt-celula-nowrap" style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
			<img id="imgCancelar" src="/siga/css/famfamfam/icons/arrow_switch.png" style="margin-right: 5px;"> 
			</td>
			<td class="gt-celula-nowrap" style="font-size: 9pt; padding: 7px 10px; border-bottom: 1px solid #ccc !important;" "id="prioridade">
				${sols.getUltimaMovimentacao()?.prioridade}
			</td>
			<td class="gt-celula-nowrap" style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
						<a href="@{Application.exibir(sols.idSolicitacao)}">
							${sols.codigo}
						</a>	
			</td>
			<td class="gt-celula-nowrap" style="font-size: 9pt; padding: 7px 10px; border-bottom: 1px solid #ccc !important;" "id="descrSolicitacao">
			<b style="color: #333">
			${sols.itemConfiguracao?.descricao}&nbsp;-&nbsp;${sols.acao?.descricao}:</b>&nbsp;
			#{selecionado sigla:sols?.descrSolicitacao,descricao:sols?.descrSolicitacao /}
			</td>
			<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px;" >
			#{selecionado sigla:sols.solicitante.descricaoIniciaisMaiusculas + ',' + sols.lotaSolicitante.siglaLotacao, descricao:sols.solicitante.descricaoIniciaisMaiusculas + ',' + sols.lotaSolicitante.siglaLotacao/},
			#{selecionado sigla:sols.lotaSolicitante.siglaLotacao,descricao:sols.lotaSolicitante.siglaLotacao /}
			</td>
			<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
			#{selecionado sigla:sols.solicitacaoInicial.dtRegString,descricao:sols.solicitacaoInicial.dtRegString /}
			</td>						
			<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
				<b>${sols?.lotaAtendente.siglaLotacao}</b></td>
			<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
				${sols.ultimaMovimentacao.descrMovimentacao}</td>
			<td class="gt-celula-nowrap" style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #ccc !important; 
								padding: 7px 10px;">
				<a class="once" href="@{Application.desassociarLista(sols.idSolicitacao,lista.idLista)}" title="Remover da Lista" 
						name="idSolicitacao" value="${sols.idSolicitacao}"> 
				<img id="imgCancelar" src="/siga/css/famfamfam/icons/cancel_gray.png" style="margin-right: 5px;"> </a>
			</td>	
			</tr>		
			</tbody>		
			
			#{/list}
			</table>
		</div>
	
</div>

		<!-- /content box -->
		<div class="gt-table-buttons">
			<input type="hidden" name="idLista" value="${lista.idLista}">
			<a href="@{Application.listarLista}" class="gt-btn-medium gt-btn-left">Voltar</a>
		</form>
		</div>
