#{extends 'main.html' /} #{set title:'Edição de Item de Configuração' /}

<style>
.inline {
	display: inline-flex !important;
}

.tabela {
	margin-top: -10px;
	min-width: 200px;
}

.tabela tr {
	border: solid;
	border-color: rgb(169, 169, 169);
	border-width: 1px;
	font-weight: bold;
	line-height: 20px;
}

.tabela th {
	color: #365b6d;
	font-size: 100%;
	padding: 5px 10px;
	border: solid 1px rgb(169, 169, 169);
}

.tabela td {
	color: #000;
	padding-right: 10px !important;
}

.gt-form-table td {
	padding-right: 0px;
}

.barra-subtitulo {
	background-color: #eee;
	color: #365b6d;
	padding: 10px 15px;
	border: 1px solid #ccc;
	border-radius: 0;
	font-weight: bold;
	margin: 0 0 10px -16px;
}

.barra-subtitulo-top {
	border-radius: 5px 5px 0 0;
	margin: -16px 0 10px -16px;
}
</style>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="/sigasr/public/javascripts/jquery.maskedinput.min.js"></script>

<script>
	
	$("#itemConfiguracao").mask("99.99.99");

	//removendo a referencia de '$' para o jQuery
	$.noConflict();
	
	jQuery( document ).ready(function( $ ) {
		/* Table initialization */
		designacoesTable = $('#designacoes_table').DataTable({
			"language": {
				"emptyTable":     "Não existem resultados",
			    "info":           "Mostrando de _START_ a _END_ do total de _TOTAL_ registros",
			    "infoEmpty":      "Mostrando de 0 a 0 do total de 0 registros",
			    "infoFiltered":   "(filtrando do total de _MAX_ registros)",
			    "infoPostFix":    "",
			    "thousands":      ".",
			    "lengthMenu":     "Mostrar _MENU_ registros",
			    "loadingRecords": "Carregando...",
			    "processing":     "Processando...",
			    "search":         "Filtrar:",
			    "zeroRecords":    "Nenhum registro encontrado",
			    "paginate": {
			        "first":      "Primeiro",
			        "last":       "Último",
			        "next":       "Próximo",
			        "previous":   "Anterior"
			    },
			    "aria": {
			        "sortAscending":  ": clique para ordenação crescente",
			        "sortDescending": ": clique para ordenação decrescente"
			    }
			},
			"columnDefs": [{
				"targets": [0, 2, 4, 5, 6, 8, 9, 11, 12, 14, 15, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41],
				"visible": false,
				"searchable": false
			}]
		});
		
		$('#designacoes_table tbody').on('click', 'tr', function () {
			if (designacoesTable.row(this).data() != undefined) {
				if (!$(this).hasClass('selected') ) {
		            designacoesTable.$('tr.selected').removeClass('selected');
		            $(this).addClass('selected');
		        }
	
				atualizarDesignacaoModal(designacoesTable.row(this).data());
				designacaoModalAbrir(true);
			}
		});
	});
	
	function atualizarItensBooleanos(itemArray) {
		//ajusta os valores booleanos das colunas 32, 34, 35, 36, 37 e 38
		itemArray[32] = transformStringToBoolean(itemArray[32]);
		itemArray[34] = transformStringToBoolean(itemArray[34]);
		itemArray[35] = transformStringToBoolean(itemArray[35]);
		itemArray[36] = transformStringToBoolean(itemArray[36]);
		itemArray[37] = transformStringToBoolean(itemArray[37]);
		itemArray[38] = transformStringToBoolean(itemArray[38]);
	};
	
	function transformStringToBoolean(value) {
		if (value.constructor.name == 'String')
			return value == 'true';
		else
			return value;
	}
	
	function atualizarDesignacaoListasPrioridade(itemArray) {
		// lista já foi criada, basta adicionar na tela
		if (itemArray[40].constructor.name != 'String')
			$("#listasDesignacao").append(itemArray[40]);
		
		// transforma o valor String em objeto, caso necessário
		else if (itemArray[39].constructor.name ==  'String' && itemArray[39] != '') {
			var listaDesignacao = JSON.parse(itemArray[39]);
			
			// cria a lista de itens, e adiciona na tela
			for (i = 0; i < listaDesignacao.listaConfiguracaoSetVO.length; i++) {
				var item = listaDesignacao.listaConfiguracaoSetVO[i];
				
				$("#listasDesignacao")[0].incluirItem(item.idLista, item.nomeLista, item.idListaConfiguracao);
			}
		}
	}
	
	function atualizarDesignacaoModal(itemArray) {
		// ajusta os valores das colunas antes de abrir a tela
		atualizarItensBooleanos(itemArray);
		
		// recupera as comboboxes
		var jOrgaoUsuarioCbb = document.getElementsByName("orgaoUsuario")[0],
		jComplexoCbb = document.getElementsByName("complexo")[0],
		jPesquisaSatisfacaoCbb = document.getElementsByName("pesquisaSatisfacao")[0],
		jUnMedPreAtendimentoCbb = document.getElementsByName("unidadeMedidaPreAtendimento")[0],
		jUnMedAtendimentoCbb = document.getElementsByName("unidadeMedidaAtendimento")[0],
		jUnMedPosAtendimentoCbb = document.getElementsByName("unidadeMedidaPosAtendimento")[0],
		jPessoaLotaFuncCargoCbb = $("#dpPessoalotacaofuncaoConfiancacargo")[0];
		
		// atualiza os valores das combos
		jOrgaoUsuarioCbb.selectedIndex = findSelectedIndexByValue(jOrgaoUsuarioCbb, itemArray[0]);
		jComplexoCbb.selectedIndex = findSelectedIndexByValue(jComplexoCbb, itemArray[2]);
		jPessoaLotaFuncCargoCbb.selectedIndex = findSelectedIndexByValue(jPessoaLotaFuncCargoCbb, itemArray[4]);
		jPesquisaSatisfacaoCbb.selectedIndex = findSelectedIndexByValue(jPesquisaSatisfacaoCbb, itemArray[23]);
		jUnMedPreAtendimentoCbb.selectedIndex = findSelectedIndexByValue(jUnMedPreAtendimentoCbb, itemArray[26]);
		jUnMedAtendimentoCbb.selectedIndex = findSelectedIndexByValue(jUnMedAtendimentoCbb, itemArray[28]);
		jUnMedPosAtendimentoCbb.selectedIndex = findSelectedIndexByValue(jUnMedPosAtendimentoCbb, itemArray[30]);
		
		// atualiza os valores dos demais campos
		$("#acao").val(itemArray[8]);
		$("#acao_descricao").val(itemArray[9]);
		$("#acao_sigla").val(itemArray[10]);
		$("#acaoSpan").html(itemArray[9]);
		$("#atendente").val(itemArray[11]);
		$("#atendente_descricao").val(itemArray[12]);
		$("#atendente_sigla").val(itemArray[13]);
		$("#atendenteSpan").html(itemArray[12]);
		$("#preAtendente").val(itemArray[14]);
		$("#preAtendente_descricao").val(itemArray[15]);
		$("#preAtendente_sigla").val(itemArray[16]);
		$("#preAtendenteSpan").html(itemArray[15]);
		$("#posAtendente").val(itemArray[17]);
		$("#posAtendente_descricao").val(itemArray[18]);
		$("#posAtendente_sigla").val(itemArray[19]);
		$("#posAtendenteSpan").html(itemArray[18]);
		$("#equipeQualidade").val(itemArray[20]);
		$("#equipeQualidade_descricao").val(itemArray[21]);
		$("#equipeQualidade_sigla").val(itemArray[22]);
		$("#equipeQualidadeSpan").html(itemArray[21]);
		$("#slaPreAtendimentoQuantidade").val(itemArray[25]);
		$("#slaAtendimentoQuantidade").val(itemArray[27]);
		$("#slaPosAtendimentoQuantidade").val(itemArray[29]);
		$("#margemSeguranca").val(itemArray[31]);
		$("#checkdivulgarSLA")[0].checked = itemArray[32];
		$("#observacaoSLA").val(itemArray[33]);
		$("#checknotificarGestor")[0].checked = itemArray[34];
		$("#checknotificarSolicitante")[0].checked = itemArray[35];
		$("#checknotificarCadastrante")[0].checked = itemArray[36];
		$("#checknotificarInterlocutor")[0].checked = itemArray[37];
		$("#checknotificarAtendente")[0].checked = itemArray[38];
		$("#idConfiguracao").val(itemArray[41]);
		
		atualizarDesignacaoListasPrioridade(itemArray);
		
		// atualiza os valores do componente pessoaLotaFuncCargoSelecao
		getIdFieldSolicitante(itemArray[4]).val(itemArray[5]);
		getDescricaoFieldSolicitante(itemArray[4]).val(itemArray[6]);
        getSiglaFieldSolicitante(itemArray[4]).val(itemArray[7]);
        getSpanFieldSolicitante(itemArray[4]).val(itemArray[6]);
	};
	
	function findSelectedIndexByValue(comboBox, value) {
		for (var i = 0; i < comboBox.options.length; i++) {
			if (comboBox.options[i].value == value)
				return i;
		}
		
		return 0;
	};
	
	function designacaoModalAbrir(isEdicao) {
		isEditing = isEdicao;
		
		if (isEdicao)
			$("#designacao_dialog").dialog('option', 'title', 'Alterar Designação');
		else
			$("#designacao_dialog").dialog('option', 'title', 'Incluir Designação');
		
		$("#designacao_dialog").dialog('open');
	}
	
	$("#designacao_dialog").dialog({
	    autoOpen: false,
	    height: 'auto',
	    width: 'auto',
	    modal: true,
	    resizable: false
	});
	
	function designacaoModalFechar() {
		isEditing = false;
		$("#designacao_dialog").dialog("close");
		
		// recupera as comboboxes
		var jOrgaoUsuarioCbb = document.getElementsByName("orgaoUsuario")[0],
		jComplexoCbb = document.getElementsByName("complexo")[0],
		jPesquisaSatisfacaoCbb = document.getElementsByName("pesquisaSatisfacao")[0],
		jUnMedPreAtendimentoCbb = document.getElementsByName("unidadeMedidaPreAtendimento")[0],
		jUnMedAtendimentoCbb = document.getElementsByName("unidadeMedidaAtendimento")[0],
		jUnMedPosAtendimentoCbb = document.getElementsByName("unidadeMedidaPosAtendimento")[0],
		jPessoaLotaFuncCargoCbb = $("#dpPessoalotacaofuncaoConfiancacargo")[0];
		
		// resetando os valores das combos
		jOrgaoUsuarioCbb.selectedIndex = 0;
		jComplexoCbb.selectedIndex = 0;
		jPesquisaSatisfacaoCbb.selectedIndex = 0;
		jUnMedPreAtendimentoCbb.selectedIndex = 0;
		jUnMedAtendimentoCbb.selectedIndex = 0;
		jUnMedPosAtendimentoCbb.selectedIndex = 0;
		jPessoaLotaFuncCargoCbb.selectedIndex = 0;
		
		// limpando campos do componente pessoaLotaFuncCargoSelecao
		$("#dpPessoa").val('');
		$("#dpPessoa_descricao").val('');
		$("#dpPessoa_sigla").val('');
		$("#dpPessoaSpan").html('');
		$("#lotacao").val('');
		$("#lotacao_descricao").val('');
		$("#lotacao_sigla").val('');
		$("#lotacaoSpan").html('');
		$("#funcaoConfianca").val('');
		$("#funcaoConfianca_descricao").val('');
		$("#funcaoConfianca_sigla").val('');
		$("#funcaoConfiancaSpan").html('');
		$("#cargo").val('');
		$("#cargo_descricao").val('');
		$("#cargo_sigla").val('');
		$("#cargoSpan").html('');
			
		// limpando os valores dos demais campos
		$("#acao").val('');
		$("#acao_descricao").val('');
		$("#acao_sigla").val('');
		$("#acaoSpan").html('');
		$("#atendente").val('');
		$("#atendente_descricao").val('');
		$("#atendente_sigla").val('');
		$("#atendenteSpan").html('');
		$("#preAtendente").val('');
		$("#preAtendente_descricao").val('');
		$("#preAtendente_sigla").val('');
		$("#preAtendenteSpan").html('');
		$("#posAtendente").val('');
		$("#posAtendente_descricao").val('');
		$("#posAtendente_sigla").val('');
		$("#posAtendenteSpan").html('');
		$("#equipeQualidade").val('');
		$("#equipeQualidade_descricao").val('');
		$("#equipeQualidade_sigla").val('');
		$("#equipeQualidadeSpan").html('');
		$("#slaPreAtendimentoQuantidade").val('');
		$("#slaAtendimentoQuantidade").val('');
		$("#slaPosAtendimentoQuantidade").val('');
		$("#margemSeguranca").val('');
		$("#checkdivulgarSLA")[0].checked = false;
		$("#observacaoSLA").val('');
		$("#checknotificarGestor")[0].checked = false;
		$("#checknotificarSolicitante")[0].checked = false;
		$("#checknotificarCadastrante")[0].checked = false;
		$("#checknotificarInterlocutor")[0].checked = false;
		$("#checknotificarAtendente")[0].checked = false;
		removerItensListaPrioridade();
		$("#idConfiguracao").val('');
	};
	
	function inserirDesignacao() {
		// recupera as comboboxes
		var jOrgaoUsuarioCbb = document.getElementsByName("orgaoUsuario")[0],
			jOrgaoUsuario = jOrgaoUsuarioCbb.options[jOrgaoUsuarioCbb.selectedIndex],
			jComplexoCbb = document.getElementsByName("complexo")[0],
			jComplexo = jComplexoCbb.options[jComplexoCbb.selectedIndex],
			jPesquisaSatisfacaoCbb = document.getElementsByName("pesquisaSatisfacao")[0],
			jPesquisaSatisfacao = jPesquisaSatisfacaoCbb.options[jPesquisaSatisfacaoCbb.selectedIndex],
			jUnMedPreAtendimentoCbb = document.getElementsByName("unidadeMedidaPreAtendimento")[0],
			jUnMedPreAtendimento = jUnMedPreAtendimentoCbb.options[jUnMedPreAtendimentoCbb.selectedIndex],
			jUnMedAtendimentoCbb = document.getElementsByName("unidadeMedidaAtendimento")[0],
			jUnMedAtendimento = jUnMedAtendimentoCbb.options[jUnMedAtendimentoCbb.selectedIndex]
			jUnMedPosAtendimentoCbb = document.getElementsByName("unidadeMedidaPosAtendimento")[0],
			jUnMedPosAtendimento = jUnMedPosAtendimentoCbb.options[jUnMedPosAtendimentoCbb.selectedIndex],
			jPessoaLotaFuncCargoCbb = $("#dpPessoalotacaofuncaoConfiancacargo")[0],
			jPessoaLotaFuncCargo = jPessoaLotaFuncCargoCbb.options[jPessoaLotaFuncCargoCbb.selectedIndex];
		
		var idDesignacao = $("#idConfiguracao").val() != undefined ? $("#idConfiguracao").val() : '';
		
		var row = [ 
		            jOrgaoUsuario.value,
          			jOrgaoUsuario.text, 
          			jComplexo.value,
          			jComplexo.text,
          			jPessoaLotaFuncCargo.value,
          			getIdFieldSolicitante(jPessoaLotaFuncCargo.value).val(),
          			getDescricaoFieldSolicitante(jPessoaLotaFuncCargo.value).val(),
          			getSiglaFieldSolicitante(jPessoaLotaFuncCargo.value).val(),
          			$("#acao").val(),
          			$("#acao_descricao").val(),
          			$("#acao_sigla").val(),
          			$("#atendente").val(),
          			$("#atendente_descricao").val(),
          			$("#atendente_sigla").val(),
          			$("#preAtendente").val(),
          			$("#preAtendente_descricao").val(),
          			$("#preAtendente_sigla").val(),
          			$("#posAtendente").val(),
          			$("#posAtendente_descricao").val(),
          			$("#posAtendente_sigla").val(),
          			$("#equipeQualidade").val(),
          			$("#equipeQualidade_descricao").val(),
          			$("#equipeQualidade_sigla").val(),
          			jPesquisaSatisfacao.value,
          			jPesquisaSatisfacao.text,
          			$("#slaPreAtendimentoQuantidade").val(),
          			jUnMedPreAtendimento.value,
          			$("#slaAtendimentoQuantidade").val(),
          			jUnMedAtendimento.value,
          			$("#slaPosAtendimentoQuantidade").val(),
          			jUnMedPosAtendimento.value,
          			$("#margemSeguranca").val(),
          			$("#checkdivulgarSLA")[0].checked,
          			$("#observacaoSLA").val(),
          			$("#checknotificarGestor")[0].checked,
          			$("#checknotificarSolicitante")[0].checked,
          			$("#checknotificarCadastrante")[0].checked,
          			$("#checknotificarInterlocutor")[0].checked,
          			$("#checknotificarAtendente")[0].checked,
          			getListasDesignacaoAsString(),
          			$("#listasDesignacao").find("li"),
          			$("#idConfiguracao").val()
		];
		
		if (isEditing) {
			designacoesTable.row('.selected').data(row);
		}
		else {
			designacoesTable.row.add(row).draw();
		}
		
		designacaoModalFechar();
	};
	
	function getListasDesignacaoAsString() {
		var indice = isEditing ? designacoesTable.row('.selected').index() : designacoesTable.rows().data().length;
    	var params = '';
    	
    	$("#listasDesignacao").find("li").each(function(i){
            var jDivs=$(this).find("span");
            params += '&itemConfiguracao.designacoes[' + indice + '].listaConfiguracaoSet[' + i + '].lista.idLista=' + jDivs[1].id;
            params += '&itemConfiguracao.designacoes[' + indice + '].listaConfiguracaoSet[' + i + '].lista.nomeLista=' + jDivs[1].id;
        });
    	
    	return params;
    };
    
    function removerItensListaPrioridade() {
    	$("#listasDesignacao").find("li").each(function(i){
            this.remove();
            $("#listasDesignacao")[0]["index"]--;
        });
    };
	
	function getIdFieldSolicitante(tipo) {
		if (tipo == 1)
			return $("#dpPessoa");
		else if (tipo == 2)
			return $("#lotacao");
		else if (tipo == 3)
			return $("#funcaoConfianca");
		else
			return $("#cargo");
	};
	
	function getDescricaoFieldSolicitante(tipo) {
		if (tipo == 1)
			return $("#dpPessoa_descricao");
		else if (tipo == 2)
			return $("#lotacao_descricao");
		else if (tipo == 3)
			return $("#funcaoConfianca_descricao");
		else
			return $("#cargo_descricao");
	};
	
	function getSiglaFieldSolicitante(tipo) {
		if (tipo == 1)
			return $("#dpPessoa_sigla");
		else if (tipo == 2)
			return $("#lotacao_sigla");
		else if (tipo == 3)
			return $("#funcaoConfianca_sigla");
		else
			return $("#cargo_sigla");
	};
	
	function getSpanFieldSolicitante(tipo) {
		if (tipo == 1)
			return $("#dpPessoaSpan");
		else if (tipo == 2)
			return $("#lotacaoSpan");
		else if (tipo == 3)
			return $("#funcaoConfiancaSpan");
		else
			return $("#cargoSpan");
	};

	$(function() {
		// POPUP PARA ADICIONAR UM GESTOR
        var jGestores = $("#gestoresTr"),
        gestores = jGestores[0],
        jDialog = $("#dialog"),
        dialog = jDialog[0],
        jSelect = $("#gestorpessoagestorlotacao");
       
        $("#botaoIncluir").click(function(){
        	jDialog.data('acao',gestores.incluirItem).dialog('open');
        });
       
        jDialog.dialog({
                autoOpen: false,
                height: 'auto',
                width: 'auto',
                modal: true,
                resizable: false,
                close: function() {
                	$("#gestorpessoa_sigla").val('');
                	$("#gestorlotacao_sigla").val('');
                	$("#gestorpessoa_descricao").val('');
                	$("#gestorlotacao_descricao").val('');
                	$("#gestorpessoaSpan").html('');  
                	$("#gestorlotacaoSpan").html('');  
                    jDialog.data('gestorSet','');
	            },
	            open: function(){
                    if (jDialog.data("gestorSet"))
                            jDialog.dialog('option', 'title', 'Alterar Gestor');
                    else
                            jDialog.dialog('option', 'title', 'Incluir Gestor');  
	            }
        });
        $("#modalOk").click(function(){
                var acao = jDialog.data('acao');
                var jTipoEscolhido = jSelect.find("option:selected");
                
                if(jTipoEscolhido.val() == 1) {
                	acao($("#gestorpessoa_sigla").val(), $("#gestorpessoa_descricao").val(), 'pessoa', $("#gestorpessoa").val(), jDialog.data("id"));
                } else if (jTipoEscolhido.val() == 2) {
                	acao($("#gestorlotacao_sigla").val(), $("#gestorlotacao_descricao").val(), 'lotacao', $("#gestorlotacao").val(), jDialog.data("id"));
                }
                
                jDialog.dialog('close');
        });
        $("#modalCancel").click(function(){
                jDialog.dialog('close');
        });

        gestores["index"] = 0;
        gestores.incluirItem = function(siglaGestor, nomeGestor, tipoGestor, idDerivadoGestor,  id){
            if (!id)
                id = 'novo_' + ++gestores["index"];
            $("#tabelaTr").show();
            jGestores.append("<tr id =\"" + id + "\"></tr>");
	        var jNewTr = jGestores.find("tr:last-child");
	        jNewTr.append("<td style=\"border: solid; border-color: rgb(169, 169, 169); border-width:1px;\" ><span id=\"" + tipoGestor + "\">" 
	    	        + siglaGestor + "</span> - <span style=\"display: inline-block\" id=\"" + idDerivadoGestor + "\">"
	                + nomeGestor + "</span>&nbsp;<img src=\"/siga/css/famfamfam/icons/cross.png\" style=\"cursor: pointer; float:right;\" /></td>");
	        jNewTr.find("img:eq(0)").click(function(){
	        	gestores.removerItem(jNewTr.attr("id"));
	        });
  		}
        gestores.removerItem = function(idItem){
                $("#"+idItem).remove();
                gestores["index"]--;
        }

        #{list items:itemConfiguracao.gestorSet, as:'item'}
        	#{if item.dpPessoa}
	        	gestores.incluirItem('${item.dpPessoa.sesbPessoa}${item.dpPessoa.matricula}', '${item.dpPessoa.nomePessoa}', 'pessoa', ${item.dpPessoa.idPessoa}, ${item.idGestorItem});
        	#{/if}
	        #{if item.dpLotacao}
	        		gestores.incluirItem('${item.dpLotacao.siglaLotacao}', '${item.dpLotacao.nomeLotacao}', 'lotacao', ${item.dpLotacao.idLotacao}, ${item.idGestorItem});
	        #{/if}
		#{/list}

        
// 		POPUP PARA ADICIONAR UM FATOR DE MULTIPLICAÇÃO E SOLICITANTE
        var jFatores = $("#fatoresTr"),
        fatores = jFatores[0],
        jDialogFator = $("#dialogFator"),
        dialogFator = jDialogFator[0],
        jSelectFator = $("#fatorpessoafatorlotacao");
        jNumFatorMult = $("#numfatorMult");
       
        $("#botaoIncluirFator").click(function(){
        	jDialogFator.data('acaoFator',fatores.incluirItem).dialog('open');
        });
       
        jDialogFator.dialog({
                autoOpen: false,
                height: 'auto',
                width: 'auto',
                modal: true,
                resizable: false,
                close: function() {
                	$("#fatorpessoa_sigla").val('');
                	$("#fatorlotacao_sigla").val('');
                	$("#fatorpessoa_descricao").val('');
                	$("#fatorlotacao_descricao").val('');
                	$("#numfatorMult").val('1');
                	$("#fatorpessoaSpan").html('');  
                	$("#fatorlotacaoSpan").html('');  
                	jDialogFator.data('fatorMultiplicacaoSet','');
	            },
	            open: function(){
	            	$('#erroNumFatorMult').hide();
                    if (jDialogFator.data("gestorSet"))
                    	jDialogFator.dialog('option', 'title', 'Alterar Fator de Multiplicação');
                    else
                    	jDialogFator.dialog('option', 'title', 'Incluir Fator de Multiplicação');  
	            }
        });
        $("#modalOkFator").click(function(){
                var acaoFator = jDialogFator.data('acaoFator');
                var jTipoEscolhidoFator = jSelectFator.find("option:selected");
                var numFatorMult = $('#numfatorMult');
				
				if(numFatorMult.val() > 0) {
	                if(jTipoEscolhidoFator.val() == 1) {
	                	acaoFator($("#fatorpessoa_sigla").val(), $("#fatorpessoa_descricao").val(), $("#numfatorMult").val(), 'pessoa', $("#fatorpessoa").val(), jDialogFator.data("id"));
	                } else if (jTipoEscolhidoFator.val() == 2) {
	                	acaoFator($("#fatorlotacao_sigla").val(), $("#fatorlotacao_descricao").val(), $("#numfatorMult").val(), 'lotacao', $("#fatorlotacao").val(), jDialogFator.data("id"));
	                }
	                jDialogFator.dialog('close');
				} else {
					$('#erroNumFatorMult').show();
				}
                
                
        });
        $("#modalCancelFator").click(function(){
        	jDialogFator.dialog('close');
        });

        fatores["index"] = 0;
        fatores.incluirItem = function( siglaSolicitante, nomeSolicitante, numFator, tipoFator, idDerivadoFator, idF){
            if (!idF)
                idF = 'novo_fator' + ++fatores["index"];
            $("#tabelaTrFator").show();
            jFatores.append("<tr id =\"" + idF + "\"></tr>");
	        var jNewFatorTr = jFatores.find("tr:last-child");
	        jNewFatorTr.append("<td style=\"border: solid; border-color: rgb(169, 169, 169); border-width:1px;\" ><span id=\"" + tipoFator + "\">" 
	    	        + siglaSolicitante + "-" 
	    	        + nomeSolicitante + "</span></td><td style=\"border: solid; border-color: rgb(169, 169, 169); border-width:1px;\" ><span style=\"display: inline-block\" id=\"" + idDerivadoFator + "\">"
	                + numFator + "</span>&nbsp;<img src=\"/siga/css/famfamfam/icons/cross.png\" style=\"cursor: pointer; float:right;\" /></td>");
	        jNewFatorTr.find("img:eq(0)").click(function(){
	        	fatores.removerItemFator(jNewFatorTr.attr("id"));
	        });
  		};
  		
        fatores.removerItemFator = function(idItemF){
                $("#"+idItemF).remove();
                fatores["index"]--;
        };

        #{list items:itemConfiguracao.fatorMultiplicacaoSet, as:'itemFator'}
        	#{if itemFator.dpPessoa}
	        	fatores.incluirItem('${itemFator.dpPessoa.sesbPessoa}${itemFator.dpPessoa.matricula}', '${itemFator.dpPessoa.nomePessoa}', ${itemFator.numFatorMultiplicacao}, 'pessoa', ${itemFator.dpPessoa.idPessoa}, '${itemFator.idFatorMultiplicacao}Fator');
        	#{/if}
	        #{if itemFator.dpLotacao}
	        		fatores.incluirItem('${itemFator.dpLotacao.siglaLotacao}', '${itemFator.dpLotacao.nomeLotacao}', ${itemFator.numFatorMultiplicacao}, 'lotacao', ${itemFator.dpLotacao.idLotacao}, '${itemFator.idFatorMultiplicacao}Fator');
	        #{/if}
		#{/list}


// 		UTILIZADO TANTO PARA GESTORES QUANTO PARA FATORES DE MULTIPLICAÇÃO
        $("[value='Gravar']").click(function(){
                var jForm = $("form"),
                        params = jForm.serialize();
                jGestores.find("td").each(function(i){
                        var jDivs=$(this).find("span");
                        var tipo = jDivs[0].id;
                        if(tipo === 'pessoa'){
                        	params += '&itemConfiguracao.gestorSet[' + i + '].dpPessoa.idPessoa=' + jDivs[1].id;
                        } else if (tipo === 'lotacao') {
                        	params += '&itemConfiguracao.gestorSet[' + i + '].dpLotacao.idLotacao=' + jDivs[1].id;
                        }                            
                });
                jFatores.find("tr").each(function(i){
                    var jDivsF=$(this).find("span");

                    if(jDivsF.length == 0) return;
                    
                    var tipoF = jDivsF[0].id;
                    var indice = i-1;
                    if(tipoF === 'pessoa'){
                    	params += '&itemConfiguracao.fatorMultiplicacaoSet[' + indice + '].dpPessoa.idPessoa=' + jDivsF[1].id;
                    } else if (tipoF === 'lotacao') {
                    	params += '&itemConfiguracao.fatorMultiplicacaoSet[' + indice + '].dpLotacao.idLotacao=' + jDivsF[1].id;
                    }
                    	params += '&itemConfiguracao.fatorMultiplicacaoSet[' + indice + '].numFatorMultiplicacao=' + jDivsF[1].innerHTML;
           	 	});
                
                params += serializeDesignacoes();
                
                location.href = '@{Application.gravarItem()}?' + params;
        });
        
        function serializeDesignacoes() {
        	var params = '';
        		
       		// serializando os dados da tabela de Designações
   			designacoesTable.rows().indexes().each(function (i) {
   				var rowValues = designacoesTable.row(i).data();
   				
   				if (rowValues[5] != '')
                   	params += '&itemConfiguracao.designacoes[' + i + '].idSolicitante=' + rowValues[5];
   				
   				if (rowValues[0] != '' && rowValues[0] > 0)
   					params += '&itemConfiguracao.designacoes[' + i + '].orgaoUsuario.idOrgaoUsu=' + rowValues[0];
   				
   				if (rowValues[2] != '' && rowValues[2] > 0)
                   	params += '&itemConfiguracao.designacoes[' + i + '].complexo.idComplexo=' + rowValues[2];
   				
   				if (rowValues[8] != '')
                   	params += '&itemConfiguracao.designacoes[' + i + '].acao.id=' + rowValues[8];
   				
   				if (rowValues[11] != '')
                   	params += '&itemConfiguracao.designacoes[' + i + '].atendente.id=' + rowValues[11];
   				
   				if (rowValues[14] != '')
                   	params += '&itemConfiguracao.designacoes[' + i + '].preAtendente.id=' + rowValues[14];
   				
   				if (rowValues[17] != '')
                   	params += '&itemConfiguracao.designacoes[' + i + '].posAtendente.id=' + rowValues[17];
   				
   				if (rowValues[20] != '')
                   	params += '&itemConfiguracao.designacoes[' + i + '].equipeQualidade.id=' + rowValues[20];
   				
   				if (rowValues[23] != '' && rowValues[23] > 0)
   					params += '&itemConfiguracao.designacoes[' + i + '].pesquisaSatisfacao.id=' + rowValues[23];
   				
   				if (rowValues[25] != '')
   					params += '&itemConfiguracao.designacoes[' + i + '].slaPreAtendimentoQuantidade=' + rowValues[25];
   				
   				if (rowValues[26] != '' && rowValues[26] > 0)
   					params += '&itemConfiguracao.designacoes[' + i + '].unidadeMedidaPreAtendimento=' + rowValues[26];
   				
   				if (rowValues[27] != '')
   					params += '&itemConfiguracao.designacoes[' + i + '].slaAtendimentoQuantidade=' + rowValues[27];
   				
   				if (rowValues[28] != '' && rowValues[28] > 0)
   					params += '&itemConfiguracao.designacoes[' + i + '].unidadeMedidaAtendimento=' + rowValues[28];
   				
   				if (rowValues[29] != '')
   					params += '&itemConfiguracao.designacoes[' + i + '].slaPosAtendimentoQuantidade=' + rowValues[29];
   				
   				if (rowValues[30] != '' && rowValues[30] > 0)
   					params += '&itemConfiguracao.designacoes[' + i + '].unidadeMedidaPosAtendimento=' + rowValues[30];
   				
   				if (rowValues[31] != '')
   					params += '&itemConfiguracao.designacoes[' + i + '].margemSeguranca=' + rowValues[31];
   				
   				if (rowValues[33] != '')
   					params += '&itemConfiguracao.designacoes[' + i + '].observacaoSLA=' + rowValues[33];
   				
   				if (rowValues[41] != '' && rowValues[41] != undefined)
   					params += '&itemConfiguracao.designacoes[' + i + '].id=' + rowValues[41];
   				
   				// atualiza o solicitante
   				params += getDadosSolicitante(rowValues);
   				
   				// Valores Booleanos
   				params += '&itemConfiguracao.designacoes[' + i + '].divulgarSLA=' + rowValues[32];
				params += '&itemConfiguracao.designacoes[' + i + '].notificarGestor=' + rowValues[34];
				params += '&itemConfiguracao.designacoes[' + i + '].notificarSolicitante=' + rowValues[35];
				params += '&itemConfiguracao.designacoes[' + i + '].notificarCadastrante=' + rowValues[36];
				params += '&itemConfiguracao.designacoes[' + i + '].notificarInterlocutor=' + rowValues[37];
				params += '&itemConfiguracao.designacoes[' + i + '].notificarAtendente=' + rowValues[38];
				
				// lista de prioridades da designacao
				params += rowValues[39];
   			});
       		
       		return params;
        }
        
        function getDadosSolicitante(rowValues) {
        	var params = '';
        	
        	// só atualiza os valores caso tenha algum selecionado na tela
        	if (rowValues[5] != '') {
        		// caso seja pessoa
    			if (rowValues[4] == 1)
                  	params += '&itemConfiguracao.designacoes[' + i + '].dpPessoa.id=' + rowValues[5];
    			
    			// caso seja lotação
    			else if (rowValues[4] == 2)
    				params += '&itemConfiguracao.designacoes[' + i + '].lotacao.id=' + rowValues[5];
    			
    			// caso seja função
    			else if (rowValues[4] == 3)
    				params += '&itemConfiguracao.designacoes[' + i + '].funcaoConfianca.id=' + rowValues[5];
    			
    			// caso seja cargo
    			else if (rowValues[4] == 4)
    				params += '&itemConfiguracao.designacoes[' + i + '].cargo.id=' + rowValues[5];
        	}
        	
        	return params;
        }
});
</script>

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">

		<h2 class="gt-form-head">Cadastro de Item de Configuração</h2>
		<div class="gt-content-box gt-for-table">
			<form id="form" class="form100">
				<table class="gt-form-table">
					<tr class="header">
						<td align="center" valign="top" colspan="2" style="border-radius: 5px;">Dados Básicos</td>
					</tr>
					<tr>
						<td colspan="2">
							#{if itemConfiguracao.idItemConfiguracao}
							<input type="hidden" name="itemConfiguracao.idItemConfiguracao"
								value="${itemConfiguracao.idItemConfiguracao}"> #{/if}
							#{ifErrors}
							<p class="gt-error">Alguns campos obrigatórios não foram
								preenchidos ${error}</p>
							#{/ifErrors}
						</td>
					</tr>
					<tr>
						<td width="5%">
							<label class="inline">Código:</label> 
						</td>
						<td>
							<input
							id="itemConfiguracao" type="text"
							name="itemConfiguracao.siglaItemConfiguracao"
							value="${itemConfiguracao?.siglaItemConfiguracao}" /> <span
							style="color: red;">#{error
							'itemConfiguracao.siglaItemConfiguracao' /}</span> 
							
							<label class="inline"
							style="margin-left: 10px;">Título:</label> 
							
							<input type="text"
							id="itemConfiguracao.tituloItemConfiguracao"
							name="itemConfiguracao.tituloItemConfiguracao"
							value="${itemConfiguracao?.tituloItemConfiguracao}" size="84" />
							<span style="display: inline; color: red;">#{error
							'itemConfiguracao.tituloItemConfiguracao' /}</span>
						</td>
					</tr>
					<tr>
						<td>
							<label class="inline">Descrição:</label> 
						</td>
						<td colspan="2">
							<input type="text"
							name="itemConfiguracao.descrItemConfiguracao"
							value="${itemConfiguracao?.descrItemConfiguracao}" size="119" />
						</td>
					</tr>
					<tr>
						<td>
							<label>Gestores: </label>
						</td>
						<td>
							<img align="right" src="/siga/css/famfamfam/icons/add.png"
								id="botaoIncluir" style="cursor: pointer; float: initial;" />
						</td>
					</tr>
					<tr id="tabelaTr"
						style="display: none;">
						<td>&nbsp;</td>
						<td>
							<table id="gestoresTr" class="tabela">
								<tr>
									<th colspan="2">Gestor</th>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<label class="inline">Similaridade (Separar itens com
								ponto e vírgula):</label>
							<textarea cols="81" rows="4"
								name="itemConfiguracao.descricaoSimilaridade"
								id="descricaoSimilaridade">${itemConfiguracao.descricaoSimilaridade}</textarea>
						</td>
					</tr>
				</table>
				<table class="gt-form-table">
					<tr class="header"><td align="center" valign="top" colspan="3">Priorização</td></tr>

					<tr>
						<td width="10.5%">
							<label class="inline">Fator de Multiplicação:</label> 
						</td>
						<td>
							<input onkeypress="javascript: var tecla=(window.event)?event.keyCode:e.which;if((tecla>47 && tecla<58)) return true;  else{  if (tecla==8 || tecla==0) return true;  else  return false;  }"
 								type="text" name="itemConfiguracao.numFatorMultiplicacaoGeral" value="${itemConfiguracao?.numFatorMultiplicacaoGeral}" size="20" />
 								<span style="display: inline; color: red;">#{error 'itemConfiguracao.numFatorMultiplicacaoGeral' /}</span>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<label class="inline">Fator de Multiplicação por Solicitante:</label> 
							<img align="right" src="/siga/css/famfamfam/icons/add.png"
								id="botaoIncluirFator" style="cursor: pointer; float: initial;" />
						</td>
					</tr>
					<tr id="tabelaTrFator"
						style="display: none;">
						<td colspan="2">
							<table id="fatoresTr" class="tabela">
								<tr>
									<th>Solicitante</th>
									<th>Fator de Multiplicação</th>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<table class="gt-form-table">
					<tr class="header"><td align="center" valign="top" colspan="3">Designações</td></tr>

					<tr>
						<td class="padding-table">
							<div class="container container-small">
								<div class="title-table">
									<h3 style="padding-left: 7px !important;">Designações</h3>
								</div>
								<div class="button-table">
									<a href="javascript: designacaoModalAbrir(false)" title="Adicionar Designação">
										<img src="/siga/css/famfamfam/icons/add.png">
									</a>
								</div>
							</div>
							<div class="gt-content-box gt-for-table dataTables_div">
								<table id="designacoes_table" border="0" class="gt-table">
									<thead>
										<tr>
											<th>ID Orgão</th>
											<th>Orgão</th>
											<th>ID Local</th>
											<th>Local</th>
											<th>Tipo Solicitante</th>
											<th>ID Solicitante</th>
											<th>Descr. Solicitante</th>
											<th>Solicitante</th>
											<th>ID Ação</th>
											<th>Descr. Ação</th>
											<th>Ação</th>
											<th>ID Atendente</th>
											<th>Descr. Atendente</th>
											<th>Atendente</th>
											<th>ID Pré-Atendente</th>
											<th>Descr. Pré-Atendente</th>
											<th>Pré</th>
											<th>ID Pós-Atendente</th>
											<th>Descr. Pós-Atendente</th>
											<th>Pós</th>
											<th>ID Eq. Qualidade</th>
											<th>Descr. Eq. Qualidade</th>
											<th>Sigla Eq. Qualidade</th>
											<th>ID Pesq. Satisfação</th>
											<th>Descr. Pesq. Satisfação</th>
											<th>SLA Pré-Atendimento</th>
											<th>ID Un. Med. Pré</th>
											<th>SLA Atendimento</th>
											<th>ID Un. Med. At.</th>
											<th>SLA Pós-Atendimento</th>
											<th>ID Un. Med. Pós</th>
											<th>Margem Segurança</th>
											<th>Divulgar SLA</th>
											<th>Obs. SLA</th>
											<th>Notifica Gestor</th>
											<th>Notifica Solicitante</th>
											<th>Notifica Cadastrante</th>
											<th>Notifica Interlocutor</th>
											<th>Notifica Atendente</th>
											<th>JSon - Lista de Prioridade</th>
											<th>Listas Prioridade (html)</th>
											<th>ID Designação</th>
										</tr>
									</thead>
					
									<tbody>
										#{list items:designacoes, as:'design'}
										<tr>
											<td>${design.orgaoUsuario?.id}</td>
											<td>${design.orgaoUsuario?.acronimoOrgaoUsu}</td>
											<td>${design.complexo?.idComplexo}</td>
											<td>${design.complexo?.nomeComplexo}</td>
											<td>${design.tipoSolicitante }</td>
											<td>${design.solicitante?.id }</td>
											<td>${design.solicitante?.descricao }</td>
											<td>${design.solicitante?.sigla}</td>
											<td>${design.acao?.atual?.id }</td>
											<td>${design.acao?.atual?.descricao }</td>
											<td>${design.acao?.atual?.sigla }</td>
											<td>${design.atendente?.lotacaoAtual?.id }</td>
											<td>${design.atendente?.lotacaoAtual?.nomeLotacao }</td>
											<td>${design.atendente?.lotacaoAtual?.siglaLotacao }</td>
											<td>${design.preAtendente?.lotacaoAtual?.id }</td>
											<td>${design.preAtendente?.lotacaoAtual?.nomeLotacao }</td>
											<td>${design.preAtendente?.lotacaoAtual?.siglaLotacao }</td>
											<td>${design.posAtendente?.lotacaoAtual?.id}</td>
											<td>${design.posAtendente?.lotacaoAtual?.nomeLotacao }</td>
											<td>${design.posAtendente?.lotacaoAtual?.siglaLotacao }</td>
											<td>${design.equipeQualidade?.id }</td>
											<td>${design.equipeQualidade?.descricao }</td>
											<td>${design.equipeQualidade?.sigla}</td>
											<td>${design.pesquisaSatisfacao?.id}</td>
											<td>${design.pesquisaSatisfacao?.descrPesquisa}</td>
											<td>${design.slaPreAtendimentoQuantidade }</td>
											<td>${design.unidadeMedidaPreAtendimento?.idUnidadeMedida }</td>
											<td>${design.slaAtendimentoQuantidade }</td>
											<td>${design.unidadeMedidaAtendimento?.idUnidadeMedida }</td>
											<td>${design.slaPosAtendimentoQuantidade }</td>
											<td>${design.unidadeMedidaPosAtendimento?.idUnidadeMedida }</td>
											<td>${design.margemSeguranca }</td>
											<td>${design.divulgarSLA }</td>
											<td>${design.observacaoSLA }</td>
											<td>${design.notificarGestor }</td>
											<td>${design.notificarSolicitante}</td>
											<td>${design.notificarCadastrante}</td>
											<td>${design.notificarInterlocutor}</td>
											<td>${design.notificarAtendente}</td>
											<td>${design.getListaConfiguracaoSetJson()}</td>
											<td></td>
											<td>${design.id}</td>
										</tr>
										#{/list}
									</tbody>
								</table>
							</div>
						</td>
					</tr>

					<tr>
						<td colspan="4">
							<input type="button" value="Gravar"
								class="gt-btn-medium gt-btn-left" /> <a
								href="@{Application.listarItem}"
								class="gt-btn-medium gt-btn-left">Cancelar</a> #{if
							itemConfiguracao?.idItemConfiguracao} <input type="button"
								value="Desativar" class="gt-btn-medium gt-btn-left"
								onclick="location.href='@{Application.desativarItem()}?id=${itemConfiguracao.idItemConfiguracao}'" />
							#{/if}
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>

<div id="dialog">
	<div class="gt-content">
		<div class="gt-form gt-content-box">
			<div class="gt-form-row ">
				<label>Gestor: </label>
				<div id="divGestor">#{pessoaLotaSelecao
					nomeSelPessoa:'gestor.pessoa', nomeSelLotacao:'gestor.lotacao',
					valuePessoa:pessoaAtual, valueLotacao:lotacaoAtual,
					disabled:disabled /}</div>
			</div>
			<div class="gt-form-row">
				<input type="button" id="modalOk" value="Ok"
					class="gt-btn-medium gt-btn-left" /> <input type="button"
					value="Cancelar" id="modalCancel" class="gt-btn-medium gt-btn-left" />
			</div>
		</div>
	</div>
</div>

<div id="dialogFator">
	<div class="gt-content">
		<div class="gt-form gt-content-box">
			<div class="gt-form-row ">
				<label>Solicitante: </label>
				<div id="divFator">#{pessoaLotaSelecao
					nomeSelPessoa:'fator.pessoa', nomeSelLotacao:'fator.lotacao',
					valuePessoa:pessoaAtual, valueLotacao:lotacaoAtual,
					disabled:disabled /}</div>
			</div>
			<div class="gt-form-row ">
				<label>Fator de Multiplicação: </label>
				<input id="numfatorMult" onkeypress="javascript: var tecla=(window.event)?event.keyCode:e.which;if((tecla>47 && tecla<58)) return true;  else{  if (tecla==8 || tecla==0) return true;  else  return false;  }"
					   type="text" name="numfatorMult" value="1" size="43" />
					   <span style="display: none; color: red;" id="erroNumFatorMult">Fator de multiplicação menor que 1</span>
			</div>
			<div class="gt-form-row">
				<input type="button" id="modalOkFator" value="Ok"
					class="gt-btn-medium gt-btn-left" /> <input type="button"
					value="Cancelar" id="modalCancelFator" class="gt-btn-medium gt-btn-left" />
			</div>
		</div>
	</div>
</div>

#{modal nome:'designacao', titulo:'Cadastrar Designacao'}
	<div id="divEditarDesignacaoItem">#{include
				'Application/editarDesignacaoItem.html' /}</div>
#{/modal}
