#{extends 'main.html' /} #{set title:'Edição de Tipo de Atributo' /}

<div class="gt-bd clearfix">
	<div class="gt-content">
		<h2>Cadastro de Tipo de Atributo</h2>

		<div class="gt-form gt-content-box">
			#{form @Application.gravarTipoAtributo(), onsubmit: 'javascript: return block()'} #{if att?.idTipoAtributo} <input
				type="hidden" name="att.idTipoAtributo"
				value="${att.idTipoAtributo}"> #{/if}
			#{ifErrors}
			<p class="gt-error">Alguns campos obrigatórios não foram
				preenchidos ${error}</p>
			#{/ifErrors}	
			<div class="gt-form-row gt-width-66">
				<label>Nome</label> <input type="text"
					name="att.nomeTipoAtributo"
					value="${att?.nomeTipoAtributo}" size="60" />
					<span style="color: red">#{error
					'att.nomeTipoAtributo' /}</span>
			</div>
			<div class="gt-form-row gt-width-66">
				<label>Descrição</label> <input type="text"
					name="att.descrTipoAtributo"
					value="${att?.descrTipoAtributo}" size="60" />
			</div>
			<div class="gt-form-row gt-width-66">
				<label>Formato</label> #{select name:'att.formatoCampo', items:models.SrFormatoCampo.values(),
				labelProperty:'descrFormatoCampo', value:formatoAnterior, style:'width:393px;' /}
			</div>
			<div class="gt-form-row gt-width-66" id="vlPreDefinidos" style="display: none;">
				<label>Valores pré-definidos (Separados por ponto-e-vígula(;))</label> 
				<input type="text"
					name="att.descrPreDefinido"
					id="descrPreDefinido"
					value="${att?.descrPreDefinido}" size="60" />
					<span style="color: red" id="erroDescrPreDefinido">#{error
					'att.descrPreDefinido' /}</span>
			</div>
			<div class="gt-form-row">
				<input type="submit" value="Gravar"
					class="gt-btn-medium gt-btn-left" />
				<a href="@{Application.listarTipoAtributo}" class="gt-btn-medium gt-btn-left">Cancelar</a>
				#{if att?.idTipoAtributo} <input type="button" value="Desativar"
					class="gt-btn-medium gt-btn-left"
					onclick="location.href='@{Application.desativarTipoAtributo()}?id=${att.idTipoAtributo}'" />
				#{/if}
			</div>
			#{/form}
		</div>
	</div>
</div>
<script>
function verificarFormatoCampo() {
	if($("select[name='att.formatoCampo']").val() === 'VL_PRE_DEFINIDO') {
		$('#vlPreDefinidos').show();
		return;
	}
	$('#vlPreDefinidos').hide();
};

verificarFormatoCampo(); 

$("select[name='att.formatoCampo']").change(function() {
	verificarFormatoCampo(); 
});

if($('#erroDescrPreDefinido').html()) {
	$("select[name='att.formatoCampo']").val('VL_PRE_DEFINIDO');
	$('#vlPreDefinidos').show();
};
</script>