#{extends 'main.html' /} #{set title:'Edição de atributo' /}
<script src="/sigasr/public/javascripts/jquery.validate.min.js"></script>
<script src="/sigasr/public/javascripts/language/messages_pt_BR.min.js"></script>

<!-- <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script> -->

<div class="gt-form gt-content-box">
	<form id="atributoForm" action="#">
	#{if att?.idAtributo} <input
		type="hidden" name="idAtributo"
		id="idAtributo"
		value="${idAtributo}"> #{/if}
		<input
		type="hidden" name="hisIdIni"
		id="hisIdIni"
		value="${hisIdIni}">
	#{ifErrors}
	<p class="gt-error">Alguns campos obrigatórios não foram
		preenchidos ${error}</p>
	#{/ifErrors}	
	<div class="gt-form-row box-wrapper">
		<div class="box box-left gt-width-50">
			<label>Nome <span>*</span></label> <input type="text"
				name="nomeAtributo"
				id="nomeAtributo"
				value="${nomeAtributo}" size="50" maxlength="255" required/>
				<span style="color: red">#{error
				'nomeAtributo' /}</span>
		</div>
		<div class="box gt-width-50">
			<label>Descrição</label> <input maxlength="255" type="text"
				name="descrAtributo"
				id="descrAtributo"
				value="${descrAtributo}" 
				style="width: 372px;" />
		</div>
	</div>
	<div class="gt-form-row gt-width-66">
				<label>C&oacute;digo</label> <input type="text"
					name="codigoAtributo" id="codigoAtributo"
					value="${codigoAtributo}" size="60" />
	</div>
	<div class="gt-form-row gt-width-66">
				<label>Objetivo do atributo<span>*</span></label> #{select id:'objetivoAtributo', name:'objetivoAtributo', items:objetivos,
				labelProperty:'descrObjetivo', value:idObjetivo, style:'width:393px;',
				onchange:'javascript:ocultaAssociacoes();',
				class:'select-siga'/}
	</div>
	<div class="gt-form-row gt-width-100">
		<label>Tipo de atributo</label> #{select name:'tipoAtributo', items:models.SrTipoAtributo.values(),
		labelProperty:'descrTipoAtributo', value:tipoAtributoAnterior, style:'width:100%', id:'tipoAtributo',
		class:'select-siga' /}
	</div>
	<div class="gt-form-row gt-width-66" id="vlPreDefinidos" style="display: none;">
		<label>Valores pré-definidos (Separados por ponto-e-vígula(;))</label> 
		<input maxlength="255" type="text"
			name="descrPreDefinido"
			id="descrPreDefinido"
			value="${descrPreDefinido}" size="60" />
			<span style="color: red" id="erroDescrPreDefinido">#{error
			'descrPreDefinido' /}</span>
	</div>
	<div class="gt-content" style="padding-top: 10px;">
		<h3>Associações</h3>
		<div class="gt-content-box dataTables_div">
			<table id="associacao_table" border="0" class="gt-table display">
				<thead>
					<tr>
						<th style="color: #333">
							<span class="gt-btn-medium gt-btn-left bt-expandir">
								<span id="iconeBotaoExpandirTodos">+</span>
							</span>
						</th>
						<th>idItemConfiguracao</th>
						<th><i>Item &darr;</i></th>
						<th>siglaItemConfiguracao</th>
						<th>idAcao</th>
						<th>Ação</th>
						<th>siglaAcao</th>
						<th>Obrigatório</th>
						<th>Obrigatório</th>
						<th>idAssociacao</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					#{list items:associacoes, as:'assoc'}
					<tr>
						<td class="details-control"></td>
						<td>${assoc.itemConfiguracaoUnitario?.atual?.idItemConfiguracao}</td>
						<td>${assoc.itemConfiguracaoUnitario?.atual?.tituloItemConfiguracao}</td>
						<td>${assoc.itemConfiguracaoUnitario?.atual?.siglaItemConfiguracao}</td>
						<td>${assoc.acaoUnitaria?.atual?.idAcao}</td>
						<td>${assoc.acaoUnitaria?.atual?.tituloAcao}</td>
						<td>${assoc.acaoUnitaria?.atual?.siglaAcao}</td>
						<td>${assoc.atributoObrigatorio}</td>
						<td>${assoc.atributoObrigatorioString}</td>
						<td>${assoc.idConfiguracao}</td>
						<td class="gt-celula-nowrap" style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
							<a class="once desassociar" onclick="desassociar(event, ${assoc?.idConfiguracao})" title="Remover permissão">
								<input class="idAssociacao" type="hidden" value="${assoc?.idConfiguracao}"/>
								<img id="imgCancelar" src="/siga/css/famfamfam/icons/cancel_gray.png" style="margin-right: 5px;"> 
							</a>
						</td>
					</tr>
					</a> #{/list}
				</tbody>
			</table>
		</div>
		<div class="gt-table-buttons">
            <a href="javascript: inserirAssociacao()" class="gt-btn-small gt-btn-left">Incluir</a>
		</div>
	</div>
	<div class="gt-form-row" style="padding-top: 10px;">
		<input type="button" value="Gravar" class="gt-btn-medium gt-btn-left" onclick="atributoService.gravar()"/>
		<a class="gt-btn-medium gt-btn-left" onclick="atributoService.cancelarGravacao()">Cancelar</a>
		<input type="button" value="Aplicar" class="gt-btn-medium gt-btn-left" onclick="atributoService.aplicar()"/>
	</div>
	</form>
</div>

#{modal nome:'associacao', titulo:'cadastrar associação'}
	<div class="gt-form gt-content-box">
		<form id="associacaoForm">
			<input id="idConfiguracao" type="hidden" name="idConfiguracao"> 
		
			<div class="gt-form-row gt-width-100">
				<label>Item <span>*</span></label> 
				#{selecao tipo:'item',
					nome:'itemConfiguracaoUnitario',
					value:itemConfiguracaoUnitario?.atual,
					requiredValue:'required' /}
			</div>
		
			<div class="gt-form-row gt-width-100">
				<label>Serviço <span>*</span></label> 
				#{selecao tipo:'acao',
				nome:'acaoUnitaria', value:acaoUnitaria?.atual,
				requiredValue:'required' /}
			</div>
			<div class="gt-form-row">
				<label>#{checkbox name:'atributoObrigatorio',
					value:atributoObrigatorio /} Obrigatório</label>
			</div>
			<div class="gt-form-row">
				<a href="javascript: gravarAssociacao()" class="gt-btn-medium gt-btn-left">Gravar</a>
				<a href="javascript: associacaoModalFechar()" class="gt-btn-medium gt-btn-left">Cancelar</a>
			</div>
			</form>
	</div>
	<div class="gt-content-box" id="modal-associacao-error" style="display: none;">
		<table width="100%">
			<tr>
				<td align="center" valign="middle">
					<table class="form" width="50%">
						<tr>
							<td style="text-align: center; padding-top: 10px;">
								<h3></h3>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
#{/modal}

<script type="text/javascript">

	function ocultaAssociacoes(){
		if ($("#objetivo").val() == 1){
			$("#associacoes").show();
		} else {
			$("#associacoes").hide();
		}
	}

	var tableAssociacao,
		colunas = {},
		validatorAtributoForm;
	colunas.botaoExpandir =               0;
	colunas.idItemConfiguracao =          1;
	colunas.tituloItemConfiguracao =      2;
	colunas.siglaItemConfiguracao =       3;
	colunas.idAcao =                      4;
	colunas.tituloAcao =                  5;
	colunas.siglaAcao =                   6;
	colunas.atributoObrigatorio =  		  7;
	colunas.atributoObrigatorioString =   8;
	colunas.idAssociacao =                9;
	colunas.botaoExcluir =                10;

	var table = null,
		isEditingAssociacao = false;
	
	jQuery( document ).ready(function( $ ) {

		if ( $.fn.dataTable.isDataTable( '#associacao_table' ) ) {
			table = $('#associacao_table').dataTable();
		}
		else {
			/* Table initialization */
			table = $('#associacao_table')
				.on('draw.dt', function() {
							if(table) {
								var btn = $('.bt-expandir'),
									expandir = btn.hasClass('expandido');
								
								$('#associacao_table').mostrarDetalhes(detalhesListaAssociacao, table);
								$('#associacao_table').expandirContrairLinhas(expandir);
							}
						})
				.dataTable({
				"language": {
					"emptyTable":     "Não existem resultados",
				    "info":           "Mostrando de _START_ a _END_ do total de _TOTAL_ registros",
				    "infoEmpty":      "Mostrando de 0 a 0 do total de 0 registros",
				    "infoFiltered":   "(filtrando do total de _MAX_ registros)",
				    "infoPostFix":    "",
				    "thousands":      ".",
				    "lengthMenu":     "Mostrar _MENU_ registros",
				    "loadingRecords": "Carregando...",
				    "processing":     "Processando...",
				    "search":         "Filtrar:",
				    "zeroRecords":    "Nenhum registro encontrado",
				    "paginate": {
				        "first":      "Primeiro",
				        "last":       "Último",
				        "next":       "Próximo",
				        "previous":   "Anterior"
				    },
				    "aria": {
				        "sortAscending":  ": clique para ordenação crescente",
				        "sortDescending": ": clique para ordenação decrescente"
				    }
				},
				"columnDefs": [{
					"targets": [4],
					"searchable": false,
					"sortable" : false
				},
				{
					"targets": [colunas.idItemConfiguracao, 
								colunas.siglaItemConfiguracao, 
								colunas.idAcao, 
								colunas.siglaAcao,
								colunas.atributoObrigatorio,
								colunas.idAssociacao],
					"visible": false
				}],
				"aaSorting" : [[colunas.siglaItemConfiguracao, 'asc']],
			});
	
			$('#associacao_table tbody').on('click', 'tr', function () {
				var itemSelecionado = table.api().row(this).data();
				
				if (itemSelecionado != undefined) {
					table.$('tr.selected').removeClass('selected');
		            $(this).addClass('selected');
		            
				    associacaoModalAbrir(true);
				}
			});
			$('#associacao_table').mostrarDetalhes(detalhesListaAssociacao, table);
			tableAssociacao = table;
		}
		validatorAtributoForm = $("#atributoForm").validate({
			onfocusout: false
		});
		
		$("#associacaoForm").validate({
			onfocusout: false
		});
	});

	function inserirAssociacao() {
		var atributoId = $("#idAtributo");
		if ((atributoId == undefined || atributoId.val() == "") 
			&& atributoService.aplicar() == false) 
			return;
			
		limparDadosAssociacaoModal();
		associacaoModalAbrir(false);
	};

	function associacaoModalAbrir(isEdicao) {
		var tituloModal = 'Incluir Associação';
		isEditingAssociacao = isEdicao;
		
		if (isEdicao)
			tituloModal = 'Alterar Associação';
		
		$("#associacao_dialog").dialog('option', 'title', tituloModal);
		$("#associacao_dialog").dialog('open');
	};

	$("#associacao_dialog").dialog({
	    autoOpen: false,
	    height: 'auto',
	    width: 'auto',
	    modal: true,
	    resizable: false
	});

	function detalhesListaAssociacao(d) {
		var tr = $('<tr class="detail">'),
			td = $('<td colspan="6">'),
			table = $('<table class="datatable" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">');
			
		table.append(htmlConteudo(d, "Item de configuração:", colunas.siglaItemConfiguracao, colunas.tituloItemConfiguracao));
		table.append(htmlConteudo(d, "Ação:", colunas.siglaAcao, colunas.tituloAcao));
		
		td.append(table);
		tr.append(td);
	    
	    return tr;
	};

	function htmlConteudo(d, titulo, indiceSigla, indiceDescricao) {
		var trItem = $('<tr>'),
			tdTitulo = $('<td><b>' + titulo + '</b></td'),
			tdConteudo = $('<td>'),
			table = $('<table>'),
			trDetalhe = $('<tr>'),
			tdSigla = $('<td>' + d[indiceSigla] + "</td>"),
			tdDescricao = $('<td>' +  d[indiceDescricao] + '</td>');
		
		trDetalhe.append(tdSigla);
		trDetalhe.append(tdDescricao);
		table.append(trDetalhe);
		tdConteudo.append(table);
		trItem.append(tdTitulo);
		return trItem.append(tdConteudo);
	};

	// Limpa os dados da tela.
	function limparDadosAssociacaoModal() {
		$("#itemConfiguracaoUnitario").val('');
		$("#itemConfiguracaoUnitario_descricao").val('');
		$("#itemConfiguracaoUnitario_sigla").val('');
		$("#itemConfiguracaoUnitarioSpan").html('');
		$("#acaoUnitaria").val('');
		$("#acaoUnitaria_descricao").val('');
		$("#acaoUnitaria_sigla").val('');
		$("#acaoUnitariaSpan").html('');
		$("#checkatributoObrigatorio")[0].checked = false;
	}
	
	function atualizarListaAssociacoes(jSon) {
		tableAssociacao.api().clear().draw();
		
		if (jSon && jSon.associacoesVO) {
			// cria a lista de associacoes, e adiciona na tela
			for (i = 0; i < jSon.associacoesVO.length; i++) {
				var assoc = jSon.associacoesVO[i],
					html = 
					'<td class="gt-celula-nowrap" style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">' +
						'<a class="once desassociar gt-btn-ativar" onclick="desassociar(event, ' + assoc.idConfiguracao + ')" title="Remover permissão">' +
							'<input class="idAssociacao" type="hidden" value="' + assoc.idConfiguracao + '"/>' +
							'<img id="imgCancelar" src="/siga/css/famfamfam/icons/cancel_gray.png" style="margin-right: 5px;">' + 
						'</a>' +
					'</td>',
							         
					rowAssoc = [
								'',
								assoc.itemConfiguracaoUnitario? assoc.itemConfiguracaoUnitario.id : '',
								assoc.itemConfiguracaoUnitario? formatDescricaoLonga(assoc.itemConfiguracaoUnitario.titulo) : '',
								assoc.itemConfiguracaoUnitario? assoc.itemConfiguracaoUnitario.sigla : '',
								assoc.acaoUnitaria? assoc.acaoUnitaria.id : '',
								assoc.acaoUnitaria? formatDescricaoLonga(assoc.acaoUnitaria.titulo) : '',
								assoc.acaoUnitaria? assoc.acaoUnitaria.sigla : '',
								$("#checkatributoObrigatorio")[0].checked = assoc.atributoObrigatorio,
								getAtributoObrigatorioString(),
								assoc.idConfiguracao,
								html
			   				];
	   				
				// Adiciona na tabela de Associações
				var newRow = tableAssociacao
					.api()
					.row
					.add(rowAssoc);

				$(newRow.node()).find('td:first').addClass('details-control');
				newRow.draw();
			}
		}
	}

	function transformStringToBoolean(value) {
		if (value.constructor.name == 'String')
			return value == 'true';
		else
			return value;
	}

	function serializeAssociacao(row) {
		var params = "";
		
		// caso exista algum item na tabela
		//if (row[colunas.idItemConfiguracao] != '' && row[colunas.idItemConfiguracao] > 0)
			params += '&associacao.itemConfiguracaoUnitario=' + row[colunas.idItemConfiguracao];
		
		//if (row[colunas.idAcao] != '' && row[colunas.idAcao] > 0)
        	params += '&associacao.acaoUnitaria=' + row[colunas.idAcao];
		
		if (row[colunas.atributoObrigatorio] != '')
        	params += '&associacao.atributoObrigatorio=' + row[colunas.atributoObrigatorio];
		
		if (row[colunas.idAssociacao] != '')
        	params += '&associacao.idConfiguracao=' + row[colunas.idAssociacao];

		if ($("#idAtributo").val() != undefined && $("#idAtributo").val() != '')
			params += '&associacao.atributo.idAtributo=' + $("#idAtributo").val();

		return params;
	};

	function gravarAssociacao() {
		if (!jQuery("#associacaoForm").valid())
			return;
		
		var idAssociacao = $("#idConfiguracao").val() != undefined ? $("#idConfiguracao").val() : '';
		
		var row = [
					'',                                                                    // colunas.botaoExpandir
					$("#itemConfiguracaoUnitario").val(),                                  // colunas.idItemConfiguracao
					formatDescricaoLonga($("#itemConfiguracaoUnitario_descricao").val()),  // colunas.tituloItemConfiguracao
					$("#itemConfiguracaoUnitario_sigla").val(),                            // colunas.siglaItemConfiguracao
					$("#acaoUnitaria").val(),											   // colunas.idAcao
					formatDescricaoLonga($("#acaoUnitaria_descricao").val()),              // colunas.tituloAcao
					$("#acaoUnitaria_sigla").val(),                                        // colunas.siglaAcao
					$("#checkatributoObrigatorio")[0].checked,							   // colunas.atributoObrigatorio
					getAtributoObrigatorioString(),										   // colunas.atributoObrigatorioString
					idAssociacao,														   // colunas.idAssociacao
					''                                                                     // colunas.botaoExcluir
	   			];

		$.ajax({
	         type: "POST",
	         url: "@{Application.gravarAssociacao()}",
	         data: serializeAssociacao(row),
	         dataType: "text",
	         success: function(response) {
		        row[colunas.idAssociacao] = response;
				var html = 
				'<td class="gt-celula-nowrap" style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">' +
					'<a class="once desassociar" onclick="desassociar(event,' + response + ')" title="Remover permissão">' +
						'<input class="idAssociacao" type="hidden" value="' + response + '"/>' +
						'<img id="imgCancelar" src="/siga/css/famfamfam/icons/cancel_gray.png" style="margin-right: 5px;">' + 
					'</a>' +
				'</td>';

		        row[colunas.botaoExcluir] = html;

	          	if (isEditingAssociacao) {
	          		tableAssociacao.api().row('.selected').data(row);
			    }
			    else {
			    	var tr = tableAssociacao.api().row.add(row).draw();
			    	$(tr.node()).find('td:first').addClass('details-control');
			    	jQuery('#associacao_table').mostrarDetalhes(detalhesListaAssociacao, table);
			    }
	          	associacaoModalFechar();
				$('.desassociar').bind('click', desassociar);
	         },
	         error: function(response) {
	        	$('#modal-associacao').hide(); 

	        	var modalErro = $('#"modal-associacao-error"');
	        	modalErro.find("h3").html(response.responseText);
	        	modalErro.show(); 
	         }
       });

	}

	function associacaoModalFechar() {
		isEditingAssociacao = false;
		$("#associacao_dialog").dialog("close");
		limparDadosAssociacaoModal();
	}

	function formatDescricaoLonga(descricao) {
		if (descricao) {
			return descricao + " ...";
		}
		else
			return '';
	}

	function getAtributoObrigatorioString() {
		var isChecked = $("#checkatributoObrigatorio")[0].checked;
		return isChecked ? "Sim": "Não";
	}

	function desassociar(event, idAssociacaoDesativar) {
		event.stopPropagation()
		
		var me = $(this),
			tr = $(event.currentTarget).parent().parent()[0],
			row = table.api().row(tr).data(),
			idAssociacao = idAssociacaoDesativar ? idAssociacaoDesativar : row[colunas.idAssociacao];
			idAtributo = $("#idAtributo").val();
			
			$.ajax({
		         type: "POST",
		         url: "@{Application.desativarAssociacaoEdicao()}",
		         data: {idAtributo : idAtributo, idAssociacao : idAssociacao},
		         dataType: "text",
		         success: function(response) {
		        	 table.api().row(tr).remove().draw();
		         },
		         error: function(response) {
		        	$('#modal-associacao').hide(); 

		        	var modalErro = $('#"modal-associacao-error"');
		        	modalErro.find("h3").html(response.responseText);
		        	modalErro.show(); 
		         }
	       });
	}
	
	function verificarTipoAtributo() {
		if($("select[name='att.tipoAtributo']").val() === 'VL_PRE_DEFINIDO') {
			$('#vlPreDefinidos').show();
			return;
		}
		$('#vlPreDefinidos').hide();
	};
	
	verificarTipoAtributo();
	
	$("select[name='att.tipoAtributo']").change(function() {
		verificarTipoAtributo(); 
	});
	
	if($('#erroDescrPreDefinido').html()) {
		$("select[name='att.tipoAtributo']").val('VL_PRE_DEFINIDO');
		$('#vlPreDefinidos').show();
	};
</script>