#{extends 'main.html' /} #{set title:'Cadastro de solicitação' /}
<style>
.barra-subtitulo {
	color: #365b6d !important;
	border-bottom: 1px solid #ccc;
	border-radius: 0 !important;
	margin: 0 -15px 10px -15px;
}

.barra-subtitulo-top {
	border-radius: 5px 5px 0 0 !important;
	margin-top: -15px !important;
}

.tempo h3 {
	color: #365b6d;
	font-weight: normal;
	margin-bottom: 0px;
	font-size: 138.5%;
	border: 0;
}
</style>
<script language="javascript">
	$(document).ready(function() {
		document.getElementById("solicitacaosolicitante_sigla").focusout = validarCadastranteSolicitante();
		validarCadastranteSolicitante();
	});

	function carregarLocalRamalEMeioContato() {
		frm = document.getElementById('formSolicitacao');
		params = '';
		for (i = 0; i < frm.length; i++){
			if (frm[i].name && frm[i].value)
				params = params + frm[i].name + '=' + escape(frm[i].value) + '&';
		}
		PassAjaxResponseToFunction('@{Application.exibirLocalRamalEMeioContato()}?' + params, 'carregouLocalRamalEMeioContato', null, false, null);
	}
	
	function carregouLocalRamalEMeioContato(response, param){
		var div = document.getElementById('divLocalRamalEMeioContato');
		div.innerHTML = response;
				
		$("#calendarioComunicacao").datepicker({
	        showOn: "button",
	        buttonImage: "/siga/css/famfamfam/icons/calendar.png",
	        buttonImageOnly: true,
	        dateFormat: 'dd/mm/yy'
	    });
		$("#calendarioComunicacao").mask("99/99/9999");
		$("#horarioComunicacao").mask("99:99");

		verificarFormatoCampo(); 
	}
	
	function carregarItem(){
		frm = document.getElementById('formSolicitacao');
		params = '';
		for (i = 0; i < frm.length; i++){
			if (frm[i].name && frm[i].value)
				params = params + frm[i].name + '=' + escape(frm[i].value) + '&';
		}
		PassAjaxResponseToFunction('@{Application.exibirItemConfiguracao()}?' + params, 'carregouItem', null, false, null);
	}
	
	function carregouItem(response, param){
		var div = document.getElementById('divItem');
		div.innerHTML = response;
		var scripts = div.getElementsByTagName("script");
		for(var i=0;i<scripts.length;i++)  
		   eval(scripts[i].text);  
	}

	function carregarConhecimentosRelacionados(){
		frm = document.getElementById('formSolicitacao');
		params = '';
		for (i = 0; i < frm.length; i++){
			if (frm[i].name && frm[i].value)
				params = params + frm[i].name + '=' + escape(frm[i].value) + '&';
		}
		PassAjaxResponseToFunction('@{Application.exibirConhecimentosRelacionados()}?' + params, 'carregouConhecimentosRelacionados', null, false, null);
	}
	
	function carregouConhecimentosRelacionados(response, param){
		var div = document.getElementById('divConhecimentosRelacionados');
		div.innerHTML = response;
		var scripts = div.getElementsByTagName("script");
		for(var i=0;i<scripts.length;i++)  
		   eval(scripts[i].text);  
	}
	
	// funções usadas para solicitações relacionadas
	function addFiltro(divFiltro, campoRef, optionHtml, optionVl) {
		/**
		 * Se o valor foi preenchido e se existe label
		 */
		if($(campoRef).val() != "" && $(campoRef).val() != undefined && optionHtml) {
			var divFiltroExistente = $("div[identificadorFiltro='" + optionVl + "']");
			/**
			 * Se jah existe uma div para esse filtro, apenas atualiza a checkbox
			 */
			if(divFiltroExistente.size() > 0) {
				var input = divFiltroExistente.find('span');
				input.html(optionHtml.trim());
			}
			/** 
			 * Caso nao exista a div, entao cria uma nova checkbox
			 */
			else {
				var div = $('<div style="clear:both">');
				div.attr('identificadorFiltro', optionVl);
				
				var input = $('<input type="checkbox">');
				input.attr('name', optionVl);
				input.bind('change', carregarSolRelacionadas);
				
				var label = $('<span style="margin-left:5px">');
				label.html(optionHtml.trim());
			
				div.append(input);
				div.append(label);
				
				divFiltro.append(div);
			}	
			return true;
		}
		return false;
	}

	function selecionouSolicitante() {
		return $("[name='solicitacao.solicitante']").val() != '';
	}
	
	function notificarCampoMudou(campoRef, tipoCampo, optionVl) {
		if(!selecionouSolicitante()) {
			$('#solicitacoesRelacionadas').hide(300);
		} else {
			$('#solicitacoesRelacionadas').show(300);
		}
		
		var label = descricaoFiltroSolRelacionadas(campoRef, tipoCampo),
			divFiltro = $('#filtro');
		
		if(!addFiltro(divFiltro, campoRef, label, optionVl)) {
			var filtroEstavaSelecioando = filtroEstaSelecionado(optionVl),
				div = divFiltro.find("div[identificadorFiltro='" + optionVl + "']");
			div.remove();

			// Se o filtro estava selecionado quando foi removido, a consulta deve ser realizada novamente se ele
			if(filtroEstavaSelecioando) {
				carregarSolRelacionadas();
			}
		}
		// Se o check esta selecionado, entao refaz consulta
		if(filtroEstaSelecionado(optionVl)) {
			carregarSolRelacionadas();
		}
		validarCadastranteSolicitante();
	}

	// Recebe notificacao de alteracao em campo que eh atributo
	function notificarCampoAtributoMudou(campoRef, tipoCampo, optionVl) {
		var label = $(campoRef).prev('label').html().trim();
		notificarCampoMudou(campoRef, label, optionVl);
	}

	function filtroEstaSelecionado(optionVl) {
		return $("div[identificadorFiltro='" + optionVl + "'] :checked").size() > 0;
	}
	
	function descricaoFiltroSolRelacionadas(campoRef, tipoCampo) {
		var campo = $(campoRef);

		if(campo.size() > 0) {
			// Se o filtro eh uma select, entao pega o valor selecionado na select
			if(campo[0].tagName == 'SELECT') {
				return tipoCampo + ' - ' + campo.find('option:selected').html().trim();
			}
			else {
				// Se o campo for um componente de selecao, entao pega o valor selecionado (estara em um span gerado pelo componente)
				var span = $(campoRef + 'Span');
				if(span.size() > 0) {
					return tipoCampo + ' - ' + span.html();
				} 
				// Senao, pega o valor do campo
				else {
					return tipoCampo + ' - ' + campo.val();
				}
			}
		}
		return null;
	}
	
	// Valida se o cadastrante é o solicitante, e neste caso irá ocultar
	// alguns campos na tela
	function validarCadastranteSolicitante() {
		var siglaCadastrante = $('#siglaCadastrante').val();
		var siglaSolicitante = $('#solicitacaosolicitante_sigla')[0].value;
		
		mudarVisibilidadeCampos(siglaCadastrante == siglaSolicitante);
	}
	
	function mudarVisibilidadeCampos(saoIguais) {
		if (saoIguais) {
			$('#spanInterlocutor')[0].style.display='none';
			$('#meioComunicacao')[0].style.display='none';
			$('#dtInicioMeioComunicacao').hide();
		}
		else {
			$('#spanInterlocutor')[0].style.display='inline';
			$('#meioComunicacao')[0].style.display='inline';
			$('#dtInicioMeioComunicacao').show();
		}
	}
	
	function carregarSolRelacionadas() {
		var filtrosSelecionados = $('#filtro input:checked');
		
		if(filtrosSelecionados.size() > 0) {
			var params = construirParametrosDoFiltro(filtrosSelecionados, $('#formSolicitacao'));
			iniciarCarregarSolicitacoesRelacionadas();
			PassAjaxResponseToFunction('@{Application.listarSolicitacoesRelacionadas()}?' + params, 'carregouSolicitacoesRelacionadas', null, false, null);
			return;
			// $('#bodySolRelacionadas').html("<tr><td colspan='2' style='text-align: center;''>Não há solicitações relacionadas</td></tr>");
		}
		// Senao, apenas mostra informacao
		else {
			$('#bodySolRelacionadas').html("<tr><td colspan='2' style='text-align: center;''>Selecione um filtro para realizar a pesquisa</td></tr>");
		}
	}

	function construirParametrosDoFiltro(filtrosSelecionados, frm) {
		var authField = frm.find('input:nth(0)');
		var params = authField.attr('name') + '=' + encodeURI(authField.val()) + '&';
		
		// Preenche a string que representa os parametros da requisicao
		filtrosSelecionados.each(function() {
			var input = frm.find("[name='" +  $(this).attr('name') + "']");
			params = params + input.attr('name') + '=' + input.val() + '&'
		});
		return params;
	}
		
	function carregouSolicitacoesRelacionadas(response, param){
		if($('#filtro input:checked').size() > 0) {
			$('#bodySolRelacionadas').html(response);
		}
		$('#filtro input').attr('disabled', false);
	}

	function iniciarCarregarSolicitacoesRelacionadas() {
		$('#filtro input').attr('disabled', true);
		$('#bodySolRelacionadas').html("<tr><td colspan='2' style='text-align: center;''>Por favor aguarde. Carregando... </td></tr>");
	}
		
	function carregarFiltrosAoIniciar() {
		var divFiltro = $('#filtro'),
			atributos = $('#atributos').find('div');

		addFiltroAoIniciar(divFiltro, '#solicitacaosolicitante', 'Solicitante', 'solicitacao.solicitante');
		// addFiltro(divFiltro, '#solicitacaosolicitante', 'Lotação Solicitante', 'solicitacao.lotaSolicitante');
		addFiltroAoIniciar(divFiltro, '#solicitacaoitemConfiguracao', 'Item', 'solicitacao.itemConfiguracao');
		addFiltroAoIniciar(divFiltro, '#selectAcao', 'Ação', 'solicitacao.acao');
		
		var atrClass, atrHtml, atrName;
		for(j=0; j < atributos.length; j++) {
			var divAtributo = atributos[j], 
				inputAtributo = atributos[j].children[1],
				labelAtributo = divAtributo.firstElementChild;
			
			if (inputAtributo != undefined) {
				atrClass = '.' + inputAtributo.className;
				atrHtml = labelAtributo.innerHTML;
				atrName = inputAtributo.name;
				
				// Se for select, busca pelo atributo selecionado
				if (inputAtributo.tagName == 'SELECT') {
					atrHtml = atrHtml + ' - ' + $(inputAtributo).find('option:selected').html().trim();
				}
				addFiltro(divFiltro, atrClass, atrHtml, atrName);
			}
		}
		carregarSolRelacionadas();
	}

	function addFiltroAoIniciar(divFiltro, campoRef, optionHtml, optionVl) {
		var label = descricaoFiltroSolRelacionadas(campoRef, optionHtml);
		addFiltro(divFiltro, campoRef, label, optionVl);
	}
	
	function verMais(){
		/*frm = document.getElementById('formSolicitacao');
		comboVl = $('#filtro').val();
		params = '';
		params = params + frm[0].name+ '=' + encodeURI(frm[0].value) + '&';
		params = params + 'filtro.pesquisar=true&';
		
		if(comboVl == 'solicitacao.lotaSolicitante'){
			params = params + 'carregarLotaSolicitante=true&';
			comboVl = 'solicitacao.solicitante';			
		}
		for (i = 1; i < frm.length; i++){
			if(frm[i].name == comboVl)
				if (frm[i].name && frm[i].value){
					params = params + frm[i].name + '=' + encodeURI(frm[i].value);
					break;
				}
		} */
		var params = construirParametrosDoFiltro($('#filtro input:checked'), $('#formSolicitacao')) + '&filtro.pesquisar=true&';
		// Replace All
		while(params.indexOf('solicitacao') >= 0) {
			params = params.replace("solicitacao", "filtro");
		}
		window.open('@{Application.listar()}?' + params + "","_blank");
	}
</script>
<script src="/sigasr/public/javascripts/jquery.maskedinput.min.js"></script>

<div class="gt-bd gt-cols clearfix">
	<div class="gt-content clearfix">
		<h2>#{if solicitacao.idSolicitacao ||
			solicitacao.solicitacaoPai}${solicitacao.codigo}#{/if}
			#{else}Cadastro de Solicitação#{/else}</h2>
		<div class="gt-content-box gt-for-table gt-form"
			style="margin-top: 15px;">

			#{form @Application.gravar(),
			enctype:'multipart/form-data',id:'formSolicitacao' } #{if
			solicitacao.solicitacaoPai} <input type="hidden"
				name="solicitacao.solicitacaoPai.idSolicitacao"
				value="${solicitacao.solicitacaoPai.idSolicitacao}" /> #{/if} #{if
			solicitacao.idSolicitacao} <input type="hidden"
				name="solicitacao.idSolicitacao"
				value="${solicitacao.idSolicitacao}" /> #{/if} <input type="hidden"
				name="solicitacao.numSolicitacao"
				value="${solicitacao.numSolicitacao}" /> <input type="hidden"
				name="dtIniEdicao" value="${dtIniEdicao}" /> <input type="hidden"
				name="solicitacao.numSequencia" value="${solicitacao.numSequencia}" />
			<input type="hidden" name="solicitacao.stringDtMeioContato"
				id="stringDtMeioContato" value="${solicitacao.dtRegDDMMYYYYHHMM}">

			<div class="gt-form-table">
				<div class="barra-subtitulo barra-subtitulo-top header"
					align="center" valign="top">Dados básicos</div>
			</div>

			#{ifErrors}
			<p class="gt-error">Alguns campos obrigatórios não foram
				preenchidos ${error}</p>
			#{/ifErrors}

			<div class="gt-form-row gt-width-66">
				<label>Cadastrante</label> ${cadastrante.nomePessoa} <input
					type="hidden" id="siglaCadastrante" name="cadastrante.sigla"
					value="${cadastrante.sigla}" />
			</div>

			<div class="gt-form-row gt-width-66">
				<label>Solicitante</label> #{selecao tipo:'pessoa',
				nome:'solicitacao.solicitante', value:solicitacao.solicitante,
				onchange:"carregarLocalRamalEMeioContato();carregarItem();carregarConhecimentosRelacionados();
				notificarCampoMudou('#solicitacaosolicitante', 'Solicitante', 'solicitacao.solicitante');" /} <span style="margin-left: 10px;"
					id="spanInterlocutor">#{checkbox name:'mostrarInterlocutor',
					value:false, depende:'interlocutor'/} Interlocutor</span>
			</div>
			<div class="gt-form-row gt-width-66" id="interlocutor"
				style="display: none;">
				<label>Interlocutor</label> #{selecao tipo:'pessoa',
				nome:'solicitacao.interlocutor', value:solicitacao.interlocutor,
				onchange:'' /}
			</div>
			#{set locaisDisponiveis:solicitacao.locaisDisponiveis /} #{if
			locaisDisponiveis.size() > 1}
			<div class="gt-form-row gt-width-66">
				<label>Local</label> #{select name:'solicitacao.local',
				items:locaisDisponiveis, valueProperty:'idComplexo',
				labelProperty:'nomeComplexo', value:solicitacao.local?.idComplexo,
				id:'local' /}
			</div>
			<script>
					$("#local").change(function() {
						  carregarItem();
					});
				</script>
			#{/if}

			<div class="gt-form-table" style="margin-top: 10px;">
				<div class="barra-subtitulo header" align="center" valign="top">
					Contato</div>
			</div>

			<div class="gt-form-row gt-width-66">
				<label>Quando deseja receber notificação de movimentacao?</label>
				#{select name:'solicitacao.formaAcompanhamento',
				items:models.SrFormaAcompanhamento.values(),
				labelProperty:'descrFormaAcompanhamento',
				value:solicitacao.formaAcompanhamento /}
			</div>

			<div id="divLocalRamalEMeioContato">#{include
				'Application/exibirLocalRamalEMeioContato.html' /}</div>

			<div id="divItem">#{include
				'Application/exibirItemConfiguracao.html' /}</div>

			<div class="gt-form-row gt-width-66">
				<label>Descrição</label>
				<textarea cols="85" rows="10" name="solicitacao.descrSolicitacao"
					id="descrSolicitacao">${solicitacao.descrSolicitacao}</textarea>
				<span style="color: red">#{error
					'solicitacao.descrSolicitacao' /}</span>
			</div>
			<div class="gt-form-row gt-width-66">
				<label>Anexar arquivo</label> <input type="file"
					name="solicitacao.arquivo" />
			</div>

			<div class="gt-form-table">
				<div class="barra-subtitulo header" align="center" valign="top">
					Prioridade</div>
			</div>
			<div class="gt-form-row box-wrapper">
				<div class="gt-form-row gt-width-33">
					<label>Gravidade</label> #{select name:'solicitacao.gravidade',
					items:models.SrGravidade.values(),
					labelProperty:'respostaEnunciado', value:'NORMAL',
					style:'width:235px;' /}
				</div>
				<div class="gt-form-row gt-width-33">
					<label>Urgência</label> #{select name:'solicitacao.urgencia',
					items:models.SrUrgencia.values(),
					labelProperty:'respostaEnunciado', value:'NORMAL',
					style:'width:235px;' /}
				</div>
				<div class="gt-form-row gt-width-33">
					<label>Tendência</label> #{select name:'solicitacao.tendencia',
					items:models.SrTendencia.values(),
					labelProperty:'respostaEnunciado', value:'PIORA_MEDIO_PRAZO',
					style:'width:235px;' /}
				</div>
			</div>

			#{if solicitacao.podeAbrirJaFechando(lotaTitular,cadastrante)}
			<div class="gt-form-row gt-width-66">
				<label>#{checkbox name:'solicitacao.fecharAoAbrir',
					value:solicitacao.fecharAoAbrir, depende:'motivoFechamento',
					disabled: alterando /} Fechar o chamado logo após a abertura</label>
			</div>
			#{/if}

			<div class="gt-form-row gt-width-66" id="motivoFechamento"
				style="display: none">
				<label>Motivo do fechamento</label> <input type="text" size="100"
					name="solicitacao.motivoFechamentoAbertura"
					id="motivoFechamentoAbertura" />
			</div>

			#{if !solicitacao.idSolicitacao || solicitacao.rascunho}
			<div class="gt-form-row">
				<label> #{checkbox name:'solicitacao.rascunho',
					value:solicitacao.rascunho /} Rascunho </label>
			</div>
			#{/if}
			<div class="gt-form-row">
				<input type="submit" value="Gravar"
					class="gt-btn-medium gt-btn-left" id="gravar" /> <a
					href="@{Application.listar}" class="gt-btn-medium gt-btn-left">Cancelar</a>
			</div>
			#{/form}
		</div>
	</div>
	<div class="gt-sidebar">
		<div class="gt-sidebar-content">
			<h2>&nbsp;</h2>
		</div>
	</div>
	<div class="gt-sidebar">
		<div class="gt-sidebar-content tempo">
			<h3>
				<img src="/siga/css/famfamfam/icons/clock_play.png" width="20px;"
					style="vertical-align: bottom;"> Atendimento: <span
					id="andamento"></span> horas
			</h3>
			<h3 style="margin-left: 25px;">
				Total: <span id="total"></span> horas
			</h3>
		</div>
	</div>
	<div class="gt-sidebar">
		<div id="solicitacoesRelacionadas" class="gt-sidebar-content">
			<h3>
				Solicitações relacionadas <a href="#" onclick="verMais()">[Ver
					Mais]</a>
			</h3>
			<div class="gt-content-box gt-form" id="filtroSolicitacoes">
				<label>Filtro</label>

				<div id="filtro"></div>

				<div class="gt-content-box "
					style="margin: 10px -16px -6px -16px; border-radius: 0 0 5px 5px !important;">
					<table border="0" width="100%" class="gt-table">
						<colgroup>
							<col width="35%" />
							<col width="65%" />
						</colgroup>
						<thead>
							<tr>
								<th>Código</th>
								<th>Teor</th>
							</tr>
						</thead>
						<tbody id="bodySolRelacionadas">#{include
							'Application/listarSolicitacoesRelacionadas.html' /}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div id="divConhecimentosRelacionados" />
</div>

<script>
	
	$('#gravar').click(function() {
		if ($('#siglaCadastrante').val() != $('#solicitacaosolicitante_sigla')[0].value) {
			var stringDt= $('#calendarioComunicacao').val() + ' ' + $('#horarioComunicacao').val();
			$('#stringDtMeioContato').val(stringDt);
		} 
	}); 
	
	if($('#solicitacaosolicitante').val() != $('#solicitacaointerlocutor').val()
			&& $('#solicitacaointerlocutor').val() != "") {
		$('#checkmostrarInterlocutor').prop('checked', true);	
		$('#interlocutor').show();		
	}

	$('#checkRascunho').change(function() {
		if(this.checked) {
			$('#checkRascunho').prop('value', 'true');
			return;
		}
		$('#checkRascunho').prop('value', 'false');
	});
	
	var meioComunicacao = $("select[name='solicitacao.meioComunicacao']");
	function verificarFormatoCampo() {
		meioComunicacao = $("select[name='solicitacao.meioComunicacao']");
		if(meioComunicacao.val() === 'EMAIL'
			|| meioComunicacao.val() === 'PANDION'
			|| meioComunicacao.val() === 'CHAT') {
			$('#dtInicioMeioComunicacao').show();
			return;
		}
		$('#dtInicioMeioComunicacao').hide();
	};

	verificarFormatoCampo(); 

	meioComunicacao.change(function() {
		verificarFormatoCampo(); 
	});

	function formatarValorTimer(num) {
		if (num.toString().length == 1) 
      		return "0" + num;

  		return num;
	};

	var andamento = 0;	
	function moveRelogio(mili){ 
		andamento = andamento + mili;
	   	dtAndamento = new Date(andamento);
	   	dtTotal = new Date((${solicitacao.getTempoCadastramentoTotal()} + andamento));
	   	
	   	andamentoString = formatarValorTimer(dtAndamento .getUTCHours()) + ":" + formatarValorTimer(dtAndamento .getUTCMinutes()); 
	   	totalString = formatarValorTimer(dtTotal .getUTCHours()) + ":" + formatarValorTimer(dtTotal .getUTCMinutes()); 

	   	$('#andamento').html(andamentoString);
	   	$('#total').html(totalString);

	   	setTimeout("moveRelogio(60000)",60000);
	}; 

	carregarFiltrosAoIniciar();
	moveRelogio(0);
</script>
