 #{extends 'main.html' /} #{set title:'Designação de solicitações' /}
 
<style>
#sortable ul {
        height: 1.5em;
        line-height: 1.2em;
}

.ui-state-highlight {
        height: 1.5em;
        line-height: 1.2em;
}
</style>

<script>
$(function() {

        var jListas = $("#listas"),
        listas = jListas[0],
        jDialog = $("#dialog"),
        dialog = jDialog[0],
        jDescrLista = $("#descrLista");
        jListaSelecionada = $("#itemLista");
       
        $( "#listas" ).sortable({placeholder: "ui-state-highlight"});
        $( "#listas" ).disableSelection();
       
        $("#botaoIncluir").click(function(){
                jDialog.data('acao',listas.incluirItem).dialog('open');
        });
       
        jDialog.dialog({
                autoOpen: false,
                height: 'auto',
                width: 'auto',
                modal: true,
                resizable: false,
                close: function() {
                        jDescrLista.val('');
                        jDialog.data('lista','');
                },
                open: function(){
                        if (jDialog.data("lista"))
                                jDialog.dialog('option', 'title', 'Alterar Lista de Prioridade');
                        else
                                jDialog.dialog('option', 'title', 'Incluir Lista de Prioridade');                  
                        jDescrLista.val(jDialog.data("lista.nomeLista"));
                }
        });
        $("#modalOk").click(function(){
				var acao = jDialog.data('acao');
            	var jTipoEscolhido = jListaSelecionada.find("option:selected");
            	acao(jTipoEscolhido.val(), jTipoEscolhido.text(), jDialog.data("id"));
            	jDialog.dialog('close');
        });
        $("#modalCancel").click(function(){
                jDialog.dialog('close');
        });

        listas["index"] = 0;
        listas.incluirItem = function(idLista, descrLista, id){
                if (!id)
                        id = 'novo_' + ++listas["index"];
                
                jListas.append("<li style=\"cursor: move\" id =\"" + id + "\"></li>");
                var jNewTr = jListas.find("li:last-child");
                jNewTr.append("<span>" + idLista + "</span> - <span style=\"display: inline-block\" id=\"" + idLista + "\">"
                        + descrLista + "</span>");
                jNewTr.append("&nbsp;<img src=\"/siga/css/famfamfam/icons/delete.png\" style=\"visibility: hidden; cursor: pointer\" />");
                jNewTr.find("img:eq(0)").click(function(){
                        listas.removerItem(jNewTr.attr("id"));
                });
                jNewTr.mouseover(function(){
                        jNewTr.find("img").css("visibility", "visible");
                });
                jNewTr.mouseout(function(){
                        jNewTr.find("img").css("visibility", "hidden");
                });
        }
        listas.removerItem = function(idItem){
                $("#"+idItem).remove();
                listas["index"]--;
        }

        #{list items:designacao.getListaConfiguracaoSet(), as:'item'}
                listas.incluirItem('${item.lista.idLista}', '${item.lista.nomeLista}', ${item.idListaConfiguracao});
        #{/list}

        $("[value='Gravar']").click(function(){
                var jForm = $("form"),
                	params = jForm.serialize();
                jListas.find("li").each(function(i){
	                var jDivs=$(this).find("span");
	                params += '&designacao.listaConfiguracaoSet[' + i + '].lista.idLista=' + jDivs[1].id;
                });
                
                location.href = '@{Application.gravarDesignacao()}?' + params;
        });
});
</script>


<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		#{if designacao?.idConfiguracao}
		<h2 class="gt-form-head">Designação</h2>
		#{/if} #{else}
		<h2 class="gt-form-head">Cadastro de Designação</h2>
		#{/else}

		<div class="gt-form gt-content-box">
			<form> #{if
			designacao?.idConfiguracao} <input type="hidden"
				name="designacao.idConfiguracao"
				value="${designacao.idConfiguracao}"> #{/if}
			#{ifErrors}
			<p class="gt-error">Alguns campos obrigatórios não foram
				preenchidos ${error}</p>
			#{/ifErrors}	
			<div class="gt-form-row gt-width-66">
				<label>Órgão</label> 
				#{select name:'designacao.orgaoUsuario', 
					items:orgaos, 
					valueProperty:'idOrgaoUsu',
					labelProperty:'nmOrgaoUsu',
					value:designacao.orgaoUsuario?.idOrgaoUsu,
					class:'select-siga'}
				#{option 0}Nenhum#{/option} 
				#{/select}
			</div>
			<span style="color: red">#{error
					'designacao.orgaoUsuario' /}</span>
			<div class="gt-form-row gt-width-66">		
				<label>Local</label> 
				#{select name:'designacao.complexo', 
					items:locais, 
					valueProperty:'idComplexo',
					labelProperty:'nomeComplexo', 
					value:designacao.complexo?.idComplexo,
					class:'select-siga'}
					#{option 0}Nenhum#{/option} 
				#{/select}
			</div>		
			<div class="gt-form-row gt-width-100">
				<label>Solicitante</label>
				<div id="divSolicitante">#{pessoaLotaFuncCargoSelecao
					nomeSelLotacao:'designacao.lotacao',
					nomeSelPessoa:'designacao.dpPessoa',
					nomeSelFuncao:'designacao.funcaoConfianca',
					nomeSelCargo:'designacao.cargo',
					valuePessoa:designacao.dpPessoa?.pessoaAtual,
					valueLotacao:designacao.lotacao?.lotacaoAtual,
					valueFuncao:designacao.funcaoConfianca,
					valueCargo:designacao.cargo,
					disabled:disabled /}
				</div>
			</div>
				
			<div class="gt-form-row gt-width-66">
				<label>Item</label> #{selecao tipo:'item',
					nome:'designacao.itemConfiguracao',
					value:designacao.itemConfiguracao?.atual /}
					<span style="display:inline;color: red">#{error 'designacao.itemConfiguracao' /}</span>
			</div>

			<div class="gt-form-row gt-width-66">
				<label>Ação</label> #{selecao tipo:'acao',
					nome:'designacao.acao', value:designacao.acao?.atual /}
					<span style="display:inline;color: red">#{error 'designacao.acao' /}</span>
			</div>
			<div class="gt-form-row gt-width-66">
				<label>Atendente</label>#{selecao
					tipo:'lotacao', nome:'designacao.atendente', value:designacao.atendente?.lotacaoAtual /}
					<span style="display:inline;color: red">#{error 'designacao.atendente' /}</span>
			</div>
			<div class="gt-form-row gt-width-66">
				<label>Pré-atendente</label>#{selecao
					tipo:'lotacao', nome:'designacao.preAtendente',
					value:designacao.preAtendente?.lotacaoAtual /}
					<span style="display:inline;color: red">#{error 'designacao.preAtendente' /}</span>
			</div>
			<div class="gt-form-row gt-width-66">
				<label>Pós-atendente</label> #{selecao
					tipo:'lotacao', nome:'designacao.posAtendente',
					value:designacao.posAtendente?.lotacaoAtual /}
					<span style="display:inline;color: red">#{error 'designacao.posAtendente' /}</span>
			</div>
			<div class="gt-form-row gt-width-66">
				<label>Equipe de Qualidade</label> #{selecao
					tipo:'lotacao', nome:'designacao.equipeQualidade',
					value:designacao.equipeQualidade?.lotacaoAtual /}
					<span style="display:inline;color: red">#{error 'designacao.equipeQualidade' /}</span>
			</div>
			<div class="gt-form-row gt-width-66">
				<label>Pesquisa de satisfação</label> 
				#{select name:'designacao.pesquisaSatisfacao', 
					items:pesquisaSatisfacao, 
					valueProperty:'idPesquisa',
					labelProperty:'nomePesquisa', 
					value:designacao.pesquisaSatisfacao?.idPesquisa,
					class:'select-siga'}
					#{option 0}Nenhuma#{/option} 
				#{/select}
			</div>
	
			<hr/>
			<label>SLA</label>
			<div class="gt-form-row gt-width-33">
				<label>Pré-atendimento</label>
				<div>
					<input id="slaPreAtendimentoQuantidade"
						type="text"
						name="designacao.slaPreAtendimentoQuantidade" 
						value="${designacao.slaPreAtendimentoQuantidade}" />
					#{select name:'designacao.unidadeMedidaPreAtendimento', 
						items:unidadesMedida, 
						valueProperty:'idUnidadeMedida',
						labelProperty:'descricao', 
						value:designacao.unidadeMedidaPreAtendimento?.idUnidadeMedida}
						#{option 0}Nenhum#{/option} 
					#{/select}
				</div>
			</div>
			<div class="gt-form-row gt-width-33">
				<label>Atendimento</label>
				<div>
					<input id="slaAtendimentoQuantidade"
						type="text"
						name="designacao.slaAtendimentoQuantidade" 
						value="${designacao.slaAtendimentoQuantidade}" />
					#{select name:'designacao.unidadeMedidaAtendimento', 
						items:unidadesMedida, 
						valueProperty:'idUnidadeMedida',
						labelProperty:'descricao', 
						value:designacao.unidadeMedidaAtendimento?.idUnidadeMedida}
						#{option 0}Nenhum#{/option} 
					#{/select}
				</div>
			</div>
			<div class="gt-form-row gt-width-33">
				<label>Pós-atendimento</label>
				<div>
					<input id="slaPosAtendimentoQuantidade"
						type="text"
						name="designacao.slaPosAtendimentoQuantidade" 
						value="${designacao.slaPosAtendimentoQuantidade}" />
					#{select name:'designacao.unidadeMedidaPosAtendimento', 
						items:unidadesMedida, 
						valueProperty:'idUnidadeMedida',
						labelProperty:'descricao', 
						value:designacao.unidadeMedidaPosAtendimento?.idUnidadeMedida}
						#{option 0}Nenhum#{/option} 
					#{/select}
				</div>
			</div>
			
			<div class="gt-form-row gt-width-33">
				<label>Margem de segurança na divulgação (%)</label>
				<input id="margemSeguranca"
					type="text"
					name="designacao.margemSeguranca" 
					value="${designacao.margemSeguranca}" />
			</div>
			
			<div class="gt-form-row gt-width-66">
				<label>Observação para divulgação de SLA</label>
				<textarea cols="85" rows="10" name="designacao.observacaoSLA"
					id="observacaoSLA">${designacao.observacaoSLA}</textarea>
			</div>
			
			<div class="gt-form-row">
				<label>#{checkbox name:'designacao.divulgarSLA',
					value:designacao.divulgarSLA/} Divulgar SLA</label>
			</div>
			
			<hr/>
			<label>Notificação de atraso</label>
			<div class="gt-form-row">
				<label>#{checkbox name:'designacao.notificarGestor',
					value:designacao.notificarGestor/} Gestor do item de Configuração</label>
			</div>
			
			<div class="gt-form-row">
				<label>#{checkbox name:'designacao.notificarSolicitante',
					value:designacao.notificarSolicitante/} Solicitante</label>
			</div>
			
			<div class="gt-form-row">
				<label>#{checkbox name:'designacao.notificarCadastrante',
					value:designacao.notificarCadastrante/} Cadastrante</label>
			</div>
			
			<div class="gt-form-row">
				<label>#{checkbox name:'designacao.notificarInterlocutor',
					value:designacao.notificarInterlocutor/} Interlocutor</label>
			</div>
			
			<div class="gt-form-row">
				<label>#{checkbox name:'designacao.notificarAtendente',
					value:designacao.notificarAtendente/} Atendente</label>
			</div>
			
			<hr/>
			<label>Priorização</label>
			<div class="gt-form-row">
				<label>Lista de Prioridade</label>
				<ul id="listas" style="color: #365b6d">
				</ul>
				<input type="button" value="Incluir" id="botaoIncluir"
                       class="gt-btn-small gt-btn-left" style="font-size: 10px;" />
            </div>
			
			<div class="gt-form-row">
				<input type="button" value="Gravar"
					class="gt-btn-medium gt-btn-left" />
					<a href="@{Application.listarDesignacao}" class="gt-btn-medium gt-btn-left">Cancelar</a>
					#{if designacao?.idConfiguracao} <input type="button" value="Desativar"
					class="gt-btn-medium gt-btn-left"
					onclick="location.href='@{Application.desativarDesignacao()}?id=${designacao.idConfiguracao}'" />
				#{/if}
			</div>
			</form>
		</div>
	</div>
</div>

<div id="dialog">
	<div class="gt-content">
		<div class="gt-form gt-content-box">
			<div class="gt-form-row">
				<div class="gt-form-row gt-width-66">
					<label>Lista</label> #{select name:'itemLista', id:'itemLista'}
						 #{list items:listasPrioridade, as:'item'} #{option item.idLista} ${item.nomeLista} #{/option} #{/list} #{/select}
				</div>
				<div class="gt-form-row">
					<input type="button" id="modalOk" value="Ok"
                           class="gt-btn-medium gt-btn-left" />
					<input type="button" value="Cancelar" id="modalCancel" class="gt-btn-medium gt-btn-left" />
				</div>
			</div>
		</div>
	</div>
</div>
