#{extends 'main.html' /} #{set title:'Edição de atributo' /}
<script src="/sigasr/public/javascripts/jquery.validate.min.js"></script>
<script src="/sigasr/public/javascripts/language/messages_pt_BR.min.js"></script>

<div class="gt-form gt-content-box">
	<form id="atributoForm" action="#">
		<input type="hidden" name="idAtributo" id="idAtributo" value="${idAtributo}">
		<input type="hidden" name="hisIdIni" id="hisIdIni" value="${hisIdIni}">
		<div class="gt-form-row box-wrapper">
			<div class="box box-left gt-width-50">
				<label>Nome <span>*</span></label> <input type="text"
					name="nomeAtributo"
					id="nomeAtributo"
					value="${nomeAtributo}" size="50" maxlength="255" required/>
			</div>
			<div class="box gt-width-50">
				<label>Descrição</label> <input maxlength="255" type="text"
					name="descrAtributo"
					id="descrAtributo"
					value="${descrAtributo}" 
					style="width: 372px;" />
			</div>
		</div>
		<div class="gt-form-row gt-width-66">
			<label>C&oacute;digo</label> 
			<input type="text" name="codigoAtributo" id="codigoAtributo"
				value="${codigoAtributo}" size="60" maxlength="255"/>
		</div>
		<div class="gt-form-row gt-width-66">
			<label>Objetivo do atributo<span>*</span></label> 
			#{select id:'objetivoAtributo', name:'objetivoAtributo', items:objetivos,
				labelProperty:'descrObjetivo', value:idObjetivo, style:'width:393px;',
				onchange:'javascript:ocultaAssociacoes();',
				class:'select-siga'/}
		</div>
		<div class="gt-form-row gt-width-100">
			<label>Tipo de atributo</label> #{select name:'tipoAtributo', items:models.SrTipoAtributo.values(),
			labelProperty:'descrTipoAtributo', value:tipoAtributoAnterior, style:'width:100%', id:'tipoAtributo',
			class:'select-siga' /}
		</div>
		<div class="gt-form-row gt-width-66" id="vlPreDefinidos" style="display: none;">
			<label>Valores pré-definidos (Separados por ponto-e-vígula(;))</label> 
			<input maxlength="255" type="text"
				name="descrPreDefinido"
				id="descrPreDefinido"
				value="${descrPreDefinido}" size="60" />
		</div>
	</form>
	
	#{configuracaoAssociacao orgaos:orgaos,
		locais:locais, 
		itemConfiguracaoSet:itemConfiguracaoSet,
		acoesSet:acoesSet,
		modoExibicao:'atributo',
		urlGravar:@Application.gravarAssociacao(),
		validarCadastrar:podeCadastrarAssociacaoAtributo}
	#{/configuracaoAssociacao}
		
	<div class="gt-form-row" style="padding-top: 10px;">
		<input type="button" value="Gravar" class="gt-btn-medium gt-btn-left" onclick="atributoService.gravar()"/>
		<a class="gt-btn-medium gt-btn-left" onclick="atributoService.cancelarGravacao()">Cancelar</a>
		<input type="button" value="Aplicar" class="gt-btn-medium gt-btn-left" onclick="atributoService.aplicar()"/>
	</div>
</div>

<script>
	associacaoService.getUrlDesativarReativar = function(desativados) {
		
		var url = '@{Application.listarAssociacaoAtributo()}',
			idAtributo = $("[name=idAtributo]").val();

		if(desativados)
			url = '@{Application.listarAssociacaoAtributoDesativados()}';
			
		return url + "?idAtributo=" + idAtributo;
	}

	var validatorAtributoForm;

	jQuery( document ).ready(function( $ ) {
        if (QueryString.mostrarDesativados != undefined) {
            document.getElementById('checkmostrarAssocDesativada').checked = QueryString.mostrarDesativados == 'true';
            document.getElementById('checkmostrarAssocDesativada').value = QueryString.mostrarDesativados == 'true';
        }
		
		validatorAtributoForm = $("#atributoForm").validate({
			onfocusout: false
		});
	});
	
	function verificarTipoAtributo() {
		if($("select[name='att.tipoAtributo']").val() === 'VL_PRE_DEFINIDO') {
			$('#vlPreDefinidos').show();
			return;
		}
		$('#vlPreDefinidos').hide();
	};
	
	verificarTipoAtributo();
	
	$("select[name='att.tipoAtributo']").change(function() {
		verificarTipoAtributo(); 
	});
	
	if($('#erroDescrPreDefinido').html()) {
		$("select[name='att.tipoAtributo']").val('VL_PRE_DEFINIDO');
		$('#vlPreDefinidos').show();
	};

	function podeCadastrarAssociacao() {
		var atributoId = $("#idAtributo");
        if ((atributoId == undefined || atributoId.val() == "")  && atributoService.aplicar() == false) 
            return false;
        else
            return true;
    }
</script>