#{extends 'main.html' /} #{set title:'Edição de Ação' /}

<div class="gt-bd clearfix">
	<div class="gt-content">
		<h2>Cadastro de Ação</h2>

		<div class="gt-form gt-content-box">
			#{form @Application.gravarAcao(), onsubmit: 'javascript: return block();'} #{if
			acao?.idAcao} <input type="hidden"
				name="acao.idAcao" value="${acao.idAcao}">
			#{/if}
			#{ifErrors}
			<p class="gt-error">Alguns campos obrigatórios não foram
				preenchidos ${error}</p>
			#{/ifErrors}
			<div class="gt-form-row gt-width-66">
				<label>Código</label> <input type="text"
					name="acao.siglaAcao"
					value="${acao?.siglaAcao}" />
					<span style="color: red">#{error
					'acao.siglaAcao' /}</span>
			</div>
			<div class="gt-form-row gt-width-66">
				<label>Título</label> <input type="text"
					name="acao.tituloAcao"
					value="${acao?.tituloAcao}" size="100"/>
					<span style="color: red">#{error
					'acao.tituloAcao' /}</span>
			</div>
			<div class="gt-form-row gt-width-66">
				<label>Descrição</label> <input type="text"
					name="acao.descrAcao"
					value="${acao?.descrAcao}" size="100"/>
			</div>
			
			<div class="gt-form-row gt-width-66">
				<label>Tipo de ação</label>
					#{select name:'acao.tipoAcao',
					items:models.SrTipoAcao.values(),
					labelProperty:'descrTipoAcao',
					value:acao.tipoAcao,
					class:'select-siga' /}
			</div>
			
			<div class="gt-form-row gt-width-66">
				<label>Tipo de execução pelo Pré-atendimento</label>
					#{select name:'acao.tipoExecucao',
					items:models.SrTipoExecucaoAcao.values(),
					labelProperty:'descrTipoExecucaoAcao',
					value:acao.tipoExecucao,
					class:'select-siga' /}
			</div>
			
			<div class="gt-form-row gt-width-66">
				<label>Forma de atendimento</label>
					#{select name:'acao.formaAtendimento',
					items:models.SrFormaAtendimentoAcao.values(),
					labelProperty:'descFormaAtendimentoAcao',
					value:acao.formaAtendimento,
					class:'select-siga'/}
			</div>
			
			<div class="gt-form-row">
				<input type="submit" value="Gravar"
					class="gt-btn-medium gt-btn-left" />
				<a href="@{Application.listarAcao}" class="gt-btn-medium gt-btn-left">Cancelar</a>	
				#{if acao?.idAcao} <input type="button" value="Desativar"
					class="gt-btn-medium gt-btn-left"
					onclick="location.href='@{Application.desativarAcao()}?id=${acao.idAcao}'" />
				#{/if}
			</div>
			#{/form}
		</div>
	</div>
</div>

