#{extends 'main.html' /}

<script language="javascript">
function carregarAtendente(){
	frm = document.getElementById('formAndamento');
	params = '';
	for (i = 0; i < frm.length; i++){
		params = params + '&' + frm[i].name + '=' + escape(frm[i].value);
	}
	PassAjaxResponseToFunction('@{Application.exibirAtendente()}', 'carregouAtendente', null, false, params);
}

function carregouAtendente(response, param){
	var div = document.getElementById('divAtendente');
	div.innerHTML = response;
	var scripts = div.getElementsByTagName("script");
	for(var i=0;i<scripts.length;i++)  
	   eval(scripts[i].text);  
}

</script>

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">

		<h2>Solicitação ${solicitacao.codigo}</h2>
		#{quadroSolicitacao solicitacao:solicitacao, ocultarCodigo:true, criarFilha:criarFilha, editar:editar /} <br />


		#{if solicitacao.parteDeArvore} #{set
		grandePai:solicitacao.paiDaArvore /}
		<p>
			#{if grandePai == solicitacao}<b><i>#{/if} #{else} <a
					href="@{Application.exibir(grandePai.idSolicitacao)}"
					style="text-decoration: none"> #{/else} ${grandePai.codigo}
						#{if grandePai == solicitacao} 
			</i> </b>#{/if} #{else} </a>#{/else}
		</p>
		<p style="text-indent: 1cm">
			#{list items:grandePai.solicitacaoFilhaSet, as:'solFilha'} #{if
			solFilha == solicitacao}<b><i>#{/if} #{else} <a
					href="@{Application.exibir(solFilha.idSolicitacao)}"
					style="text-decoration: none"> #{/else} ${solFilha.codigo} #{if
						solFilha == solicitacao} 
			</i> </b>#{/if} #{else} </a>#{/else} &nbsp;&nbsp;#{/list}
		</p>
		#{/if}

		<div class="gt-content-box gt-form" style="margin-top: 15px;">
			#{form @Application.andamento(), enctype:'multipart/form-data',
			id:'formAndamento'} <input type="hidden"
				name="andamento.solicitacao.idSolicitacao"
				value="${solicitacao.idSolicitacao}"> #{if
			movimentarPlenamente}
			<div class="gt-form-row gt-width-66">
				<label>Situação</label> #{select 'andamento.estado', items:estados,
				labelProperty:'descrEstado', value:andamento.estado,
				valueProperty:idEstado, onchange:'carregarAtendente();'} #{/select}
			</div>

			<div class="gt-form-row gt-width-66">
				<label>Atendente</label>
				<div id="divAtendente">#{include
					'Application/exibirAtendente.html' /}</div>
			</div>
			#{/if}

			<div class="gt-form-row gt-width-66">
				<label>Descrição</label>
				<textarea name="andamento.descrAndamento" id="descrSolicitacao"
					cols="70" rows="4" value="${andamento.descrAndamento}"></textarea>
			</div>
			<div class="gt-form-row gt-width-66">
				<label>Anexar arquivo</label> <input type="file"
					name="andamento.arquivo">
			</div>

			<div class="gt-form-row">
				<input type="submit" value="Gravar"
					class="gt-btn-medium gt-btn-left" />
			</div>
			#{/form}
		</div>

		<!-- content box -->
		<div class="gt-content-box" style="margin-top: 15px;">
			<table border="0" class="gt-table">
				<thead>
					<tr>
						<th>Momento</th>
						<th>Situação</th>
						<th colspan="2">Atendente</th>
						<th colspan="2">Cadastrante</th>
						<th>Anexo</th>
						<th>Descrição</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					#{list items:solicitacao.andamentoSet, as:'andamento'}
					<tr id="linha${andamento.idAndamento}">
						<td>${andamento.dtRegString}</td>
						<td>${andamento.estado.descrEstado}</td>
						<td>#{selecionado
							sigla:andamento.lotaAtendente?.siglaLotacao,
							descricao:andamento.lotaAtendente?.nomeLotacao /}</td>
						<td>#{selecionado sigla:andamento.atendente?.nomeAbreviado,
							descricao:andamento.atendente?.descricaoIniciaisMaiusculas /}</td>
						<td>#{selecionado
							sigla:andamento.lotaCadastrante?.siglaLotacao,
							descricao:andamento.lotaCadastrante?.nomeLotacao /}</td>
						<td>#{selecionado sigla:andamento.cadastrante?.nomeAbreviado,
							descricao:andamento.cadastrante?.descricaoIniciaisMaiusculas /}</td>
						<td>#{arquivo arquivo:andamento.arquivo /}</td>
						<td>${andamento.descrAndamento}</td>
						<td>#{if andamento_isFirst && desfazerAndamento} <script
								language="javascript">
								document.getElementById('linha${andamento.idAndamento}').onmouseover = function(){
									document.getElementById('aCancelar').style.visibility='visible';
								}
								document.getElementById('linha${andamento.idAndamento}').onmouseout = function() {
									document.getElementById('aCancelar').style.visibility='hidden';
								}
							</script> <a id="aCancelar" class="once"
							href="@{Application.desfazerUltimoAndamento(solicitacao.idSolicitacao)}"
							style="visibility: hidden" title="Desfazer este andamento"> <img
								src="http://localhost:8080/siga/css/famfamfam/icons/cancel.png"
								style="margin-right: 5px;"> </a>#{/if}</td>
					</tr>
					#{/list}
				</tbody>
			</table>
		</div>
		<!-- /content box -->

	</div>
</div>

<br />
<br />
<br />