<script>

$(document).ready(function() {
	notificarCampoMudou('#selectAcao', 'Ação', 'solicitacao.acao');
});

function carregarAtributos(){
	var frm = document.getElementById('formSolicitacao'),
		params = '';
	//preenche o campo atendente com a lotacao designada a cada alteracao da acao 
	var idAcao = $("#selectAcao option:selected").val();
	var lotacaoDaAcao = $("#lotacao-" + idAcao).html();
	$("#atendentePadrao").html(lotacaoDaAcao);
	//garante que quando alterar a acao o atendenteNaoDesignado fique vazio
	$("#atendenteNaoDesignado").val('');

	for (i = 0; i < frm.length; i++){
		if (frm[i].name && frm[i].value)
			params = params + frm[i].name + '=' + escape(frm[i].value) + '&';
	}
	PassAjaxResponseToFunction('@{Application.exibirAtributos()}?' + params, 'carregouAtributos', null, false, null);
}

function carregouAtributos(response, param){
	var div = document.getElementById('divAtributos');
	div.innerHTML = response;
	var scripts = div.getElementsByTagName("script");
	for(var i=0;i<scripts.length;i++)  
	   eval(scripts[i].text);  

	// Para disparar o onchange e preencher os filtros
	$("#atributos").find('input,select').each(function() {
		var me = $(this);
		if(me.val()) {
			var label = me.prev('label').html().trim(),
				innerHTML = label + ' - ' + me.val(),
				divFiltro = $('#filtro'),
				selector = "." + me.attr('class'),
				optionVl = me.attr('name');
			
			addFiltro(divFiltro, selector, innerHTML, optionVl)
		}
	});
}
</script>

#{if solicitacao.itemConfiguracao && controllers.SigaApplication.podeUtilizarServico('SIGA;GC')}
	<div style="display: inline-block" >
		<div id="gc-ancora-item"></div>
	</div>
	<script type="text/javascript">
	SetInnerHTMLFromAjaxResponse("/../sigagc/app/knowledge?tags=${solicitacao.itemConfiguracao.gcTagAbertura}&estilo=inplace&popup=true&msgvazio=&titulo=${solicitacao.itemConfiguracao.tituloItemConfiguracao}&ts=${currentTimeMillis}",document.getElementById('gc-ancora-item'));
	</script>
#{/if}


#{if solicitacao.itemConfiguracao && acoesEAtendentes} 
	<div class="gt-form-row gt-width-66">
	<label>Ação</label>
		#{select name:'solicitacao.acao', value:solicitacao.acao?.idAcao, onchange:"carregarAtributos();notificarCampoMudou('#selectAcao', 'Ação', 'solicitacao.acao');", id:'selectAcao'}
			#{option}#{/option}	
			#{list items:acoesEAtendentes.keySet(), as:'acao' }
				#{option acao.idAcao} ${acao.tituloAcao} #{/option}					 
			#{/list}
		#{/select}  
	 <span style="color: red">#{error 'solicitacao.acao' /}</span>
	</div>
	<div>
		*{#{set lotacaoNaoDesignada : "" /}}*
		<!-- Necessario listar novamente a lista "acoesEAtendentes" para ter a lotacao designada da cada acao
				ja que acima no select nao tem como "esconder" essa informacao -->
		#{list items:acoesEAtendentes.keySet(), as:'acaoAtend' }
			<span id="lotacao-${acaoAtend.idAcao}" style="display:none;">${acoesEAtendentes.get(acaoAtend).sigla} - ${acoesEAtendentes.get(acaoAtend).descricao.raw()}</span>
			
			#{if acaoAtend_isFirst} 
				#{set lotacaoNaoDesignada : acoesEAtendentes.get(acaoAtend).sigla + ' - ' + acoesEAtendentes.get(acaoAtend).descricao /} 
			#{/if}
		#{/list}

		<label>Atendente</label>
		<span id="atendentePadrao" style="display:block;">
			 <!-- Para solicitacoes cadastradas, pegar o atendente da ultima movimentacao -->
			#{if solicitacao.numSolicitacao != null} 
				${solicitacao.lotaAtendente?.sigla} - ${solicitacao.lotaAtendente?.descricao.raw()}
			#{/if}
			#{else}${lotacaoNaoDesignada.raw()}#{/else}
		</span>
		#{if solicitacao.isFilha()}
		<a href="javascript: modalAbrir('lotacaoAtendente')" class="gt-btn-medium" style="margin:5px 0 0 -3px;" >Alterar atendente</a>
		<input type="hidden" name="solicitacao.atendenteNaoDesignado" id="atendenteNaoDesignado" value="" />
		#{/if}

	</div>
#{/if}

<div id="divAtributos">#{include 'Application/exibirAtributos.html' /}</div>

#{modal nome:'lotacaoAtendente', titulo:'Alterar Atendente padrão'}
	<div id="dialogAtendente">
		<div class="gt-content">
			<div class="gt-form gt-content-box">
				<div class="gt-form-row">
					<div class="gt-form-row">
						<label>Lotação Atendente</label>
							#{selecao tipo:'lotacao',
								nome:'lotacaoSelecao',
								value:lotacaoSelecao /}			
						<span style="display:none;color: red" id="atendente">Atendente não informado.</span>
					</div>
					<div class="gt-form-row">
						<a href="javascript: alterarAtendente()" class="gt-btn-medium gt-btn-left">Ok</a>
						<a href="javascript: modalFechar('lotacaoAtendente')" class="gt-btn-medium gt-btn-left">Cancelar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
#{/modal}

<script>	
	function modalAbrir(componentId) {
		limparCampos();
		$("#" + componentId + "_dialog").dialog('option', 'width', 560);
		$("#" + componentId + "_dialog").dialog('open');
	}
	
	function modalFechar(componentId) {
		$("#" + componentId + "_dialog").dialog('close');
	}
	// limpa campos do componente de busca - tag selecao
	function limparCampos() {
		$("#lotacaoSelecao").val('');
		$("#lotacaoSelecao_descricao").val('');
		$("#lotacaoSelecao_sigla").val('');
		$("#lotacaoSelecaoSpan").html('');
	}
	function alterarAtendente() {
		var inputNovoAtendente = $("#lotacaoSelecao").val();
		var spanNovoAtendente = $("#lotacaoSelecao_sigla").val() + " - " + $("#lotacaoSelecao_descricao").val();
		modalFechar('lotacaoAtendente');
		$("#atendenteNaoDesignado").val(inputNovoAtendente);
		$("#atendentePadrao").html(spanNovoAtendente);
	}
</script>
