#{if servicos && solicitacao.itemConfiguracao} 
<div class="gt-form-row gt-width-66">
	<label>Ação</label> 
	#{select name:'solicitacao.servico', value:solicitacao.servico?.idServico, onchange:'carregarAtributos();'}
		#{list items:servicos, as:'servico' }
			#{option servico.idServico}
			${servico.tituloServico}#{/option}
		#{/list}
	#{/select}
	
	 <span
		style="color: red">#{error 'solicitacao.servico' /}</span>
</div>
#{/if}

<div id="divAtributos">#{include
				'Application/exibirAtributos.html' /}</div>