<script src="/sigasr/public/javascripts/jquery.maskedinput.min.js"></script>

<style>
	#atributos select{
		max-width: 600px;
	}
</style>

<tr id="atributos">
	<td>Atributos</td>
	<td style="padding-left:0px">
		<table>
			#{list items:filtro.tiposAtributosConsulta, as:'atributo'}
				<tr>
					<td>
						#{select name:'name_['+atributo.idAtributo+']', 
								 value:atributo.idAtributo, 
								 onchange : 'alterarCampoParaAtributo($(this))',
								 style:'max-width: 300px;' }
							#{list items:filtro.itensDisponiveis(atributosDisponiveisAdicao, atributo), as: 'atributoDisponivel' }
								#{option atributoDisponivel.idAtributo}
									${atributoDisponivel.nomeAtributo}
								#{/option}
							#{/list}
						#{/select}
					</td>
					
					<td class="valoresAtribudos">
						#{if atributo.tipoAtributo != null}
							#{if atributo.tipoAtributo.name() == "TEXTO"}
								<input type="text" name="filtro.atributoSolicitacaoMap[${atributo.idAtributo}]" value="${filtro.atributoSolicitacaoMap[atributo.idAtributo]}" class="${atributo.idAtributo}"/>
								<span style="color: red">#{error 'filtro.atributoSolicitacaoMap['+atributo.idAtributo+']' /}</span>
							#{/if}
							#{if atributo.tipoAtributo.name() == "TEXT_AREA"}
								<textarea cols="85" rows="10" name="filtro.atributoSolicitacaoMap[${atributo.idAtributo}]" class="${atributo.idAtributo}" maxlength="255">${filtro.atributoSolicitacaoMap[atributo.idAtributo]}</textarea>
								<span style="color: red">#{error 'solicitacao.atributoSolicitacaoMap['+atributo.idAtributo+']' /}</span>
							#{/if}	
							#{if atributo.tipoAtributo.name() == "DATA"}
								<input type="text" name="filtro.atributoSolicitacaoMap[${atributo.idAtributo}]" value="${filtro.atributoSolicitacaoMap[atributo.idAtributo]}" id="calendarioAtributo${atributo.idAtributo}" class="${atributo.idAtributo}"/>
								<span style="color: red">#{error 'filtro.atributoSolicitacaoMap['+atributo.idAtributo+']' /}</span>
								<script>
									$(function() {
										$( "#calendarioAtributo${atributo.idAtributo}" ).datepicker({
									        showOn: "button",
									        buttonImage: "/siga/css/famfamfam/icons/calendar.png",
									        buttonImageOnly: true,
									        dateFormat: 'dd/mm/yy'
									    });
										$("#calendarioAtributo${atributo.idAtributo}").mask("99/99/9999");
									});
								</script>
							#{/if}
							#{if atributo.tipoAtributo.name() == "NUM_INTEIRO"}
								<input type="text" class="${atributo.idAtributo}"
									onkeypress="javascript: var tecla=(window.event)?event.keyCode:e.which;if((tecla>47 && tecla<58)) return true;  else{  if (tecla==8 || tecla==0) return true;  else  return false;  }"
									name="filtro.atributoSolicitacaoMap[${atributo.idAtributo}]" value="${filtro.atributoSolicitacaoMap[atributo.idAtributo]}" />
								<span style="color: red">#{error 'filtro.atributoSolicitacaoMap['+atributo.idAtributo+']' /}</span>
							#{/if}
							#{if atributo.tipoAtributo.name() == "NUM_DECIMAL"}
								<input type="text" name="filtro.atributoSolicitacaoMap[${atributo.idAtributo}]" value="${filtro.atributoSolicitacaoMap[atributo.idAtributo]}" 
									id="numDecimal" pattern="^\d*(\,\d{2}$)?" title="Somente número e com duas casas decimais EX: 222,22" class="${atributo.idAtributo}"/>
								<span style="color: red">#{error 'filtro.atributoSolicitacaoMap['+atributo.idAtributo+']' /}</span>
							#{/if}
							#{if atributo.tipoAtributo.name() == "HORA"}
								<input type="text" name="filtro.atributoSolicitacaoMap[${atributo.idAtributo}]" value="${filtro.atributoSolicitacaoMap[atributo.idAtributo]}" id="horarioAtributo${atributo.idAtributo}" class="${atributo.idAtributo}" />
								<span style="color: red">#{error 'filtro.atributoSolicitacaoMap['+atributo.idAtributo+']' /}</span>
								<span style="color: red; display: none;" id="erroHoraAtributo${atributo.idAtributo}">Horário inválido</span>
								<script>
									$(function() {
										$("#horarioAtributo${atributo.idAtributo}").mask("99:99");
										$("#horarioAtributo${atributo.idAtributo}").blur(function() {
											var hora = this.value;
											var array = hora.split(':');
											if (array[0] > 23 || array[1] > 59) {
												$('#erroHoraAtributo${atributo.idAtributo}').show(); 
												return;
											}
											$('#erroHoraAtributo${atributo.idAtributo}').hide();	
										});
									});
								</script>
							#{/if}
							#{if atributo.tipoAtributo.name() == "VL_PRE_DEFINIDO"}
								#{select name:'filtro.atributoSolicitacaoMap['+atributo.idAtributo+']', value:filtro.atributoSolicitacaoMap[atributo.idAtributo], class:atributo.idAtributo+' '}
									#{list items:atributo.preDefinidoSet, as:'valorAtributoSolicitacao' }
										#{option valorAtributoSolicitacao}
											${valorAtributoSolicitacao}
										#{/option}
									#{/list}
								#{/select}
							#{/if}
						#{/if}
					<td>
					<td>
						<img src="/siga/css/famfamfam/icons/delete.png" style="margin-left:-29px"
							onclick="removerFiltroAtributo(this)" title="Remover atributo dos filtros"></img>
					</td>
				</tr>
			#{/list}
			<tr id="ddlNovoAtributoContainer">
				<td>
					<div>
						#{select name:'adicionar_novo_atributo', 
								 onchange : 'carregarCampoParaAtributo($(this))',
								 style:'max-width: 300px;' }
							#{option ""}#{/option}
							#{list items:atributosDisponiveisAdicao, as: 'atributoDisponivel' }
								#{option atributoDisponivel.idAtributo}
									${atributoDisponivel.nomeAtributo}
								#{/option}
							#{/list}
						#{/select}
					</div>
				</td>
			</tr>
			<tr>
				<td id="btnAdicionarAtributo">
					<img src="/siga/css/famfamfam/icons/add.png" 
						onclick="adicionarFiltroAtributo()" title="Adicionar atributo como filtro"></img>
				</td>
			</tr>
		</table>
	</td>
</tr>

<script>
	// Esconde a combo onde ficam os tipos de atributos disponiveis e seleciona a opcao vazia
	$("#ddlNovoAtributoContainer").hide();
	$("#ddlNovoAtributoContainer select option:nth(0)").attr('selected', 'selected');

	function adicionarFiltroAtributo() {
		if($("#ddlNovoAtributoContainer select option").size() > 1) {
			$("#ddlNovoAtributoContainer").show();
		}
    } 

	// Remove um filtro de atributo da tela
    function removerFiltroAtributo(input) {
    	removerFiltroAtributoDaTela(input); // Remove o filtro atual da tela (usuario clicou no remover)
        carregarCampoParaAtributo();
    }

    // Remove a linha que contem um atributo 
    function removerFiltroAtributoDaTela(input) {
        $(input).parent('td').parent('tr').remove();
    }

    // Carrega o template que representa os atributos quando o usuario seleciona uma novo atributo
    function carregarCampoParaAtributo(select) {
		//jQuery.blockUI(objBlock);
    	var params = '';
		if(select) {
			select.attr('disabled', true);
			params = ('filtro.atributoSolicitacaoMap[' + select.val() + "]=&");
		}
		params += construirParametrosRequisicaoAtributos();
		PassAjaxResponseToFunction('@{Application.exibirAtributosConsulta()}?' + params, 'carregouCampoAtributo', null, false, null);
    }

    // Carrega o template que representa os atributos quando o usuario altera um atributo jah presenta na tela
    function alterarCampoParaAtributo(select) {
        //jQuery.blockUI(objBlock);
    	select.attr('disabled', true);
    	
    	removerFiltroAtributoDaTela(select);
        var params = 'filtro.atributoSolicitacaoMap[' + select.val() + "]=&" + construirParametrosRequisicaoAtributos();
		PassAjaxResponseToFunction('@{Application.exibirAtributosConsulta()}?' + params, 'carregouCampoAtributo', null, false, null);
    }

    // Pega os campos que representam os atributos e constuir a query da URL
    function construirParametrosRequisicaoAtributos() {
		var params = '';
		$('#atributos .valoresAtribudos').find('input,select').each(function() {
			params += $(this).attr('name') + '=' + $(this).val() + '&';  
		});
		return params;
    }

    // Callback da requisicao que busca o template com os atributos
	function carregouCampoAtributo(response, param) {
		var div = document.getElementById('atributos');
		div.innerHTML = response;
		var scripts = div.getElementsByTagName("script");
		for(var i=0;i<scripts.length;i++)
			eval(scripts[i].text);
		//jQuery.unblockUI();
	}
</script>

						
