#{extends 'main.html' /} #{set title:'Exibição de solicitação' /}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="/sigasr/public/javascripts/jquery.serializejson.min.js"></script>
<script src="/sigasr/public/javascripts/jquery.populate.js"></script>
<script src="/sigasr/public/javascripts/base-service.js"></script>

<style>
	#sortable table { height: 1.5em; line-height: 1.2em; }
	.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
	
	/** CSS do numero **/
	.numero-solicitacao a {
		color: black;
	}
	.PRIORIDADE-IMEDIATO .numero-solicitacao a {
		color: red !important;
		font-weight: bold;
	}
	.PRIORIDADE-ALTO .numero-solicitacao a {
		color: #E0E000 !important;
		font-weight: bold;
	}
	.PRIORIDADE-MEDIO .numero-solicitacao a {
		color: blue !important;
		font-weight: bold;
	}
	.PRIORIDADE-BAIXO .numero-solicitacao a {
		color: green !important;
		font-weight: bold;
	}
	.PRIORIDADE-PLANEJADO .numero-solicitacao a {
		color: gray !important;
		font-weight: bold;
	}
	
	.legenda-prioridade {
		margin-top: 10px;
	}
	
	/** CSS da leganda **/
	.legenda-prioridade span{
		display: inline-block;
	}
	.legenda-prioridade .cor {
		height: 15px;
		width: 15px;
		display: inline-block;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	
	.legenda-prioridade div {
		display: inline-block;
	}
	.legenda-prioridade .descricao {
		display: block;
	    margin-left: 20px;
	    margin-right: 15px;
	    margin-top: -18px;
	}
	.legenda-prioridade .PRIORIDADE-IMEDIATO .cor {
		background-color: red;
	}
	.legenda-prioridade .PRIORIDADE-ALTO .cor {
		background-color: #E0E000;
	}
	.legenda-prioridade .PRIORIDADE-MEDIO .cor {
		background-color: blue;
	}
	.legenda-prioridade .PRIORIDADE-BAIXO .cor {
		background-color: green;
	}
	.legenda-prioridade .PRIORIDADE-PLANEJADO .cor {
		background-color: gray;
	}
</style>

#{set podeRemover:lista.podeRemover(lotaTitular, cadastrante) /}
#{set podeEditar:lista.podeEditar(lotaTitular, cadastrante) /}
#{set podePriorizar:lista.podePriorizar(lotaTitular, cadastrante) /}

#{if podePriorizar}
	<script>
		QueryString = {};
	
		$(function() {
			$( "#sortable" ).sortable({placeholder: "ui-state-highlight"});
			$( "#sortable" ).disableSelection();
		});
	</script>
#{/if} 

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
	<h2 id="tituloPagina"> ${lista.nomeLista}</h2>
	
		<p class="gt-table-action-list">
			#{if podeEditar} 
				<a href="#" onclick="javascript: editarLista(event, ${lista.toJson()})"> 
					<img src="/siga/css/famfamfam/icons/pencil.png" style="margin-right: 5px;">Editar
				</a>&nbsp;&nbsp;&nbsp; 
			#{/if}
		</p>
 	
 	
 	
 	<div class="gt-content-box gt-for-table dataTables_div">
		<table id="solicitacao_table" class="display gt-table-nowrap">
			<col width="5%" />
			<col width="15%" />
    		<col width="25%" />
    		<col width="10%" />
    		<col width="10%" />
    		<col width="10%" />
    		<col width="20%" />
    		<col width="5%" />
    		<thead>
				<tr class="gt-celula-nowrap">
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">#</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Código</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Teor</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Solicitante</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Aberto</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Lotação</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Última Movimentação</th>
					#{if podeRemover}
						<th style="color: #333; font-weight: bold; padding: 7px 10px;"></th>
					#{/if}
				</tr>
			</thead>
			<tbody id="sortable" >
				#{list items:lista.getPrioridadeSolicitacaoSet(), as:'sol'}
					#{if sol}
					<tr id="${sol.solicitacao.idSolicitacao}"  class="PRIORIDADE-${sol.prioridade}">
						<td class="gt-celula-nowrap numero-solicitacao" style="cursor:move; font-size: 9pt; padding: 7px 10px; border-bottom: 1px solid #ccc !important;" "id="prioridade">
							<a>${sol.numPosicao}</a>
						</td>
						<td class="gt-celula-nowrap" style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
							<a href="@{Application.exibir(sol.solicitacao.idSolicitacao)}">
								${sol.solicitacao.codigo}
							</a>	
						</td>
						<td class="gt-celula-nowrap"  style="font-size: 9pt; padding: 7px 10px; border-bottom: 1px solid #ccc !important; text-align:justify;" "id="descrSolicitacao">
						<b>#{descricaoItem itemConfiguracao: sol.solicitacao.itemAtual /}:</b>&nbsp;
						#{selecionado sigla:sol.solicitacao.descricao,descricao:sol.solicitacao.descricao /}
						</td>
							
						<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px; text-align:center;" >
						#{selecionado sigla:sol.solicitacao.solicitante.nomeAbreviado, descricao:sol.solicitacao.solicitante.descricaoIniciaisMaiusculas /}&nbsp;
						#{selecionado sigla:sol.solicitacao.lotaSolicitante.siglaLotacao,descricao:sol.solicitacao.lotaSolicitante.siglaLotacao /}
						</td>
						<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
						#{selecionado sigla:sol.solicitacao.solicitacaoInicial.dtRegString,descricao:sol.solicitacao.solicitacaoInicial.dtRegString /}
						</td>						
						<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
							<b>${sol?.solicitacao.lotaAtendente.siglaLotacao}</b></td>
						<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
							#{selecionado sigla:sol.solicitacao.ultimaMovimentacaoQuePossuaDescricao?.descrMovimentacao,descricao:sol.solicitacao.ultimaMovimentacaoQuePossuaDescricao?.descrMovimentacao /}
						</td>
						#{if podeRemover} 
						<td class="gt-celula-nowrap" style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
							<input type="hidden" name="idLista" value="${lista.idLista}">
							<input type="hidden" name="idSolicitacao" value="${sol.solicitacao.idSolicitacao}">
							<a onclick="javascript: return block();" href="@{Application.retirarDeLista(sol.solicitacao.idSolicitacao,lista.idLista)}" title="Remover da Lista" name="idSolicitacao" value="${sol.solicitacao.idSolicitacao}">
							<img id="imgCancelar" src="/siga/css/famfamfam/icons/delete.png" style="margin-right: 5px;"> </a>
						</td>
						#{/if}
					</tr>		
					#{/if}		
				#{/list}
			</tbody>
		</table>
	</div>
</div>


<div class="legenda-prioridade">
	<div class="PRIORIDADE-IMEDIATO">
		<span class="cor"></span>
		<span class="descricao">Imediata</span>
	</div>
	
	<div class="PRIORIDADE-ALTO">
		<span class="cor"></span>
		<span class="descricao">Alta</span>
	</div>
	
	<div class=PRIORIDADE-MEDIO>
		<span class="cor"></span>
		<span class="descricao">Média</span>
	</div>
	
	<div class="PRIORIDADE-BAIXO">
		<span class="cor"></span>
		<span class="descricao">Baixa</span>
	</div>
	
	<div class="PRIORIDADE-PLANEJADO">
		<span class="cor"></span>
		<span class="descricao">Planejada</span>
	</div>
</div>

<!-- /content box -->
<div class="gt-table-buttons">
	<input type="hidden" name="idLista" value="${lista.idLista}">
	#{if podePriorizar} 
	<input type="button" id="btn" value="Gravar" class="gt-btn-medium gt-btn-left" />#{/if}
	<a href="@{Application.listarLista}" class="gt-btn-medium gt-btn-left">Cancelar</a>
</div>

#{modal nome:'editarLista', titulo:'Editar Lista'}
	<div id="divEditarLista">#{include
				'Application/editarLista.html' /}</div>
#{/modal}

<script type="text/javascript">
	var solicitacaoTable,
		listaJson;
	
	/* Table initialization */
	$(document).ready(function() {
		if ( $.fn.dataTable.isDataTable( '#solicitacao_table' ) ) {
			solicitacaoTable = $('#solicitacao_table').dataTable();
		}
		else {
			solicitacaoTable = $('#solicitacao_table').dataTable({
				"language": {
					"emptyTable":     "Não existem resultados",
				    "info":           "Mostrando de _START_ a _END_ do total de _TOTAL_ registros",
				    "infoEmpty":      "Mostrando de 0 a 0 do total de 0 registros",
				    "infoFiltered":   "(filtrando do total de _MAX_ registros)",
				    "infoPostFix":    "",
				    "thousands":      ".",
				    "lengthMenu":     "Mostrar _MENU_ registros",
				    "loadingRecords": "Carregando...",
				    "processing":     "Processando...",
				    "search":         "Filtrar:",
				    "zeroRecords":    "Nenhum registro encontrado",
				    "paginate": {
				        "first":      "Primeiro",
				        "last":       "Último",
				        "next":       "Próximo",
				        "previous":   "Anterior"
				    },
				    "aria": {
				        "sortAscending":  ": clique para ordenação crescente",
				        "sortDescending": ": clique para ordenação decrescente"
				    }
				},
				"bSort" : false,
				"bFilter": false,
				"bPaginate": false
			});
		}
	});
	
	$(function(){
	    $('#btn').click(function() {
	        if (!block())
	            return false;
	        var ids=[];
	    	$("#sortable > tr").each(function() {
				var id = $(this).attr('id');
	
				if (id != undefined && id != '')
	        		ids.push(id);
	 	    });
	
	 	    if (ids.length > 0)
	    		window.location.href = "@{Application.priorizarLista}?id=${lista.idLista}&ids="+ids;
	    });
	});

	var opts = {
			 urlGravar : '@{Application.gravarLista()}?',
			 dialogCadastro : $('#editarLista_dialog'),
			 objectName : 'lista',
			 formCadastro : $('#formLista')
		};	

	// Define a "classe" listaService
	function ListaService(opts) {
		// super(opts)
		BaseService.call(this, opts);
	}
	// listaService extends BaseService
	ListaService.prototype = Object.create(BaseService.prototype);

	var listaService = new ListaService(opts);
	// Sobescreve o metodo cadastrar para limpara tela
	listaService.cadastrar = function(title) {
		BaseService.prototype.cadastrar.call(this, title);
	}

	listaService.getId = function(lista) {
		return lista.idLista;
	}

	/**
	 * Customiza o metodo editar
	 */
	listaService.editar = function(obj, title) {
		BaseService.prototype.editar.call(this, obj, title); // super.editar();

		limparDadosListaModal();

		// carrega as permissões da lista
		carregarPermissoes(obj.idLista);
	}

	/**
	* Customiza o método onGravar()
	*/
	listaService.onGravar = function(obj, objSalvo) {
		listaJson = objSalvo;

		if (listaJson)
			$("#tituloPagina").html(listaJson.nomeLista);
	}

	function editarLista(event, jSon) {
		event.stopPropagation();

		if (!listaJson)
			listaJson = jSon;

		listaService.editar(listaJson, 'Alterar Lista');
	}
	
	function limparDadosListaModal() {
		// limpa as permissões
		permissoesTable.api().clear().draw();
	}

	function carregarPermissoes(id) {
        $.ajax({
        	type: "GET",
        	url: "@{Application.buscarPermissoesLista()}?idLista=" + id,
        	dataType: "text",
        	success: function(lista) {
        		var permissoesJSon = JSON.parse(lista);
        		populatePermissoesFromJSonList(permissoesJSon);
        	},
        	error: function(error) {
            	alert("Não foi possível carregar as Permissões desta Lista.");
        	}
       	});
    }

	function populatePermissoesFromJSonList(permissoesJSon) {
		for (var i = 0; i < permissoesJSon.length; i++) {
			var permissao = permissoesJSon[i],
				row = [ permissao.orgaoUsuario ? permissao.orgaoUsuario.id : '',
						permissao.orgaoUsuario ? permissao.orgaoUsuario.sigla : '', 
						permissao.complexo ? permissao.complexo.id : '',
						permissao.complexo ? permissao.complexo.descricao : '', 
						permissao.lotacao ? permissao.lotacao.id : '',
						permissao.lotacao ? permissao.lotacao.descricao : '', 
						permissao.lotacao ? permissao.lotacao.sigla : '', 
						permissao.pessoa ? permissao.pessoa.id : '',
						permissao.pessoa ? permissao.pessoa.descricao : '', 
						permissao.pessoa ? permissao.pessoa.sigla : '', 
						permissao.cargo ? permissao.cargo.id : '',
						permissao.cargo ? permissao.cargo.descricao : '', 
						permissao.cargo ? permissao.cargo.sigla : '',
						permissao.funcaoConfianca ? permissao.funcaoConfianca.id : '',
						permissao.funcaoConfianca ? permissao.funcaoConfianca.descricao : '', 
						permissao.funcaoConfianca ? permissao.funcaoConfianca.sigla : '',  
	          			permissao.listaTipoPermissaoListaVO,									//16
	          			permissao.idConfiguracao,												//17    
	          			'',																		//18
	          			getDescricaoTipoPermissaoByLista(permissao.listaTipoPermissaoListaVO),	//19
	          			getAcaoPermissao(permissao)
	          			];

			var tr = permissoesTable.api().row.add(row).draw().node();
			if(!permissao.ativo) {
				$(tr).find('td').addClass('item-desativado');
	  		}
		}

		function getAcaoPermissao(permissao) {
			if(permissao.ativo) {
	  			return '<a class="once desassociarPermissao" onclick="desativarPermissaoUsoListaEdicao(event, '+permissao.idConfiguracao+')" title="Remover permissão">' + 
							'<input class="idPermissao" type="hidden" value="'+permissao.idConfiguracao+'}"/>' + 
							'<img id="imgCancelar" src="/siga/css/famfamfam/icons/delete.png" style="margin-right: 5px;">' + 
						'</a>';
			}
			return new String();
		}
	}
</script>
