#{list items:solicitacao.tiposAtributoAssociados, as:'tipoAtributo'}
<div class="gt-form-row gt-width-66">
<label>${tipoAtributo.nomeTipoAtributo}</label>
<input type="text" name="solicitacao.atributoMap[${tipoAtributo.idTipoAtributo}]" value="${solicitacao.atributoMap[tipoAtributo.idTipoAtributo]}" />
<span style="color: red">#{error 'solicitacao.atributoMap['+tipoAtributo.idTipoAtributo+']' /}</span>
</div>
#{/list}

#{if controllers.SigaApplication.podeUtilizarServico('SIGA;GC')}
	<div style="margin:0px;" >
		<span id="gc-ancora"></span>
	</div>
	*{
	<script type="text/javascript">
		SetInnerHTMLFromAjaxResponse("/../sigagc/app/knowledge?tags=${solicitacao.gcTagAbertura}&estilo=inplace&msgvazio=Não existe nenhum conhecimento relacionado registrado. Clique <a href=\"$1\">aqui</a> para contribuir.&titulo=${solicitacao.gcTituloAbertura}&ts=${currentTimeMillis}",document.getElementById('gc-ancora'));
	</script>
	}*
#{/if}

