#{extends 'main.html' /} #{set title:'Exibição e remoção de solicitação em lista de prioridades' /}
<div class="gt-bd clearfix">
<div class="gt-content clearfix">
		<h2> ${solicitacao.codigo}</h2>
		<h3 style="margin-bottom: 0px;">${solicitacao.itemConfiguracao?.descricao} - ${solicitacao.acao?.descricao}</h3>
		
		<p>
		<div class="gt-content-box gt-for-table" style="margin-top: 15px;">
		<form action="@{Application.desassociarLista()}" enctype="multipart/form-data">
		<table border="0" class="gt-table">
			<col width="20%" />
    		<col width="20%" />
     		<thead>
				<tr class="gt-celula-nowrap">
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Remoção da Lista</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Descrição da Lista</th>
   				</tr>
   			</thead>
			<tbody>
			#{list items:listas, as:'lista'}
			<tr>
				<td class="gt-celula-nowrap" style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
				<input type="radio" name="idLista" value="${lista.idLista}">	
			</td>
	
			<td class="gt-celula-nowrap" style="font-size: 9pt; padding: 7px 10px; border-bottom: 1px solid #ccc !important;" "id="descrLista">
				${lista.nomeLista}
			</td>
			
			#{/list}
			</tbody>
			</table>		
			<tr>
				<input type="hidden" name="idSolicitacao" value="${solicitacao.idSolicitacao}">
				<td colspan="2"><input type="submit" value="Remover da Lista" class="gt-btn-medium gt-btn-left" /></td>
			</tr>
		</form>
</div>
</div>