#{if solicitacao.isPendente()}
	#{set podeTerminar:solicitacao.podeTerminarPendencia(titular, lotaTitular) /}
	<div class="gt-sidebar">
		<div class="gt-sidebar-content">
			<h3>Pendências</h3>
			<ul>
			#{list items:solicitacao.pendenciasEmAberto, as:'pendencia'}
				<li style="margin-left: 5px">
					${pendencia.descrMovimentacao}
					#{if podeTerminar}
						<a href="javascript:terminarPendencia('${pendencia.idMovimentacao}');" title="Terminar Pend&ecirc;ncia">
							<img src="/siga/css/famfamfam/icons/tick.png" style="margin-left: 5px;" >
						</a>
					#{/if}
				</li>
			#{/list}
			</ul>
		</div>
	</div>
	#{/if} 