<script>
function carregarAtributos(){
	frm = document.getElementById('formSolicitacao');
	params = '';
	for (i = 0; i < frm.length; i++){
		if (frm[i].name && frm[i].value)
			params = params + frm[i].name + '=' + escape(frm[i].value) + '&';
	}
	PassAjaxResponseToFunction('@{Application.exibirAtributos()}?' + params, 'carregouAtributos', null, false, null);
}

function carregouAtributos(response, param){
	var div = document.getElementById('divAtributos');
	div.innerHTML = response;
}
</script>

#{if solicitacao.itemConfiguracao && servicosEAtendentes} 
<div class="gt-form-row gt-width-66">
	<label>Ação</label> 
	#{select name:'solicitacao.servico', value:solicitacao.servico?.idServico, onchange:'carregarAtributos();'}
		#{list items:servicosEAtendentes.keySet(), as:'servico' }
			#{option servico.idServico}
				${servico.tituloServico} (${servicosEAtendentes[servico].sigla})
			#{/option}
		#{/list}
	#{/select}
	
	 <span
		style="color: red">#{error 'solicitacao.servico' /}</span>
</div>
#{/if}

<div id="divAtributos">#{include
				'Application/exibirAtributos.html' /}</div>

