#{extends 'main.html' /} #{set title:'Exibição de solicitação' /}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
	$( "#sortable" ).sortable();
	$( "#sortable" ).disableSelection();
	});
</script>


	<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
	<h2> ${lista.nomeLista}</h2>
	
		<p class="gt-table-action-list">
			#{if editar} <a class="once"
				href="@{Application.editarLista(lista.idLista)}"> <img
				src="/siga/css/famfamfam/icons/pencil.png"
				style="margin-right: 5px;">Editar</a>&nbsp;&nbsp;&nbsp; #{/if}
		</p>
 	
 	<div class="gt-content-box gt-for-table">
	<table id="sortable"  border="0" class="gt-table-nowrap">
			<col width="10%" />
			<col width="10%" />
			<col width="20%" />
    		<col width="20%" />
    		<col width="15%" />
    		<col width="15%" />
    		<col width="15%" />
    		<col width="15%" />
    		<thead>
				<tr class="gt-celula-nowrap">
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Exc</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Prior</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Código</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Teor</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Solicitante</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Aberto</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Situação</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Última Movimentação</th>
				</tr>
			</thead>
			<tbody>
			#{list items:solicitacao, as:'sol'}
			#{if sol}
			<form action="@{Application.desassociarLista()}">	
			<tr>
			<td class="gt-celula-nowrap" style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
				<input type="radio" name="idSolicitacao" value="${sol.idSolicitacao}">	
			</td>
			<td class="gt-celula-nowrap" style="font-size: 9pt; padding: 7px 10px; border-bottom: 1px solid #ccc !important;" "id="prioridade">
				${sol.getSolPrioridade(lista)}
			</td>
			<td class="gt-celula-nowrap" style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
						<a href="@{Application.exibir(sol.idSolicitacao)}">
							${sol.codigo}
						</a>	
			</td>
			<td class="gt-celula-nowrap" style="font-size: 9pt; padding: 7px 10px; border-bottom: 1px solid #ccc !important;" "id="descrSolicitacao">
			<b style="color: #333">
			${sol.itemConfiguracao?.descricao}&nbsp;-&nbsp;${sol.servico?.descricao}:</b>&nbsp;
			#{selecionado sigla:sol?.descrSolicitacao,descricao:sol?.descrSolicitacao /}
			</td>
				
			<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px;" >
			#{selecionado sigla:sol.solicitante.descricaoIniciaisMaiusculas + ',' + sol.lotaSolicitante.siglaLotacao, descricao:sol.solicitante.descricaoIniciaisMaiusculas + ',' + sol.lotaSolicitante.siglaLotacao/},
			#{selecionado sigla:sol.lotaSolicitante.siglaLotacao,descricao:sol.lotaSolicitante.siglaLotacao /}
			</td>
			<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
			#{selecionado sigla:sol.solicitacaoInicial.dtRegString,descricao:sol.solicitacaoInicial.dtRegString /}
			</td>						
			<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
				<b>${sol?.situacaoStringSemLota},${sol?.lotaAtendente.siglaLotacao}</b></td>
			<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
				${sol.ultimaMovimentacao.descrMovimentacao}
			</tr>		
			</tbody>	
			#{/if}		
			#{/list}
			</table>
		</div>
	
</div>

		<!-- /content box -->
		<div class="gt-table-buttons">
			<input type="hidden" name="idLista" value="${lista.idLista}">
			<input type="submit" value="Remover" class="gt-btn-medium gt-btn-left" />
			<a href="@{Application.listarLista}" class="gt-btn-medium gt-btn-left">Voltar</a>
		</form>
		</div>
