<script>
function carregarLotacaoDaAcao(){
	//preenche o campo atendente com a lotacao designada a cada alteracao da acao 
	var idAcao = $("#selectAcao option:selected").val();
	var lotacaoDaAcao = $("#lotacao-" + idAcao).html();
	var idLotacao = $("#idLotacao-" + idAcao).html();
	$("#atendentePadrao").html(lotacaoDaAcao);
	$("#idAtendente").val(idLotacao);
	//garante que quando alterar a acao o atendenteNaoDesignado fique vazio
	$("#atendenteNaoDesignado").val('');
}
</script>

#{if solicitacao.itemConfiguracao && acoesEAtendentes} 
	<div class="gt-form-row gt-width-66">
	<label>Ação</label>
		#{select name:'acao.idAcao', value:solicitacao.acao?.idAcao, onchange:"carregarLotacaoDaAcao();", id:'selectAcao'}
			#{list items:acoesEAtendentes.keySet(), as:'acao' }
				#{option acao.idAcao} ${acao.tituloAcao} #{/option}					 
			#{/list}
		#{/select}  
	 <span style="color: red">#{error 'solicitacao.acao' /}</span>
	</div>
	<div>
		<!-- Necessario listar novamente a lista "acoesEAtendentes" para ter a lotacao designada da cada acao
				ja que acima no select nao tem como "esconder" essa informacao -->
		#{list items:acoesEAtendentes.keySet(), as:'acaoAtend' }
			<span id="lotacao-${acaoAtend.idAcao}" style="display:none;">${acoesEAtendentes.get(acaoAtend).sigla} 
								- ${acoesEAtendentes.get(acaoAtend).descricao.raw()}</span>
			<span id="idLotacao-${acaoAtend.idAcao}" style="display:none;">${acoesEAtendentes.get(acaoAtend).idLotacao}</span>
			#{if acaoAtend_isFirst} 
				#{set lotacaoDesignada : acoesEAtendentes.get(acaoAtend).sigla + ' - ' + acoesEAtendentes.get(acaoAtend).descricao /} 
				#{set idLotaAtendente : acoesEAtendentes.get(acaoAtend).idLotacao /}
			#{/if}
		#{/list}

		<label>Atendente</label>
		<span id="atendentePadrao" style="display:block;">${lotacaoDesignada.raw()}</span>
		<input type="hidden" name="idAtendente" id="idAtendente" value="${idLotaAtendente}" />
	</div>
#{/if}
