
#{set locaisDisponiveis:solicitacao.locaisDisponiveis /}
			#{if locaisDisponiveis.size() > 1}	
				<div class="gt-form-row gt-width-66">
					<label>Local</label> 
					#{select name:'solicitacao.local', items:locaisDisponiveis, valueProperty:'idComplexo',
					labelProperty:'nomeComplexo', value:solicitacao.local?.idComplexo, id:'local' /}
				</div>
				<script>
					$("#local").change(function() {
						  carregarItem();
					});
				</script>
			#{/if}

<div class="gt-form-row gt-width-66">
	<label>Telefone</label> <input type="text"
		name="solicitacao.telPrincipal" id="telPrincipal"
		value="${solicitacao.telPrincipal}" maxlength="255"/>
</div>

<div id="meioComunicacao">
	<div class="gt-form-row gt-width-66">
	<label>Origem da Demanda</label>
	#{select name:'solicitacao.meioComunicacao',
	items:models.SrMeioComunicacao.values(),
	labelProperty:'descrMeioComunicacao',
	value:solicitacao.meioComunicacao /}
	</div>

	<div class="gt-form-row box-wrapper">
		<div class="box box-left gt-width-25" style="margin-left: 15px;">
			<label>Contato inicial</label>
			<label>Data</label>
			<input type="text" name="calendario" id="calendarioComunicacao" value="${solicitacao.dtOrigemDDMMYYYY}">
			<span style="color: red">#{error 'calendario' /}</span>
		</div>
		<div class="box gt-width-33" style="padding-top: 21px;">
			<label>Hora</label>
			<input type="text" name="horario" id="horarioComunicacao" value="${solicitacao.dtOrigemHHMM}">
			<span style="color: red">#{error 'horario' /}</span>
		</div>
	</div>
	
	<input type="hidden" name="solicitacao.dtOrigemString"
				id="stringDtMeioContato" value="${solicitacao.dtOrigemDDMMYYYYHHMM}">
</div>

<script>
	validarCadastranteSolicitante();
</script>
