#{extends 'main.html' /} #{set title:'Movimentação de solicitação' /}

<script language="javascript">
function carregarAtendente(){
	frm = document.getElementById('formMovimentacao');
	params = '';
	for (i = 0; i < frm.length; i++){
		params = params + '&' + frm[i].name + '=' + escape(frm[i].value);
	}
	PassAjaxResponseToFunction('@{Application.exibirAtendente()}', 'carregouAtendente', null, false, params);
}
function carregouAtendente(response, param){
	var div = document.getElementById('divAtendente');
	div.innerHTML = response;
	var scripts = div.getElementsByTagName("script");
	for(var i=0;i<scripts.length;i++)  
	   eval(scripts[i].text);  
}
</script>

<div class="gt-bd gt-cols clearfix" style="padding-bottom: 0px;">
	<div class="gt-content clearfix">
		<h2> ${solicitacao.codigo}</h2>
		<h3 style="margin-bottom: 0px;">${solicitacao.itemConfiguracao?.descricao} - ${solicitacao.servico?.descricao}</h3>
	   	<p class="gt-table-action-list">
			#{if editar} <a class="once"
				href="@{Application.editar(solicitacao.idSolicitacao)}"> <img
				src="/siga/css/famfamfam/icons/pencil.png"
				style="margin-right: 5px;">Editar</a>&nbsp;&nbsp;&nbsp; #{/if}
			#{if criarFilha} <a class="once"
				href="@{Application.criarFilha(solicitacao.idSolicitacao)}"> <img
				src="/siga/css/famfamfam/icons/arrow_divide.png"
				style="margin-right: 5px;">Criar solicitação filha</a>&nbsp;&nbsp;&nbsp;
			#{/if}
			#{if !considerarCancelados} <a class="once"
				href="@{Application.exibir(solicitacao.idSolicitacao)}?considerarCancelados=true"> <img
				src="/siga/css/famfamfam/icons/eye.png"
				style="margin-right: 5px;">Exibir Informações Completas</a>&nbsp;&nbsp;&nbsp;
			#{/if}
			<a class="once"
				href="@{Application.associarLista(solicitacao.idSolicitacao)}"> <img
				src="/siga/css/famfamfam/icons/text_list_numbers.png"
				style="margin-right: 5px;">Definir Lista</a>&nbsp;&nbsp;&nbsp;
		</p>
		<div class="gt-content-box">
					<p style="font-size: 9pt; padding: 7px 10px; margin-bottom: 0px;" id="descrSolicitacao">
			    						${solicitacao.descrSolicitacao}</p>
			#{list items:solicitacao.atributoSet, as:'att'}
				#{if att.valorAtributo}
				<p style="font-size: 9pt; padding: 0px 10px"><b>${att.tipoAtributo.nomeTipoAtributo}:</b> ${att.valorAtributo}</p>
				#{/if}
			#{/list}
		</div>

		<h3 style="padding-top: 25px;">Próxima Movimentação</h3>
		<div class="gt-content-box gt-form">
		<form action="@{Application.movimentacao()}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="movimentacao.solicitacao.idSolicitacao"
				value="${movimentacao.solicitacao.idSolicitacao}"> #{if
			movimentarPlenamente}
			<div class="gt-form-row gt-width-66">
				<label>Situação</label> #{select 'movimentacao.estado', items:estados,
				labelProperty:'descrEstado', value:movimentacao.estado,
				valueProperty:Estado, onchange:'carregarAtendente();'} #{/select}
			</div>

			<div class="gt-form-row gt-width-66">
				<label>Atendente</label>
				<div id="divAtendente">#{include
					'Application/exibirAtendente.html' /}</div>
			</div>
			#{/if}

			<div style="display: inline" class="gt-form-row gt-width-66">
				<label>Descrição</label>
				<textarea style="width: 100%" name="movimentacao.descrMovimentacao" id="descrSolicitacao"
					cols="70" rows="4" value="${movimentacao.descrMovimentacao}"></textarea>
			</div>
			<div class="gt-form-row gt-width-66">
				<label>Anexar arquivo</label> <input type="file"
					name="movimentacao.arquivo">
			</div>

			<div class="gt-form-row">
				<input type="submit" value="Gravar"
					class="gt-btn-medium gt-btn-left" />
			</div>
			</form> 
		</div>
	</div>


	<div class="gt-sidebar">
		<div class="gt-sidebar-content">
			<h3>Dados da Solicitação</h3>
			<p>
				<b>Solicitante:</b> ${solicitacao?.solicitante?.descricaoIniciaisMaiusculas}
			</p>
			<p>
				<b>Lotação:</b> ${solicitacao.lotaSolicitante?.siglaLotacao} 
				#{if solicitacao.local}
				(${solicitacao.local.nomeComplexo})
				#{/if}
			</p>
			#{if solicitacao.telPrincipal}
			<p>
				<b>Telefone:</b> ${solicitacao.telPrincipal} 
			</p>
			#{/if}
			<p>
				<b>Cadastrante:</b> ${solicitacao?.cadastrante?.descricaoIniciaisMaiusculas}
			</p>
			<p>
			<b>Item de Configuração:</b>
			${solicitacao.itemConfiguracao?.siglaItemConfiguracao} - ${solicitacao.itemConfiguracao?.descricaoCompleta}
			</p>
			<p>
			<b>Ação:</b>
			${solicitacao.servico?.siglaServico} - ${solicitacao.servico?.descricaoCompleta}
			</p>
			<p>
				<b>Abertura:</b> ${solicitacao.solicitacaoInicial.dtRegString}
			</p>
			#{if solicitacao.arquivo}
			<p>
				<b>Arquivo anexo: </b>	#{arquivo
						arquivo:solicitacao.arquivo /} 
			</p>
			#{/if}
			<p>
				<b>Situação:</b> ${solicitacao.situacaoStringSemLota}
			</p>
			<p>
				<b>Atendente:</b> ${solicitacao.lotaAtendente?.sigla}
			</p>
			#{if (solicitacao?.GUT > 80)} #{set priorColor:'color: red' /} #{/if}
						#{elseif (solicitacao?.GUT > 60)} #{set priorColor:'color: orange' /} #{/elseif}
						#{else} #{set priorColor:'' /} #{/else}
			<p>
				<b>Prioridade:</b> <span style="${priorColor}">${solicitacao.GUTPercent} ${solicitacao.GUTString}</span> 
			</p>
		</div>
	</div>

<div class="gt-sidebar">
	<div class="gt-sidebar-content">
		<h3>Contexto</h3>
			<p>
				#{listaArvore solicitacao:solicitacao.paiDaArvore,visualizando:solicitacao /}
			</p>
	</div>
			<div class="gt-sidebar-content" id="gc"></div>
	</div>


<div class="gt-sidebar">
	<div class="gt-sidebar-content">
		<h3>Listas de Prioridades</h3>
			<p>
				#{list items:solicitacao.getListaAssociada(), as:'listassoc'}
				<tr>
					<td class="gt-form-row gt-width-66" style="font-size: 13px; font-weight: bold; !important; padding: 7px 10px;">
					&nbsp;
					<input type="hidden" name="idlista" value="${listassoc.idLista}">
						<a style="color: #365b6d;text-decoration: none" href="@{Application.exibirLista(listassoc.idLista)}">
						 ${listassoc.nomeLista}		
						</a>	
					</td>
				</tr>	
				#{/list}
			</p>
	</div>
	</div>
</div>



<div class="gt-bd" style="padding-bottom: 0px;">
	<div class="gt-content">
		<h3>Movimentações</h3>
	</div>

	<div class="gt-content-box">
		<table border="0" class="gt-table mov">
			<thead>
				<tr>
				#{if considerarCancelados}
					<th></th>
				#{/if}	
					<th>Momento</th>
					<th>Situação</th>
					<th colspan="2">Cadastrante</th>
					<th colspan="2">Atendente</th>
					<th>Descrição</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				#{list items:movimentacoes, as:'movimentacao'}
				<tr id="linha${movimentacao.idMovimentacao}" 
				#{if movimentacao.cancelado} class="disabled" #{/if} 
				#{if desfazerMovimentacao && (!movimentacao.cancelado && (movimentacao.idMovimentacao == solicitacao.ultimaMovimentacao.idMovimentacao))} 
					onmouseover="var img = document.getElementById('imgCancelar'); if (img) img.src='/siga/css/famfamfam/icons/cancel.png';"
					onmouseout="var img = document.getElementById('imgCancelar'); if (img) img.src='/siga/css/famfamfam/icons/cancel_gray.png';"
					#{/if}>
					#{if considerarCancelados} 
					<td>${movimentacao.numSequencia}</td>
					#{/if}
					#{if !considerarCancelados}<td>${movimentacao.dtIniString}</td>#{/if}
					#{else}<td>${movimentacao.dtIniMovDDMMYYHHMM}</td>#{/else}
					<td>${movimentacao.estado.descrEstado}</td>
					<td>#{selecionado
						sigla:movimentacao.lotaCadastrante?.siglaLotacao,
						descricao:movimentacao.lotaCadastrante?.nomeLotacao /}</td>
					<td>#{selecionado sigla:movimentacao.cadastrante?.nomeAbreviado,
						descricao:movimentacao.cadastrante?.descricaoIniciaisMaiusculas /}</td>
					<td>#{selecionado sigla:movimentacao.lotaAtendente?.siglaLotacao,
						descricao:movimentacao.lotaAtendente?.nomeLotacao /}</td>
					<td>#{selecionado sigla:movimentacao.atendente?.nomeAbreviado,
						descricao:movimentacao.atendente?.descricaoIniciaisMaiusculas /}</td>
					<td id="descrMovimentacao${movimentacao.idMovimentacao}">${movimentacao.descrMovimentacao}#{if
						movimentacao.arquivo}&nbsp;&nbsp;|&nbsp;&nbsp;#{arquivo
						arquivo:movimentacao.arquivo /}#{/if}</td>
					<script language="javascript">
							var descricao = document.getElementById('descrMovimentacao${movimentacao.idMovimentacao}');
							descricao.innerHTML = descricao.innerHTML.replace(/\n\r?/g, '<br />');
					</script>
					<td>#{if desfazerMovimentacao && (!movimentacao.cancelado && (movimentacao.idMovimentacao == solicitacao.ultimaMovimentacao.idMovimentacao))} 
					<a
						class="once"
						href="@{Application.desfazerUltimaMovimentacao(solicitacao.idSolicitacao)}"
						title="Desfazer esta movimentação"> <img id="imgCancelar"
							src="/siga/css/famfamfam/icons/cancel_gray.png"
							style="margin-right: 5px;"> </a>#{/if}</td>
  				</tr>
				#{/list}
			</tbody>
		</table>
	</div>
	<br/>
</div>

#{if controllers.SigaApplication.podeUtilizarServico('SIGA;GC')}
<script type="text/javascript">
		SetInnerHTMLFromAjaxResponse("/../sigagc/knowledge?${solicitacao.gcTags.raw()}&estilo=sidebar&ts=${currentTimeMillis}",document.getElementById('gc'));
</script>
#{/if}




