<script>
function carregarAtributos(){
	var frm = document.getElementById('formSolicitacao'),
		params = '';

	for (i = 0; i < frm.length; i++){
		if (frm[i].name && frm[i].value)
			params = params + frm[i].name + '=' + escape(frm[i].value) + '&';
	}
	PassAjaxResponseToFunction('@{Application.exibirAtributos()}?' + params, 'carregouAtributos', null, false, null);
}

function carregouAtributos(response, param){
	var div = document.getElementById('divAtributos');
	div.innerHTML = response;
	var scripts = div.getElementsByTagName("script");
	for(var i=0;i<scripts.length;i++)  
	   eval(scripts[i].text);  

	// Para disparar o onchange e preencher os filtros
	$("#atributos").find('input,select').each(function() {
		var me = $(this);
		if(me.val()) {
			var label = me.prev('label').html().trim(),
				innerHTML = label + ' - ' + me.val(),
				divFiltro = $('#filtro'),
				selector = "." + me.attr('class'),
				optionVl = me.attr('name');
			
			addFiltro(divFiltro, selector, innerHTML, optionVl)
		}
	});
}
</script>

#{if solicitacao.itemConfiguracao && controllers.SigaApplication.podeUtilizarServico('SIGA;GC')}
	<div style="display: inline-block" >
		<div id="gc-ancora-item"></div>
	</div>
	<script type="text/javascript">
	SetInnerHTMLFromAjaxResponse("/../sigagc/app/knowledge?tags=${solicitacao.itemConfiguracao.gcTagAbertura}&estilo=inplace&popup=true&msgvazio=&titulo=${solicitacao.itemConfiguracao.tituloItemConfiguracao}&ts=${currentTimeMillis}",document.getElementById('gc-ancora-item'));
	</script>
#{/if}


#{if solicitacao.itemConfiguracao && acoesEAtendentes} 
<div class="gt-form-row gt-width-66">
	<label>Ação</label> 
	#{select name:'solicitacao.acao', value:solicitacao.acao?.idAcao, onchange:"carregarAtributos();notificarCampoMudou('#selectAcao', 'Ação', 'solicitacao.acao');", id:'selectAcao'}
		#{option ""}#{/option}
		#{list items:acoesEAtendentes.keySet(), as:'acao' }
			#{option acao.idAcao}
				${acao.tituloAcao} (${acoesEAtendentes[acao].sigla})
			#{/option}
		#{/list}
	#{/select}
	
	 <span
		style="color: red">#{error 'solicitacao.acao' /}</span>
</div>
#{/if}

<div id="divAtributos">#{include 'Application/exibirAtributos.html' /}</div>

