
#{if solicitacao.itemConfiguracao && solicitacao.acao && controllers.SigaApplication.podeUtilizarServico('SIGA;GC')}
	<div style="display: inline-block" >
		<div id="gc-ancora-item-acao"></div>
	</div>
	<script type="text/javascript">
		SetInnerHTMLFromAjaxResponse("/../sigagc/app/knowledge?tags=${solicitacao.gcTagAbertura}&estilo=inplace&popup=true&msgvazio=Não existe conhecimento registrado para ${solicitacao.itemConfiguracao.tituloItemConfiguracao} - ${solicitacao.acao.tituloAcao}. Clique <a href=\"$1\">aqui</a> para contribuir.&titulo=${solicitacao.gcTituloAbertura}&ts=${currentTimeMillis}",document.getElementById('gc-ancora-item-acao'));
	</script>
#{/if}

#{list items:solicitacao.tiposAtributoAssociados, as:'tipoAtributo'}
<div class="gt-form-row gt-width-66">
<label>${tipoAtributo.nomeTipoAtributo}</label>
<input type="text" name="solicitacao.atributoMap[${tipoAtributo.idTipoAtributo}]" value="${solicitacao.atributoMap[tipoAtributo.idTipoAtributo]}" />
<span style="color: red">#{error 'solicitacao.atributoMap['+tipoAtributo.idTipoAtributo+']' /}</span>
</div>
#{/list}



