<script src="/sigasr/public/javascripts/jquery.maskedinput.min.js"></script>

<script type="text/javascript">
	carregarConhecimentosRelacionados();
	
	// Codigo para atualizacao dos filtros na tela
	removerFiltrosSemCampo();
	carregarFiltrosAtributos();
	carregarSolRelacionadas();
</script>

#{if solicitacao.itemConfiguracao && solicitacao.acao && controllers.SigaApplication.podeUtilizarServico('SIGA;GC')}
	<div style="display: inline-block" >
		<div id="gc-ancora-item-acao"></div>
	</div>
	<script type="text/javascript">
		SetInnerHTMLFromAjaxResponse("/../sigagc/app/knowledge?tags=${solicitacao.gcTagAbertura}&estilo=inplace&popup=true&msgvazio=&titulo=${solicitacao.gcTituloAbertura}&ts=${currentTimeMillis}",document.getElementById('gc-ancora-item-acao'));
	</script>
#{/if}

<script type="text/javascript"> 
	carregarConhecimentosRelacionados();
</script>

<div id="atributos">
	#{list items:solicitacao.tiposAtributoAssociados, as:'tipoAtributo'}
		<div class="gt-form-row gt-width-66">
			<label>
				${tipoAtributo.nomeAtributo} 
				#{if tipoAtributo.descrAtributo != null && tipoAtributo.descrAtributo != ""}
					(${tipoAtributo.descrAtributo})
				#{/if}
			</label>
				#{if tipoAtributo.tipoAtributo != null}
					#{if tipoAtributo.tipoAtributo.name() == "TEXTO"}
					<input type="text" name="solicitacao.atributoMap[${tipoAtributo.idAtributo}]" value="${solicitacao.atributoMap[tipoAtributo.idAtributo]}" class="${tipoAtributo.idAtributo}"
						onchange="notificarCampoAtributoMudou('.${tipoAtributo.idAtributo}', '${tipoAtributo.nomeAtributo}', 'solicitacao.atributoMap[${tipoAtributo.idAtributo}]');" />
					<span style="color: red">#{error 'solicitacao.atributoMap['+tipoAtributo.idAtributo+']' /}</span>
				#{/if}
				#{if tipoAtributo.tipoAtributo.name() == "DATA"}
					<input type="text" name="solicitacao.atributoMap[${tipoAtributo.idAtributo}]" value="${solicitacao.atributoMap[tipoAtributo.idAtributo]}" id="calendarioAtributo${tipoAtributo.idAtributo}" class="${tipoAtributo.idAtributo}"
						onchange="notificarCampoAtributoMudou('.${tipoAtributo.idAtributo}', '${tipoAtributo.nomeAtributo}', 'solicitacao.atributoMap[${tipoAtributo.idAtributo}]');" />
					<span style="color: red">#{error 'solicitacao.atributoMap['+tipoAtributo.idAtributo+']' /}</span>
					<script>
						$(function() {
							$( "#calendarioAtributo${tipoAtributo.idAtributo}" ).datepicker({
						        showOn: "button",
						        buttonImage: "/siga/css/famfamfam/icons/calendar.png",
						        buttonImageOnly: true,
						        dateFormat: 'dd/mm/yy'
						    });
							$("#calendarioAtributo${tipoAtributo.idAtributo}").mask("99/99/9999");
						});
					</script>
				#{/if}
				#{if tipoAtributo.tipoAtributo.name() == "NUM_INTEIRO"}
					<input type="text" class="${tipoAtributo.idAtributo}"
						onkeypress="javascript: var tecla=(window.event)?event.keyCode:e.which;if((tecla>47 && tecla<58)) return true;  else{  if (tecla==8 || tecla==0) return true;  else  return false;  }"
						onchange="notificarCampoAtributoMudou('.${tipoAtributo.idAtributo}', '${tipoAtributo.nomeAtributo}', 'solicitacao.atributoMap[${tipoAtributo.idAtributo}]');"
						name="solicitacao.atributoMap[${tipoAtributo.idAtributo}]" value="${solicitacao.atributoMap[tipoAtributo.idAtributo]}" />
					<span style="color: red">#{error 'solicitacao.atributoMap['+tipoAtributo.idAtributo+']' /}</span>
				#{/if}
				#{if tipoAtributo.tipoAtributo.name() == "NUM_DECIMAL"}
					<input type="text" name="solicitacao.atributoMap[${tipoAtributo.idAtributo}]" value="${solicitacao.atributoMap[tipoAtributo.idAtributo]}" 
						id="numDecimal" pattern="^\d*(\,\d{2}$)?" title="Somente número e com duas casas decimais EX: 222,22" class="${tipoAtributo.idAtributo}"
						onchange="notificarCampoAtributoMudou('.${tipoAtributo.idAtributo}', '${tipoAtributo.nomeAtributo}', 'solicitacao.atributoMap[${tipoAtributo.idAtributo}]');" />
					<span style="color: red">#{error 'solicitacao.atributoMap['+tipoAtributo.idAtributo+']' /}</span>
				#{/if}
				#{if tipoAtributo.tipoAtributo.name() == "HORA"}
					<input type="text" name="solicitacao.atributoMap[${tipoAtributo.idAtributo}]" value="${solicitacao.atributoMap[tipoAtributo.idAtributo]}" id="horarioAtributo${tipoAtributo.idAtributo}" class="${tipoAtributo.idAtributo}"
						onchange="notificarCampoAtributoMudou('.${tipoAtributo.idAtributo}', '${tipoAtributo.nomeAtributo}', 'solicitacao.atributoMap[${tipoAtributo.idAtributo}]');" />
					<span style="color: red">#{error 'solicitacao.atributoMap['+tipoAtributo.idAtributo+']' /}</span>
					<span style="color: red; display: none;" id="erroHoraAtributo${tipoAtributo.idAtributo}">Horário inválido</span>
					<script>
						$(function() {
							$("#horarioAtributo${tipoAtributo.idAtributo}").mask("99:99");
							$("#horarioAtributo${tipoAtributo.idAtributo}").blur(function() {
								var hora = this.value;
								var array = hora.split(':');
								if (array[0] > 23 || array[1] > 59) {
									$('#erroHoraAtributo${tipoAtributo.idAtributo}').show(); 
									return;
								}
								$('#erroHoraAtributo${tipoAtributo.idAtributo}').hide();	
							});
						});
					</script>
				#{/if}
				#{if tipoAtributo.tipoAtributo.name() == "VL_PRE_DEFINIDO"}
					#{select name:'solicitacao.atributoMap['+tipoAtributo.idAtributo+']', value:solicitacao.atributoMap[tipoAtributo.idAtributo], class:tipoAtributo.idAtributo+' ',
						 onchange:"notificarCampoAtributoMudou('."+tipoAtributo.idAtributo+"', '"+tipoAtributo.nomeAtributo+"', 'solicitacao.atributoMap["+tipoAtributo.idAtributo+"]');"}
						#{list items:tipoAtributo.preDefinidoSet, as:'valorAtributo' }
							#{option valorAtributo}
								${valorAtributo}
							#{/option}
						#{/list}
					#{/select}
				#{/if}
			#{/if}
		</div>
	#{/list}
</div>