#{extends 'main.html' /} #{set title:'Exibição de solicitação' /}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
	/* Table initialization */
	$(document).ready(function() {
		$('#solicitacao_table').DataTable({
			"language": {
				"emptyTable":     "Não existem resultados",
			    "info":           "Mostrando de _START_ a _END_ do total de _TOTAL_ registros",
			    "infoEmpty":      "Mostrando de 0 a 0 do total de 0 registros",
			    "infoFiltered":   "(filtrando do total de _MAX_ registros)",
			    "infoPostFix":    "",
			    "thousands":      ".",
			    "lengthMenu":     "Mostrar _MENU_ registros",
			    "loadingRecords": "Carregando...",
			    "processing":     "Processando...",
			    "search":         "Filtrar:",
			    "zeroRecords":    "Nenhum registro encontrado",
			    "paginate": {
			        "first":      "Primeiro",
			        "last":       "Último",
			        "next":       "Próximo",
			        "previous":   "Anterior"
			    },
			    "aria": {
			        "sortAscending":  ": clique para ordenação crescente",
			        "sortDescending": ": clique para ordenação decrescente"
			    }
			},
			"bSort" : false,
			"bFilter": false,
			"bPaginate": false
		});
	});
</script>

<style>
#sortable table { height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
</style>
#{set podeRemover:lista.podeRemover(lotaTitular, cadastrante) /}
#{set podeEditar:lista.podeEditar(lotaTitular, cadastrante) /}
#{set podePriorizar:lista.podePriorizar(lotaTitular, cadastrante) /}

#{if podePriorizar}
<script>
$(function() {
	$( "#sortable" ).sortable({placeholder: "ui-state-highlight"});
	$( "#sortable" ).disableSelection();
});
</script>
#{/if} 

<script>
$(function(){
    $('#btn').click(function() {
        if (!block())
            return false;
        var ids=[];
    	$("#sortable > tr").each(function() {
          ids.push($(this).attr('id'));
 	    });
    	window.location.href = "@{Application.priorizarLista}?id=${lista.idLista}&ids="+ids;
    });
});
</script>

	<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
	<h2> ${lista.nomeLista}</h2>
	
		<p class="gt-table-action-list">
			#{if podeEditar} <a class="once"
				href="@{Application.editarLista(lista?.idLista)}"> <img
				src="/siga/css/famfamfam/icons/pencil.png"
				style="margin-right: 5px;">Editar</a>&nbsp;&nbsp;&nbsp; #{/if}
		</p>
 	
 	<div class="gt-content-box gt-for-table dataTables_div">
		<table id="solicitacao_table" class="display gt-table-nowrap">
			<col width="5%" />
			<col width="15%" />
    		<col width="25%" />
    		<col width="10%" />
    		<col width="10%" />
    		<col width="10%" />
    		<col width="20%" />
    		<col width="5%" />
    		<thead>
				<tr class="gt-celula-nowrap">
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Prior</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Código</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Teor</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Solicitante</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Aberto</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Lotação</th>
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Última Movimentação</th>
					#{if podeRemover}
					<th style="color: #333; font-weight: bold; padding: 7px 10px;">Excluir</th>
					#{/if}
				</tr>
			</thead>
			<tbody id="sortable" >
				#{list items:lista.solicitacaoSet, as:'sol'}
				#{if sol}
	
				<tr id="${sol.idSolicitacao}">
				<td class="gt-celula-nowrap" style="cursor:move; font-size: 9pt; padding: 7px 10px; border-bottom: 1px solid #ccc !important;" "id="prioridade">
					${sol.getPrioridadeNaLista(lista)}
				</td>
				<td class="gt-celula-nowrap" style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
							<a href="@{Application.exibir(sol.idSolicitacao)}">
								${sol.codigo}
							</a>	
				</td>
				<td class="gt-celula-nowrap"  style="font-size: 9pt; padding: 7px 10px; border-bottom: 1px solid #ccc !important; text-align:justify;" "id="descrSolicitacao">
				<b>${sol.descrItem}:</b>&nbsp;
				#{selecionado sigla:sol.descricao,descricao:sol.descricao /}
				</td>
					
				<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px; text-align:center;" >
				#{selecionado sigla:sol.solicitante.nomeAbreviado, descricao:sol.solicitante.descricaoIniciaisMaiusculas /}&nbsp;
				#{selecionado sigla:sol.lotaSolicitante.siglaLotacao,descricao:sol.lotaSolicitante.siglaLotacao /}
				</td>
				<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
				#{selecionado sigla:sol.solicitacaoInicial.dtRegString,descricao:sol.solicitacaoInicial.dtRegString /}
				</td>						
				<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
					<b>${sol?.lotaAtendente.siglaLotacao}</b></td>
				<td class="gt-celula-nowrap" style="font-size: 9pt; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
					#{selecionado sigla:sol.ultimaMovimentacaoQuePossuaDescricao?.descrMovimentacao,descricao:sol.ultimaMovimentacaoQuePossuaDescricao?.descrMovimentacao /}
				</td>
				#{if podeRemover} 
				<td class="gt-celula-nowrap" style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
					<input type="hidden" name="idLista" value="${lista.idLista}">
					<input type="hidden" name="idSolicitacao" value="${sol.idSolicitacao}">
					<a onclick="javascript: return block();" href="@{Application.retirarDeLista(sol.idSolicitacao,lista.idLista)}" title="Remover da Lista" name="idSolicitacao" value="${sol.idSolicitacao}">
					<img id="imgCancelar" src="/siga/css/famfamfam/icons/cancel_gray.png" style="margin-right: 5px;"> </a>
				</td>
				#{/if}
				</tr>		
				#{/if}		
				#{/list}
			</tbody>
		</table>
	</div>
	
</div>

		<!-- /content box -->
		<div class="gt-table-buttons">
			<input type="hidden" name="idLista" value="${lista.idLista}">
			#{if podePriorizar} 
			<input type="button" id="btn" value="Gravar" class="gt-btn-medium gt-btn-left" />#{/if}
			<a href="@{Application.listarLista}" class="gt-btn-medium gt-btn-left">Cancelar</a>
		</div>
