<div class="gt-content-box gt-for-table">
	<table border="0" class="gt-table">
		<thead>
			<tr>
				<th width="50%">Situação</th>
				<th width="25%" style="text-align: right">Pessoal</th>
				<th width="25%" style="text-align: right">Lotação</th>
			</tr>
		</thead>
		<tbody>
			#{set p:'filtro.pesquisar=true' /}
			#{list items:contagens, as:'contagem'}
			<tr>
				<td><a
					href="${baseSr}/listar?${p}&filtro.situacao=${contagem[0]}&filtro.lotaAtendente=${lotaTitular.idLotacao}">${contagem[1]}</a>
				</td>
				<td align="right"><a
					href="${baseSr}/listar?${p}&filtro.situacao=${contagem[0]}&filtro.atendente=${cadastrante.idPessoa}">${contagem[2]}</a>
				</td>
				<td align="right"><a
					href="${baseSr}/listar?${p}&filtro.situacao=${contagem[0]}&filtro.lotaAtendente=${lotaTitular.idLotacao}">${contagem[3]}</a>
				</td>
			</tr>
			#{/list}
		</tbody>
	</table>
</div>
<form action="${baseSr}/editar">
<div id='rightbottom'></div>
<br>
<h2><input type="submit" value="Nova" class="gt-btn-small gt-btn-right" /></h2>	
</form>