#{extends 'main.html' /} #{set title:'Abrir Solicitação' /}

<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
		<h2>Cadastro de solicitação</h2>
		<div class="gt-content-box gt-for-table">

			<form action="@{Application.gravar}">
				<table class="gt-form-table">
					<colgroup>
						<col width="30%" />
					</colgroup>
					<tr class="header">
						<td align="center" valign="top" colspan="4">Dados da
							solicitação</td>
					</tr>
					<tr>
						<td>Solicitante</td>
						<td>#{selecao tipo:'pessoa', nome:'Solicitante' /}</td>
					</tr>
					<tr>
						<td>Quando deseja receber notificação de andamento?</td>
						<td>#{select name:'idFormaAcompanhamento',
							items:formasAcompanhamento,
							labelProperty:'descrFormaAcompanhamento',
							value:idFormaAcompanhamento /}</td>
					</tr>
					<tr>
						<td>Telefone Principal</td>
						<td><input type="text" name="telPrincipal" id="telPrincipal" />
						</td>
					</tr>
					<tr>
						<td>Local</td>
						<td><input type="text" name="local" id=local " /></td>
					</tr>
					<tr>
						<td>Item:</td>
						<td>#{selecao tipo:'SrItemConfiguracao', nome:'Item' /}</td>
					</tr>
					<tr>
						<td>Serviço:</td>
						<td>#{selecao tipo:'SrServico', nome:'Servico' /}</td>
					</tr>
					<tr>
						<td>Os prejuízos ou dificuldades relativos ao problema são:</td>
						<td>#{select name:'gravidade', items:gravidades,
							labelProperty:'descrGravidade', value:idGravidade /}</td>
					</tr>
					<tr>
						<td>O problema deve ser resolvido:</td>
						<td>#{select name:'urgencia', items:urgencias,
							labelProperty:'descrUrgencia', value:idUrgencia /}</td>
					</tr>
					<tr>
						<td>Se nada for feito, a situação:</td>
						<td>#{select name:'tendencia', items:tendencias,
							labelProperty:'descrTendencia', value:idTendencia /}</td>
					</tr>
					<tr>
						<td>Descrição:</td>
						<td><textarea name="descrSolicitacao" id="descrSolicitacao"></textarea>
						</td>
					</tr>
					<font color="red">
					<tr>
						<td>Anexar arquivo:</td>
						<td></td>
					</tr>
					<tr>
						<td>Motivo fechamento</td>
						<td><input type="text" name="motivo" id=local " /></td>
					</tr>
					</font>
					<tr>
						<td colspan="2"><input type="submit" value="Gravar"
							class="gt-btn-medium gt-btn-left" />
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
