#{extends 'main.html' /} #{set title:'Ações' /}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
	/* Table initialization */
	$(document).ready(function() {
		$('#acoes_table').DataTable({
			"language": {
				"emptyTable":     "Não existem resultados",
			    "info":           "Mostrando de _START_ a _END_ do total de _TOTAL_ registros",
			    "infoEmpty":      "Mostrando de 0 a 0 do total de 0 registros",
			    "infoFiltered":   "(filtrando do total de _MAX_ registros)",
			    "infoPostFix":    "",
			    "thousands":      ".",
			    "lengthMenu":     "Mostrar _MENU_ registros",
			    "loadingRecords": "Carregando...",
			    "processing":     "Processando...",
			    "search":         "Filtrar:",
			    "zeroRecords":    "Nenhum registro encontrado",
			    "paginate": {
			        "first":      "Primeiro",
			        "last":       "Último",
			        "next":       "Próximo",
			        "previous":   "Anterior"
			    },
			    "aria": {
			        "sortAscending":  ": clique para ordenação crescente",
			        "sortDescending": ": clique para ordenação decrescente"
			    }
			}
		});
	});
</script>

<div class="gt-bd clearfix">
	<div class="gt-content">
		<h2>Ações</h2>
		<!-- content bomex -->
		<div class="gt-content-box dataTables_div">
			<table id="acoes_table" class="gt-table">
				<thead>
					<tr>
						<th>Código</th>
						<th>Título</th>
						<th>Descrição</th>
					</tr>
				</thead>

				<tbody>
					#{list items:acoes, as:'acao'}
					<tr
						onclick="javascript:window.location='@{Application.editarAcao(acao.idAcao)}'"
						style="cursor: pointer;">
						<td>${acao.siglaAcao}</td>
						<td><span style="margin-left: ${(acao.nivel-1)*2}em; #{if acao.nivel == 1}font-weight: bold;#{/if}">#{selecionado sigla:acao.atual?.tituloAcao, 
						descricao:acao.atual?.descricaoCompleta /}</span></td>
						<td>${acao.descrAcao}</td>
					</tr>
					</a> #{/list}
				</tbody>
			</table>
		</div>
		<!-- /content box -->
		<div class="gt-table-buttons">
		<a href="@{Application.editarAcao}" class="gt-btn-medium gt-btn-left">Incluir</a>
		</div>

	</div>
</div>

<br />
<br />
<br />