#{extends 'main.html' /} #{set title:'Designação de solicitações' /}

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="/sigasr/public/javascripts/jquery.maskedinput.min.js"></script>
<script src="/sigasr/public/javascripts/detalhe-tabela.js"></script>

<style>
.item-pai {
	padding-left: 0em !important;
	font-weight: bold !important;
}

.item-filho {
	padding-left: 2em !important;
	font-style: italic !important;
}

.item-neto {
	padding-left: 4em !important;
}
</style>

<script type="text/javascript">
	var colunas = {
		expandir: 0,
		codigo: 1,
		titulo: 2,
		descricao: 3,
		similaridade: 4,
		acoes: 5,
		jSon: 6
	};
	
	var QueryString = function () {
		// This function is anonymous, is executed immediately and
		// the return value is assigned to QueryString!
		var query_string = {};
		var query = window.location.search.substring(1);
		var vars = query.split("&");
		for (var i=0;i<vars.length;i++) {
			var pair = vars[i].split("=");
	    	// If first entry with this name
	    	if (typeof query_string[pair[0]] === "undefined") {
				query_string[pair[0]] = pair[1];
				// If second entry with this name
			} else if (typeof query_string[pair[0]] === "string") {
				var arr = [ query_string[pair[0]], pair[1] ];
				query_string[pair[0]] = arr;
				// If third or later entry with this name
			} else {
				query_string[pair[0]].push(pair[1]);
			}
		}
		return query_string;
	}();

	//removendo a referencia de '$' para o jQuery
	$.noConflict();

	var table = null;
	jQuery(document).ready(function($) {
		if (QueryString.mostrarDesativados != undefined) {
			document.getElementById('checkmostrarDesativado').checked = QueryString.mostrarDesativados == 'true';
			document.getElementById('checkmostrarDesativado').value = QueryString.mostrarDesativados == 'true';
		}
			
		$("#checkmostrarDesativado").click(function() {
			if (document.getElementById('checkmostrarDesativado').checked)
				location.href = '@{Application.listarItemDesativados()}';
			else
				location.href = '@{Application.listarItem()}';	
		});
		
		/* Table initialization */
		table = $('#itens_configuracao_table')
			.on('draw.dt', function() {
				if(table) {
					var btn = $('.bt-expandir'),
						expandir = btn.hasClass('expandido');
						
					$('#itens_configuracao_table').mostrarDetalhes(format, table);
					$('#itens_configuracao_table').expandirContrairLinhas(expandir);
				}
			})
			.dataTable({
				"language": {
					"emptyTable":     "Não existem resultados",
				    "info":           "Mostrando de _START_ a _END_ do total de _TOTAL_ registros",
				    "infoEmpty":      "Mostrando de 0 a 0 do total de 0 registros",
				    "infoFiltered":   "(filtrando do total de _MAX_ registros)",
				    "infoPostFix":    "",
				    "thousands":      ".",
				    "lengthMenu":     "Mostrar _MENU_ registros",
				    "loadingRecords": "Carregando...",
				    "processing":     "Processando...",
				    "search":         "Filtrar:",
				    "zeroRecords":    "Nenhum registro encontrado",
				    "paginate": {
				        "first":      "Primeiro",
				        "last":       "Último",
				        "next":       "Próximo",
				        "previous":   "Anterior"
				    },
				    "aria": {
				        "sortAscending":  ": clique para ordenação crescente",
				        "sortDescending": ": clique para ordenação decrescente"
				    }
				},
				// Define que a ordenacao deve comecar na segunda coluna (para evitar coluna com acoes de expandir)
				"aaSorting" : [[colunas.codigo, 'asc']],
				"columnDefs": [
					// Coluna com expandir da grid, coluna de acoes e JSon
					{
						"targets": [colunas.expandir, colunas.acoes, colunas.jSon],
						"searchable": false,
						"sortable": false
					},
					// Coluna similaridade e JSon 
					{
						"targets": [colunas.similaridade, colunas.jSon],
						"visible": false
					}
				],
				"fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
					var jSonItem = getJsonByString(aData[colunas.jSon]);
					$('td:eq('+colunas.expandir+')', nRow).addClass('details-control');

					if (jSonItem.nivel == 1)
						$('td:eq('+colunas.titulo+')', nRow).addClass('item-pai');
					else if (jSonItem.nivel == 2)
						$('td:eq('+colunas.titulo+')', nRow).addClass('item-filho');
					else if (jSonItem.nivel == 3)
						$('td:eq('+colunas.titulo+')', nRow).addClass('item-neto');
				}
			});
			$('#itens_configuracao_table').mostrarDetalhes(format, table);

			$('#itens_configuracao_table tbody').on('click', 'tr', function () {
				var itemSelecionado = table.api().row(this).data();
				
				if (itemSelecionado != undefined) {
					if (!$(this).hasClass('selected') ) {
						table.$('tr.selected').removeClass('selected');
			            $(this).addClass('selected');
			        }

					atualizarModalItem(itemSelecionado);
					itemModalAbrir(true);
				}
			});
	});

	function format( d ) {
		var tr = $('<tr class="detail">'),
			detailHTML = '<td colspan="6"><table class="datatable" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
			'<tr>'+
				'<td><b>Similaridade:</b></td>'+
					'<td>' + d[colunas.similaridade] + '</td>'+
		        '</tr>'+
		    '</table><td>';
		    
	    return tr.append(detailHTML);
	}
	
	function desativarItem(event, idItemConfiguracao) {
		event.stopPropagation();
		window.location = '@{Application.desativarItem()}?' + queryDesativarReativar(idItemConfiguracao, QueryString.mostrarDesativados);
	}

	function reativarItem(event, idItemConfiguracao) {
		event.stopPropagation();
		window.location = '@{Application.reativarItem()}?' + queryDesativarReativar(idItemConfiguracao, QueryString.mostrarDesativados);
	}

	function inserirEditarItem() {
		limparDadosItemModal();
		itemModalAbrir(false);
	}
	
	function itemModalAbrir(isEdicao) {
		isEditing = isEdicao;
		
		if (isEdicao)
			$("#editarItem_dialog").dialog('option', 'title', 'Alterar Item de Configuração');
		else
			$("#editarItem_dialog").dialog('option', 'title', 'Incluir Item de Configuração');

		$("#editarItem_dialog").dialog('open');
	}

	function itemModalFechar() {
		$("#editarItem_dialog").dialog('close');
		limparDadosItemModal();
	}

	function gravarItemConfiguracao() {
		if (!isValidForm())
			return false;
		
		var row = recuperarInformacoesTela();

		$.ajax({
        	type: "POST",
        	url: "@{Application.gravarItem()}",
        	data: serializarItemConfiguracao(),
        	dataType: "text",
        	success: function(itemJson) {
        		var jSon = getJsonByString(itemJson);
        		row[colunas.jSon] = jSon;
        		
        		if (isEditing) {
					table.api().row('.selected').data(row);
				}
				else {
					table.api().row.add(row).draw();
				}
				
        		itemModalFechar();
        	},
        	error: function(error) {
        		// limpa as mensagens de erros
        		resetAllErrorMessage();

				// Mostra a mensagem de campos obrigatórios
        		document.getElementById("erroCamposObrigatorios").style.display="inherit";
        		
        		if(error.status == 400) {
        			var errors = JSON.parse(error.responseText);
        			for(var i = 0; i < errors.length; i++) {
        				var span = $('<span class="error" style="color: red"></span>');
        				span.html(errors[i].message);
        				span.insertAfter(document.getElementsByName(errors[i].key));
        			}
        		}
        	}
       	});
	}

	function recuperarInformacoesTela() {
		var jSonItem = atualizaItemConfiguracaoJson(),
			id = jSonItem.id,
			row = [
				'',
				$("#itemConfiguracaoSigla").val(),
				$("#tituloItemConfiguracao").val(),
				$("#descrItemConfiguracao").val(),
				$("#descricaoSimilaridade").val(),
				'<a class="once" onclick="desativarItem(event, '+id+')" title="Desativar"><img src="/siga/css/famfamfam/icons/delete.png" style="margin-right: 5px;"></a>',
				jSonItem
			];

		return row;
	}

	function limparDadosItemModal() {
		$("#itemConfiguracaoSigla").val('');
		$("#idItemConfiguracao").val('');
		$("#hisIdIni").val('');
		$("#tituloItemConfiguracao").val('');
		$("#descrItemConfiguracao").val('');
		$("#descricaoSimilaridade").val('');
		$("#numFatorMultiplicacaoGeral").val('');

		removerItensLista('gestoresUl');
		removerItensLista('fatoresUl');

		resetAllErrorMessage();
	}

	//Limpa as mensagens de campos obrigatórios.
	function resetAllErrorMessage() {
		document.getElementById("erroCamposObrigatorios").style.display="none";

		$('.error').remove();
	}

	function removerItensLista(nomeLista) {
		$("#"+nomeLista).find("li").each(function(i){
            this.remove();
            $("#"+nomeLista)[0]["index"]--;
        });
    }

	function atualizaItemConfiguracaoJson() {
		var gestorSetVO = [],
			fatorMultiplicacaoSetVO = [];
    	
		// Percorre listas de prioridade
    	$("#gestoresUl").find("li").each(function(i){
            var jDivs=$(this).find("span"),
            	tipoGestor = jDivs[0].id,
            	atributoGestor = '',
            	jSon = {};

            if(tipoGestor === 'pessoa'){
            	atributoGestor = 'dpPessoaVO';
            } else if (tipoGestor === 'lotacao') {
            	atributoGestor = 'dpLotacaoVO';
            }

            jSon[atributoGestor] = jDivs[1].id;
            
            gestorSetVO.push(jSon);
        });

    	$("#fatoresUl").find("li").each(function(i){
            var jDivsF=$(this).find("span"),
            	tipoFator = '',
            	atributoFator = '',
            	jSon = {};
            
            if(jDivsF.length == 0) return;

            var tipoFator = jDivsF[0].id,
            	indice = i-1;
        	
            if(tipoFator === 'pessoa') {
            	atributoFator = 'dpPessoaVO';
            } else if (tipoFator === 'lotacao') {
                atributoFator = 'dpLotacaoVO';
            }

            jSon[atributoFator] = jDivsF[1].id;
            jSon['numFatorMultiplicacao'] = parseInt(jDivsF[1].innerHTML.replace(" / Fator: ", ""));

            fatorMultiplicacaoSetVO.push(jSon);
   	 	});

 		var itemConfiguracaoJSon = {
			'id': $("#idItemConfiguracao").val(),
			'hisIdIni': $("#hisIdIni").val(),
			'sigla': $("#itemConfiguracaoSigla").val(),
			'titulo': $("#tituloItemConfiguracao").val(),
			'descricao': $("#descrItemConfiguracao").val(),
			'descricaoSimilaridade': $("#descricaoSimilaridade").val(),
			'numFatorMultiplicacaoGeral': $("#numFatorMultiplicacaoGeral").val(),
 			'gestorSetVO': gestorSetVO,
 			'fatorMultiplicacaoSetVO': fatorMultiplicacaoSetVO
 		};
		
 		return itemConfiguracaoJSon;
	}

	function atualizarModalItem(itemArray) {
		var jSonItem = getJsonByString(itemArray[colunas.jSon]);
		
		if (jSonItem) {
			$("#itemConfiguracaoSigla").val(jSonItem.sigla);
			$("#idItemConfiguracao").val(jSonItem.id);
			$("#hisIdIni").val(jSonItem.hisIdIni);
			$("#tituloItemConfiguracao").val(jSonItem.titulo);
			$("#descrItemConfiguracao").val(jSonItem.descricao);
			$("#descricaoSimilaridade").val(jSonItem.descricaoSimilaridade);
			$("#numFatorMultiplicacaoGeral").val(jSonItem.numFatorMultiplicacaoGeral);
			atualizarListaGestores(jSonItem);
			atualizarListaFatorMultiplicacao(jSonItem);
		}
	}

	function getJsonByString(value) {
		var jSonItem;
		
		try{
			jSonItem = JSON.parse(value);
		} catch(e){
			jSonItem = value;
		}

		return jSonItem;
	}

	function atualizarListaGestores(jSon) {
		var gestoresUI = $("#gestoresUl")[0];
		
		if (jSon.gestorSetVO) {
			// cria os itens da lista de gestores, e adiciona na tela
			for (i = 0; i < jSon.gestorSetVO.length; i++) {
				var gestorItem = jSon.gestorSetVO[i];

				if (gestorItem.dpPessoaVO)
					gestoresUI.incluirItem(gestorItem.dpPessoaVO.sigla, gestorItem.dpPessoaVO.descricao, 'pessoa', gestorItem.dpPessoaVO.id, gestorItem.idGestorItem);
				else if (gestorItem.dpLotacaoVO)
		        	gestoresUI.incluirItem(gestorItem.dpLotacaoVO.sigla, gestorItem.dpLotacaoVO.descricao, 'lotacao', gestorItem.dpLotacaoVO.id, gestorItem.idGestorItem);
			}
		}
	}

	function atualizarListaFatorMultiplicacao(jSon) {
		var fatoresUI = $("#fatoresUl")[0];
		
		if (jSon.fatorMultiplicacaoSetVO) {
			// cria os itens da lista de gestores, e adiciona na tela
			for (i = 0; i < jSon.fatorMultiplicacaoSetVO.length; i++) {
				var fatorItem = jSon.fatorMultiplicacaoSetVO[i];

				if (fatorItem.dpPessoaVO)
					fatoresUI.incluirItem(fatorItem.dpPessoaVO.sigla, fatorItem.dpPessoaVO.descricao, fatorItem.numFatorMultiplicacao, 'pessoa', fatorItem.dpPessoaVO.id, fatorItem.idFatorMultiplicacao);
				else if (fatorItem.dpLotacaoVO)
					fatoresUI.incluirItem(fatorItem.dpLotacaoVO.sigla, fatorItem.dpLotacaoVO.descricao, fatorItem.numFatorMultiplicacao, 'lotacao', fatorItem.dpLotacaoVO.id, fatorItem.idFatorMultiplicacao);
			}
		}
	}
</script>

<div class="gt-bd clearfix">
	<div class="gt-content">
		<h2>Itens de Configuração</h2>
		<!-- content bomex -->
		<div class="gt-content-box dataTables_div">
			<div class="gt-form-row dataTables_length">
				<label>#{checkbox name:'mostrarDesativado', value:mostrarDesativado/} <b>Incluir Inativas</b></label>
			</div>
			<table id="itens_configuracao_table" border="0" class="gt-table display">
				<thead>
					<tr>
						<th style="color: #333">
							<button class="gt-btn-medium gt-btn-left bt-expandir">
								<span id="iconeBotaoExpandirTodos">+</span>
							</button>
						</th>
						<th>Código</th>
						<th>Título</th>
						<th>Descrição</th>
						<th>Similaridade</th>
						<th></th>
						<th>VO Item</th>
					</tr>
				</thead>

				<tbody>
					#{list items:itens, as:'item'}
						<tr style="cursor: pointer;">
							<td class="details-control"></td>
							<td>${item.siglaItemConfiguracao}</td>
							<td>${item.tituloItemConfiguracao}</td>
							<td>${item.descrItemConfiguracao}</td>
							<td>${item.descricaoSimilaridade}</td>
							<td>
								#{desativarReativar id:item.idItemConfiguracao, 
													onReativar:'reativarItem',
													onDesativar :'desativarItem',
													isAtivo:item.isAtivo() }
								#{/desativarReativar}
							</td>
							<td>${item.srItemConfiguracaoJson}</td>
						</tr>
					#{/list}
				</tbody>
			</table>
		</div>
		<!-- /content box -->
		<div class="gt-table-buttons">
			<a href="javascript: inserirEditarItem()" class="gt-btn-medium gt-btn-left">Incluir</a>
		</div>
	</div>
</div>

#{modal nome:'editarItem', titulo:'Editar Item'}
	<div id="divEditarItem">#{include
				'Application/editarItem.html' /}</div>
#{/modal}
