#{extends 'main.html' /} #{set title:'Tipos de atributo' /}

<div class="gt-bd clearfix">
	<div class="gt-content">
		<h2>Tipos de atributo</h2>
		<!-- content bomex -->
		<div class="gt-content-box">
			<table border="0" class="gt-table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Descrição</th>
						<th>Formato</th>
					</tr>
				</thead>

				<tbody>
					#{list items:atts, as:'att'}
					<tr
						onclick="javascript:window.location='@{Application.editarTipoAtributo(att.idTipoAtributo)}'"
						style="cursor: pointer;">
						<td >${att.nomeTipoAtributo}</td>
						<td>${att.descrTipoAtributo}</td>
						<td>${att.formatoCampo?.descrFormatoCampo}</td>
					</tr>
					</a> #{/list}
				</tbody>
			</table>
		</div>
		<!-- /content box -->
		<div class="gt-table-buttons">
		<a href="@{Application.editarTipoAtributo}" class="gt-btn-medium gt-btn-left">Incluir</a>
		</div>

	</div>
</div>

<br />
<br />
<br />