#{extends 'main.html' /} #{set title:'Designação de solicitações' /}

<div class="gt-bd clearfix">
	<div class="gt-content">
		<h2>Designações</h2>
		<!-- content bomex -->
		<div class="gt-content-box">
			<table border="0" class="gt-table">
				<thead>
					<tr>
						<th></th>
						<th>Local</th>
						<th>Lotação</th>
						<th>Pessoa</th>
						<th>Cargo</th>
						<th>Função</th>
						<th style="border-left: 1px solid #ccc;"><i>Item &darr;</i></th>
						<th>Ação</th>
						<th style="border-left: 1px solid #ccc;">Atendente</th>
						<th>Pré-atendente</th>
						<th>Pós-atendente</th>
						<th>Qualidade</th>
						<th>Pesquisa de satisfação?</th>
					</tr>
				</thead>

				<tbody>
					#{list items:designacoes, as:'design'}
					<tr
						onclick="javascript:window.location='@{Application.editarDesignacao(design.idConfiguracao)}'"
						style="cursor: pointer;">
						<td>${design.orgaoUsuario?.acronimoOrgaoUsu}</td>
						<td>${design.complexo?.nomeComplexo}</td>
						<td>${design.lotacao?.lotacaoAtual?.siglaLotacao}</td>
						<td>${design.dpPessoa?.pessoaAtual?.nomeAbreviado}</td>
						<td>${design.cargo?.descricao}</td>
						<td>${design.funcaoConfianca?.descricao}</td>
						<td style="border-left: 1px solid #ccc;">#{selecionado sigla:design.itemConfiguracao?.atual?.tituloItemConfiguracao, 
						descricao:design.itemConfiguracao?.atual?.descricao /}</td>
						<td>#{selecionado sigla:design.acao?.atual?.tituloAcao, 
						descricao:design.acao?.atual?.descricao /}</td>
						<td style="border-left: 1px solid #ccc;">#{selecionado sigla:design.atendente?.lotacaoAtual?.siglaLotacao,
							descricao:design.atendente?.lotacaoAtual?.nomeLotacao /}</td>
						<td>#{selecionado sigla:design.preAtendente?.lotacaoAtual?.siglaLotacao,
							descricao:design.preAtendente?.lotacaoAtual?.nomeLotacao /}</td>
						<td>#{selecionado sigla:design.posAtendente?.lotacaoAtual?.siglaLotacao,
							descricao:design.posAtendente?.lotacaoAtual?.nomeLotacao /}</td>
						<td>#{selecionado sigla:design.equipeQualidade?.lotacaoAtual?.siglaLotacao,
							descricao:design.equipeQualidade?.lotacaoAtual?.nomeLotacao /}</td>
						<td>${design.pesquisaSatisfacao?.nomePesquisa}</td>
					</tr>
					</a> #{/list}
				</tbody>
			</table>
		</div>
		<!-- /content box -->
		<div class="gt-table-buttons">
		<a href="@{Application.editarDesignacao}" class="gt-btn-medium gt-btn-left">Incluir</a>
		</div>

	</div>
</div>

<br />
<br />
<br />