#{extends 'main.html' /} #{set title:'Edição de Conhecimento' /}

<div class="gt-bd gt-cols clearfix">
        <div class="gt-content">
                <h2>Cadastro de Conhecimento</h2>

                <div class="gt-form gt-content-box">
                        <form enctype="multipart/form-data">
                        	<div class="gt-form-row">
								<label>Item de Configuração</label> 
								#{selecao tipo:'item', nome:'itemConfiguracao', onchange:'mostraOuEscondeAcao();carregarRelacionados();'/}
							</div>
							<div style="display: inline-block" >
								<div id="gc-ancora-item"></div>
							</div>
							<div class="gt-form-row" id="divAcao">
								<label>A&ccedil;&atilde;o</label> #{selecao tipo:'acao', nome:'acao', onchange:'carregarRelacionados();' /}
							</div>
							<div style="display: inline-block" >
								<div id="gc-ancora-item-acao"></div>
							</div>
                        </form>
                </div>
        </div>
        <div id="divRelacionados"></div>
</div>



<script>
function mostraOuEscondeAcao(){
	if ($('#itemConfiguracao_sigla')[0].value != '')
		$("#divAcao").show();
	else {
		$("#divAcao").hide();
		$("#acao").val('');
		$("#acao_descricao").val('');
		$("#acao_sigla").val('');
		$("#acaoSpan").html('');
		$("#gc-ancora-item").html('');
		$("#gc-ancora-item-acao").html('');
	}
};


function carregarRelacionados() {
	jQuery.blockUI(objBlock);
	PassAjaxResponseToFunction('@{Application.listarConhecimento()}?ajax=true&idItem=' 
			+ $("#itemConfiguracao").val() + '&idAcao=' + $("#acao").val(), 'carregouRelacionados', null, false, null);
}

function carregouRelacionados(response, param){
	var div = document.getElementById('divRelacionados');
	div.innerHTML = response;

	var scripts = div.getElementsByTagName("script");
	for(var i=0;i<scripts.length;i++)  
		   eval(scripts[i].text); 
	jQuery.unblockUI();
}

mostraOuEscondeAcao();
</script>

