#{extends 'main.html' /} #{set title:'Associações de tipo de atributo' /}

<div class="gt-bd clearfix">
	<div class="gt-content">
		<h2>Associações de tipo de atributo</h2>
		<!-- content bomex -->
		#{list items:listasAssociacoes, as:'associacoes'}
		#{if associacoes_isLast}
			<br/><br/><br/>
			<h4>Inativas:</h4>
		#{/if}
		<div class="gt-content-box">
			<table border="0" class="gt-table">
				<thead>
					<tr>
						<th></th>
						<th><i>Item &darr;</i></th>
						<th>Ação</th>
						<th>Tipo de atributo</th>
						<th>Obrigatório</th>
					</tr>
				</thead>

				<tbody>
					#{list items:associacoes, as:'assoc'}
					<tr
						onclick="javascript:window.location='@{Application.editarAssociacao(assoc.idConfiguracao)}'"
						style="cursor: pointer;">
						<td></td>
						<td>${assoc.itemConfiguracao?.atual?.tituloItemConfiguracao}</td>
						<td>${assoc.servico?.atual?.tituloServico}</td>
						<td>${assoc.tipoAtributo?.nomeTipoAtributo}</td>
						<td>${assoc.atributoObrigatorioString}</td>
					</tr>
					</a> #{/list}
				</tbody>
			</table>
		</div>
		#{/list}
		<br/>
		<!-- /content box -->
		<div class="gt-table-buttons">
		<a href="@{Application.editarAssociacao}" class="gt-btn-medium gt-btn-left">Incluir</a>
		</div>

	</div>
</div>

<br />
<br />
<br />