#{extends 'main.html' /} #{set title:'Ações' /}

<div class="gt-bd clearfix">
	<div class="gt-content">
		<h2>Ações</h2>
		<!-- content bomex -->
		<div class="gt-content-box">
			<table border="0" class="gt-table">
				<thead>
					<tr>
						<th>Código</th>
						<th>Título</th>
						<th>Descrição</th>
					</tr>
				</thead>

				<tbody>
					#{list items:acoes, as:'acao'}
					<tr
						onclick="javascript:window.location='@{Application.editarAcao(acao.idAcao)}'"
						style="cursor: pointer;">
						<td>${acao.siglaAcao}</td>
						<td><span style="margin-left: ${(acao.nivel-1)*2}em; #{if acao.nivel == 1}font-weight: bold;#{/if}">#{selecionado sigla:acao.atual?.tituloAcao, 
						descricao:acao.atual?.descricao /}</span></td>
						<td>${acao.descrAcao}</td>
					</tr>
					</a> #{/list}
				</tbody>
			</table>
		</div>
		<!-- /content box -->
		<div class="gt-table-buttons">
		<a href="@{Application.editarAcao}" class="gt-btn-medium gt-btn-left">Incluir</a>
		</div>

	</div>
</div>

<br />
<br />
<br />