#{extends 'main.html' /}
	<div class="gt-bd clearfix">
	<div class="gt-content clearfix">
	<h2>Pesquisa de solicitações</h2>
 	#{if listaSolicitacao}
	<div class="gt-content-box gt-for-table">
	<table border="0" class="gt-table">
		<tbody>
			#{list items:listaSolicitacao, as:'sol'}
			<tr>
				<td style="width: 70%; padding-bottom: 1px;">
					<h4>
						#{ifnot _modoCompleto}
						<a href="@{Application.exibir(sol.idSolicitacao)}">
							${sol.codigo} -	#{/ifnot}${sol.itemConfiguracao?.descricao}&nbsp;-&nbsp;${sol.servico?.descricao}
							#{ifnot _modoCompleto}</a>#{/ifnot}
					</h4>
					<font style="font-size: 9pt; padding-top: 3pt">
							<b>Abertura:</b>${sol.solicitante.descricaoIniciaisMaiusculas},
							${sol.lotaSolicitante.siglaLotacao}#{if
							sol.local}&nbsp;(${sol.local.nomeComplexo})#{/if}, Tel.: ${sol.telPrincipal}
							- ${sol.solicitacaoInicial.dtRegString}
							#{if _modoCompleto && sol.solicitante != sol.cadastrante}
							Cadastrado por ${sol.cadastrante.descricaoIniciaisMaiusculas},
							${sol.lotaCadastrante.siglaLotacao}</font>
							#{/if}
					<p style="font-size: 9pt; padding-top: 3pt; margin-bottom: 5pt;" id="descrSolicitacao">
					${sol.descrSolicitacao}</p>
					<p style="font-size: 9pt; padding-top: 0pt; margin-bottom: 5pt;">
							<b>Último andamento:</b>${sol.ultimoAndamento.solicitacao.solicitante.descricaoIniciaisMaiusculas},
							${sol.lotaSolicitante.siglaLotacao}#{if
							sol.local}&nbsp;(${sol.local.nomeComplexo})#{/if}, Tel.: ${sol.telPrincipal}
							- ${sol.ultimoAndamento.dtRegString}
							<br>${sol.ultimoAndamento.descrAndamento}</p>
				</td>
				<td style="padding-left: 60px">
					<table border="0" class="gt-table-categories">
						<tr><th>Situação:</th><td width="60%" >${sol.situacaoString}</td></tr>
						#{if (sol.GUT > 80)} #{set priorColor:'color: red' /} #{/if}
						#{elseif (sol.GUT > 60)} #{set priorColor:'color: orange' /} #{/elseif}
						#{else} #{set priorColor:'' /} #{/else}
						<tr>
							<th style="color: ${priorColor}">Prioridade:</th> 
							<td width="60%" style="${priorColor}" >${sol.GUTPercent}
							#{if _modoCompleto} &nbsp;&nbsp;${sol.GUTString}#{/if}
							</td>
						</tr>
						*{#{if sol.arquivo}
						<tr><th>Anexo:</th><td width="60%" >#{arquivo arquivo:sol.arquivo /}</td></tr>
						#{/if}}*
						#{if _modoCompleto && sol.parteDeArvore}
						<tr><th>Contexto:</th>
							<td width="60%" >#{listaArvore solicitacao:sol.paiDaArvore, visualizando:sol /}</td>
						</tr>
						#{/if}
					</table>
				</td></tr>#{/list}
			</tbody>
		</table>
		</div>
	#{/if}
	#{elseif filtro?.pesquisar} 
	<div align="center" style="font-size: 14px; color: #365b6d; font-weight: bold">Nenhum item foi encontrado.</div>	
	#{/elseif }
		
	<div class="gt-content-box">
	<table border="0" class="gt-table gt-user-table">
	<tbody>
		#{list items:_solicitacoes, as:'sol'}
			<tr><td style="width: 70%">
					<h4>
						#{ifnot _modoCompleto}
						<a href="@{Application.exibir(sol.idSolicitacao)}">
							${sol.codigo} -	#{/ifnot}${sol.itemConfiguracao?.descricao}&nbsp;-&nbsp;${sol.servico?.descricao}
							#{ifnot _modoCompleto}</a>#{/ifnot}
					</h4>
					<p style="font-size: 9pt">
							<i>Abertura:${sol.solicitante.descricaoIniciaisMaiusculas},
							${sol.lotaSolicitante.siglaLotacao}#{if
							sol.local}&nbsp;(${sol.local.nomeComplexo})#{/if}, Tel.: ${sol.telPrincipal}
							- ${sol.solicitacaoInicial.dtRegString}</i>
						#{if _modoCompleto && sol.solicitante != sol.cadastrante}
						<i>Cadastrado por ${sol.cadastrante.descricaoIniciaisMaiusculas},
							${sol.lotaCadastrante.siglaLotacao}</i>
						#{/if}
					<p style="font-size: 9pt; padding-top: 3pt" id="descrSolicitacao">
					${sol.descrSolicitacao}<br/></p>
					<script language="javascript">
						var descricao = document.getElementById('descrSolicitacao');
						descricao.innerHTML = descricao.innerHTML.replace(/\n\r?/g, '<br />');
					</script>
					<p style="font-size: 9pt">
							<i>Último andamento:${sol.ultimoAndamento.solicitacao.solicitante.descricaoIniciaisMaiusculas},
							${sol.lotaSolicitante.siglaLotacao}#{if
							sol.local}&nbsp;(${sol.local.nomeComplexo})#{/if}, Tel.: ${sol.telPrincipal}
							- ${sol.ultimoAndamento.dtRegString}</i>
							<br>
							${sol.ultimoAndamento.descrAndamento}
				</td>
				<td style="padding-left: 60px">
					<table border="0" class="gt-table-categories">
						<tr>
							<th>Situação:</th>
							<td width="60%">${sol.situacaoString}</td>
						</tr>
						#{if (sol.GUT > 80)} #{set priorColor:'color: red' /} #{/if}
						#{elseif (sol.GUT > 60)} #{set priorColor:'color: orange' /} #{/elseif}
						#{else} #{set priorColor:'' /} #{/else}
						<tr>
							<th style="color: ${priorColor}">Prioridade:</th> 
							<td width="60%" style="${priorColor}" >${sol.GUTPercent}
							#{if _modoCompleto} &nbsp;&nbsp;${sol.GUTString}#{/if}
							</td>
						</tr>
						#{if sol.arquivo}
						<tr>
							<th>Anexo:</th>
							<td width="60%">#{arquivo arquivo:sol.arquivo /}</td>
						</tr>
						#{/if}
						#{if _modoCompleto && sol.parteDeArvore}
						<tr>
							<th>Contexto:</th>
							<td width="60%">#{listaArvore solicitacao:sol.paiDaArvore, visualizando:sol /}</td>
						</tr>
						#{/if}
					</table></td></tr>
			#{/list}
		</tbody>
	</table></div>
		
		<div class="gt-content-box gt-for-table" style="margin-top: 15px;">
		<form action="@{Application.listar}">
		<input type="hidden" name="filtro.pesquisar" value="true" />
			<table class="gt-form-table">
				<tr class="header">
				<td align="center" valign="top" colspan="4">Dados para busca</td>
				</tr>
					<tr>
						<td>Situação</td>
						<td>#{select name:'filtro.situacao', items:marcadores,
							labelProperty:'descrMarcador', valueProperty:'idMarcador',
							value:filtro.situacao?.idMarcador} #{option 0}Todas#{/option}
							#{/select} com #{pessoaLotaSelecao
							nomeSelPessoa:'filtro.atendente',
							nomeSelLotacao:'filtro.lotaAtendente',
							valuePessoa:filtro.atendente, valueLotacao:filtro.lotaAtendente
							/}</td>
					</tr>
					<tr>
						<td>Cadastrante</td>
						<td>#{pessoaLotaSelecao nomeSelPessoa:'filtro.cadastrante',
							nomeSelLotacao:'filtro.lotaCadastrante',
							valuePessoa:filtro.cadastrante,
							valueLotacao:filtro.lotaCadastrante /}</span>
						</td>
					</tr>
					<tr>
						<td>Solicitante</td>
						<td>#{pessoaLotaSelecao nomeSelPessoa:'filtro.solicitante',
							nomeSelLotacao:'filtro.lotaSolicitante',
							valuePessoa:filtro.solicitante,
							valueLotacao:filtro.lotaSolicitante /}</td>
					</tr>
					<tr>
						<td>Data de abertura</td>
						<td>
							<input type="text" name="filtro.dtIni" onblur="javascript:verifica_data(this,true)" value="${filtro.dtIni}" id="filtro.dtIni" /> a 
							<input type="text" name="filtro.dtFim" onblur="javascript:verifica_data(this,true)" value="${filtro.dtFim}" id="filtro.dtFim" />
						</td>
					
					</tr>
					<tr>
						<td>Item</td>
						<td>#{selecao tipo:'item', grande:true, nome:'filtro.itemConfiguracao',
							value:filtro.itemConfiguracao /}</td>
					</tr>
					<tr>
						<td>Ação</td>
						<td>#{selecao tipo:'servico', nome:'filtro.servico',
							value:filtro.servico /}</td>
					</tr>
					<tr>
						<td>Prioridade</td>
						<td colspan="3">#{select 'filtro.urgencia', items:urgencias,
							labelProperty:'descrUrgencia', value:filtro.urgencia } #{option
							0}Todas#{/option}#{/select} #{select 'filtro.gravidade',
							items:gravidades, labelProperty:'descrGravidade',
							value:filtro.gravidade }#{option
							0}Todas#{/option}#{/select} #{select 'filtro.tendencia',
							items:tendencias, labelProperty:'descrTendencia',
							value:filtro.tendencia}#{option
							0}Todas#{/option}#{/select}</td>
					</tr>
					<tr>
						<td>Descrição</td>
						<td><input type="text" name="filtro.descrSolicitacao"
							id="filtro.descrSolicitacao" value="${filtro.descrSolicitacao}"></input>
						</td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="Buscar"
							class="gt-btn-medium gt-btn-left" /></td>
					</tr>
			</table>
		</form>
		</div>
	</div>