#{extends 'main.html' /} #{set title:'Equipes' /}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		/* Table initialization */
		var table = $('#equipes_table').dataTable({
			"language": {
				"emptyTable":     "Não existem resultados",
			    "info":           "Mostrando de _START_ a _END_ do total de _TOTAL_ registros",
			    "infoEmpty":      "Mostrando de 0 a 0 do total de 0 registros",
			    "infoFiltered":   "(filtrando do total de _MAX_ registros)",
			    "infoPostFix":    "",
			    "thousands":      ".",
			    "lengthMenu":     "Mostrar _MENU_ registros",
			    "loadingRecords": "Carregando...",
			    "processing":     "Processando...",
			    "search":         "Filtrar:",
			    "zeroRecords":    "Nenhum registro encontrado",
			    "paginate": {
			        "first":      "Primeiro",
			        "last":       "Último",
			        "next":       "Próximo",
			        "previous":   "Anterior"
			    },
			    "aria": {
			        "sortAscending":  ": clique para ordenação crescente",
			        "sortDescending": ": clique para ordenação decrescente"
			    }
			},
			"iDisplayLength": 25
		});
	});
</script>

<div class="gt-bd clearfix">
	<div class="gt-content">
		<h2>Pesquisa de Equipes</h2>
		<!-- content bomex -->
		<div class="gt-content-box gt-for-table dataTables_div">
			<table id="equipes_table" border="0" class="gt-table display">
				<thead>
					<tr>
						<th style="color: #333; font-weight: bold; padding: 7px 0px;">Lotação</th>
					</tr>
				</thead>

				<tbody>
					#{list items:listaEquipe, as:'eq'}
					<tr>
						<td class="gt-celula-nowrap" style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #ccc !important; padding: 7px 10px;">
							<a href="@{Application.editarEquipe(eq.idEquipe)}">
								${eq.lotacao?.sigla}
							</a>
						</td>
					</tr>
					#{/list}
				</tbody>
			</table>
		</div>
		<!-- /content box -->
		<div class="gt-table-buttons">
		<a href="@{Application.editarEquipe}" class="gt-btn-medium gt-btn-left">Cadastrar</a>
		<div class="gt-table-buttons">
		</div>
</div>
