#{extends 'main.html' /} #{set title:'Permissões para Uso de Lista de Prioridade' /}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
	/* Table initialization */
	$(document).ready(function() {
		$('#prioridades_table').DataTable({
			"language": {
				"emptyTable":     "Não existem resultados",
			    "info":           "Mostrando de _START_ a _END_ do total de _TOTAL_ registros",
			    "infoEmpty":      "Mostrando de 0 a 0 do total de 0 registros",
			    "infoFiltered":   "(filtrando do total de _MAX_ registros)",
			    "infoPostFix":    "",
			    "thousands":      ".",
			    "lengthMenu":     "Mostrar _MENU_ registros",
			    "loadingRecords": "Carregando...",
			    "processing":     "Processando...",
			    "search":         "Filtrar:",
			    "zeroRecords":    "Nenhum registro encontrado",
			    "paginate": {
			        "first":      "Primeiro",
			        "last":       "Último",
			        "next":       "Próximo",
			        "previous":   "Anterior"
			    },
			    "aria": {
			        "sortAscending":  ": clique para ordenação crescente",
			        "sortDescending": ": clique para ordenação decrescente"
			    }
			}
		});
	});
</script>

<div class="gt-bd clearfix">
	<div class="gt-content">
		<h2>Definir Permissões para Uso de Lista de Prioridade</h2>
		<!-- content bomex -->
		<div class="gt-content-box gt-for-table dataTables_div">
			<table id="prioridades_table" border="0" class="gt-table">
				<thead>
					<tr>
						<th></th>
						<th>Local</th>
						<th>Lotação</th>
						<th>Pessoa</th>
						<th>Cargo</th>
						<th>Função</th>
						<th>Lista de Prioridade</th>
					</tr>
				</thead>

				<tbody>
					#{list items:permissoes, as:'perm'}
					<tr
						onclick="javascript:window.location='@{Application.editarPermissaoUsoLista(perm.idConfiguracao)}'"
						style="cursor: pointer;">
						<td>${perm.orgaoUsuario?.acronimoOrgaoUsu}</td>
						<td>${perm.complexo?.nomeComplexo}</td>
						<td>${perm.lotacao?.lotacaoAtual?.siglaLotacao}</td>
						<td>${perm.dpPessoa?.pessoaAtual?.nomeAbreviado}</td>
						<td>${perm.cargo?.descricao}</td>
						<td>${perm.funcaoConfianca?.descricao}</td>
						<td>${perm.listaPrioridade?.nomeLista}</td>
					</tr>
					</a> #{/list}
				</tbody>
			</table>
		</div>
		<!-- /content box -->
		<div class="gt-table-buttons">
		<a href="@{Application.editarPermissaoUsoLista}" class="gt-btn-medium gt-btn-left">Cadastrar</a>
		</div>

	</div>
</div>

<br />
<br />
<br />