#{extends 'main.html' /} #{set title:'Ações' /}

<div class="gt-bd clearfix">
	<div class="gt-content">
		<h2>Ações</h2>
		<!-- content bomex -->
		<div class="gt-content-box">
			<table border="0" class="gt-table">
				<thead>
					<tr>
						<th>Código</th>
						<th>Título</th>
						<th>Descrição</th>
					</tr>
				</thead>

				<tbody>
					#{list items:servicos, as:'servico'}
					<tr
						onclick="javascript:window.location='@{Application.editarServico(servico.idServico)}'"
						style="cursor: pointer;">
						<td style="padding-left: ${servico.nivel*13}px;">${servico.siglaServico}</td>
						<td>${servico.tituloServico}</td>
						<td>${servico.descrServico}</td>
					</tr>
					</a> #{/list}
				</tbody>
			</table>
		</div>
		<!-- /content box -->
		<div class="gt-table-buttons">
		<a href="@{Application.editarServico}" class="gt-btn-medium gt-btn-left">Incluir</a>
		</div>

	</div>
</div>

<br />
<br />
<br />