<li><a href="#">Serviços</a>
<ul>
<li><a href="@{Application.editar}">Cadastrar</a></li>
<li><a href="@{Application.listar}">Listar</a>
</ul>
<li><a href="@{Application.listarLista}">Listas</a>
#{if exibirMenuAdministrar}
<li><a href="#">Administrar</a>
<ul>
<li><a href="@{Application.listarDesignacao}">Designação</a></li>
<li><a href="@{Application.listarItem}">Item de configuração</a></li>
<li><a href="@{Application.listarServico}">Ação</a></li>
<li><a href="@{Application.listarTipoAtributo}">Tipo de atributo</a></li>
<li><a href="@{Application.listarAssociacao}">Associaçao de tipo de atributo</a></li>
</ul>
</li>
#{/if}

#{if exibirMenuRelatorios}
<li><a href="#">Relatórios</a>
<ul>
<li><a href="@{Application.estatistica}">Estatísticas</a></li>
<li><a href="@{Application.relSolicitacoes}">Relatório de Solicitações</a></li>
<li><a href="@{Application.relTransferencias}">Relatório de Transferências</a></li>
<li><a href="@{Application.relLocal}">Relatório Solicitações por Localidade</a></li>
<li><a href="#">Relatório de Prazos</a>
	<ul><a href="@{Application.relPrazoDetail}">Prazos por solicitações</a>
	<a href="@{Application.relPrazo}">Totalizações</a></ul>
</li>
</ul>
</li>
#{/if}