<li><a href="#">Servi&ccedil;os</a>
<ul>
<li><a href="@{Application.editar}">Cadastrar</a></li>
<li><a href="@{Application.buscarSolicitacao}">Pesquisar</a></li>
</ul>
<li><a href="}">Listas</a>
<ul>
<li><a href="@{Application.editarLista}">Cadastrar</a></li>
<li><a href="@{Application.listarLista}">Pesquisar</a></li>
</ul>
#{if exibirMenuAdministrar}
<li><a href="#">Administra&ccedil;&atilde;o</a>
<ul>
<li><a href="@{Application.listarItem}">Item de configuração</a></li>
<li><a href="@{Application.listarAcao}">Ação</a></li>
<li><a href="@{Application.listarDesignacao}">Designação</a></li>
<li><a href="@{Application.listarEquipe}">Equipe</a></li>
<li><a href="@{Application.listarAtributo}">Atributo</a></li>
<li><a href="@{Application.listarPesquisa}">Pesquisa de Satisfa&ccedil;&atilde;o</a></li>
</ul>
</li>
#{/if}

#{if exibirMenuRelatorios}
<li><a href="#">Relat&oacute;rio</a>
<ul>
<li><a href="@{Application.estatistica}">Estat&iacute;sticas</a></li>
<li><a href="@{Application.relSolicitacoes}">Relat&oacute;rio de Solicita&ccedil;&otilde;es</a></li>
<li><a href="@{Application.relTransferencias}">Relat&oacute;rio de Transfer&ecirc;ncias</a></li>
<li><a href="@{Application.relLocal}">Relat&oacute;rio Solicita&ccedil;&otilde;es por Localidade</a></li>
#{if lotaTitular.getOrgaoUsuario().idOrgaoUsu == 1 }
<li><a href="@{Application.relPrazoDetail}">Relat&oacute;rio de Prazos por Solicita&ccedil;&otilde;es</a></li>
<li><a href="@{Application.relPrazo}">Relatório de Totaliza&ccedil;&otilde;es de Prazos</a></li>
#{/if}
#{if lotaTitular.getOrgaoUsuario().idOrgaoUsu == 3 }
<li><a href="@{Application.relPrazo}">Relat&oacute;rio de Totaliza&ccedil;&otilde;es de Prazos (TRF)</a></li>
#{/if}
<li><a href="@{Application.relPesquisa}">Relat&oacute;rio de &iacute;ndice de Satisfa&ccedil;&atilde;o</a></li>
<li><a href="@{Application.relAgendado}">Relat&oacute;rio de Solicita&ccedil;&otilde;es Agendadas por Localidade</a></li>
</ul>
</li>
#{/if}