#{extends 'main.html' /} #{set title:'Pesquisa de Satisfação' /}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function(){
    $('#formSubmit').submit(function() {
    	var url=window.opener.location.href;
    	var params=$("#idPergunta").val() + $("#idGrauSatisfacao").val() ;
    	window.alert(params);
    	$.ajax({
 	  	   type: "POST",
 	  	   async: false,
 	  	   data:  $("#formSubmit").jQuery.param(params),
 	  	   url: "/sigasr/solicitacao/responderPesquisa",
 	  	   success: function(){
 	  		   	window.alert('Obrigado por responder a pesquisa!');
 	  		   	window.setTimeout(function(){opener.location.reload(true),1000});
 	  		   	window.close();}
 	  	});
    });
});
</script>

<div class="gt-bd clearfix">
	<div class="gt-content">
		<h2>Pesquisa de Satisfação</h2>
		#{form @Application.responderPesquisaGravar(), id:'formSubmit', enctype:'multipart/form-data'}
		 <input type="hidden" name="id" value="${sol.idSolicitacao}">
		#{list items:sol.getPesquisaDesignada().perguntaSet, as:'pergunta'}
		#{if pergunta.tipoPergunta.idTipoPergunta == 1}
			<div class="gt-form-row">
				<label>${pergunta.descrPergunta}</label><p>
				<textarea cols="50" rows="6" id="idPergunta"
					name="respostaMap[${pergunta.idPergunta}]" value="${resposta?.descrPergunta}">
				</textarea>
			</div> 
		#{/if}
		#{elseif pergunta.tipoPergunta.idTipoPergunta == 2}
		<div class="gt-form gt-content-box">
		<div class="gt-form-row">
				<label>${pergunta.descrPergunta}</label>
				#{list items:models.SrGrauSatisfacao.values(), as:'mapa'}
				<input type="radio" id="idGrauSatisfacao" name="respostaMap[${pergunta.idPergunta}]" value="${mapa.idGrauSatisfacao}">&nbsp;&nbsp;${mapa.descrGrauSatisfacao}&nbsp;
				#{/list}
		</div>
		#{/elseif}
		</div>
		#{/list}
		<div class="gt-form-row">
				<input type="submit" value="Enviar" class="gt-btn-medium gt-btn-left" 
					  />
		</div>
		</div>
		#{/form}
	</div>

