.etapa {
	display: none;
}

.indicador-etapa {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.indicador-etapa.active {
	opacity: 1;	
}

.indicador-etapa.finish {
 	background-color: #4CAF50;
}

.btn-proximo[disabled] {
	cursor: not-allowed;
}
	
div.dropdown-menu.show {
	min-width: 100%!important;
	max-width: 100%!important;
}

ul.dropdown-menu.inner.show {
	margin-bottom: 0!important;
}

.btn.dropdown-toggle {
	background-color: #FFF;
}

.select2-container--bootstrap {
	width: 100%!important; 
}

.titulo-nova-configuracao {		
	margin-top: .5rem;
}

.titulo-etapa-topo {
	color: #585858;
	font-size: 1rem;
	font-weight: 300;
}

.titulo-etapa-topo--duvida {
	color: #28a745;		
	font-size: 1rem;
	position: relative; 
	top: -5px; 
	left: 2px; 
	opacity: .6;
}

.container-campos {
	display: none;
}

.container-campos--tipo-configuracao, 
.container-campos--destinatario {
	display: none;
	transition: max-width 1s;	
}

.container-campos--tipo-movimentacao, 
.container-campos--visibilidade  {
	visibility: collapse;	
	opacity: 0;
	transition: max-width 1s, opacity .3s, visibility .3s;	
	position: absolute;   
	margin: 0;
	padding: 0;	
	max-width: 0;
	left: 50%;
	margin-left: 10px;
}

.label-movimentacao, 
.label-visibilidade {
	position: absolute;
    top: -30px; 
    opacity: 0;
    transition: opacity 2s;       
}

.label-movimentacao i, 
.label-visibilidade i {
	position: absolute;
	margin-left: 10px;
	animation: pular .9s linear infinite;
}

.label-movimentacao::after {
	content: 'Movimenta\00E7\00E3o';
	margin-left: 30px;
}

.label-visibilidade::after {
	content: 'Visibilidade';
	margin-left: 30px;
}

@keyframes pular {
  from {top: 0px;}
  to {top: 8px;}
}

.btn-pesquisa-configuracoes {
	max-width: 100%;
}

.spinner--salvando {
	display: block;
    width: 120px;
    height: 120px;
    border: 15px solid rgba(0, 0, 0, .1);
    border-left-color: #28a745;
    position: static;
    margin: 0 auto;
    transition: border-color 1s;
}

.icone-salvo-sucesso {
    color: #28a745;
    font-size: 120px;    
    position: absolute;
    top: 0;    
    left: calc(50% - 60px);    
    opacity: 0;    
    transition: opacity 1s;            
}

@media screen and (min-width: 575px) and (max-width: 1080px) {
	.btn-dicionario {
		margin-top: 10px;
	}
}	