<!DOCTYPE html>

${_cabecalho_pre_head.raw()} ${moreHead?.raw()} #{if _cabecalho_pre_menu
!= null} ${_cabecalho_pre_menu.raw()}
<li><a class="" href="@{Application.top10}">Conhecimentos</a>
	<ul>
		<li><a class="" href="@{Application.editar}">Novo</a>
		</li>
		<li><a class="" href="@{Application.buscar}">Buscar por texto</a>
		</li>
		<li><a class="" href="@{Application.navegar}">Navegar</a>
		</li>
		<li><a class="" href="@{Application.listar}">Pesquisar</a>
		</li>
		<li><a class="" href="@{Application.top10}">Estatísticas</a>
		</li>
	</ul></li>
#{/if} ${_cabecalho_pos.raw()} #{doLayout /} ${_rodape.raw()}
